Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Develop sev-snp testing
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_sev_snp_x86_64_agama_online_iso.xml
  lib/main_common.pm
  lib/virt_autotest/common.pm
  lib/virt_autotest/utils.pm
  products/sle/main.pm
  schedule/virt_autotest/sle16_guest_installation.yaml
  tests/virt_autotest/sev_snp_guest_verification.pm
  tests/virtualization/universal/prepare_guests.pm
Owners: none

Adjust openjdk-fips test for SLE15-SP7
  tests/fips/openjdk/openjdk_fips.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

security/ima: Refactor Secure Boot handling and add ext4 FS check
  lib/security/secureboot.pm
  tests/security/ima/ima_appraisal_digital_signatures.pm
  tests/security/ima/ima_appraisal_hashes.pm
  tests/security/ima/ima_setup.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Allow to pass extra CPU kernel options in specific tests
  tests/installation/ipxe_install.pm
Owners: none

Fix grub_test for Leap 16 on aarch64 to boot from hard disk
  lib/opensusebasetest.pm
Owners: none

bats/buildah: Update BATS_SKIP for 16.0
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add test cases for deploying x11 related containers using helm
  data/x11/helm_chart/kiosk_values.yaml
  lib/containers/k8s.pm
  lib/main_common.pm
  tests/microos/workloads/x11-container/x11_helm_client.pm
  tests/microos/workloads/x11-container/x11_helm_server.pm
  variables.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Try git apply without --include first
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats/runc: Document run ignore
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Use sudo to remove temporary directory
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix BCI tests on O3
  lib/network_utils.pm
  tests/containers/host_configuration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

deploy: 9ccab6f3bc54553e73c27338ef14621717dfd9d3
  network_utils.html
Owners: none

Check agama installation if agama installer banner not shown
  lib/guest_installation_and_configuration_base.pm
Owners: none

Remove registrationUrl from profile
  data/yam/agama/auto/template.libsonnet
  tests/yam/agama/boot_agama.pm
Owners: none

Remove agama_arrange from agama_non_default_root_filesystem.yaml
  schedule/yam/agama_non_default_root_filesystem.yaml
Owners: none

Automate scenario to allow to use some RAIDs as if they were disks
  schedule/yam/agama_raid_unattended_change_disk.yaml
  tests/yam/validate/modify_raid_swap.pm
  tests/yam/validate/validate_raid_swap.pm
Owners: none

Update infiniband tests
  tests/kernel/ibtests.pm
  tests/kernel/ibtests_prepare.pm
Owners: none

blktests: Remove obsolete reference
  tests/kernel/blktests.pm
Owners: none

blktests: Simplify and correct processing shell script
  data/kernel/post_process
Owners: none

blktests: BLK_QUICK and BLK_EXCLUDE should not be required
  tests/kernel/blktests.pm
Owners: none

blktests: Upload all _results.xml
  tests/kernel/blktests.pm
Owners: none

blktests: Remove temp workaround for sle16
  tests/kernel/blktests.pm
Owners: none

blktests: Remove obsolete lines
  tests/kernel/blktests.pm
Owners: none

blktests: compress and upload all results before processing
  tests/kernel/blktests.pm
Owners: none

Un-schedule lshw test from s390x
  schedule/functional/sle16/extra_tests_textmode.yaml
Owners: none

libgpiod: fix test for libgpiod v2.x
  tests/console/libgpiod.pm
Owners: none

blktests: Rename test settings to more descriptive version
  tests/kernel/blktests.pm
Owners: none

containers/compose: Add workaround for docker-compose with podman
  tests/containers/compose.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Automate support for relative URLs
  data/yam/agama/auto/lib/base.libsonnet
  data/yam/agama/auto/lib/scripts_post_partitioning.libsonnet
  data/yam/agama/auto/template.libsonnet
  lib/autoyast.pm
  lib/bootloader_setup.pm
  schedule/yam/agama_extended_unattended.yaml
  schedule/yam/agama_extended_unattended_ppc64le.yaml
  schedule/yam/agama_extended_unattended_s390x.yaml
  test_data/yam/agama_sle_extended.yaml
  tests/yam/agama/boot_agama.pm
  tests/yam/validate/validate_relative_urls.pm
Owners: none

Use OBS repo for ca-certificates-suse
  lib/utils.pm
  tests/containers/host_configuration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Externalized helper function in wsl.pm
  lib/wsl.pm
  tests/jeos/firstrun.pm
  tests/wsl/firstrun.pm
Owners: @mloviska, @ricardobranco777

samba_adcli: Update code to work with NetworkManager
  schedule/functional/sle16/extra_tests_textmode2.yaml
  tests/network/samba/samba_adcli.pm
Owners: none

Revert "Handle new shortcut to enable disk encryption in Tumbleweed"
  lib/Installation/Partitioner/LibstorageNG/PartitioningSchemePage.pm
Owners: none

Use OBS repo for ca-certificates-suse
  lib/utils.pm
  tests/containers/host_configuration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fixed wsl.pm and changed WSL variable recognition
  lib/wsl.pm
  tests/jeos/firstrun.pm
Owners: @mloviska, @ricardobranco777

Add test cases for deploying x11 related containers using helm
  data/x11/helm_chart/kiosk_values.yaml
  lib/containers/k8s.pm
  lib/main_common.pm
  tests/microos/workloads/x11-container/x11_helm_client.pm
  tests/microos/workloads/x11-container/x11_helm_server.pm
  variables.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix lshw test issue on s390x
  tests/console/lshw.pm
Owners: none

Fix ensure_ca_certificates_suse_installed on SLEM
  lib/utils.pm
Owners: none

deploy: ebdd432a221fdb6414adb0504cbee56309a00043
  containers/k8s.html
Owners: none

Set default bootloader only for MicroOS
  lib/version_utils.pm
  t/01_version_utils.t
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
