Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Update SSH message based on SLE version
  tests/fips/openssh/openssh_fips.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Use OSD on non-openSUSE tests
  tests/microos/networking.pm
Owners: @mloviska, @ricardobranco777

bats: Add missing comment about patch
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Enhance documentation
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Fix skip.yaml link
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

publiccloud: nvidia: Do minimal driver testing with nvidia-smi
  tests/publiccloud/nvidia.pm
  variables.md
Owners: @b10n1k

Exclude journal_remote on 15-SP7 until it's added
  schedule/qam/common/mau-extratests1.yaml
Owners: none

Remove old code
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Introduce new variable for Registry path
  tests/containers/charts/privateregistry.pm
  variables.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix fips_ker_mode_textmode_extra
  data/pox-py3.tar.bz2
  data/pox.tar.bz2
  lib/web_browser.pm
  tests/console/openvswitch_ssl.pm
  tests/console/wget_https.pm
Owners: none

Add contm addon
  lib/main_common.pm
Owners: none

Remove AI models
  data/ai_ml/models/mobilenet_v1_1.0_224_quant_and_labels.zip
Owners: none

Use qa k3s cluster for kubectl tests
  data/containers/kubectl/deployment.yml
  tests/containers/kubectl.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Update data/ai_ml/filelist.txt
  data/ai_ml/filelist.txt
Owners: none

Replace HEAD with head
  tests/microos/networking.pm
Owners: @mloviska, @ricardobranco777

ping: Use record_soft_failure()
  tests/console/ping.pm
Owners: none

ping: Add test for ttl=0 s390x bug
  tests/console/ping.pm
Owners: none

Fix storage commit error to yes
  data/yam/agama/auto/lib/scripts_pre.libsonnet
Owners: none

Softfailed ip_eb_tables
  tests/security/cc/ip_eb_tables.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Correct the display name of the testsuite
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Extend container and chart tests with pull
  tests/containers/charts/privateregistry.pm
  variables.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

update_kernel: Check kernel package before installing livepatch
  tests/kernel/update_kernel.pm
Owners: none

Extend wait_grub timeout for Elemental3
  tests/elemental3/test_image.pm
Owners: none

Add Leap repositories with their new name
  tests/console/zypper_ar.pm
Owners: none

Re-schedule more tests on sle16
  schedule/functional/extra_tests_textmode_sle16.yaml
  schedule/functional/sle16/extra_tests_textmode.yaml
  schedule/functional/sle16/stack_tests_python.yaml
  schedule/functional/sle16/toolchain.yaml
  tests/console/cron.pm
  tests/console/golang.pm
  tests/console/mta.pm
  tests/console/pciutils.pm
  tests/console/pkcon.pm
  tests/console/sssd_389ds_functional.pm
  tests/console/valgrind.pm
  tests/console/zziplib.pm
Owners: none

Improve img-proof test
  tests/publiccloud/img_proof.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Add agama online yaml with validate_repos
  schedule/security/sle16/agama-create-hdd-textmode.yaml
  schedule/security/sle16/agama-create-hdd-textmode_s390x_kvm.yaml
  schedule/security/sle16/agama_remote_pvm.yaml
  schedule/security/sle16/agama_remote_s390x.yaml
  test_data/security/agama_sle.yaml
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Fix the 15-SP2 sriov test issue
  lib/main_common.pm
Owners: none

Add workaround to install B1 on unsupported sles
  lib/sles4sap.pm
  tests/sles4sap/bone_install.pm
  tests/sles4sap/wizard_hana_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix storage show entrypted disk popup
  data/yam/agama/auto/lib/scripts_pre.libsonnet
Owners: none

test
  tests/containers/kubectl.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Run sync command after stopping md device
  data/qam/mdadm.sh
Owners: none

SLE16 Full validate_repos of install jobs
  schedule/security/sle16/agama.yaml
  schedule/security/sle16/agama_remote_s390x.yaml
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

year_2038: Skip testing for s390
  tests/console/year_2038_detection.pm
Owners: none

Do not cleanup ~/.ssh at the end of the git test
  tests/console/git.pm
Owners: none

Initial Helm library functions
  lib/containers/helm.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Update BATS_PATCHES for 16.0
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Enable virtual network management automation test for sle16
  lib/virt_autotest/virtual_network_utils.pm
  schedule/virt_autotest/sle16_guest_installation.yaml
  tests/virt_autotest/libvirt_host_bridge_virtual_network.pm
  tests/virt_autotest/libvirt_isolated_virtual_network.pm
  tests/virt_autotest/libvirt_nated_virtual_network.pm
  tests/virt_autotest/libvirt_routed_virtual_network.pm
  tests/virt_autotest/libvirt_virtual_network_init.pm
Owners: none

Fix BATS_SKIP for SLE 16.0
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Skip IPv6 in isolation test on s390x
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777
