Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Add new deploy method for sleperf
  schedule/sle-perf/setup_host.yaml
  schedule/sle-perf/setup_host.yaml.ERR
  tests/kernel_performance/install_sleperf.pm
Owners: none

Remove hanaperf_postinstall and migrate changes to install_qatestset
  schedule/hanaperf/agama_install.yaml
  tests/kernel_performance/hanaperf_postinstall.pm
  tests/kernel_performance/install_qatestset.pm
Owners: none

Fix rm registercloudguest in serial console
  lib/registration.pm
Owners: none

Move one ipaddr2 dependency on qesap
  lib/sles4sap/ipaddr2.pm
  t/22_ipaddr2.t
  tests/sles4sap/ipaddr2/cluster_create.pm
  tests/sles4sap/ipaddr2/configure.pm
  tests/sles4sap/ipaddr2/destroy.pm
  tests/sles4sap/ipaddr2/network_peering.pm
  tests/sles4sap/ipaddr2/patch_system.pm
  tests/sles4sap/ipaddr2/registration.pm
  tests/sles4sap/ipaddr2/sanity_cluster.pm
  tests/sles4sap/ipaddr2/sanity_os.pm
  tests/sles4sap/ipaddr2/test_move_resource.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Exclude availability zone for Azure and AWS
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Fix region handling in img_proof for GCE
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Add a default value to IBS GCE variables (#21838)
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Use independent .perltidyrc
  .gitignore
  .perltidyrc
  Makefile
Owners: none

Add new deploy method for sleperf
  schedule/sle-perf/setup_host.yaml
  tests/kernel_performance/install_sleperf.pm
Owners: none

containers: Upload kernel configuration in post hook
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Minor refactor
  tests/containers/bats/podman.pm
  tests/containers/bats/runc.pm
  tests/containers/bats/skopeo.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Drop iptables dependency from BATS tests
  tests/containers/bats/aardvark.pm
  tests/containers/bats/netavark.pm
  tests/containers/bats/podman.pm
  tests/containers/bats/runc.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Remove iptables test if not a backend on netavark
  tests/containers/bats/netavark.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Document some skipped tests
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Simplify BATS_PACKAGE scheduling
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

containers: Allow 180-blkio & remove 320-system-df on podman
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Patch skopeo test once
  tests/containers/bats/skopeo.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Remove tflite2 test following removal from factory
  schedule/ai_ml.yaml
  tests/ai_ml/tflite2.pm
Owners: none

Adjust password length according to vnc RFC
  tests/x11/vnc_two_passwords.pm
Owners: none

Ignore bsc#1240421 and bsc#1240428 for journal_check
  data/journal_check/bug_refs.json
Owners: none

Use tumbleweed instead of leap container
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Update variables.md with link to README for BATS tests
  variables.md
Owners: none

containers: Refactor BATS tests to remove duplicate code
  lib/containers/bats.pm
  tests/containers/bats/aardvark.pm
  tests/containers/bats/buildah.pm
  tests/containers/bats/netavark.pm
  tests/containers/bats/podman.pm
  tests/containers/bats/runc.pm
  tests/containers/bats/skopeo.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Do not use get_podman_version
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Remove some unused library functions
  lib/containers/utils.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Remove dead code
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Revert "containers: Remove some unused library functions"
  lib/containers/utils.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Exclude availability zone for Azure and AWS
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Fix region handling in img_proof for GCE
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Add ENSA2 HANA DB refresh sapinstance ASCS and ERS
  lib/hacluster.pm
  schedule/sles4sap/sap_deployment_automation_framework/ensa2_scenarios.yml
  t/11_hacluster.t
  tests/sles4sap/redirection_tests/ensa2_hanadb_refresh_sapinstances.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Download script when openqa-bootstrap runs in Leap
  tests/openqa/install/openqa_bootstrap.pm
Owners: none

New schedule for lvm TPM FDE
  schedule/yam/agama_tpm_fde_unattended.yaml
  tests/yam/validate/validate_tpm_fde.pm
Owners: none

containers: Remove unused library calls
  lib/containers/utils.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Add more logs to BATS tests
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Support vgpu passthrough test on sle15sp7
  data/virt_autotest/guest_params_xml_files/sles_15_sp7_64_kvm_hvm_uefi_non_secure_boot_x86_64.xml
  schedule/virt_autotest/vgpu_tests.yaml
  tests/virt_autotest/vgpu.pm
Owners: none

Fix Azure AITL success
  tests/publiccloud/azure_aitl.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

deploy: 9e51325e11f7d819e8feeeb2373b5bd075e2689d
  hacluster.html
Owners: none

Move one ipaddr2 dependency on qesap
  lib/sles4sap/ipaddr2.pm
  t/22_ipaddr2.t
  tests/sles4sap/ipaddr2/cluster_create.pm
  tests/sles4sap/ipaddr2/configure.pm
  tests/sles4sap/ipaddr2/destroy.pm
  tests/sles4sap/ipaddr2/network_peering.pm
  tests/sles4sap/ipaddr2/patch_system.pm
  tests/sles4sap/ipaddr2/registration.pm
  tests/sles4sap/ipaddr2/sanity_cluster.pm
  tests/sles4sap/ipaddr2/sanity_os.pm
  tests/sles4sap/ipaddr2/test_move_resource.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

containers: Fix 120-load podman test as root
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Fix BATS_TESTS for podman
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777
