Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

micro: Improve raw image handling
  tests/microos/install_image.pm
Owners: @mloviska, @ricardobranco777

bats: Fix aardvark-dns test
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Fail if no TAP file was created
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

NFS mm: Add SP6 and SP7 to include stress_ng
  schedule/storage/nfs.yaml
Owners: none

Testing mpich
  tests/hpc/spack_master.pm
Owners: @b10n1k, @schlad

Adjust swtpm setup for SLE16
  tests/security/swtpm/swtpm_env_setup.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

wip
  tests/hpc/spack_master.pm
Owners: @b10n1k, @schlad

try only slaves
  tests/hpc/spack_master.pm
Owners: @b10n1k, @schlad

try to get stack trace
  tests/hpc/spack_master.pm
Owners: @b10n1k, @schlad

wip
  tests/hpc/spack_master.pm
Owners: @b10n1k, @schlad

wip;
  tests/hpc/spack_master.pm
Owners: @b10n1k, @schlad

wip
  tests/hpc/spack_master.pm
Owners: @b10n1k, @schlad

idhws Please enter the commit message for your changes. Lines starting
  tests/hpc/spack_master.pm
Owners: @b10n1k, @schlad

wip
  tests/hpc/spack_master.pm
Owners: @b10n1k, @schlad

wip
  tests/hpc/spack_master.pm
Owners: @b10n1k, @schlad

wip
  tests/hpc/spack_master.pm
Owners: @b10n1k, @schlad

wip
  tests/hpc/spack_master.pm
Owners: @b10n1k, @schlad

Install virt-bridge-setup package during host agam installation
  data/virt_autotest/host_unattended_installation_files/agama/sle16.jsonnet
Owners: none

Support SEV-ES guest installation on SLE16
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_sev_es_x86_64_agama_online_iso.xml
  schedule/virt_autotest/sle16_guest_installation.yaml
Owners: none

Correct the display name of the testsuite
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Add sle15sp7 MU Virtualization test - poo180254
  data/virtualization/autoyast/host_15.xml.ep
  lib/virt_autotest/common.pm
  schedule/virtualization/vmware_hyperv.yaml
Owners: none

Set GRUB timeout for autoyast_supported.xml
  data/yam/agama/auto/autoyast_supported.xml
Owners: none

Ignore missing /dev/log or logger
  data/journal_check/bug_refs.json
Owners: none

Wait 3s before testing the connection
  data/security/crypto_policies/test_nss_client.sh
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Fix img-proof package
  tests/publiccloud/prepare_tools.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Check for oversized files via GitHub action
  .github/workflows/check-file-size.yaml
Owners: none

Add modern wsl installation test logic
  tests/wsl/distro_install.pm
Owners: none

deploy: b4c24d523e8f32a82811df4fa7103adcee92e969
  sles4sap.html
Owners: none

Update copyright year and fix typo in EAL4 security tests
  lib/eal4_test.pm
  tests/security/eal4/dbus_fuzzer.pm
  tests/security/eal4/dbus_services_exposure.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

bats: Run aardvark-dns upstream tests on SLE 16.0
  data/containers/bats/skip.yaml
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Renamed WSL_MSSTORE_LEGACY variable
  tests/wsl/distro_install.pm
Owners: none

FDE settings appear after registration notice
  tests/jeos/firstrun.pm
Owners: @mloviska, @ricardobranco777

There are two versions of python installed on sle15sp7
  lib/python_version_utils.pm
Owners: none

deploy: 640068711611af9fa5b7d1f1ee7f9112a7bf8a1a
  python_version_utils.html
Owners: none

blktests: investigation and wip
  tests/kernel/blktests.pm
Owners: none

wip
  tests/kernel/blktests.pm
Owners: none

Ignore dm-0 or tpm messages
  data/journal_check/bug_refs.json
Owners: none

update_kernel: Add support for kernel-coco flavor
  tests/kernel/update_kernel.pm
Owners: none

lib/nvidia_utils: Add support for Micro
  lib/nvidia_utils.pm
Owners: none

lib/nvidia_utils: Document the need of reboot after calling install()
  lib/nvidia_utils.pm
Owners: none
