Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Investigating
  tests/kernel/blktests.pm
Owners: none

Report SELinux AVCs after each HA & SAP test module
  lib/hacluster.pm
  lib/sles4sap.pm
  tests/ha/check_logs.pm
  tests/ha/fencing.pm
  tests/ha/qnetd.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

bats: Include lsmod output
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Revert "bats: Increase timeout"
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats/podman: Ignore 130-kill on Tumbleweed
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

hotfix test
  tests/sles4sap/wizard_hana_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

bats/buildah: Use vfs storage driver for rootless tests
  tests/containers/bats/buildah.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats/buildah: Update BATS_SKIP_ROOT on Tumbleweed
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats/buildah: Update BATS_SKIP_USER
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Allow controlling terraform binary in qesap
  data/sles4sap/qe_sap_deployment/qesap_aws.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_msi.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_spn.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_roles.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf_no_reg.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_uri.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_sapconf.yaml
  tests/sles4sap/qesapdeployment/configure.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Use tmux for SLES16
  tests/console/command_not_found.pm
Owners: none

Revert "Revert "Force ipv6 in wget_ipv6 test""
  tests/console/wget_ipv6.pm
Owners: none

Force ipv6 in wget|curl
  tests/console/curl_ipv6.pm
  tests/console/wget_ipv6.pm
Owners: none

Refactor ltp_runtest
  data/publiccloud/ltp_runtest
  script/generate_ltp_runtest.sh
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Fix Elemental3 aarch64 test
  data/elemental3/config.sh
  tests/elemental3/generate_image.pm
  tests/elemental3/test_image.pm
Owners: none

bats/buildah: Add qemu package for testing multi-arch build
  tests/containers/bats/buildah.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats/buildah: Update BATS_SKIP
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

kdump_utils: Extend kdump configuration on SLE 16
  lib/kdump_utils.pm
Owners: none

containers: Enable docker-compose test on SLEM 6.0
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Crash scenario for azure
  lib/sles4sap/azure_cli.pm
  schedule/sles4sap/crash/crash_azure.yml
  tests/sles4sap/crash/crash_azure.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Refactor updates-alternative check
  tests/console/update_alternatives.pm
Owners: none

tests/installation/bootloader_s390.pm: Wait for z/VM and CMS to be ready
  tests/installation/bootloader_s390.pm
Owners: none

Automate unattended for iSCSI and use it for /home
  data/yam/agama/auto/lib/iscsi.libsonnet
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
Owners: none

Added yast/jeos logic for enter_user_details subroutine
  tests/wsl/firstrun.pm
Owners: none

Resize partitions and make home encryption
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
  lib/Distribution/Opensuse/AgamaDevel.pm
  lib/Yam/Agama/Pom/EnterPassphraseForHomePage.pm
  lib/filesystem_utils.pm
  schedule/yam/agama_full_disk_encryption.yaml
  schedule/yam/agama_full_disk_encryption_ppc64le.yaml
  schedule/yam/agama_unattended.yaml
  schedule/yam/resize_partitions_unattended.yaml
  test_data/yam/agama_resize.yaml
  test_data/yam/agama_resize_aarch64.yaml
  tests/console/validate_blockdevices.pm
  tests/yam/agama/boot_encrypted_partitions.pm
  tests/yam/agama/boot_full_disk_encryption.pm
Owners: none

Added local-user-credentials needle and send_key return
  tests/wsl/firstrun.pm
Owners: none

bats/podman: Re-enable 161-volume-quotas test
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats/podman: Apply patch 25858 in SLE 16.0
  data/containers/bats/patches/podman/25858.patch
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

ENSA2 FS failover fix
  data/sles4sap/sap_deployment_automation_framework/custom_sizes.json
  lib/sles4sap/sap_deployment_automation_framework/configure_sap_systems_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  t/34_sdaf_configure_sap_systems_tfvars.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Check that dracut runs sucessfully
  tests/console/dracut.pm
Owners: none

Adapt the qemu start test check
  tests/qemu/qemu.pm
Owners: none

Match uefi boot manager before quit qemu
  tests/qemu/qemu.pm
Owners: none

Remove unused profiles after applied template
  data/yam/agama/auto/sles_change_localization.jsonnet
  data/yam/agama/auto/sles_default_no_registration.jsonnet
  data/yam/agama/auto/sles_default_no_registration_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_default_no_registration_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_gnome_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_gnome_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_sap_default_ssh_pub_key.jsonnet
Owners: none

deploy: bf4250add6e4134f9d94e224cbbb60cf5f4876c8
  index.html
  kdump_utils.html
Owners: none

bats/buildah: Enable docker service
  tests/containers/bats/buildah.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Raise timeout while waiting for sap-installation-wizard to finish
  tests/sles4sap/wizard_hana_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

klp: Add SLE 16 development support
  lib/klp.pm
Owners: none

bats: Introduce BATS_TEST_REPOS variable
  lib/containers/bats.pm
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Add TODO section
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add condition to check if pygit exsited
  tests/console/libgit2.pm
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
