Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Adding extra flag to fix ability to create Confidential VMs
  lib/publiccloud/gce.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Using jsonnet profiles in ppc64le/s390x
  data/yam/agama/auto/lib/base.libsonnet
  lib/bootloader_setup.pm
Owners: none

Add systems management module on 15-SP7
  lib/oscap_tests.pm
Owners: none

quote-temporary-quote
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

dash-harbor
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

script_output
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

correct url I guess
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Kselftests: Introduce kselftests runner
  data/kernel/kselftests_cgroup_post_process
  schedule/kernel/run_kselftests.yaml
  tests/kernel/run_kselftests.pm
Owners: none

Stop firewall before disabling it
  tests/wicked/before_test.pm
Owners: none

Schedule shutdown module in gnome-agama
  schedule/install/agama_install.yaml
Owners: none

HA: Install iptables for SLE16 in priority_fencing_delay.pm
  tests/ha/priority_fencing_delay.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

wip
  tests/kernel/run_kselftests.pm
Owners: none

Create schedule file for SLE16 SAP Minimal VM flavor
  schedule/sles4sap/minimalvm/create_hdd.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

wip
  tests/kernel/run_kselftests.pm
Owners: none

containers: Remove assertion on cleanup_system_host
  lib/containers/engine.pm
  lib/services/docker.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

wip
  tests/kernel/run_kselftests.pm
Owners: none

containers: Remove check_image_in_host method
  lib/containers/common.pm
  lib/containers/engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Remove unused enum_containers method
  lib/containers/engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Remove unused enum_images method
  lib/containers/engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Auto import gpg keys when installing lynis
  data/lynis/baseline-lynis-audit-system-nocolors-15-SP6-ppc64le-textmode
  tests/security/lynis/lynis_analyze_system_audit.pm
  tests/security/lynis/lynis_create_baseline.pm
  tests/security/lynis/lynis_harden_index.pm
  tests/security/lynis/lynis_perform_system_audit.pm
  tests/security/lynis/lynis_setup.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

deploy: 42ec5a5f0f6583db45230f3597dabaef0aec4d83
  containers/engine.html
Owners: none

containers: Avoid running zypper in buildah
  tests/containers/buildah.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

tee party
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

dotty
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

debug
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Set nologin by default on leap16+
  products/opensuse/main.pm
Owners: none

debug
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Enable kubevirt tests for MU
  data/virtualization/autoyast/host_15.xml.ep
  schedule/virt_autotest/kubevirt-tests-sles.yaml
Owners: none

debug
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

aaaaaa
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add kubevirt regression to is_sles_mu_virt_test
  lib/virt_autotest/utils.pm
Owners: none

Use install-shell in agama_base
  lib/Yam/Agama/agama_base.pm
Owners: none

Use correct ssh config files on SLE16
  tests/security/krb5/krb5_crypt_ssh_client.pm
  tests/security/krb5/krb5_crypt_ssh_server.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Go back to root-console
  lib/Yam/Agama/agama_base.pm
Owners: none

Add SELinux setup required by HANA
  lib/sles4sap.pm
  tests/sles4sap/hana_install.pm
  tests/sles4sap/hana_test.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix malformed autoyast profile
  data/autoyast_opensuse/create_hdd/create_hdd_textmode_aarch64.xml
Owners: none

PC: Add g2-standard-4 to GCE no live migration list
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Add ignore for bsc#1242592
  data/journal_check/bug_refs.json
Owners: none

Enable virtual network management automation test for sle16
  schedule/virt_autotest/sle16_guest_installation.yaml
  tests/virt_autotest/libvirt_virtual_network_init.pm
Owners: none

Fix storage commit error to yes
  data/yam/agama/auto/lib/scripts_pre.libsonnet
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
