Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

Avoid to update module name when package only from SLE-SAP
  tests/qam-updinstall/update_install.pm
Owners: none

Run perl tidy
  tests/qe-core/systemd/journal_remote.pm
Owners: none

Introduce journal-remote test from upstream (#20533)
  data/qe-core/systemd/journal_remote.sh
  schedule/qam/common/mau-extratests1.yaml
  tests/qe-core/systemd/journal_remote.pm
Owners: none

Use openQA configurable setting UNIFIED_GUEST_INSTALLATION_MEDIA
  lib/concurrent_guest_installations.pm
  tests/virt_autotest/unified_guest_installation.pm
Owners: none

podman_quadlet: Check for podman version
  tests/containers/podman_quadlet.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

Use Tumbleweed as test image
  tests/containers/podman_quadlet.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

podman_quadlet: Move podman version check into pre run hook
  tests/containers/podman_quadlet.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

fix: switch zypper with transactional-update
  data/aistack/open-webui-rbac-tests.tar.gz
  tests/publiccloud/aistack_rbac_run.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

ltp: Add support for SLE 16
  tests/kernel/install_ltp.pm
Owners: none

Fix SMT autoyast profile for 15sp7 spvm
  data/yam/autoyast/create_hdd_migration_ppc64le.xml.ep
  tests/migration/online_migration/yast2_migration.pm
Owners: none

Detect end of agama auto-installation in s390x using for example logs
  lib/Yam/Agama/Pom/RebootTextmodePage.pm
  tests/installation/bootloader_s390.pm
Owners: none

Restrict redundant grub2 edit moves for ppc64le
  lib/bootloader_setup.pm
  tests/installation/bootloader_uefi.pm
Owners: none

Remove hardcode password in agama profiles
  data/yam/agama/auto/alp_tumbleweed.jsonnet
  data/yam/agama/auto/default_leap.json
  data/yam/agama/auto/default_sle.json
  data/yam/agama/auto/default_tumbleweed.json
  data/yam/agama/auto/default_tumbleweed.sh
  data/yam/agama/auto/gnome_leap.json
  data/yam/agama/auto/gnome_tumbleweed.json
  data/yam/agama/auto/leap16.json
  data/yam/agama/auto/leap16.sh
Owners: none

Add client event tests
  schedule/functional/extra_tests_textmode.yaml
  tests/console/velociraptor_client_event_collect.pm
Owners: none

deploy: 5ec0ce79e7c0fad6fd1f204dda79e3b315dbacbe
  sles4sap.html
Owners: none

PC: Check SSH master socket before closing it
  lib/publiccloud/utils.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

Podman, docker, firewalld interop
  lib/main_containers.pm
  tests/containers/podman_docker_interop.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777, @rbmarliere

Fix x509 tls certificate failure
  tests/virt_autotest/kubevirt_tests_agent.pm
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

SDAF PC lib compatibility
  lib/sles4sap/sap_deployment_automation_framework/inventory_tools.pm
  schedule/sles4sap/sap_deployment_automation_framework/hanasr_publiccloud.yml
  tests/sles4sap/sap_deployment_automation_framework/publiccloud_lib_compatibility_layer.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add new mechanism for ansible known issues
  tests/sles4sap/publiccloud/qesap_ansible.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add soft failed ansible
  tests/sles4sap/publiccloud/qesap_ansible.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Remove duplicate skipped testcases from XML result files
  data/virt_autotest/kubevirt_tests/remove_dup_skipped_tests.py
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Fixed call to data_url, error handling for pod
  data/aistack/milvus_custom.yaml
  data/aistack/milvus_values.yaml
  data/aistack/ollama_values.yaml
  data/aistack/open_webui_values.yaml
  tests/publiccloud/create_aistack_env.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

Use openQA configurable setting UNIFIED_GUEST_INSTALLATION_MEDIA
  lib/concurrent_guest_installations.pm
  tests/virt_autotest/unified_guest_installation.pm
Owners: none

Remove hardcode password in agama profiles
  data/yam/agama/auto/alp_tumbleweed.jsonnet
  data/yam/agama/auto/default_leap.json
  data/yam/agama/auto/default_sle.json
  data/yam/agama/auto/default_tumbleweed.json
  data/yam/agama/auto/default_tumbleweed.sh
  data/yam/agama/auto/gnome_leap.json
  data/yam/agama/auto/gnome_tumbleweed.json
  data/yam/agama/auto/leap16.json
  data/yam/agama/auto/leap16.sh
Owners: none

Use add_on_products to enable modules without registration
  data/virt_autotest/host_unattended_installation_files/autoyast/dev_host_12.xml.ep
  data/virt_autotest/host_unattended_installation_files/autoyast/dev_host_15.xml.ep
  lib/virt_autotest/utils.pm
  tests/virt_autotest/virt_utils.pm
Owners: none

Fix SMT autoyast profile for 15sp7 spvm
  data/yam/autoyast/create_hdd_migration_ppc64le.xml.ep
  tests/migration/online_migration/yast2_migration.pm
Owners: none

Change powerVM autoyast boot timeout to -1
  data/yam/autoyast/create_hdd_migration_ppc64le.xml.ep
Owners: none

Add support of SAPHana-SR for Pb Cloud tests
  data/sles4sap/qe_sap_deployment/qesap_aws.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_msi.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_spn.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_ltss.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_roles.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf_no_reg.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_uri.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_sapconf.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_aws_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_maintenance.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_uri.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_gcp_generic.yaml
  tests/sles4sap/qesapdeployment/configure.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix string comparison in audit_tools
  tests/security/cc/audit_tools.pm
Owners: none

Reset console before starting cc/misc
  tests/security/cc/misc.pm
Owners: none

Remove softfail for bsc#1233026
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

publiccloud/provider: Limit calls to create_instance by default
  lib/publiccloud/provider.pm
  variables.md
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

Reorder test modules to avoid failures in yast2_gui
  schedule/yast/yast2_gui/yast2_gui_sle.yaml
Owners: none

Move of the variables propagation
  data/sles4sap/qe_sap_deployment/qesap_aws.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_msi.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_spn.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_ltss.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_roles.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf_no_reg.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_uri.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_sapconf.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_aws_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_maintenance.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_uri.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_gcp_generic.yaml
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Check root disk filesystems size for PC SLEM
  tests/publiccloud/slem_basic.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

SDAF PC lib compatibility
  lib/sles4sap/sap_deployment_automation_framework/inventory_tools.pm
  schedule/sles4sap/sap_deployment_automation_framework/hanasr_publiccloud.yml
  tests/sles4sap/sap_deployment_automation_framework/publiccloud_lib_compatibility_layer.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Ensure dialog Password_needed is reached
  tests/yast2_gui/yast2_security.pm
Owners: none

Use add_on_products to enable modules without registration
  data/virt_autotest/host_unattended_installation_files/autoyast/dev_host_12.xml.ep
  data/virt_autotest/host_unattended_installation_files/autoyast/dev_host_15.xml.ep
  lib/virt_autotest/utils.pm
  tests/virt_autotest/virt_utils.pm
Owners: none

Fixed data_url,err handling,ind component install
  data/aistack/aistack_values.yaml
  data/aistack/milvus_totest.yaml
  data/aistack/milvus_values.yaml
  data/aistack/ollama_totest.yaml
  data/aistack/ollama_values.yaml
  data/aistack/open_webui_totest.yaml
  data/aistack/open_webui_values.yaml
  tests/publiccloud/create_aistack_env.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis @rbmarliere
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati @rbmarliere
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/qesapdeploymnet.pm @mpagot @rbmarliere

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777 @rbmarliere

# Transactional systems
products/microos/ @mloviska @ricardobranco777 @rbmarliere
tests/microos/ @mloviska @ricardobranco777 @rbmarliere
products/sle-micro/ @mloviska @ricardobranco777 @rbmarliere
products/alp/ @mloviska @ricardobranco777 @rbmarliere
tests/jeos/ @mloviska @ricardobranco777 @rbmarliere
tests/transactional/ @mloviska @ricardobranco777 @rbmarliere
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777 @rbmarliere

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
