Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

validate_packages_and_patterns: Get sles-ltss-release update repo
  tests/console/validate_packages_and_patterns.pm
Owners: none

Use BCI_TEST_REPO the same way as CASE_DIR
  lib/main_containers.pm
  tests/containers/bci_prepare.pm
  tests/containers/bci_test.pm
  variables.md
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777, @rbmarliere

Longer GRUB timeout for vmware
  schedule/virt_autotest/slem_open_vm_tools.yaml
  tests/console/system_prepare.pm
Owners: none

Agama BM
  lib/version_utils.pm
  tests/installation/ipxe_install.pm
  variables.md
Owners: none

Boot Agama in OSD in PowerVM
  lib/Distribution/Opensuse/AgamaDevel.pm
  lib/bootloader_pvm.pm
  tests/yam/agama/boot_agama.pm
Owners: none

Swap auto param position
  lib/bootloader_pvm.pm
  lib/bootloader_setup.pm
Owners: none

Generalize module naming
  schedule/sles4sap/sap_deployment_automation_framework/execute_deployment.yml
  tests/sles4sap/sap_deployment_automation_framework/execute_ansible_playbooks.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Adds support for SAPHanaSR-angi package in public cloud variables (#20794)
  data/sles4sap/qe_sap_deployment/qesap_aws.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_msi.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_spn.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_ltss.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_roles.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf_no_reg.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_uri.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_sapconf.yaml
  lib/sles4sap_publiccloud.pm
  tests/sles4sap/qesapdeployment/configure.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

PC: Fix the console output collecting process
  data/publiccloud/terraform/azure.tf
  data/publiccloud/terraform/azure_cloud-netconfig.tf
  data/publiccloud/terraform/azure_nfstest.tf
  lib/publiccloud/azure.pm
  lib/publiccloud/ec2.pm
  tests/publiccloud/ssh_interactive_end.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @rbmarliere, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Pass registration code to jsonnet files
  data/yam/agama/auto/default_sle_no_scc.json
  tests/yam/agama/boot_agama.pm
Owners: none

SLE-M: introduced the QEC_SLEM_TESTS_FILTER parameter
  lib/main_micro_alp.pm
  variables.md
Owners: @mloviska, @jlausuch, @ricardobranco777, @rbmarliere

Add client event tests
  schedule/functional/extra_tests_textmode.yaml
  tests/console/velociraptor_client_event_collect.pm
Owners: none

Align qesap regression LTSS to HanaSR
  data/sles4sap/qe_sap_deployment/qesap_aws.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_msi.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_spn.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_ltss.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_uri.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_sapconf.yaml
  lib/qesapdeployment.pm
  lib/sles4sap_publiccloud.pm
  t/14_qesap_ansible.t
  tests/sles4sap/publiccloud/qesap_terraform.pm
  tests/sles4sap/qesapdeployment/configure.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

fix: include suggestions
  tests/publiccloud/aistack_rbac_run.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

fix: switch zypper in with transactional-update
  tests/publiccloud/aistack_rbac_run.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

refac: refac tests and remove unnecessary debug commands
  data/aistack/open-webui-rbac-tests.tar.gz
  tests/publiccloud/aistack_rbac_run.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

feature: SUSE AI sanity test suite
  data/aistack/open-webui-sanity-tests.tar.gz
  lib/main_micro_alp.pm
  tests/publiccloud/aistack_sanity_run.pm
Owners: @mloviska, @jlausuch, @ricardobranco777, @rbmarliere, @pdostal, @grisu48, @asmorodskyi, @m-dati

Add unit test for argument 'destroy_terraform'
  lib/qesapdeployment.pm
  t/09_qesapdeployment.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Translate guestfs-tools to libguestfs
  lib/main_common.pm
Owners: none

Enable AITL for SLEM
  lib/main_micro_alp.pm
Owners: @mloviska, @jlausuch, @ricardobranco777, @rbmarliere

kdump: Use http instead of ftp for debug repository
  lib/kdump_utils.pm
Owners: none

jeos: Disable some tests for systemd-boot
  lib/main_common.pm
Owners: none

bootloader_uefi: Add assert_screen for sdboot flavor
  tests/installation/bootloader_uefi.pm
Owners: none

deploy: 758c7faa351cdab5d5b95cf17f7d97ffa4accfd0
  qesapdeployment.html
Owners: none

Change USE_SAPCONF usage
  lib/sles4sap_publiccloud.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Align qesap regression LTSS to HanaSR (#20796)
  data/sles4sap/qe_sap_deployment/qesap_aws.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_msi.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_spn.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_ltss.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_uri.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_sapconf.yaml
  lib/qesapdeployment.pm
  lib/sles4sap_publiccloud.pm
  t/14_qesap_ansible.t
  tests/sles4sap/publiccloud/qesap_terraform.pm
  tests/sles4sap/qesapdeployment/configure.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: a98819090a325dbf121917997a1f3f361f5db435
  qesapdeployment.html
  sles4sap_publiccloud.html
Owners: none

Add option to exclude tests
  data/publiccloud/aitl/custom.json
  tests/publiccloud/azure_aitl.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @rbmarliere, @m-dati

Switch EC2 default instance type to t3a
  data/publiccloud/terraform/ec2.tf
  lib/publiccloud/ec2.pm
  tests/publiccloud/bsc_1205002.pm
  variables.md
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @rbmarliere, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Simplify HanaSR at AZURE_FENCE_AGENT_CONFIGURATION
  tests/sles4sap/publiccloud/azure_fence_agents_test.pm
  tests/sles4sap/publiccloud/hana_sr_schedule_deployment.pm
  tests/sles4sap/publiccloud/qesap_ansible.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
  tests/sles4sap/qesapdeployment/deploy.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

[Virtualization][MU]: Set more product differentiated settings
  lib/main_common.pm
  lib/virt_autotest/utils.pm
  products/sle/main.pm
  schedule/virtualization/vmware_hyperv.yaml
  tests/virtualization/universal/init_mu_virt_vars.pm
Owners: none

[Virtualization][MU]: Loose TEST check to pass PR validation jobs
  lib/virt_autotest/virtual_network_utils.pm
Owners: none

[Virtualization][MU]: Set SCC_REGCODE_LTSS_ES in main_common
  lib/main_common.pm
Owners: none

[Virtualization][MU]: Fix guest_management failure on 15SP4
  tests/virtualization/universal/guest_management.pm
Owners: none

[Virtualization][MU]: Loose TEST check to pass PR validation jobs
  lib/virt_autotest/virtual_network_utils.pm
Owners: none

[Virtualization][MU]: Fix guest_management failure on 15SP4
  tests/virtualization/universal/guest_management.pm
Owners: none

[Virtualization][MU]: Set SCC_REGCODE_LTSS_ES in main_common
  lib/main_common.pm
Owners: none

[Virtualization][MU]: Set more product differentiated settings
  lib/main_common.pm
  lib/virt_autotest/utils.pm
  products/sle/main.pm
  schedule/virtualization/vmware_hyperv.yaml
  tests/virtualization/universal/init_mu_virt_vars.pm
Owners: none

SLE microos on powerVM dont use FIRST_BOOT_CONFIG setting
  tests/microos/image_checks.pm
Owners: @mloviska, @ricardobranco777, @rbmarliere

Ignore bsc#1231457 for journal_check
  data/journal_check/bug_refs.json
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis @rbmarliere
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati @rbmarliere
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/qesapdeploymnet.pm @mpagot @rbmarliere

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777 @rbmarliere

# Transactional systems
products/microos/ @mloviska @ricardobranco777 @rbmarliere
tests/microos/ @mloviska @ricardobranco777 @rbmarliere
products/sle-micro/ @mloviska @ricardobranco777 @rbmarliere
products/alp/ @mloviska @ricardobranco777 @rbmarliere
tests/jeos/ @mloviska @ricardobranco777 @rbmarliere
tests/transactional/ @mloviska @ricardobranco777 @rbmarliere
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777 @rbmarliere

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
