Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Adapt Rear package name to 16.0
  tests/ha/rear_backup.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Enable test failure when AVC records are found
  lib/Utils/Logging.pm
  lib/consoletest.pm
  lib/containers/basetest.pm
  lib/installbasetest.pm
  lib/opensusebasetest.pm
  tests/shutdown/shutdown.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

[Virtualization]: Enable sle16 snapshot test
  schedule/virt_autotest/sle16_guest_installation.yaml
Owners: none

Remove AGAMA_DEV condition
  lib/susedistribution.pm
Owners: none

Make vncviewer console able to show up on the top
  tests/virtualization/virt_install.pm
Owners: none

bats/buildah: Update BATS_SKIP for runc 1.2.x
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

xfstests: add DUMP_CORRUPT_FS=1 to local.config
  tests/xfstests/partition.pm
Owners: none

Adapt Rear package name to 16.0 (#22456)
  tests/ha/rear_backup.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Update Perl::Tidy to 20250616.0.0
  .github/workflows/ci.yml
Owners: none

Add ISCSI_ENABLED terraform variable
  data/sles4sap/qe_sap_deployment/mr_test_azure.yaml
  data/sles4sap/qe_sap_deployment/mr_test_azure_uri.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_maintenance.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_uri.yaml
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Handle Discover's popup to confirm updates
  tests/update/updates_packagekit_kde.pm
Owners: none

Add ISCSI_ENABLED terraform variable (#22384)
  data/sles4sap/qe_sap_deployment/mr_test_azure.yaml
  data/sles4sap/qe_sap_deployment/mr_test_azure_uri.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_maintenance.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_uri.yaml
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

xfstests: processing ppc64le on qemu
  products/sle/main.pm
Owners: none

Allow to pass extra CPU kernel options in specific tests
  tests/installation/ipxe_install.pm
Owners: none

kselftests: Add timeout option
  tests/kernel/run_kselftests.pm
Owners: none

Revert "Enable test failure when AVC records are found"
  lib/Utils/Logging.pm
  lib/consoletest.pm
  lib/containers/basetest.pm
  lib/installbasetest.pm
  lib/opensusebasetest.pm
  tests/shutdown/shutdown.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

security: Refactor hexchat_ssl test code
  tests/x11/hexchat_ssl.pm
Owners: none

Fix agama_auto expect timeout
  lib/Yam/Agama/Pom/RebootPage.pm
Owners: none

Remove unused jsonnet file
  data/yam/agama/auto/lvm_encrypted_ppc64le.jsonnet
Owners: none

Read AGAMA_VERSION to detect which version of Agama is running
  tests/yam/agama/boot_agama.pm
Owners: none

bats: Install CA repo to use with BATS_TEST_REPOS
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Revert read AGAMA_VERSION
  tests/yam/agama/boot_agama.pm
Owners: none

Remove schedule of additional_fence_agent_tasks
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Remove schedule of additional_fence_agent_tasks (#22476)
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add 'Kill ASCS with takeover' test variant
  lib/hacluster.pm
  t/11_hacluster.t
  tests/sles4sap/redirection_tests/ensa2_kill_sapinstance.pm
  tests/sles4sap/redirection_tests/ensa2_schedule_sapinstance_tests.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Test p10+slem62
  lib/main_micro_alp.pm
Owners: @mloviska, @jlausuch, @ricardobranco777

Various changes
  tests/jeos/firstrun.pm
  tests/wsl/firstrun.pm
Owners: @mloviska, @ricardobranco777

Added agama_arrange step
  schedule/yam/agama.yaml
  schedule/yam/agama_autoyast_supported_s390x.yaml
  schedule/yam/agama_autoyast_unsupported.yaml
  schedule/yam/agama_check_installation_medium.yaml
  schedule/yam/agama_desktop.yaml
  schedule/yam/agama_dud.yaml
  schedule/yam/agama_extended.yaml
  schedule/yam/agama_extensions_and_patterns.yaml
  schedule/yam/agama_extensions_and_patterns_ppc64le.yaml
  schedule/yam/agama_extensions_and_patterns_s390x.yaml
  schedule/yam/agama_from_usb.yaml
  schedule/yam/agama_full_disk_encryption.yaml
  schedule/yam/agama_full_disk_encryption_ppc64le.yaml
  schedule/yam/agama_full_disk_encryption_s390x.yaml
  schedule/yam/agama_gnome.yaml
  schedule/yam/agama_gnome_ppc64le.yaml
  schedule/yam/agama_gnome_s390x.yaml
  schedule/yam/agama_headless.yaml
  schedule/yam/agama_headless_pvm.yaml
  schedule/yam/agama_headless_s390x.yaml
  schedule/yam/agama_lvm.yaml
  schedule/yam/agama_lvm_encrypted.yaml
  schedule/yam/agama_lvm_encrypted_s390x.yaml
  schedule/yam/agama_lvm_s390x.yaml
  schedule/yam/agama_non_default_root_filesystem.yaml
  schedule/yam/agama_non_default_root_filesystem_ppc64le.yaml
  schedule/yam/agama_non_default_root_filesystem_s390x.yaml
  schedule/yam/agama_post_registration_ppc64le.yaml
  schedule/yam/agama_post_registration_s390x.yaml
  schedule/yam/agama_ppc64le.yaml
  schedule/yam/agama_remote_pvm.yaml
  schedule/yam/agama_remote_s390x.yaml
  schedule/yam/agama_s390x.yaml
  schedule/yam/agama_software_patterns.yaml
  schedule/yam/agama_software_patterns_s390x.yaml
  tests/yam/agama/agama_arrange.pm
Owners: none

xfstests: Add kernel-default-extra to rdma dependency
  lib/rdma.pm
Owners: none

SDAF orphaned peering cleanup
  lib/sles4sap/azure_cli.pm
  lib/sles4sap/sap_deployment_automation_framework/basetest.pm
  lib/sles4sap/sap_deployment_automation_framework/deployment_connector.pm
  t/21_sles4sap_azure_cli.t
  t/26_deployment_connector.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Save/restore SCC_URL during migration test
  tests/yam/migration/restore_upgrade_env.pm
  tests/yam/migration/setup_upgrade_env.pm
Owners: none

Add patterns_sles4sap schedule for hyperv minimal-vm on SLE 16.0
  schedule/sles4sap/minimalvm/patterns_hyperv.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: ce9ba1ed466932cf61158479df865c12aa42247a
  utils.html
Owners: none

Removed version from addons jsonnet library
  data/yam/agama/auto/lib/addons.libsonnet
Owners: none

Extend lftp coverage
  tests/security/vsftpd/lftp.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

deploy: 6709fd0d2ec901820c2f7050dba2de060ac12723
  sles4sap/azure_cli.html
  sles4sap/sap_deployment_automation_framework/deployment_connector.html
Owners: none

Implement NICVLAN support in BCI host_configuration
  lib/network_utils.pm
  tests/containers/host_configuration.pm
  tests/network/network_bonding_setup.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Enable virtual network management automation test for sle16
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_x86_64_agama_online_iso.xml
  lib/virt_autotest/virtual_network_utils.pm
  schedule/virt_autotest/sle16_guest_installation.yaml
  tests/virt_autotest/libvirt_host_bridge_virtual_network.pm
  tests/virt_autotest/libvirt_isolated_virtual_network.pm
  tests/virt_autotest/libvirt_nated_virtual_network.pm
  tests/virt_autotest/libvirt_routed_virtual_network.pm
  tests/virt_autotest/libvirt_virtual_network_init.pm
  tests/virt_autotest/uefi_guest_verification.pm
Owners: none

Fix YAML indentation mistake in playbook list
  data/sles4sap/qe_sap_deployment/qesap_aws_peering.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Creating scenarios for RAID 1,5,6,10
  data/yam/agama/auto/lib/storage.libsonnet
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
