Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

Add pre script to wipe disk while not by code
  data/yam/agama/auto/post_script.jsonnet
  data/yam/agama/auto/scripts.jsonnet
Owners: none

Cleanup old podman's storage configuration
  tests/containers/rootless_podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

libreoffice_mainmenu_favorites: Remove bsc#1195836 softfail
  tests/x11/libreoffice/libreoffice_mainmenu_favorites.pm
Owners: none

Don't patch openssl_nodejs test in 15SP4
  tests/console/openssl_nodejs.pm
Owners: none

Add scripts to wipe disk on kvm
  schedule/yam/agama_remote_pvm.yaml
  schedule/yam/agama_remote_s390x.yaml
Owners: none

ansible: Remove soft-fail bsc#1210875
  tests/console/ansible.pm
Owners: @pdostal

x11/vnc_two_passwords.pm: Invoke plain vncserver as regular user
  tests/x11/vnc_two_passwords.pm
Owners: none

Replace JCEProviderInfo.java with a simpler one
  data/security/openjdk/GetJCEProviderInfo.java
  data/security/openjdk/JCEProviderInfo.java
  lib/openjdktest.pm
Owners: none

x11/vnc_two_passwords.pm: Invoke plain vncserver as regular user
  tests/x11/vnc_two_passwords.pm
Owners: none

Manage AWS image owner
  data/sles4sap/qe_sap_deployment/mr_test_ec2.yaml
  data/sles4sap/qe_sap_deployment/mr_test_ec2_product.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_aws_generic.yaml
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Manage AWS image owner (#21050)
  data/sles4sap/qe_sap_deployment/mr_test_ec2.yaml
  data/sles4sap/qe_sap_deployment/mr_test_ec2_product.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_aws_generic.yaml
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Set boot from hard disk before reboot on s390x
  lib/Yam/Agama/Pom/RebootTextmodePage.pm
  schedule/yam/agama_s390x.yaml
Owners: none

Combine yaml files in Agama schedule
  schedule/yam/agama.yaml
  schedule/yam/agama_full_disk_encryption.yaml
  schedule/yam/agama_full_disk_encryption_ppc64le.yaml
  schedule/yam/agama_full_disk_encryption_s390x.yaml
  schedule/yam/agama_lvm.yaml
  schedule/yam/agama_lvm_s390x.yaml
  schedule/yam/agama_lvm_unattended.yaml
  schedule/yam/agama_lvm_unattended_auto.yaml
  schedule/yam/agama_lvm_unattended_s390x.yaml
  schedule/yam/agama_non_default_root_filesystem.yaml
  schedule/yam/agama_non_default_root_filesystem_auto.yaml
  schedule/yam/agama_non_default_root_filesystem_ppc64le.yaml
  schedule/yam/agama_remote_pvm.yaml
  schedule/yam/agama_s390x.yaml
  tests/yam/agama/agama_reboot.pm
  tests/yam/agama/import_agama_profile.pm
Owners: none

Remove sapconf configuration for sle 16
  schedule/sles4sap/installation/agama_install_sles4sap_saptune.yaml
  tests/sles4sap/saptune/mr_test.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Change to function for byos detection
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Boot Agama s390x svirt from hd
  lib/Yam/Agama/Pom/RebootTextmodePage.pm
  schedule/yam/agama_remote_s390x.yaml
  tests/yam/agama/agama.pm
Owners: none

Remove grub check when reconnecting in agama s390x
  schedule/yam/agama_lvm_s390x.yaml
  schedule/yam/agama_lvm_unattended_s390x.yaml
  schedule/yam/agama_non_default_root_filesystem_s390x.yaml
  schedule/yam/agama_s390x.yaml
Owners: none

No Legacy module on SLES16
  tests/console/java.pm
Owners: none

Use legacy module to introducting passphrase twice
  schedule/yam/agama_full_disk_encryption_s390x.yaml
Owners: none

BCI tests SCC credentials for non-suse hosts
  tests/containers/bci_prepare.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

Force reload udev rules also on 15-SP7
  tests/security/swtpm/tpm_selftest.pm
Owners: none

Fix SELinux for rsync
  tests/console/rsync_client.pm
  tests/console/rsync_server.pm
Owners: none

install_ltp: Install kernel-rt-devel for non-livepatch tests
  tests/kernel/install_ltp.pm
Owners: none

main_ltp: Workaround broken grub menu items on sle-micro
  lib/main_ltp.pm
Owners: none

Skip yast2_lan on SLES16
  lib/main_common.pm
Owners: none

Remove sapconf configuration for sle 16 (#21053)
  schedule/sles4sap/installation/agama_install_sles4sap_saptune.yaml
  tests/sles4sap/saptune/mr_test.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

network/cifs.pm: SELinux-aware directory creation
  tests/network/cifs.pm
Owners: none

Expand MariaDB test coverage
  tests/security/mariadb/mariadb_ssl_client.pm
Owners: none

Fix use of obsolete Perl::Critic::Freenode
  cpanfile
  os-autoinst-distri-opensuse-deps.spec
Owners: none

lib/main_common.pm: Fix broken is_leap("16+") calls
  lib/main_common.pm
Owners: none

lib/version_utils.pm: Support short is_leap("16+") without ".0"
  lib/version_utils.pm
  t/01_version_utils.t
Owners: none

installation/configure_sdboot.pm: No longer expect the WIP dialog
  tests/installation/configure_sdboot.pm
Owners: none

Don't test 32bit on SLES16
  tests/console/glibc_sanity.pm
Owners: none

Fix checks for Leap 16
  lib/main_common.pm
Owners: none

installation/configure_sdboot.pm: No longer expect the WIP dialog
  tests/installation/configure_sdboot.pm
Owners: none

installation/configure_sdboot.pm: Disable the bootloader timeout now
  tests/installation/configure_sdboot.pm
Owners: none

Workaround registries.conf permissions after registration
  tests/publiccloud/check_registercloudguest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

List of expected bugs or messages to be ignored
  data/journal_check/bug_refs.json
Owners: none

containers: Add soft-failure for gh#k3s-io/k3s#11676
  lib/containers/k8s.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

containers: Temporarily hotfix for Liberty
  tests/containers/host_configuration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis @rbmarliere
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati @rbmarliere
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/qesapdeploymnet.pm @mpagot @rbmarliere

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777 @rbmarliere

# Transactional systems
products/microos/ @mloviska @ricardobranco777 @rbmarliere
tests/microos/ @mloviska @ricardobranco777 @rbmarliere
products/sle-micro/ @mloviska @ricardobranco777 @rbmarliere
products/alp/ @mloviska @ricardobranco777 @rbmarliere
tests/jeos/ @mloviska @ricardobranco777 @rbmarliere
tests/transactional/ @mloviska @ricardobranco777 @rbmarliere
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777 @rbmarliere

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
