Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

Agama proxy scc workaround for sle16 beta1 install
  data/agama_auto/sle_default_ipmi_no_reg.jsonnet
  data/agama_auto/sle_default_no_reg.jsonnet
  data/agama_auto/sle_default_pvm_no_reg.jsonnet
  data/agama_auto/sle_default_s390x_kvm_no_reg.jsonnet
  schedule/functional/sle16/agama-create-hdd-textmode_pvm.yaml
  tests/console/system_prepare.pm
Owners: none

PC EC2 Fix the availability_zone check
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

Stop hana test module
  lib/hacluster.pm
  lib/saputils.pm
  lib/sles4sap/console_redirection.pm
  lib/sles4sap/database_hana.pm
  lib/sles4sap/sap_host_agent.pm
  schedule/sles4sap/sap_deployment_automation_framework/hana_sr_primary_failover.yml
  t/11_hacluster.t
  t/18_saputils.t
  t/31_sap_host_agent.t
  t/32_database_hana.pm
  tests/sles4sap/redirection_tests/hana_sr_primary_failover.pm
  tests/sles4sap/redirection_tests/hanasr_schedule_tests.pm
  tests/sles4sap/redirection_tests/redirection_check.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: a1f0f769b6714dd67a4f1e205b0597f81145adc7
  hacluster.html
  index.html
  saputils.html
  sles4sap/database_hana.html
  sles4sap/sap_host_agent.html
Owners: none

dstat: Remove bsc#1085238 soft fail
  tests/console/dstat.pm
Owners: none

console/rsync_server: SELinux-aware test directory creation
  tests/console/rsync_server.pm
Owners: none

ImageMagick: Replace deprecated in IMv7 'convert' with 'magick'
  data/imagemagick/bg_script.sh
Owners: none

ImageMagick: Fix and cleanup bg_script.sh
  data/imagemagick/bg_script.sh
  tests/x11/ImageMagick.pm
Owners: none

console/rsync_server: SELinux-aware test directory creation
  tests/console/rsync_server.pm
Owners: none

Don't install additional products on SLES16
  tests/console/java.pm
  tests/console/libvorbis.pm
  tests/toolchain/install.pm
Owners: none

Swap qesap_az_get_vnet with az_network_vnet_get (#21001)
  lib/qesapdeployment.pm
  lib/trento.pm
  t/08_trento.t
  t/15_qesap_azure.t
  tests/sles4sap/publiccloud/clean_leftover_peerings.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: f2b67989fa301e2c0c5c7ec39a8e7530cf3b2b92
  qesapdeployment.html
Owners: none

update_install: Add openvpn-dco conflict
  tests/qam-updinstall/update_install.pm
Owners: none

Add PUBLIC_CLOUD_SSH_CONFIG to mr_test product
  schedule/sles4sap/sles4sap_gnome_saptune_product.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Redis7 conflict resolution
  tests/console/redis.pm
Owners: none

Install btrfsprogs-bash-completion for sle16/leap16.0
  tests/console/btrfs_autocompletion.pm
Owners: none

Add check for a set-root-password dialog in agama.pm
  tests/installation/agama.pm
Owners: none

Tidy agama.pm
  tests/installation/agama.pm
Owners: none

Add a function to cover the new root auth dialog
  tests/installation/agama.pm
Owners: none

Disable existing root screen handling
  tests/installation/agama.pm
Owners: none

Don't active containers module on SLES12
  lib/containers/common.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

Fix invalid id in lvm storage section
  data/yam/agama/auto/sle_lvm.jsonnet
Owners: none

Make sure that root user input box is active first
  tests/installation/agama.pm
Owners: none

Drop root password screen handling after UI change
  tests/installation/agama.pm
Owners: none

Add test for bone-installation-wizard
  lib/sles4sap.pm
  schedule/qam/common/qam-sle_sles4sap_scc_gnome_bone_wizard.yml
  tests/sles4sap/patterns.pm
  tests/sles4sap/wizard_hana_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add PUBLIC_CLOUD_SSH_CONFIG to mr_test product (#21024)
  schedule/sles4sap/sles4sap_gnome_saptune_product.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Agama.pm use wait still screen 5
  tests/installation/agama.pm
Owners: none

Setup SLES 16 Tests for HA
  schedule/ha/bv/agama_install_sles_ha.yaml
  tests/console/system_prepare.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add wipe disks for profiles
  data/yam/agama/auto/sle_root_filesystem_ext4.jsonnet
  data/yam/agama/auto/sle_root_filesystem_xfs.jsonnet
Owners: none

x11/vnc_two_passwords.pm: Use vncserver as regular user, not root
  tests/x11/vnc_two_passwords.pm
Owners: none

publiccloud: Increase timeout when installing docker
  tests/publiccloud/check_registercloudguest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

x11/vnc_two_passwords.pm: Use vncserver as regular user, not root
  tests/x11/vnc_two_passwords.pm
Owners: none

Remove check for systemd-journal group
  tests/containers/rootless_podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

publiccloud: Increase timeouts when pulling images
  tests/publiccloud/check_registercloudguest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

Removing duplicated save log output for ssh command
  lib/publiccloud/instance.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

add_custom_grub_entries: Ignore empty items in GRUB_PARAM
  lib/bootloader_setup.pm
Owners: none

redis: Redis7 is available since 15-SP5
  tests/console/redis.pm
Owners: none

Remove softfail as bsc#1230971 has been fixed
  tests/virt_autotest/guest_migration_src.pm
Owners: none

Allow set up SSH key during Agama installation
  data/virt_autotest/host_unattended_installation_files/agama/sle16.jsonnet
  lib/autoyast.pm
Owners: none

Quick fix for PR 21026
  tests/console/btrfs_autocompletion.pm
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis @rbmarliere
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati @rbmarliere
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/qesapdeploymnet.pm @mpagot @rbmarliere

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777 @rbmarliere

# Transactional systems
products/microos/ @mloviska @ricardobranco777 @rbmarliere
tests/microos/ @mloviska @ricardobranco777 @rbmarliere
products/sle-micro/ @mloviska @ricardobranco777 @rbmarliere
products/alp/ @mloviska @ricardobranco777 @rbmarliere
tests/jeos/ @mloviska @ricardobranco777 @rbmarliere
tests/transactional/ @mloviska @ricardobranco777 @rbmarliere
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777 @rbmarliere

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
