Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis @rbmarliere
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati @rbmarliere
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/qesapdeploymnet.pm @mpagot @rbmarliere

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777 @rbmarliere

# Transactional systems
products/microos/ @mloviska @ricardobranco777 @rbmarliere
tests/microos/ @mloviska @ricardobranco777 @rbmarliere
products/sle-micro/ @mloviska @ricardobranco777 @rbmarliere
products/alp/ @mloviska @ricardobranco777 @rbmarliere
tests/jeos/ @mloviska @ricardobranco777 @rbmarliere
tests/transactional/ @mloviska @ricardobranco777 @rbmarliere
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777 @rbmarliere

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

ipsecbase.pm: check firewall status before stop firewall
  lib/ipsecbase.pm
Owners: none

ipsecbase.pm: check firewall status before stop firewall
  lib/ipsecbase.pm
  lib/utils.pm
Owners: none

Enable TAP for agama testing results
  tests/yam/agama/agama.pm
Owners: none

[virtualization][MU]: support br0 creation with em ports
  data/virtualization/autoyast/host_15.xml.ep
Owners: none

Revert "Use REPO_MIRROR_HOST as OPENQA_FTP_URL"
  lib/utils.pm
Owners: none

Fix timeout parameter
  lib/Utils/Logging.pm
Owners: @pdostal

Quick PR to fx mimor issues on lvm unattended installation
  data/yam/agama/auto/sle_lvm.jsonnet
  schedule/yam/agama_lvm_unattended.yaml
  schedule/yam/agama_lvm_unattended_ppc64le.yaml
  schedule/yam/agama_lvm_unattended_s390x.yaml
Owners: none

Get java test source from data_url instead of github
  data/security/openjdk/JCEProviderInfo.java
  lib/openjdktest.pm
Owners: none

Use .txt extension for all logs
  lib/Utils/Logging.pm
Owners: @pdostal

deploy: 692fde80d82dd0b395216ca7eafc441456a66bb8
  Utils/Logging.html
Owners: none

Revert "Enable TAP for agama testing results"
  tests/yam/agama/agama.pm
Owners: none

PC: Register LTSS via proper binary
  lib/publiccloud/utils.pm
  lib/registration.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

containers: Comment localhost entry for ::1 on CentOS 10
  tests/containers/host_configuration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

deploy: 586852e6a8ac9ddf5c700012c10b1a58af53ff22
  publiccloud/utils.html
  registration.html
Owners: none

Revert "PC: Register LTSS via proper binary"
  lib/publiccloud/utils.pm
  lib/registration.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

deploy: 80d1fed9df988d662a5b6b87b13f2420f6686a8a
  publiccloud/utils.html
  registration.html
Owners: none

Ipaddr2 network peering az functions
  lib/sles4sap/ipaddr2.pm
  t/22_ipaddr2.t
  tests/sles4sap/ipaddr2/cluster_create.pm
  tests/sles4sap/ipaddr2/configure.pm
  tests/sles4sap/ipaddr2/destroy.pm
  tests/sles4sap/ipaddr2/network_peering.pm
  tests/sles4sap/ipaddr2/patch_system.pm
  tests/sles4sap/ipaddr2/registration.pm
  tests/sles4sap/ipaddr2/sanity_cluster.pm
  tests/sles4sap/ipaddr2/sanity_os.pm
  tests/sles4sap/ipaddr2/test_move_resource.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add reconnect_mgmt_console for sles_full_disk_encryption
  schedule/yam/agama_full_disk_encryption_s390x.yaml
Owners: none

Add LTSS repo to SLES 15-SP2 teradata
  data/virtualization/autoyast/guest_15.xml.ep
  data/virtualization/autoyast/host_15.xml.ep
Owners: none

PC: Register LTSS via proper binary
  lib/publiccloud/utils.pm
  lib/registration.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

Support SLE16 virt test on host installation
  data/virt_autotest/host_unattended_installation_files/agama/sle16.jsonnet
  schedule/virt_autotest/sle16_guest_installation.yaml
  tests/installation/ipxe_install.pm
  tests/virt_autotest/login_console.pm
Owners: none

deploy: 682d637b0409ba14991b1d64a721f9ab8ab4f9e6
  publiccloud/utils.html
  registration.html
Owners: none

Re-add vendor affirmation specific openjdk schedule
  schedule/security/vendor_affirmation_validation_openjdk.yaml
Owners: none

CHOSTs do not container cloud-regionsrv-client
  lib/publiccloud/utils.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

Ipaddr2 network peering az functions (#20946)
  lib/sles4sap/ipaddr2.pm
  t/22_ipaddr2.t
  tests/sles4sap/ipaddr2/cluster_create.pm
  tests/sles4sap/ipaddr2/configure.pm
  tests/sles4sap/ipaddr2/destroy.pm
  tests/sles4sap/ipaddr2/network_peering.pm
  tests/sles4sap/ipaddr2/patch_system.pm
  tests/sles4sap/ipaddr2/registration.pm
  tests/sles4sap/ipaddr2/sanity_cluster.pm
  tests/sles4sap/ipaddr2/sanity_os.pm
  tests/sles4sap/ipaddr2/test_move_resource.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: 6bd780f7fba3ab5e30a24966c566f5bbf34b51bf
  sles4sap/ipaddr2.html
Owners: none

xfstests: Add dependency repo for SLE16
  tests/xfstests/install.pm
Owners: none

containers: Change firewalld configuration for CentOS 10
  tests/containers/host_configuration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

Update currywurst domain
  tests/network/cifs.pm
Owners: none

Add LTSS repo to SLES 15-SP2 teradata
  data/virtualization/autoyast/guest_15.xml.ep
  data/virtualization/autoyast/host_15.xml.ep
Owners: none

Add profiles with plain password for leap 16.0
  data/yam/agama/auto/leap_default.jsonnet
  data/yam/agama/auto/leap_default_plain_password.jsonnet
  data/yam/agama/auto/leap_gnome_plain_password.jsonnet
  data/yam/agama/auto/sles_sap_default.jsonnet
Owners: none

PC: Remove unused SCC_ADDONS variable from transfer_repos test module
  tests/publiccloud/transfer_repos.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

containers/helm_rmt: Fix fail hook
  tests/containers/helm_rmt.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

containers/helm_rmt: Fix commit 5eecb8cf26cd965b1edd487610469ae9dbd99019
  tests/containers/helm_rmt.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

WIP
  lib/Tomcat/ModjkTest.pm
  tests/console/journalctl.pm
Owners: none

Include add_suseconnect_product in publiccloud::utils
  lib/publiccloud/utils.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

Update 12SP5 container url
  lib/containers/urls.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

amarok: use alt+u with the new GUI
  tests/x11/amarok.pm
Owners: none

containers: Fix has_build check for podman_quadlet
  tests/containers/podman_quadlet.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

Update tests/x11/amarok.pm
  tests/x11/amarok.pm
Owners: none
