Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Make profiles for oemdrv test in version control
  data/yam/agama/auto/autoinst_aarch64.jsonnet
  data/yam/agama/auto/autoinst_x86_64.jsonnet
Owners: none

Revert "Support vmware tests on sles16"
  lib/Yam/Agama/Pom/RebootPage.pm
  schedule/virt_autotest/sle16_default_svirt.yaml
Owners: none

Revert "Apply several changes for sle16 hyperv and vmware testing"
  schedule/virt_autotest/sle16_default_svirt.yaml
Owners: none

Revert "Implement automated testing for SLE 16 Hyper-V"
  schedule/virt_autotest/sle16_default_svirt.yaml
  tests/installation/bootloader_hyperv.pm
  tests/yam/agama/agama_auto_without_log.pm
Owners: none

Update openqa-agent to Version 1.1.3
  data/wsl/Autounattend_UEFI.xml
Owners: none

Fix typo in var noame pc-cloud run_ltp
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Exclude groupwise test in yaml schedule
  schedule/functional/message.yaml
Owners: none

Docs update feedback
  variables.md
Owners: none

containers: fakeroot is not available on SLE 16.0
  tests/containers/bats/skopeo.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

PowerVM: Set hvc0 console in bootloader for Agama installation
  lib/bootloader_pvm.pm
Owners: none

Add POC qesap regression test with IBSm
  data/sles4sap/qe_sap_deployment/qesap_azure_peering.yaml
  tests/sles4sap/qesapdeployment/configure.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Modify the selinux policy for apache
  tests/console/php_postgresql.pm
Owners: none

Replace bitnami/apache with nginx-stable/nginx-ingress
  tests/containers/helm.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add POC qesap regression test with IBSm (#21730)
  data/sles4sap/qe_sap_deployment/qesap_azure_peering.yaml
  tests/sles4sap/qesapdeployment/configure.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

lib/utils.pm: Fix need_unlock_after_bootloader for grub2-bls
  lib/utils.pm
Owners: none

Add zfcp yaml for non BETA tests
  schedule/yast/sle/zfcp.yaml
Owners: none

Fix _cleanup failing
  tests/containers/helm.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Update openqa-agent to 1.2.0
  data/wsl/Autounattend_UEFI.xml
Owners: none

containers: Introduce KUBERNETES_VERSIONS to test multiple k8s versions
  lib/containers/k8s.pm
  lib/main_containers.pm
  tests/containers/kubectl.pm
  variables.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @jlausuch

Support vmware tests on sles16
  schedule/virt_autotest/sle16_default_svirt.yaml
  tests/installation/agama_reboot.pm
Owners: none

containers/netavark: Skip ping test on s390x
  tests/containers/podman_netavark.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Remove deprecated HA commands and CLI options to crm_mon
  lib/hacluster.pm
  schedule/ha/bv/ha_crash_test_node.yaml
  schedule/ha/bv/haproxy_hawk_node.yaml
  schedule/ha/bv/migration/migration_rolling_upgrade.yaml
  schedule/ha/bv/pacemaker_cts_node.yaml
  schedule/ha/qam/common/qam_cluster_node.yaml
  schedule/ha/qam/common/qam_haproxy_hawk_node.yaml
  schedule/ha/qam/common/qam_migration_rolling_upgrade.yaml
  schedule/sles4sap/netweaver/netweaver_cluster_node.yaml
  schedule/sles4sap/netweaver/netweaver_cluster_systemd.yaml
  t/11_hacluster.t
  tests/ha/check_after_reboot.pm
  tests/ha/ctdb.pm
  tests/ha/ha_cluster_init.pm
  tests/ha/ha_cluster_join.pm
  tests/ha/remove_node.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Pub.cloud AITL tests no-result fix
  tests/publiccloud/azure_aitl.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Revert to inline vars
  tests/containers/helm.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Update guest SLES 16.0 media
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_x86_64_agama_full_iso.xml
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_x86_64_agama_online_iso.xml
  schedule/virt_autotest/sle16_guest_installation.yaml
Owners: none

Improve reboot and logs in Agama
  lib/Distribution/Opensuse/AgamaDevel.pm
  lib/Yam/Agama/Pom/RebootTextmodePage.pm
  tests/yam/agama/agama.pm
  tests/yam/agama/agama_auto.pm
Owners: none

Test SDAF ENSA2 CS HANA use sapcontrol to mv ASCS
  lib/saputils.pm
  schedule/sles4sap/sap_deployment_automation_framework/ensa2_scenarios.yml
  schedule/sles4sap/sap_deployment_automation_framework/sdaf_cleanup.yml
  t/18_saputils.t
  tests/sles4sap/redirection_tests/ensa2_hanadb_sapcontrol_move_ascs.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Deploy sle16 hyperv and vmware schedule
  schedule/virt_autotest/sle16_default_svirt.yaml
  tests/installation/bootloader_hyperv.pm
Owners: none

Add individual package installation
  data/yam/agama/auto/template.libsonnet
Owners: none

SDAF deployment retention fixes
  data/sles4sap/sap_deployment_automation_framework/SAP_SYSTEM.tfvars
  data/sles4sap/sap_deployment_automation_framework/WORKLOAD_ZONE.tfvars
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  lib/sles4sap/sap_deployment_automation_framework/deployment_connector.pm
  t/20_sdaf_deployment_library.t
  tests/sles4sap/sap_deployment_automation_framework/configure_deployer.pm
  tests/sles4sap/sap_deployment_automation_framework/create_deployer_vm.pm
  tests/sles4sap/sap_deployment_automation_framework/deploy_sap_systems.pm
  tests/sles4sap/sap_deployment_automation_framework/deploy_workload_zone.pm
  tests/sles4sap/sap_deployment_automation_framework/execute_playbooks.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add test for selecting grub2-bls during install
  lib/main_micro_alp.pm
  tests/installation/configure_bls.pm
  variables.md
Owners: @mloviska, @jlausuch, @ricardobranco777

Deploy sle16 hyperv and vmware schedule
  schedule/virt_autotest/sle16_default_svirt.yaml
  tests/installation/bootloader_hyperv.pm
Owners: none

Enable terraform peering for Azure
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_maintenance.yaml
  lib/qesapdeployment.pm
  tests/sles4sap/publiccloud/hana_sr_schedule_deployment.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add test for selecting grub2-bls during install
  lib/main_micro_alp.pm
  tests/installation/configure_bls.pm
  variables.md
Owners: @mloviska, @jlausuch, @ricardobranco777

HPC: Increase the mpirun timeout
  tests/hpc/spack_master.pm
Owners: @b10n1k, @schlad

Fix copyright
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Attempt to fix console login with selinux enabled
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Update header summary, unfix image tag, improve checks and cleanup
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Audit log record
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Simplify configuration addition
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
