Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Move one ipaddr2 dependency on qesap (#21840)
  lib/sles4sap/ipaddr2.pm
  t/22_ipaddr2.t
  tests/sles4sap/ipaddr2/cluster_create.pm
  tests/sles4sap/ipaddr2/configure.pm
  tests/sles4sap/ipaddr2/destroy.pm
  tests/sles4sap/ipaddr2/network_peering.pm
  tests/sles4sap/ipaddr2/patch_system.pm
  tests/sles4sap/ipaddr2/registration.pm
  tests/sles4sap/ipaddr2/sanity_cluster.pm
  tests/sles4sap/ipaddr2/sanity_os.pm
  tests/sles4sap/ipaddr2/test_move_resource.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: 751e63a43ab0c855a1dea32583ee9f222a9ed53e
  sles4sap/ipaddr2.html
Owners: none

Enable also for grub_bls after rebasing on #21697
  lib/main_common.pm
Owners: none

Simplify code in installation/disk_boot
  tests/installation/disk_boot.pm
Owners: none

Reboot system after TPM enrollment
  tests/console/sdbootutil_enroll.pm
Owners: none

Schedule sdbootutil_enroll
  lib/main_common.pm
Owners: none

Add disk boot module for sdboot and grub-bls
  tests/installation/disk_boot.pm
Owners: none

Enable sdboot during TW installation
  lib/main_common.pm
Owners: none

Remove unnecessary get_var
  lib/utils.pm
Owners: none

Add runtime variable to control disk unlocking
  lib/utils.pm
  tests/console/sdbootutil_enroll.pm
  variables.md
Owners: none

Rename disk_boot to avoid confusion
  lib/main_common.pm
  tests/installation/simple_boot.pm
Owners: none

Schedule disk_boot if bootloader isn't grub
  lib/main_common.pm
Owners: none

Omit grub_set_bootargs if bootloader isn't grub
  lib/main_common.pm
Owners: none

Be more explicit when checking variables
  lib/main_common.pm
Owners: none

Schedule disable_grub_timeout if bootloader is grub
  lib/main_common.pm
Owners: none

Add schedule for gnome-sdboot-fde test
  schedule/systemd-boot/sdboot-fde.yaml
Owners: none

Unschedule boot_encrypt, system is already booted
  lib/main_common.pm
Owners: none

Change expect script for script_run_interactive
  tests/console/sdbootutil_enroll.pm
Owners: none

Add test to enroll TPM in FDE
  tests/console/sdbootutil_enroll.pm
  tests/installation/disk_boot.pm
Owners: none

Don't return early if flavor is DVD on grub-bls
  tests/installation/bootloader_uefi.pm
Owners: none

Added repository validation
  schedule/yam/agama.yaml
  test_data/yam/agama_sle.yaml
  tests/yam/validate/validate_repositories.pm
Owners: none

Updated syntax of repo validation
  tests/yam/validate/validate_repositories.pm
Owners: none

Added HA repository validation
  schedule/yam/agama_extensions_and_patterns_unattended.yaml
  test_data/yam/agama_ha.yaml
Owners: none

Remove deprecated HA commands and CLI options to crm_mon
  lib/hacluster.pm
  schedule/ha/bv/ha_crash_test_node.yaml
  schedule/ha/bv/haproxy_hawk_node.yaml
  schedule/ha/bv/migration/migration_rolling_upgrade.yaml
  schedule/ha/bv/pacemaker_cts_node.yaml
  schedule/ha/qam/common/qam_cluster_node.yaml
  schedule/ha/qam/common/qam_haproxy_hawk_node.yaml
  schedule/ha/qam/common/qam_migration_rolling_upgrade.yaml
  schedule/sles4sap/netweaver/netweaver_cluster_node.yaml
  schedule/sles4sap/netweaver/netweaver_cluster_systemd.yaml
  t/11_hacluster.t
  tests/ha/check_after_reboot.pm
  tests/ha/ctdb.pm
  tests/ha/ha_cluster_init.pm
  tests/ha/ha_cluster_join.pm
  tests/ha/remove_node.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Select root-console without assert and clean
  lib/hacluster.pm
  t/11_hacluster.t
  tests/ha/check_hawk.pm
  tests/ha/dlm.pm
  tests/ha/fencing.pm
  tests/ha/ha_cluster_crash_test.pm
  tests/ha/priority_fencing_delay.pm
  tests/ha/qnetd.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add alternative to cs_wait_for_idle when not present
  lib/hacluster.pm
  t/11_hacluster.t
  tests/ha/filesystem.pm
  tests/ha/haproxy.pm
  tests/sles4sap/ensa/ensa2_web_methods_checks.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix iSCSI devices persistence on node reboot
  tests/ha/iscsi_client_setup.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Remove installation of ClusterTools2 in hana_install module
  tests/sles4sap/hana_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Improve sles4sap::check_instance_state
  lib/sles4sap.pm
  tests/sles4sap/netweaver_patch.pm
  tests/sles4sap/sap_suse_cluster_connector.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Close terminal session and reset consoles in ha/await_upgrade_or_update
  tests/ha/await_upgrade_or_update.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix get test data for repo validation
  tests/yam/validate/validate_repositories.pm
Owners: none

Added HA repository Alias
  test_data/yam/agama_ha.yaml
Owners: none

Fixed repository ternary operator
  tests/yam/validate/validate_repositories.pm
Owners: none

containers: Introduce BATS_PATCHES
  lib/containers/bats.pm
  tests/containers/bats/README.md
  tests/containers/bats/aardvark.pm
  tests/containers/bats/buildah.pm
  tests/containers/bats/netavark.pm
  tests/containers/bats/podman.pm
  tests/containers/bats/runc.pm
  tests/containers/bats/skopeo.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Use latest hack/bats in podman tests
  lib/containers/bats.pm
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Support vgpu passthrough test on sle15sp7
  data/virt_autotest/guest_params_xml_files/sles_15_sp7_64_kvm_hvm_uefi_non_secure_boot_x86_64.xml
  schedule/virt_autotest/vgpu_tests.yaml
  tests/virt_autotest/vgpu.pm
Owners: none

Change `PRETTY_NAME` check value for sle16
  tests/console/check_os_release.pm
Owners: none

Update packages testing for ansible
  schedule/qam/15-SP4/mau-extratests-phub.yaml
  schedule/qam/15-SP5/mau-extratests-phub.yaml
  schedule/qam/15-SP6/mau-extratests-phub.yaml
  schedule/qam/15-SP7/mau-extratests-phub.yaml
  schedule/qam/common/mau-extratests1.yaml
  tests/console/ansible.pm
Owners: @pdostal

Revert "Set PAGER=more for serial console"
  lib/serial_terminal.pm
Owners: none

Revert "lib/bootloader_setup: Add check for SLE16 in add_custom_grub_entries"
  lib/bootloader_setup.pm
Owners: none
