Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Fix SDAF OSD 15SP7 deploy_HanaSR failure
  lib/sles4sap/sap_deployment_automation_framework/configure_sap_systems_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/deployment_connector.pm
  t/34_sdaf_configure_sap_systems_tfvars.t
  tests/sles4sap/sap_deployment_automation_framework/deploy_sap_systems.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add file for setup sleperf environment
  schedule/sle-perf/setup_host.yaml
  tests/kernel_performance/install_sleperf.pm
Owners: none

containers: Allow flexible BATS_URL
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Log package/OS version in TAP file
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers/bats: Introduce switch_to_root
  lib/containers/bats.pm
  tests/containers/bats/aardvark.pm
  tests/containers/bats/buildah.pm
  tests/containers/bats/netavark.pm
  tests/containers/bats/podman.pm
  tests/containers/bats/runc.pm
  tests/containers/bats/skopeo.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add support for SLES 16.0 guest installation with br0
  lib/guest_installation_and_configuration_base.pm
Owners: none

deploy: 6e6d8297da04c4ec8f02bbe6b868c259a1d96f51
  guest_installation_and_configuration_base.html
Owners: none

Fix name in Elemental schedule
  schedule/elemental/validate_generate_image.yaml
Owners: none

Change required var to use new name
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Adapt minimum size warning for EFI on aarch64
  test_data/yast/opensuse/btrfs/btrfs+warnings_aarch64.yaml
Owners: none

containers/bats: Introduce run_command wrapper
  lib/containers/bats.pm
  tests/containers/bats/README.md
  tests/containers/bats/buildah.pm
  tests/containers/bats/netavark.pm
  tests/containers/bats/podman.pm
  tests/containers/bats/runc.pm
  tests/containers/bats/skopeo.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers/bats: Add zypper command to list
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add basic tests for Unified Core/Elemental3
  schedule/elemental3/generate_image.yaml
  schedule/elemental3/test_image.yaml
  tests/elemental3/generate_image.pm
  tests/elemental3/test_image.pm
Owners: none

adds PrivateRegistry helm
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers/bats: No need for special value none anymore
  lib/containers/bats.pm
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

deploy: f9405dc606d876bd79d40bf7de5bc071e2c60fc9
  sles4sap/sap_deployment_automation_framework/configure_sap_systems_tfvars.html
Owners: none

Install eog as it cannot be installed by default
  tests/x11/exiv2.pm
Owners: none

Test Agama post-partitioning scripts
  data/yam/agama/auto/lib/scripts_post_partitioning.libsonnet
  data/yam/agama/auto/sles_packages_ppc64le.jsonnet
  data/yam/agama/auto/sles_packages_s390x.jsonnet
  data/yam/agama/auto/template.libsonnet
  schedule/yam/agama_extended_unattended.yaml
  schedule/yam/agama_extended_unattended_ppc64le.yaml
  schedule/yam/agama_extended_unattended_s390x.yaml
  tests/yam/validate/validate_post_partitioning.pm
Owners: none

containers/bats: Ignore error on rm
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers/bats: Add missing env command
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

ENSA2 kill sapinstance ERS test
  lib/hacluster.pm
  lib/sles4sap/sap_host_agent.pm
  lib/sles4sap/sapcontrol.pm
  schedule/sles4sap/sap_deployment_automation_framework/ensa2_scenarios.yml
  t/11_hacluster.t
  t/30_sapcontrol.t
  t/31_sap_host_agent.t
  tests/sles4sap/redirection_tests/ensa2_kill_sapinstance_ers.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add validation to check of installed repos
  schedule/functional/sle16/agama-create-hdd-textmode.yaml
  schedule/yam/agama_auto.yaml
  schedule/yam/agama_extensions_and_patterns_unattended.yaml
  tests/yam/validate/validate_repositories.pm
Owners: none

deploy: f0a693055b3a479e39cead05f0052ddf2b2f00ce
  hacluster.html
  sles4sap/sap_host_agent.html
  sles4sap/sapcontrol.html
Owners: none

Use retry mechanism for GetSystemInstanceList
  lib/sles4sap/sapcontrol.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

containers/bats: Use mktemp output to create directory
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers/bats: Drop code for 15-SP3
  lib/containers/bats.pm
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers/bats: Add timing information to .tap files
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers/bats: Skip PASS for empty test
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Skip podmansh on MicroOS
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Update YAML to enable NW cluster pvm test for sle16
  schedule/sles4sap/sles4sap_agama_auto_install_pvm_test.yaml
  tests/sles4sap/netweaver_filesystems.pm
  tests/sles4sap/patterns.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add TPM FDE YAML schedule with shutdown
  schedule/security/agama_tpm_fde_unattended.yaml
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

containers/bats: Fix bats_skip_notok for corner case
  data/containers/bats_skip_notok.py
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add snapper_zypp back on SLES16.0
  lib/repo_tools.pm
  schedule/functional/extra_tests_textmode_sle16.yaml
  tests/console/zypper_lr_validate.pm
Owners: none

Agama headless installation
  schedule/yam/agama_headless.yaml
  schedule/yam/agama_headless_pvm.yaml
  schedule/yam/agama_headless_s390x.yaml
  tests/yam/agama/agama.pm
  tests/yam/agama/boot_agama.pm
  tests/yam/agama/validate_headless.pm
Owners: none

Update container registry links
  lib/containers/urls.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Create sles_gnome and sles_gnome_unattended installations
  schedule/yam/agama_gnome.yaml
  schedule/yam/agama_gnome_s390x.yaml
  schedule/yam/agama_gnome_unattended.yaml
Owners: none

Update 15sp7 autoyast profiles to open sshd service in mini installation
  data/autoyast_sle15/mini_s390x.xml
  data/yam/autoyast/create_hdd_textmode_powervm.xml
  data/yam/autoyast/mini_desktop_remote.xml
  schedule/yast/autoyast/autoyast_mini_spvm.yaml
Owners: none

Fix toolbox test on MicroOS
  tests/microos/toolbox.pm
Owners: @mloviska, @ricardobranco777

Drop of not required parameter which causing issues
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Add SLES+HA agama auto jsonnet files
  data/ha/agama/sles_ha_default.jsonnet
  data/ha/agama/sles_ha_default_pvm.jsonnet
  data/ha/agama/sles_ha_default_s390x_kvm.jsonnet
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot
