Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

Remove duplicate skipped testcases from XML result files
  data/virt_autotest/kubevirt_tests/junit-noframes.xsl
  data/virt_autotest/kubevirt_tests/remove_dup_skipped_tests.py
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Control unattened installation on remote worker
  tests/installation/bootloader_s390.pm
  tests/installation/bootloader_zkvm.pm
Owners: none

Refactor FIPS tests
  data/security/autoyast/create_hdd_gnome_x86_64.xml
  data/security/autoyast/create_hdd_textmode_x86_64.xml
  data/security/autoyast/gnome.xml
  data/security/autoyast/textmode.xml
  schedule/security/create_hdd_autoyast/autoyast_qesec.yaml
  schedule/security/extratests_fips_kernelmode.yaml
  schedule/security/fips/autoyast_installation/separate_boot_textmode.yaml
  schedule/security/fips/fips_check_packages_version.yaml
  schedule/security/fips/fips_env_mode_gnome.yaml
  schedule/security/fips/fips_env_mode_textmode_core.yaml
  schedule/security/fips/fips_env_mode_textmode_extra.yaml
  schedule/security/fips/fips_ker_mode_gnome.yaml
  schedule/security/fips/fips_ker_mode_textmode_core.yaml
  schedule/security/fips/fips_ker_mode_textmode_extra.yaml
  schedule/security/fips/fips_krb5client.yaml
  schedule/security/fips/fips_krb5kdc.yaml
  schedule/security/fips/fips_krb5server.yaml
  schedule/security/fips/fips_strongswan.yaml
  schedule/security/fips/fips_stunnel.yaml
  schedule/security/fips/fips_xrdp.yaml
  schedule/security/fips/ipmi/fips_crypt_core.yaml
  schedule/security/fips/ipmi/fips_crypt_kernel.yaml
  schedule/security/fips/ipmi/fips_crypt_tool.yaml
  schedule/security/fips/ipmi/fips_crypt_web.yaml
  schedule/security/fips/ipmi/fips_ker_mode_textmode.yaml
  schedule/security/fips/ipmi/prepare_baremetal_fips.yaml
  schedule/security/fips_crypt_kernel.yaml
  schedule/security/fips_crypt_libica.yaml
  schedule/security/fips_crypt_openjdk.yaml
  schedule/security/fips_crypt_tool.yaml
  schedule/security/fips_env_mode_powervm.yaml
  schedule/security/fips_ker_mode_powervm.yaml
  schedule/security/fips_strongswan.yaml
  schedule/security/stunnel_fips.yaml
  schedule/security/stunnel_fips_maint.yaml
  tests/security/verify_fips_enabled.pm
  tests/x11/seahorse_sshkey.pm
Owners: none

Control unattened installation on remote worker
  tests/installation/bootloader_s390.pm
  tests/installation/bootloader_zkvm.pm
Owners: none

Refactor code for offline host ugprade
  tests/virt_autotest/login_console.pm
  tests/virt_autotest/reboot_and_wait_up_upgrade.pm
Owners: none

Create new lynis baseline for 15-SP7
  data/lynis/baseline-lynis-audit-system-nocolors-15-SP7-aarch64-gnome
  data/lynis/baseline-lynis-audit-system-nocolors-15-SP7-aarch64-textmode
  data/lynis/baseline-lynis-audit-system-nocolors-15-SP7-ppc64le-textmode
  data/lynis/baseline-lynis-audit-system-nocolors-15-SP7-s390x-gnome
  data/lynis/baseline-lynis-audit-system-nocolors-15-SP7-s390x-textmode
  data/lynis/baseline-lynis-audit-system-nocolors-15-SP7-x86_64-gnome
  data/lynis/baseline-lynis-audit-system-nocolors-15-SP7-x86_64-textmode
  schedule/security/lynis/lynis_create_baseline.yaml
  tests/security/lynis/lynis_create_baseline.pm
Owners: none

SDAF PC lib compatibility
  lib/sles4sap/sap_deployment_automation_framework/inventory_tools.pm
  schedule/sles4sap/sap_deployment_automation_framework/hanasr_publiccloud.yml
  tests/sles4sap/sap_deployment_automation_framework/setup_publiccloud_instances.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

containers: Run apt-get upgrade on Ubuntu
  tests/containers/update_host.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

containers: Remove soft-failure for bsc#1232522
  tests/containers/buildah.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

wsl: Support for Win 11 24H2 on Arm64
  data/wsl/Autounattend_Arm64.xml
  lib/windowsbasetest.pm
  tests/wsl/prepare_wsl.pm
Owners: none

wsl/prepare_wsl.pm: Run wsl.exe --update for WSL1 on Win11
  tests/wsl/prepare_wsl.pm
Owners: none

containers: Limit bsc#1232522 soft-failure to 15-SP3
  tests/containers/buildah.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

wsl: Support for Win 11 24H2 on Arm64
  data/wsl/Autounattend_Arm64.xml
  lib/windowsbasetest.pm
  tests/wsl/prepare_wsl.pm
Owners: none

wsl/prepare_wsl.pm: Run wsl.exe --update for WSL1 on Win11
  tests/wsl/prepare_wsl.pm
Owners: none

Update FLAVOR for partition table check in JeOS
  tests/jeos/firstrun.pm
Owners: @mloviska, @ricardobranco777, @rbmarliere

wsl/prepare_wsl.pm: Run wsl.exe --update on Win 11 24H2 only
  tests/wsl/prepare_wsl.pm
Owners: none

wsl/prepare_wsl.pm: Run wsl.exe --update on Win 11 24H2 only
  tests/wsl/prepare_wsl.pm
Owners: none

Quickfix double redirection in upload_agama_logs
  lib/Yam/Agama/agama_base.pm
Owners: none

Refactor bci_collect_stats
  lib/main_containers.pm
  tests/containers/bci_collect_stats.pm
  tests/containers/bci_version_check.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777, @rbmarliere

Do not reset console on s390x
  tests/security/cc/misc.pm
Owners: none

Add networkmanager test for slem on powerVM
  tests/microos/networkmanager.pm
Owners: @mloviska, @ricardobranco777, @rbmarliere

Remove duplicate skipped testcases from XML result files
  data/virt_autotest/kubevirt_tests/junit-noframes.xsl
  data/virt_autotest/kubevirt_tests/remove_dup_skipped_tests.py
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Do not execute syscall_thrasher on s390x
  schedule/security/atsec_tests.yaml
Owners: none

deploy: 38ea6532bc1f13c54cf2849c68f462414e4549c1
  sles4sap/sap_deployment_automation_framework/inventory_tools.html
Owners: none

console/ping: Use command instead of which to get full pathname
  tests/console/ping.pm
Owners: none

Change USE_SAPCONF usage
  lib/sles4sap_publiccloud.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix mr_test Ansible for LTSS
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Boot Agama in OSD in PowerVM
  lib/Distribution/Opensuse/AgamaDevel.pm
  lib/Yam/Agama/Pom/AgamaUpAndRunningPage.pm
  lib/Yam/Agama/Pom/GrubCmdPage.pm
  lib/Yam/Agama/Pom/GrubMenuAgamaPage.pm
  lib/Yam/Agama/Pom/GrubMenuBasePage.pm
  lib/Yam/Agama/Pom/GrubMenuSlesPage.pm
  lib/bootloader_pvm.pm
  tests/yam/agama/boot_agama.pm
Owners: none

Enable docker testing in sle12sp5 LTSS in aarch64
  lib/containers/common.pm
  lib/containers/container_images.pm
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere, @jlausuch

Fix mr_test Ansible for LTSS (#20785)
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fixed data_url,err handling,ind component install
  data/aistack/aistack_values.yaml
  data/aistack/milvus_totest.yaml
  data/aistack/milvus_values.yaml
  data/aistack/ollama_totest.yaml
  data/aistack/ollama_values.yaml
  data/aistack/open_webui_totest.yaml
  data/aistack/open_webui_values.yaml
  tests/publiccloud/create_aistack_env.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

Remove duplicate skipped testcases from XML result files
  data/virt_autotest/kubevirt_tests/junit-noframes.xsl
  data/virt_autotest/kubevirt_tests/remove_dup_skipped_tests.py
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Run terraform destroy before retrying terraform apply
  lib/qesapdeployment.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Remove unnecessary needles from ipxe install for virt tests
  tests/installation/ipxe_install.pm
Owners: none

debug: install 15sp5 ltss guests
  tests/virt_autotest/install_package.pm
Owners: none

Avoid conflicts when installing packages from other sources
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Ensure dialog Password_needed is reached
  schedule/yast/yast2_gui/yast2_gui_sle.yaml
  tests/yast2_gui/yast2_security.pm
Owners: none

Remove softfailure bsc#1231658
  lib/Distribution/Opensuse/AgamaDevel.pm
  lib/Yam/Agama/Pom/GrubMenuBaseBug1231658Page.pm
Owners: none

Quickfix for upload_agama_logs
  lib/Yam/Agama/agama_base.pm
Owners: none

Ignore bsc#1231457 for journal_check
  data/journal_check/bug_refs.json
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis @rbmarliere
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati @rbmarliere
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/qesapdeploymnet.pm @mpagot @rbmarliere

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777 @rbmarliere

# Transactional systems
products/microos/ @mloviska @ricardobranco777 @rbmarliere
tests/microos/ @mloviska @ricardobranco777 @rbmarliere
products/sle-micro/ @mloviska @ricardobranco777 @rbmarliere
products/alp/ @mloviska @ricardobranco777 @rbmarliere
tests/jeos/ @mloviska @ricardobranco777 @rbmarliere
tests/transactional/ @mloviska @ricardobranco777 @rbmarliere
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777 @rbmarliere

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
