Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Simplify sssd_389ds_functional test
  tests/console/sssd_389ds_functional.pm
Owners: none

Refactor RMT helm chart test
  lib/containers/helm.pm
  tests/containers/charts/rmt.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Refactor PrivateRegistry test
  lib/containers/helm.pm
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Tidy!
  lib/containers/helm.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Refactor dbus_service_exposure
  lib/eal4_test.pm
  tests/security/eal4/dbus_fuzzer.pm
  tests/security/eal4/dbus_services_exposure.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Re-enable lftp on SLE16
  schedule/security/fips/sle16/fips_ker_mode_textmode_extra.yaml
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

xfstests: Remove mount process in some nfs version
  tests/xfstests/partition.pm
Owners: none

Add sle15sp7 MU Virtualization test - poo180254
  data/virtualization/autoyast/host_15.xml.ep
  lib/virt_autotest/common.pm
  schedule/virtualization/vmware_hyperv.yaml
Owners: none

Feedback
  tests/containers/charts/privateregistry.pm
  tests/containers/charts/rmt.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Updates description
  lib/containers/helm.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

update_kernel: Use full patch on transactional system
  tests/kernel/update_kernel.pm
Owners: none

Ignore PPTT table found, but unable to locate core
  data/journal_check/bug_refs.json
Owners: none

Bootloader svirt updated with hdd copy in datastore
  tests/installation/bootloader_svirt.pm
Owners: none

Bootloader svirt: image pre-cleanup not added
  tests/installation/bootloader_svirt.pm
Owners: none

bats: Use git-apply instead of patch for merging patches
  lib/containers/bats.pm
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Apply PR#25792 to unignore 080-pause in podman
  data/containers/bats/skip.yaml
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Upgrade gce providers
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Upgrade azure providers
  data/publiccloud/terraform/azure.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Upgrade aws providers
  data/publiccloud/terraform/ec2.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

bats: Install git from backports
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Incorporate upstream patches into osado
  data/containers/bats/patches/netavark/1191.patch
  data/containers/bats/patches/podman/21875.patch
  data/containers/bats/patches/podman/25792.patch
  data/containers/bats/patches/podman/25918.patch
  data/containers/bats/patches/podman/25942.patch
  data/containers/bats/patches/podman/26017.patch
  data/containers/bats/skip.yaml
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Tweak helm full registry path var usage
  lib/containers/helm.pm
  variables.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add wireshark cli test
  tests/console/wireshark_cli.pm
Owners: none

NFS: Simple tweaks for sle16
  tests/kernel/nfs_client.pm
  tests/kernel/nfs_server.pm
Owners: none

Update public cloud terraform providers (#22156)
  data/publiccloud/terraform/azure.tf
  data/publiccloud/terraform/ec2.tf
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Add more tests which are running on sle15sp7 but not on sle16 yet
  schedule/functional/sle16/extra_tests_textmode_phub.yaml
  schedule/functional/sle16/system_performance.yaml
  tests/console/btrfs_balance.pm
  tests/console/libgit2.pm
  tests/console/wpa_supplicant.pm
  tests/console/zypper_lifecycle.pm
  tests/locale/keymap_or_locale.pm
  tests/network/cifs.pm
  tests/systemd_testsuite/prepare_systemd_and_testsuite.pm
Owners: none

bats: Minor fixes
  data/containers/bats/skip.yaml
  lib/containers/bats.pm
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add wireshark cli test
  schedule/functional/sle16/extra_tests_textmode.yaml
  tests/console/wireshark_cli.pm
Owners: none

Check for oversized files via GitHub action
  .github/workflows/check-file-size.yaml
Owners: none

NFS mm schedule: Run stress_ng on Tumbleweed
  schedule/storage/nfs.yaml
Owners: none

nvidia: Move reusable code from Public Cloud into a new library
  lib/nvidia_utils.pm
  tests/publiccloud/nvidia.pm
  variables.md
Owners: @b10n1k

deploy: 2afbeb448d8e0832aac23e999aad2b28e4e32498
  index.html
  nvidia_utils.html
Owners: none

Tidy
  lib/containers/helm.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Support SEV-ES guest installation on SLE16
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_sev_es_x86_64_agama_online_iso.xml
  schedule/virt_autotest/sle16_guest_installation.yaml
Owners: none

Install virt-bridge-setup package during host agam installation
  data/virt_autotest/host_unattended_installation_files/agama/sle16.jsonnet
Owners: none

Split Helm functons into a utils library (#22129)
  lib/containers/helm.pm
  tests/containers/charts/privateregistry.pm
  tests/containers/charts/rmt.pm
  variables.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

deploy: a9a4ebcb074f64073042059e5041c344b4bad5df
  containers/helm.html
  index.html
Owners: none

containers: Install git earlier to be able to clone
  lib/containers/bats.pm
  tests/containers/bats/buildah.pm
  tests/containers/bats/podman.pm
  tests/containers/bats/runc.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

elemental3: add system extensions and RKE2 test
  data/elemental3/config.sh
  tests/elemental3/generate_image.pm
  tests/elemental3/test_image.pm
Owners: none

micro: Improve grub console configuration on bare metal
  tests/microos/install_image.pm
Owners: @mloviska, @ricardobranco777
