Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

xfstests: Skip installation on s390 ppc64 in SLE16
  products/sle/main.pm
  variables.md
Owners: none

Fix import gpg key
  tests/migration/online_migration/yast2_migration.pm
Owners: none

Add support for SLES 16.0 guest installation with br0
  lib/guest_installation_and_configuration_base.pm
Owners: none

Avoid using pager in perf test
  tests/console/perf.pm
Owners: none

xfstests: Create /etc/nfs.conf before sed
  tests/xfstests/partition.pm
Owners: none

WIP
  tests/kernel/blktests.pm
Owners: none

Set PAGER=cat for serial console
  lib/serial_terminal.pm
Owners: none

ENSA2 FS failover fix
  lib/sles4sap/sap_deployment_automation_framework/configure_sap_systems_tfvars.pm
  t/34_sdaf_configure_sap_systems_tfvars.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fixed repo output
  tests/yam/validate/validate_repositories.pm
Owners: none

Fix check_target_version
  lib/transactional.pm
Owners: none

deploy: af2d4e74f74879929ac445f56ac47387808bd6cd
  hacluster.html
Owners: none

update_install: Use solver for conflict patch too
  tests/qam-updinstall/update_install.pm
Owners: none

wip
  tests/kernel/blktests.pm
Owners: none

Added diag of repositories
  tests/yam/validate/validate_repositories.pm
Owners: none

Schedule gurb_test and change grub timeout on sle16
  data/agama_auto/sle_default.jsonnet
  data/agama_auto/sle_default_pvm.jsonnet
  data/agama_auto/sle_default_s390x_kvm.jsonnet
  schedule/functional/sle16/agama-create-hdd-textmode.yaml
  schedule/functional/sle16/agama-create-hdd-textmode_pvm.yaml
Owners: none

Changed command to script_output
  tests/yam/validate/validate_repositories.pm
Owners: none

Skip podmansh on SLEM 6.1
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Added sleep to catch error
  schedule/functional/sle16/agama-create-hdd-textmode.yaml
  tests/yam/validate/validate_repositories.pm
Owners: none

Skip apache_nss on SLES 16
  lib/main_common.pm
Owners: none

containers: Temporarily mute podmansh
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Revert "containers: Temporarily mute podmansh"
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Added repo validation to test
  schedule/functional/sle16/agama-create-hdd-textmode.yaml
Owners: none

containers: Update BATS README
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Improve record_info
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Schedule cloud-init verification after host setup
  lib/main_micro_alp.pm
Owners: @mloviska, @jlausuch, @ricardobranco777

containers: No need to patch hack/bats anymore
  lib/containers/bats.pm
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add test cases for x11 related containers' testing
  lib/main_common.pm
  tests/microos/workloads/x11-container/x11_client.pm
  tests/microos/workloads/x11-container/x11_server.pm
Owners: @mloviska, @ricardobranco777

containers: Use go1.24 for runc upstream tests
  tests/containers/bats/runc.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Use go1.24 for buildah & podman upstream tests
  tests/containers/bats/buildah.pm
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Run ha/filesystem module in root-console for drbd_passive
  tests/ha/filesystem.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Upload SELinux Denials log in public cloud
  lib/publiccloud/basetest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

containers: Avoid patching BATS tests if BATS_URL is specified
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Avoid patching BATS tests if BATS_URL is specified (#21889)
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Assign default value to $qdevice_opt
  tests/ha/ha_cluster_init.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

debug
  lib/publiccloud/basetest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

containers: Move sources download to library
  lib/containers/bats.pm
  tests/containers/bats/aardvark.pm
  tests/containers/bats/buildah.pm
  tests/containers/bats/netavark.pm
  tests/containers/bats/podman.pm
  tests/containers/bats/runc.pm
  tests/containers/bats/skopeo.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: BATS_PATCHES can also be an URL
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Install ncat in bats_setup
  lib/containers/bats.pm
  tests/containers/bats/aardvark.pm
  tests/containers/bats/netavark.pm
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix renaming of _cleanup method to finalize
  tests/publiccloud/azure_aitl.pm
  tests/publiccloud/upload_image.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Add systems-management for QR test
  tests/installation/addon_products_sle.pm
Owners: none
