Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Enable sshd service in jsonnet file
  data/agama_auto/sle_default.jsonnet
  data/agama_auto/sle_default_pvm.jsonnet
  data/agama_auto/sle_default_s390x_kvm.jsonnet
Owners: none

containers: Enable docker buildx tests on some versions of SLE
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Skip zsh on SLES16
  tests/console/shells.pm
Owners: none

containers: docker rmi lacks -a option
  tests/containers/container_engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Skip rootless isolation test on Xen
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Update fake ssh public key for powerVM test
  data/yam/agama/auto/lvm_encrypted_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/scripts_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_lvm_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_ssh_pub_key_ppc64le.jsonnet
Owners: none

Update fake public key for sles_default_no_registration_ppc64le.jsonnet
  data/yam/agama/auto/sles_default_no_registration_ssh_pub_key_ppc64le.jsonnet
Owners: none

Enhance terrform_retry for gcp errors
  lib/qesapdeployment.pm
  t/09_qesapdeployment.t
  tests/sles4sap/publiccloud/qesap_terraform.pm
  tests/sles4sap/qesapdeployment/deploy.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Set default wallpaper and lock screen in Windows unattended install
  data/wsl/Autounattend_UEFI.xml
  data/wsl/UpdateInstall.ps1
  data/wsl/UpdateInstall.vbs
  lib/windowsbasetest.pm
Owners: none

Switch to serial terminal
  tests/console/shells.pm
Owners: none

Better error reporting for shelly script
  data/generalhw_scripts/power_on_off_shelly.sh
Owners: none

install_klp_product: Switch from FTP asset URL to HTTP
  lib/klp.pm
Owners: none

deploy: 7fb3a506767f5bb1c6a443a078e775f5fc7b0627
  qesapdeployment.html
Owners: none

Implement new iscsi client from console
  schedule/ha/bv/basic_cluster_node_sles16.yaml
  schedule/ha/bv/ha_crash_test_node_sles16.yaml
  schedule/ha/bv/ha_priority_fencing_sles16.yaml
  schedule/ha/bv/ha_qdevice_node_sles16.yaml
  schedule/ha/bv/ha_rolling_upgrade_migration_node01_sles16.yaml
  schedule/ha/bv/ha_rolling_upgrade_migration_node02_sles16.yaml
  schedule/ha/bv/haproxy_hawk_node_sles16.yaml
  schedule/ha/bv/migration/migration_rolling_upgrade_sles16.yaml
  schedule/ha/bv/pacemaker_cts_node_sles16.yaml
  schedule/ha/bv/s390x_cluster_sles16.yaml
  schedule/kernel/sles4sap/hana_cluster_node_sles16.yaml
  schedule/sles4sap/ensa/ensa_nodes_sles16.yaml
  schedule/sles4sap/hana/hana_cluster_node_sles16.yaml
  schedule/sles4sap/hana/pvm_hana_cluster_node_sles16.yaml
  schedule/sles4sap/netweaver/netweaver_cluster_node_sles16.yaml
  schedule/sles4sap/netweaver/netweaver_cluster_systemd_sles16.yaml
  tests/ha/iscsi_client_setup.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Expand SLES+HA installation schedule to svirt & pvm_hmc
  schedule/ha/bv/agama_install_sles_ha.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Generate all Agama json profiles using jsonnet profiles
  data/yam/agama/auto/lib/base.libsonnet
  data/yam/agama/auto/lib/scripts_post.libsonnet
  data/yam/agama/auto/lib/scripts_pre.libsonnet
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/lvm_encrypted.jsonnet
  data/yam/agama/auto/lvm_encrypted_no_reg.jsonnet
  data/yam/agama/auto/lvm_multipath_encrypted.jsonnet
  data/yam/agama/auto/sle_default.jsonnet
  data/yam/agama/auto/sle_default_no_reg.jsonnet
  data/yam/agama/auto/sle_lvm.jsonnet
  data/yam/agama/auto/sle_lvm_no_reg.jsonnet
  data/yam/agama/auto/sle_multipath.jsonnet
  data/yam/agama/auto/sle_multipath_no_reg.jsonnet
  data/yam/agama/auto/sle_root_filesystem_ext4.jsonnet
  data/yam/agama/auto/sle_root_filesystem_ext4_no_reg.jsonnet
  data/yam/agama/auto/sle_root_filesystem_xfs.jsonnet
  data/yam/agama/auto/sle_root_filesystem_xfs_no_reg.jsonnet
  data/yam/agama/auto/sles_sap_default.jsonnet
  data/yam/agama/auto/sles_sap_default_no_reg.jsonnet
  data/yam/agama/auto/template.libsonnet
  lib/autoyast.pm
  tests/yam/agama/boot_agama.pm
Owners: none

containers: Fix check_bsc1200623
  tests/containers/rootless_podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Fix skopeo weirdness
  tests/containers/skopeo.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Fix skopeo cleanup
  tests/containers/skopeo.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

More comments
  lib/saputils.pm
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

containers: Remove check_bsc1200623
  tests/containers/rootless_podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Enable sshd after sle16 installation
  data/virt_autotest/host_unattended_installation_files/agama/sle16.jsonnet
Owners: none

Stop prepare_non_transactional_server as it failed
  schedule/virt_autotest/sle16_guest_installation.yaml
Owners: none

Add select patter for agama interactive installation
  schedule/yam/agama_software_patterns.yaml
  tests/yam/validate/validate_installed_patterns.pm
Owners: none

Close GIMP welcome page
  tests/x11/flatpak.pm
Owners: none

DPDK iommu
  tests/console/dpdk.pm
Owners: none

Update fake ssh public key for s390x
  data/yam/agama/auto/lvm_encrypted_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_default_no_registration_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_lvm_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_ssh_pub_key.jsonnet
Owners: none

Enable SDAF SBD fencing option
  data/sles4sap/sap_deployment_automation_framework/SAP_SYSTEM.tfvars
  data/sles4sap/sap_deployment_automation_framework/WORKLOAD_ZONE.tfvars
  lib/sles4sap/sap_deployment_automation_framework/configure_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/networking.pm
  t/27_sdaf_configure_tfvars.t
  t/28_sdaf_networking.t
  tests/sles4sap/redirection_tests/hana_cluster_check.pm
  tests/sles4sap/sap_deployment_automation_framework/deploy_sap_systems.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: 5ac24335662c402bc6163a2262ac392a1ab90c47
  sles4sap/sap_deployment_automation_framework/configure_tfvars.html
  sles4sap/sap_deployment_automation_framework/networking.html
Owners: none

deploy: 6fba14ed3d8e70955ff2ea2998e33b770d3316cc
  autoyast.html
Owners: none

Increase timeout for network operations
  tests/installation/bootloader_zkvm.pm
Owners: none

Add CI check for jsonnet
  .github/workflows/ci.yml
  Makefile
  tools/check_jsonnet
Owners: none

Enable sshd after sle16 installation
  data/virt_autotest/host_unattended_installation_files/agama/sle16.jsonnet
Owners: none

Stop prepare_non_transactional_server as it failed
  schedule/virt_autotest/sle16_guest_installation.yaml
Owners: none

Copy agama jsonnets for SLES for SAP to data/sles4sap/agama
  data/sles4sap/agama/sles_sap_default.jsonnet
  data/sles4sap/agama/sles_sap_default_ppc64le.jsonnet
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix release notes url check
  tests/installation/release_notes_from_url.pm
Owners: none

Add CI check for jsonnet (option2)
  .github/workflows/ci.yml
  Makefile
  tools/check_jsonnet
Owners: none

netavark: macvlan testing in PC
  tests/containers/podman_netavark.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Enable ssh service for remote backends in openSUSE
  tests/installation/installation_overview.pm
Owners: none

SAPHanaSR-showAttr output is now parsed to decode_json() like format
  lib/saputils.pm
  lib/sles4sap_publiccloud.pm
  t/12_sles4sap_publicccloud.t
  t/18_saputils.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot
