Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

minor fix
  lib/transactional.pm
Owners: none

Fix the 15-SP2 sriov test issue
  lib/main_common.pm
Owners: none

Add kdump over NFS test
  lib/kdump_utils.pm
  schedule/storage/nfstest.yaml
  tests/kernel/kdump_over_nfs.pm
  tests/kernel/nfs_barriers.pm
Owners: none

bats/runc: Ignore checkpoint test as root
  data/containers/bats/skip.yaml
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Add documentation about skip.yaml
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Simplify scheduling for aardvark-dns
  data/containers/bats/skip.yaml
  lib/containers/bats.pm
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @jlausuch

Send ctrl+c properly in a valid console
  tests/x11/vnc_two_passwords.pm
Owners: none

Use parent class's post_fail_hook to collect logs
  tests/x11/vnc_two_passwords.pm
Owners: none

bats: Fix grep "not ok" for podman
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Enable 16.0 ppc64le Cluster Crash Test Scenario
  schedule/ha/bv/pvm_ha_crash_test_node.yaml
  tests/ha/ha_cluster_crash_test.pm
  tests/ha/setup_hosts_and_luns.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

ping: Add test for ttl=0 s390x bug
  tests/console/ping.pm
Owners: none

Use new google key
  tests/x11/chrome.pm
Owners: none

Drop assert_screen in favor of assert_script_run
  tests/x11/chrome.pm
Owners: none

Fix sub not exported by default
  tests/x11/vnc_two_passwords.pm
Owners: none

Add required addons for sle15sp7 kiwi test
  data/kiwi/appliance_sle15sp7.kiwi
  tests/kiwi_images_test/kiwi_build_image.pm
Owners: none

Minor tweaks for tests when the SUT is not a vanilla installation
  tests/console/aide_check.pm
  tests/console/git.pm
  tests/console/journald_fss.pm
Owners: none

Add missing include for qesap_aws
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Upload agama logs and config during installation
  tests/installation/agama_reboot.pm
Owners: none

run_ltp: Add debug option to collect system-wide oprofile
  tests/kernel/boot_ltp.pm
  tests/kernel/run_ltp.pm
Owners: none

Follow Bugreport SELinux wiki on AVC reporting
  lib/Utils/Logging.pm
Owners: @pdostal

Supress no matches message with raw output
  lib/Utils/Logging.pm
Owners: @pdostal

bats: Move package setting earlier to bats_setup
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

fips: Increase timeout for fips-mode-setup
  tests/fips/fips_setup.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Add perl(Date::Parse) dependency
  cpanfile
  os-autoinst-distri-opensuse-deps.spec
Owners: none

Add qesap regression terraform peering for AWS (#22091)
  data/sles4sap/qe_sap_deployment/qesap_aws_peering.yaml
  tests/sles4sap/qesapdeployment/configure.pm
  tests/sles4sap/qesapdeployment/destroy.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

bats: Unconditionally skip tests if skip variables are set
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add missing include for qesap_aws (#22104)
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

bats: Make it possible to bypass BATS_PATCHES
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: No need for PackageHub
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

TPM tests adjust for SLE16
  tests/security/swtpm/swtpm_env_setup.pm
  tests/security/tpm2/keylime/keylime.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

deploy: 30b6acb85b32758fad5bbfdfedc4ead6f99f95f0
  Utils/Logging.html
  consoletest.html
Owners: none

Add SAPHanaSR-angi test for sle16
  data/sles4sap/angi_hana_cluster.conf
  data/sles4sap/hana_cluster_cln.conf
  data/sles4sap/hana_cluster_msl.conf
  schedule/sles4sap/hana/pvm_hana_cluster_node_sle16.yaml
  tests/ha/fencing.pm
  tests/sles4sap/hana_cluster.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Adjust sizing for SDAF
  data/sles4sap/sap_deployment_automation_framework/custom_sizes.json
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Sync GCP guest_os_features
  lib/publiccloud/gce.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

publiccloud: nvidia: Do minimal driver testing with nvidia-smi
  tests/publiccloud/nvidia.pm
  variables.md
Owners: @b10n1k

bats: Add PackageHub for fakeroot
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Skip 520-checkpoint on podman as we don't support criu
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Enable virtual network management automation test for sle16
  lib/virt_autotest/virtual_network_utils.pm
  schedule/virt_autotest/sle16_guest_installation.yaml
  tests/virt_autotest/libvirt_host_bridge_virtual_network.pm
  tests/virt_autotest/libvirt_isolated_virtual_network.pm
  tests/virt_autotest/libvirt_nated_virtual_network.pm
  tests/virt_autotest/libvirt_routed_virtual_network.pm
  tests/virt_autotest/libvirt_virtual_network_init.pm
Owners: none

git: Delete .ssh first before generating ssh key
  tests/console/git.pm
Owners: none

bats: No need ignore some more tests
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777
