Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

[Virtualization]: Enable sle16 aarch64 guest installation
  data/virt_autotest/guest_params_xml_files/sles_16_kvm_hvm_aarch64_agama_online_iso.xml
  data/virt_autotest/guest_unattended_installation_files/sles_16_plus_kvm_hvm_guest_non_encrypted_storage_aarch64.jsonnet
  lib/guest_installation_and_configuration_base.pm
  schedule/virt_autotest/sle16_guest_installation.yaml
  tests/virt_autotest/uefi_guest_verification.pm
Owners: none

Make vncviewer console able to show up on the top
  tests/virtualization/virt_install.pm
Owners: none

Reinstall tpm2-0-tss on 15-SP6 aarch64
  tests/security/tpm2/tpm2_env_setup.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Added local user credentials assert screen timeout
  tests/wsl/firstrun.pm
Owners: none

Add ISCSI_ENABLED terraform variable
  data/sles4sap/qe_sap_deployment/mr_test_azure.yaml
  data/sles4sap/qe_sap_deployment/mr_test_azure_uri.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_maintenance.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_uri.yaml
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Export OS_PRETTY_NAME
  tests/containers/bci_test.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix jsonnet not found on ppc64le
  lib/autoyast.pm
Owners: none

wireshark_cli: Increase retry in script_retry
  tests/console/wireshark_cli.pm
Owners: none

Revert "Export OS_PRETTY_NAME"
  tests/containers/bci_test.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Sectors do not change after migration
  tests/microos/image_checks.pm
Owners: @mloviska, @ricardobranco777

deploy: a0732851174c1a970e4447f70906d7bc6b8af573
  sles4sap/sap_deployment_automation_framework/deployment.html
Owners: none

Allow /srv/svn to work under selinux
  tests/security/libserf/libserf.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Fix the container suseconnect plugin test
  lib/containers/container_images.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix SDAF get_credential call
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Match uefi boot manager before quit qemu
  tests/qemu/qemu.pm
Owners: none

jeos: Validate that SELinux is in enforcing mode
  tests/jeos/firstrun.pm
Owners: @mloviska, @ricardobranco777

Switch to /srv/www/svn so selinux policy applies
  tests/security/libserf/libserf.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Apply selinux equivalence to /srv/www/svn/
  tests/security/libserf/libserf.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Generate IPv6 EUI-64 address
  lib/main_common.pm
  schedule/jeos/sle/jeos-base+sdk+desktop.yaml
  schedule/jeos/sle/jeos-extratest-sle12.yaml
  schedule/jeos/sle/jeos-extratest.yaml
  schedule/jeos/sle/jeos-fs_stress.yaml
  schedule/jeos/sle/jeos-ltp.yaml
  schedule/jeos/sle/jeos-main.yaml
  schedule/jeos/sle/jeos12sp5-main.yaml
  schedule/jeos/sle/jeos15sp1-main.yaml
  schedule/jeos/sle/minimalvm-extratest.yaml
  schedule/jeos/sle/minimalvm-main.yaml
  schedule/jeos/sle/minimalvm-toolchains.yaml
  tests/jeos/host_config.pm
Owners: @mloviska, @ricardobranco777

bats: Restrict git-apply to package tests dir
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats/podman: Apply 25942 patch on 15-SP6+
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Generalize IMA test and fix kernel name detection in mokutil_sign
  schedule/security/ima_measure_critical_data.yaml
  tests/security/ima/ima_measure_critical_data.pm
  tests/security/mokutil_sign.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

containers: Remove all zypper-docker related cruft
  lib/containers/container_images.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Add missing --rm in container runs
  lib/containers/container_images.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix for sysm related failures in MU
  lib/Installation/ModuleRegistration/ModuleRegistrationPage.pm
Owners: none

containers: Only print version of container-suseconnect
  lib/containers/container_images.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Increate timeout for drive re-encryption
  tests/jeos/firstrun.pm
Owners: @mloviska, @ricardobranco777

Restore qam-gfxdrivers.yaml schedule
  schedule/qam/common/kernel/gfxdrivers.yaml
Owners: none

Disable grub timeout in SLES for SAP and SLES+HA qcow2
  data/ha/agama/sles_ha_default.jsonnet
  data/sles4sap/agama/sles_sap_default.jsonnet
  schedule/ha/bv/agama_install_sles_ha.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

ENSA2 FS failover fix
  data/sles4sap/sap_deployment_automation_framework/custom_sizes.json
  lib/sles4sap/sap_deployment_automation_framework/configure_sap_systems_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  t/34_sdaf_configure_sap_systems_tfvars.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix schedules for infiniband tests on sle16
  schedule/kernel/ibtest-master.yaml
  schedule/kernel/ibtest-slave.yaml
Owners: none

Changed wsl schedule
  schedule/wsl/wsl_main.yaml
Owners: none

Add set of Google cloud upload flags for SLES 16
  lib/publiccloud/gce.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Don't try to install python, is already installed as python3
  tests/kernel/ibtests_prepare.pm
Owners: none

Replace 'agama profile import' with 'agama config load'
  lib/autoyast.pm
  tests/yam/agama/import_agama_profile.pm
Owners: none

Automate rescue system
  lib/Yam/Agama/Pom/GrubMenuAgamaPage.pm
  test_data/yam/agama_rescue_system.yaml
  tests/yam/agama/boot_agama.pm
Owners: none

Create module to configure SELinux enforcement
  schedule/sles4sap/ensa/ensa_nodes.yaml
  tests/sles4sap/configure_selinux_policy.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Workaround for bsc#1244437
  tests/ha/priority_fencing_delay.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Changed to null
  schedule/wsl/wsl_main.yaml
Owners: none

Update SLES16 VM os variant
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_sev_es_x86_64_agama_online_iso.xml
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_x86_64_agama_full_iso.xml
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_x86_64_agama_online_iso.xml
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_x86_64_qcow_ignition+combustion.xml
Owners: none
