Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

nvidia: Add kernel baremetal test
  tests/kernel/nvidia.pm
Owners: none

lib/nvidia_utils: Add "reboot" option to install()
  lib/nvidia_utils.pm
  tests/kernel/nvidia.pm
Owners: none

elemental3: add system extensions and RKE2 test
  data/elemental3/config.sh
  tests/elemental3/generate_image.pm
  tests/elemental3/test_image.pm
Owners: none

install_patterns: Workaround GDM crash on 15-SP7 ppc64le
  lib/opensusebasetest.pm
Owners: none

Add bsc#1218471 to the journal check bug refs
  data/journal_check/bug_refs.json
Owners: none

PC: Add ssh precheck to ssh_interactive_tunnel()
  lib/publiccloud/ssh_interactive.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Rename agama_create_swtpm_hdd
  schedule/security/sle16/agama_fde_tpm_installation.yaml
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

deploy: 5ded69c203e2c6df311bcfd8e20013401a5791de
  nvidia_utils.html
Owners: none

Update bootloader timeout parameter
  tests/installation/disable_grub_timeout.pm
Owners: none

Add tests for TPM+PIN enrollment
  lib/utils.pm
  tests/jeos/firstrun.pm
  variables.md
Owners: @mloviska, @ricardobranco777

Changed mirror.suse.cz to download.suse.de URL in AutoYast template
  data/yam/autoyast/sles15sp3+_create_hdd_gnome_unregistered_no_self_update.xml.ep
Owners: none

Bootloader svirt updated with hdd copy in datastore
  tests/installation/bootloader_svirt.pm
Owners: none

Bootloader svirt: test provide_image_vmware_in_ds
  tests/installation/bootloader_svirt.pm
Owners: none

Change default behaviour to use TPM (no PIN)
  lib/utils.pm
  tests/jeos/firstrun.pm
  variables.md
Owners: @mloviska, @ricardobranco777

containers: Re-enable busybox image on s390x/ppc64le
  tests/containers/isolation.pm
  tests/containers/podman_netavark.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Remove comment indentation to make CI happy
  tests/jeos/firstrun.pm
Owners: @mloviska, @ricardobranco777

Adjust openvpn test for SLE16
  tests/network/openvpn_server.pm
Owners: @pdostal

Update swtpm aarch64 config
  data/swtpm/swtpm_uefi_aarch64.xml
Owners: none

Select correct repos for gnome aswell
  schedule/functional/leap16/agama_create_hdd_gnome_leap.yaml
Owners: none

autoyast_qam: Add support to SLE 15 for installation disk by WWN
  data/autoyast_qam/15_installation.xml.ep
Owners: none

autoyast_qam: Add option to SLE 15 to disable GRUB graphics
  data/autoyast_qam/15_installation.xml.ep
Owners: none

Revert "Handle 15-SP7 sle-we license agreement"
  lib/registration.pm
Owners: none

reject external dhcp offers for kea tests
  tests/containers/bci_test.pm
  variables.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Reset consoles after reboot
  tests/yam/agama/agama_auto.pm
Owners: none

kea: Add soft fail for bsc#1243797
  tests/network/kea_server.pm
Owners: none

install_klp_product: Extend kernel-rt livepatch workaround
  lib/klp.pm
Owners: none

Add PoC for console_redirection in qesap
  lib/sles4sap_publiccloud.pm
  schedule/sles4sap/qesapdeploy/qesap.yml
  tests/sles4sap/qesapdeployment/test_console_redirection.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

install_image: Add option to find target disk by WWN
  tests/microos/install_image.pm
Owners: @mloviska, @ricardobranco777

PC: aws_cli wait until instance is removed
  tests/publiccloud/aws_cli.pm
  tests/publiccloud/azure_cli.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Enable terraform IBSm peering in AWS
  data/sles4sap/qe_sap_deployment/sles4sap_aws_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_gcp_generic.yaml
  lib/sles4sap/qesap/qesap_aws.pm
  t/15_qesap_azure.t
  t/16_qesap_aws.t
  tests/sles4sap/publiccloud/network_peering.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Automate SCC RMT product registration
  data/yam/agama/auto/lib/security.libsonnet
  data/yam/agama/auto/template.libsonnet
  schedule/yam/agama_rmt_unattended.yaml
  schedule/yam/agama_rmt_unattended_ppc64le.yaml
  schedule/yam/agama_rmt_unattended_s390x.yaml
  test_data/yam/agama_rmt.yaml
Owners: none

Update code for aaa_base
  tests/console/aaa_base.pm
Owners: none

Add PoC for console_redirection in qesap (#22194)
  lib/sles4sap_publiccloud.pm
  schedule/sles4sap/qesapdeploy/qesap.yml
  tests/sles4sap/qesapdeployment/test_console_redirection.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: b6b786b49f40c52139acff207f25fc01761e6325
  sles4sap_publiccloud.html
Owners: none

Add more tests which are running on sle15sp7 but not on sle16 yet
  schedule/functional/sle16/extra_tests_textmode.yaml
  schedule/functional/sle16/system_performance.yaml
  tests/console/btrfs_balance.pm
  tests/console/libgit2.pm
  tests/console/wpa_supplicant.pm
  tests/console/zypper_lifecycle.pm
  tests/network/cifs.pm
  tests/systemd_testsuite/prepare_systemd_and_testsuite.pm
Owners: none

Add IDPF to GCE Terraform
  data/publiccloud/terraform/gce.tf
  lib/publiccloud/gce.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Clean auditlog in SLE16 on s390x
  tests/security/selinux/selinux_setup.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Added reset_consoles to agama.pm
  tests/yam/agama/agama.pm
Owners: none

Test dovecot
  data/dovecot.tar
  tests/x11/evolution/evolution_prepare_servers.pm
Owners: none

Full drive reencrypt by combustion
  data/microos/butane/script
Owners: none
