Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Fix link protocol for infiniband tests (#21535)
  schedule/kernel/ibtest-master.yaml
  schedule/kernel/ibtest-slave.yaml
Owners: none

init_ltp_tests: Add workaround for DIO performance issue on s390x
  lib/LTP/utils.pm
Owners: none

Do not use b.o.o on <= 15-SP5 bsc#1239835
  lib/web_browser.pm
  tests/console/wget_https.pm
Owners: none

kirk: Use LTP repository by default
  lib/LTP/kirk.pm
Owners: none

Add a schedule to test basic NetWeaver cluster in pvm_hmc
  schedule/sles4sap/pvm_nw_cluster_node.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Addapt HA modules for NetWeaver cluster with no support server
  tests/ha/barrier_init.pm
  tests/sles4sap/netweaver_cluster.pm
  tests/sles4sap/netweaver_filesystems.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Enable iommu on L1 guest for dpdk test
  tests/console/dpdk.pm
Owners: none

Add test module to validate the base product
  schedule/yam/agama.yaml
  schedule/yam/agama_auto.yaml
  schedule/yam/agama_autoyast_supported_ppc64le.yaml
  schedule/yam/agama_autoyast_supported_qemu.yaml
  schedule/yam/agama_autoyast_supported_s390x.yaml
  schedule/yam/agama_from_usb.yaml
  schedule/yam/agama_remote_pvm.yaml
  schedule/yam/agama_remote_s390x.yaml
  schedule/yam/agama_s390x.yaml
  tests/yam/validate/validate_base_product.pm
Owners: none

Create summary screens for different deployment
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  t/20_sdaf_deployment_library.t
  tests/sles4sap/sap_deployment_automation_framework/deploy_sap_systems.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Reduce execution of compile tests
  .github/workflows/ci.yml
  Makefile
Owners: none

Add CI check for jsonnet via python
  .github/workflows/ci.yml
  Makefile
  tools/check_jsonnet
Owners: none

SAPHanaSR-showAttr output is now parsed to decode_json() like format (#21501)
  lib/saputils.pm
  lib/sles4sap_publiccloud.pm
  t/12_sles4sap_publiccloud.t
  t/18_saputils.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: db131ffe4d57c705ec5fdc46c25c563e9169f642
  saputils.html
  sles4sap_publiccloud.html
Owners: none

Exclude syscall_thrasher from encrypted s390x
  tests/security/eal4/syscall_thrasher.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Implement automated testing for SLE 16 Hyper-V
  schedule/virt_autotest/sle16_default_svirt.yaml
  tests/installation/bootloader_hyperv.pm
  tests/yam/agama/agama_auto_without_log.pm
Owners: none

Add unattended installation with individual packages selected
  data/yam/agama/auto/lib/packages.libsonnet
  data/yam/agama/auto/template.libsonnet
Owners: none

Cleanup of Win installation code
  lib/windowsbasetest.pm
  schedule/wsl/update_windows.yaml
  tests/wsl/install/ms_win_firstboot.pm
  tests/wsl/install/ms_win_installation.pm
Owners: none

deploy: c63dac665dee65e4cc74cd7c01f652e4ce99eb72
  sles4sap/sap_deployment_automation_framework/deployment.html
Owners: none

Missed to add the login screen
  tests/wsl/install/ms_win_installation.pm
Owners: none

Support of SAPHanaSR ANGI added for PubC testcases
  lib/sles4sap_publiccloud.pm
  t/12_sles4sap_publiccloud.t
  t/18_saputils.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Added welcome_to_wsl check for build images
  tests/wsl/install_wsl.pm
Owners: none

Extract windows-login to a function
  lib/windowsbasetest.pm
  tests/wsl/install/ms_win_installation.pm
Owners: none

wsl: Ensure wsl --update is run before --no-distribution
  tests/wsl/prepare_wsl.pm
Owners: none

Remove openvswitch_ssl from Tumbleweed schedule
  schedule/functional/extra_tests_misc.yaml
Owners: none

Add test ppc64le on tumbleweed
  schedule/functional/extra_tests_textmode.yaml
  tests/console/velociraptor_client_event_collect.pm
Owners: none

Treat Connection reset by peer as a bug
  data/journal_check/bug_refs.json
Owners: none

Increase cert wait timeout
  tests/console/mutt.pm
Owners: none

Skip tests based on conditions
  tests/console/clamav.pm
  tests/security/apparmor_profile/apache2_changehat.pm
  tests/security/tpm2/tpm2_measured_boot.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Tweak kernel to output all messages in serial terminal
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

AutoYaST compatibility focus on unsupported sections
  data/yam/agama/auto/autoyast_unsupported.xml
Owners: none

Fix s390x booting of Full medium
  tests/installation/bootloader_s390.pm
  tests/installation/bootloader_zkvm.pm
Owners: none

Skip tests based on conditions
  tests/console/clamav.pm
  tests/security/apparmor_profile/apache2_changehat.pm
  tests/security/tpm2/keylime/keylime.pm
  tests/security/tpm2/tpm2_measured_boot.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Simplifying unit tests
  t/12_sles4sap_publiccloud.t
  t/18_saputils.t
Owners: none

wsl: Ensure wsl --update is run before --no-distribution
  tests/wsl/prepare_wsl.pm
Owners: none

Unit tests names make more sense now
  t/12_sles4sap_publiccloud.t
Owners: none

Add --verbose for debugging
  tests/wsl/prepare_wsl.pm
Owners: none

Add --verbose for debugging
  tests/wsl/prepare_wsl.pm
Owners: none

Add test ppc64le on tumbleweed
  schedule/functional/extra_tests_textmode.yaml
  tests/console/velociraptor_client_event_collect.pm
Owners: none

Add setting about hana cli installer
  tests/sles4sap/hana_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Support of SAPHanaSR ANGI added for PubC test cases (#21545)
  lib/sles4sap_publiccloud.pm
  t/12_sles4sap_publiccloud.t
  t/18_saputils.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot
