Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

PowerPC SLE16 boot desktop grub2 jump
  lib/opensusebasetest.pm
Owners: none

bind: Fix bind test on 15-SP7
  J
  tests/console/bind.pm
Owners: none

Legacy java is not present in sle16
  tests/console/java.pm
Owners: none

PC: Upload supportconfig at the same time as other PC specific logs
  lib/publiccloud/basetest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

PC switch to opentofu
  lib/publiccloud/provider.pm
  tests/publiccloud/prepare_tools.pm
  variables.md
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

bats/buildah: Ignore sbom test as root
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Select installation drive by size for OEMDRV
  data/yam/agama/auto/autoinst_aarch64.jsonnet
  data/yam/agama/auto/autoinst_oemdrv.jsonnet
Owners: none

Enable long URLs in s390x zVM
  tests/installation/bootloader_s390.pm
Owners: none

Use agama console during installation instead of root console
  lib/Yam/Agama/agama_base.pm
  lib/Yam/Agama/patch_agama_base.pm
  lib/susedistribution.pm
  tests/yam/agama/import_agama_profile.pm
  tests/yam/agama/patch_agama_tests.pm
Owners: none

Include JeOS images in the check
  lib/version_utils.pm
  t/01_version_utils.t
Owners: none

Simplify conditions
  lib/version_utils.pm
Owners: none

containers: Remove nerdctl tests
  lib/containers/basetest.pm
  lib/containers/containerd_nerdctl.pm
  lib/containers/utils.pm
  lib/main_containers.pm
  tests/containers/containerd_nerdctl.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @jlausuch

Skip EFI verification module
  tests/console/verify_efi_mok.pm
Owners: none

Mark "Updating logout time failed" to be ignored
  data/journal_check/bug_refs.json
Owners: none

Add wireshark cli test
  schedule/functional/extra_tests_textmode.yaml
  schedule/qam/common/mau-extratests1.yaml
  tests/console/wireshark_cli.pm
Owners: none

Adapt postfix + dovecot tests for sle16/tw
  data/dovecot.tar
  tests/console/mta.pm
  tests/x11/evolution/evolution_prepare_servers.pm
Owners: none

Delete unwanted file committed by mistake
  J
Owners: none

kernel: Enhance kselftests runner
  tests/kernel/run_kselftests.pm
Owners: none

wip
  tests/kernel/run_kselftests.pm
Owners: none

bats: Include lsmod output
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats/podman: Apply patch 25858 in SLE 16.0
  data/containers/bats/patches/podman/25858.patch
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Revert "bats: Increase timeout"
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats/podman: Remove 520-checkpoint on non-Tumbleweed
  data/containers/bats/skip.yaml
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Check without setting network parameters
  lib/bootloader_pvm.pm
  tests/installation/bootloader_zkvm.pm
  tests/yam/agama/boot_agama.pm
Owners: none

Validate rmt URI
  test_data/yam/agama_rmt.yaml
Owners: none

Fix kubevirt false positive stall
  lib/transactional.pm
Owners: none

[Virtualization]: Enable sle16 aarch64 guest installation
  data/virt_autotest/guest_params_xml_files/sles_16_kvm_hvm_aarch64_agama_online_iso.xml
  data/virt_autotest/guest_unattended_installation_files/sles_16_plus_kvm_hvm_guest_non_encrypted_storage_aarch64.jsonnet
  lib/guest_installation_and_configuration_base.pm
  schedule/virt_autotest/sle16_guest_installation.yaml
  tests/virt_autotest/uefi_guest_verification.pm
Owners: none

Add publiccloud_multi_module flag to PC NVIDIA
  tests/publiccloud/nvidia.pm
Owners: @b10n1k

bats/podman: Load xfs module
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Added jeos enter_user_details variant
  tests/wsl/firstrun.pm
Owners: none

Collect coredumps in sle-micro tests
  lib/main_micro_alp.pm
Owners: @mloviska, @jlausuch, @ricardobranco777

Fixed enter_user_details run
  tests/wsl/firstrun.pm
Owners: none

containers: Don't run compose test on SLEM 6.0
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Use install-shell console during installation instead of root console
  lib/Yam/Agama/agama_base.pm
  lib/Yam/Agama/patch_agama_base.pm
  lib/susedistribution.pm
  tests/yam/agama/agama_auto.pm
  tests/yam/agama/import_agama_profile.pm
  tests/yam/agama/patch_agama_tests.pm
Owners: none

Add sles-or-sled needle
  tests/wsl/firstrun.pm
Owners: none

Squashed commit of the following:
  tests/installation/bootloader_s390.pm
Owners: none

Added enter-root-password sub
  tests/wsl/firstrun.pm
Owners: none

bats/podman: Limit 520-checkpoint test to Tumbleweed
  data/containers/bats/skip.yaml
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats/podman: Remove 161-volume-quotas test
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fixed typo
  tests/wsl/firstrun.pm
Owners: none
