Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Add libaom test
  data/libaom/input.mp4
  schedule/functional/extra_tests_textmode_mod_desktop.yaml
  schedule/qam/common/mau-extratests-desktop.yaml
  tests/console/libaom.pm
Owners: none

Fix install_qatestset.pm disable service issue
  data/autoyast_hanaperf/agama-config.jsonnet
  tests/kernel_performance/install_qatestset.pm
Owners: none

Add sles gnome unattended case for remote arches
  data/yam/agama/auto/sles_gnome_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_gnome_ssh_pub_key_ppc64le.jsonnet
  schedule/yam/agama_gnome_unattended_ppc64le.yaml
  schedule/yam/agama_gnome_unattended_s390x.yaml
Owners: none

Publish gnome qcow2 image for sle16
  data/agama_auto/sle_default_gnome.jsonnet
  schedule/functional/sle16/agama-create-hdd-gnome.yaml
Owners: none

Remove beta handling from default_x86_64.yaml
  schedule/yast/sle/flows/default_svirt-xen-pv.yaml
  schedule/yast/sle/flows/default_x86_64.yaml
  schedule/yast/sle/flows/default_x86_64_flavor_full.yaml
Owners: none

Remove access_beta_distribution
  schedule/yast/sle/flows/default_svirt-xen-pv.yaml
  schedule/yast/sle/flows/default_x86_64.yaml
  schedule/yast/sle/flows/default_x86_64_flavor_full.yaml
Owners: none

ENSA2 kill sapinstance ASCS test
  lib/hacluster.pm
  lib/sles4sap/sap_host_agent.pm
  schedule/sles4sap/sap_deployment_automation_framework/ensa2_scenarios.yml
  t/11_hacluster.t
  tests/sles4sap/redirection_tests/ensa2_kill_sapinstance.pm
  tests/sles4sap/redirection_tests/ensa2_kill_sapinstance_ers.pm
  tests/sles4sap/redirection_tests/ensa2_schedule_sapinstance_tests.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Make an empty test environment an error
  tests/containers/bci_test.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Resize partitions and make home encryption
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/sles_default_resize_ppc64le.jsonnet
  data/yam/agama/auto/sles_default_resize_s390x.jsonnet
  data/yam/agama/auto/template.libsonnet
  lib/Distribution/Opensuse/AgamaDevel.pm
  lib/Yam/Agama/Pom/EnterPassphraseForHomePage.pm
  lib/filesystem_utils.pm
  schedule/yam/agama_encrypted_unattended.yaml
  schedule/yam/agama_encrypted_unattended_ppc64le.yaml
  schedule/yam/agama_encrypted_unattended_s390x.yaml
  schedule/yam/agama_full_disk_encryption_ppc64le.yaml
  schedule/yam/agama_qcow_unattended.yaml
  schedule/yam/agama_qcow_unattended_ppc64le.yaml
  schedule/yam/agama_qcow_unattended_s390x.yaml
  test_data/yam/agama_resize.yaml
  tests/console/validate_blockdevices.pm
  tests/yam/agama/boot_encrypted.pm
  tests/yam/agama/boot_full_disk_encryption.pm
  tests/yam/agama/boot_home_encryption.pm
Owners: none

deploy: 2fd23738c23e7b955ebb39bf0b332eeb33be6255
  hacluster.html
  sles4sap/sap_host_agent.html
Owners: none

Adds PrivateRegistry helm to main
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Regex
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

semicolon paradise
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

pc: Do not use assertions on cleanup routines
  tests/publiccloud/aws_cli.pm
  tests/publiccloud/azure_cli.pm
  tests/publiccloud/azure_more_cli.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

pc: Do not use assertions on cleanup routines (#21987)
  tests/publiccloud/aws_cli.pm
  tests/publiccloud/azure_cli.pm
  tests/publiccloud/azure_more_cli.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

HA: Install iptables for SLE16
  tests/ha/qnetd.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add mutex to signal when HA barriers are ready to use
  tests/ha/barrier_init.pm
  tests/ha/wait_barriers.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Need to get the dynamic interface name instead of hard-coding eth0
  tests/microos/networkmanager.pm
Owners: @mloviska, @ricardobranco777

underscore madness
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

doom: Fix cleanup by closing window
  tests/x11/doom.py
Owners: none

Remove beta tests from installer_extended schedule
  schedule/yam/test_cases/installer_extended.yaml
Owners: none

Manually installing openssl-3 should not be needed anymore
  tests/fips/fips_setup.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

quote hell
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add ip_cidr_range to GCP HanaSR
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_gcp_generic.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

time-in
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Use proper known_hosts in kirk call for PC LTP
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

PC: Rename provider->cleanup() to teardown()
  lib/publiccloud/azure.pm
  lib/publiccloud/basetest.pm
  lib/publiccloud/ec2.pm
  lib/publiccloud/gce.pm
  tests/publiccloud/azure_cli.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Ignore NTP no majority messages
  data/journal_check/bug_refs.json
Owners: none

Pin jsonnet version to latest working one
  .github/workflows/ci.yml
Owners: none

Add ip_cidr_range to GCP HanaSR (#21995)
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_gcp_generic.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Install libnsl-stub1 for SLE16 bsc1236235 solution
  tests/sles4sap/hana_install.pm
  tests/sles4sap/netweaver_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Check firewalld state and presence in JeOS
  tests/console/firewall_enabled.pm
Owners: none

Fix incorrect DB data collection
  lib/sles4sap/sap_host_agent.pm
  t/31_sap_host_agent.t
  tests/sles4sap/redirection_tests/hana_sr_primary_failover.pm
  tests/sles4sap/redirection_tests/hana_sr_replica_failover.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add ha_barriers_ready mutex creation also in ensa_barriers
  tests/sles4sap/ensa/ensa_barriers.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Checking the bug
  tests/kernel/blktests.pm
Owners: none

wip
  tests/kernel/blktests.pm
Owners: none

wip
  tests/kernel/blktests.pm
Owners: none

Storage: Enable thotl for the SLE16 blktests
  tests/kernel/blktests.pm
Owners: none

Storage: Enable thotl for the SLE16 blktests
  tests/kernel/blktests.pm
Owners: none

wip
  tests/kernel/blktests.pm
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
