Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

t: 01_version_utils: add cases for SELinux defaults in SLES 16 and lower
  t/01_version_utils.t
Owners: none

deploy: 11431845717a7abc502aa4a6fde9fd9ea217a7a7
  containers/engine.html
Owners: none

[Virtualization][MU]: Disable ipv6 forwarding in migration
  lib/parallel_guest_migration_base.pm
Owners: none

xfstests: ignore installation dependencies
  tests/xfstests/install.pm
Owners: none

Add test for bone-installation-wizard
  schedule/qam/common/qam-sle_sles4sap_scc_gnome_bone_wizard.yml
  tests/sles4sap/patterns.pm
  tests/sles4sap/wizard_bone_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Using autoyast install for kubevirt tests
  schedule/virt_autotest/kubevirt-tests-sles.yaml
Owners: none

Avoid mem_encrypt=on due to bsc#1224107
  data/virt_autotest/guest_params_xml_files/sles_15_sp7_64_kvm_hvm_sev_es_x86_64.xml
  data/virt_autotest/host_unattended_installation_files/autoyast/dev_host_12.xml.ep
Owners: none

Using autoyast install for kubevirt tests
  schedule/virt_autotest/kubevirt-tests-sles.yaml
Owners: none

Debug login issue on remote worker
  data/yam/agama/auto/default_sle_no_scc.jsonnet
Owners: none

Rename agama profiles
  data/yam/agama/auto/leap_default.json
  data/yam/agama/auto/leap_gnome.json
  data/yam/agama/auto/sap_default.json
  data/yam/agama/auto/sap_default_no_scc.json
  data/yam/agama/auto/sap_default_no_scc_plain_password.json
  data/yam/agama/auto/sle_default.jsonnet
  data/yam/agama/auto/sle_default_no_scc.jsonnet
  data/yam/agama/auto/sle_default_no_scc_plain_password.json
  data/yam/agama/auto/tumbleweed_default.json
  data/yam/agama/auto/tumbleweed_gnome.json
Owners: none

Add unattended multipath scenario
  data/yam/agama/auto/sle_default_multipath.jsonnet
  lib/Yam/Agama/agama_base.pm
  schedule/yam/agama_auto_multipath.yaml
Owners: none

Enhance rake logic to avoid installing all tests
  tests/yam/agama/patch_agama_tests.pm
Owners: none

Move sapcontrol functions into separate library
  lib/sles4sap.pm
  lib/sles4sap/sapcontrol.pm
  t/17_sles4sap.t
  t/30_sapcontrol.t
  tests/sles4sap/ensa/ensa2_cluster_connector_setup.pm
  tests/sles4sap/ensa/ensa2_cluster_setup.pm
  tests/sles4sap/ensa/ensa2_web_methods_checks.pm
  tests/sles4sap/ensa/netweaver_swpm_installation.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Adapt cloud-init tests to work with IBSm
  lib/sles4sap/ipaddr2.pm
  schedule/sles4sap/cloud-components/ipaddr2.yml
  tests/sles4sap/ipaddr2/cluster_create.pm
  tests/sles4sap/ipaddr2/configure.pm
  tests/sles4sap/ipaddr2/patch_system.pm
  tests/sles4sap/ipaddr2/sanity_cluster.pm
  tests/sles4sap/ipaddr2/test_move_resource.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

xfstests: Support test pNFS
  tests/xfstests/partition.pm
Owners: none

Add profile for unattended installation with lvm
  data/yam/agama/auto/sle_lvm.jsonnet
  schedule/yam/agama_unattended_lvm.yaml
  schedule/yam/agama_unattended_lvm_ppc64le.yaml
  schedule/yam/agama_unattended_lvm_s390x.yaml
Owners: none

Add post script in single jsonnet
  data/yam/agama/auto/post_script.jsonnet
  schedule/yam/agama_remote.yaml
Owners: none

Regenrate EFI secret key before power management
  lib/virt_autotest/utils.pm
  tests/virt_autotest/uefi_guest_verification.pm
Owners: none

deploy: 5cacdd3e5ce6ce1e244469e0580a942fbf171493
  index.html
  sles4sap.html
  sles4sap/sapcontrol.html
Owners: none

Add snapper-zypp-plugin test
  schedule/functional/extra_tests_textmode.yaml
  tests/console/snapper_zypp.pm
Owners: none

xfstests: Handling microos boot on ppc64le
  tests/xfstests/partition.pm
Owners: none

containers: Enable BCI tests on CentOS 10
  tests/containers/update_host.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

Add plain password for leap while not encrypted allowed
  data/yam/agama/auto/leap_default_plain_password.jsonnet
  data/yam/agama/auto/leap_gnome_plain_password.jsonnet
Owners: none

Add agama interactive installation selecting pattern KDE
  schedule/yam/agama_desktop.yaml
Owners: none

Add plain password for leap while not encrypted allowed
  data/yam/agama/auto/leap_default_plain_password.jsonnet
  data/yam/agama/auto/leap_gnome_plain_password.jsonnet
Owners: none

Add unattended multipath scenario
  data/yam/agama/auto/sle_default_multipath.jsonnet
  lib/Yam/Agama/agama_base.pm
  schedule/yam/agama_multipath_unattended.yaml
Owners: none

Softfail: Spectre mitigation: LFENCE not serializing
  data/journal_check/bug_refs.json
Owners: none

Avoid multi-needle matching booting Agama
  tests/yam/agama/boot_agama.pm
Owners: none

Simplify AutoYaST profiles from support_images folder
  data/autoyast_sle12/create_hdd/create_hdd_sap_sles.xml.ep
  data/yam/autoyast/sles12sp5_create_hdd_gnome_unregistered_no_self_update_s390x.xml.ep
  data/yam/autoyast/support_images/autoyast_sles12sp5_media_def_patterns_minimal_x86_64.xml
  data/yam/autoyast/support_images/create_hdd_ha_sles.xml.ep
  data/yam/autoyast/support_images/create_hdd_sap_textmode_sles.xml.ep
  data/yam/autoyast/support_images/sles12sp5_install_all_patterns_s390x.xml
  data/yam/autoyast/support_images/sles12sp5_install_default_patterns_s390x.xml
  data/yam/autoyast/support_images/sles15sp6_install_textmode_hpc_x86_64.xml
Owners: none

Remove default for sle_multipath.jsonnet
  data/yam/agama/auto/sle_multipath.jsonnet
Owners: none

Format disk before installation on pvm
  lib/bootloader_pvm.pm
Owners: none

[Virtualization][MU]: Disable ipv6 forwarding in migration
  lib/parallel_guest_migration_base.pm
Owners: none

[Virtualization][MU]: Fix PEER_IPADDR for migration test
  lib/parallel_guest_migration_base.pm
Owners: none

[Virtualization][MU]: Wipe all disks before host installation
  data/virtualization/autoyast/host_12.xml.ep
  data/virtualization/autoyast/host_15.xml.ep
Owners: none

[Virtualization][MU]: Support IPXE boot for OSD SUTs
  lib/main_common.pm
Owners: none

Fix s390x cc_net_case test
  schedule/security/cc_netfilter_netfilebt.yaml
  tests/security/cc/setup_net_test_env.pm
Owners: none

New test for setroubleshootd
  schedule/security/selinux.yaml
  tests/security/selinux/setroubleshootd.pm
Owners: none

containers: Install iptables-backend-nft along with docker on Tumbleweed
  lib/containers/common.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

MinimalVM base on sle16 comes with selinux
  lib/version_utils.pm
Owners: none

add timeout
  tests/security/cc/run_net_case.pm
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis @rbmarliere
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati @rbmarliere
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/qesapdeploymnet.pm @mpagot @rbmarliere

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777 @rbmarliere

# Transactional systems
products/microos/ @mloviska @ricardobranco777 @rbmarliere
tests/microos/ @mloviska @ricardobranco777 @rbmarliere
products/sle-micro/ @mloviska @ricardobranco777 @rbmarliere
products/alp/ @mloviska @ricardobranco777 @rbmarliere
tests/jeos/ @mloviska @ricardobranco777 @rbmarliere
tests/transactional/ @mloviska @ricardobranco777 @rbmarliere
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777 @rbmarliere

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
