Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Install needed doc files on jeos
  tests/x11/evolution/evolution_prepare_servers.pm
Owners: none

bats/buildah: Add patch #6226
  data/containers/bats/patches/buildah/6226.patch
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Do git-checkout after git-clone
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Call bats_patches from inside bats_sources
  lib/containers/bats.pm
  tests/containers/bats/aardvark.pm
  tests/containers/bats/buildah.pm
  tests/containers/bats/netavark.pm
  tests/containers/bats/podman.pm
  tests/containers/bats/runc.pm
  tests/containers/bats/skopeo.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add kdump over NFS test
  schedule/storage/nfs.yaml
  tests/kernel/kdump_over_nfs.pm
  tests/kernel/nfs_barriers.pm
Owners: none

Allow controlling terraform binary in qesap (#22317)
  data/sles4sap/qe_sap_deployment/qesap_aws.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_msi.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_spn.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_roles.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf_no_reg.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_uri.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_sapconf.yaml
  tests/sles4sap/qesapdeployment/configure.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Change fencing selection in qesap regression
  data/sles4sap/qe_sap_deployment/qesap_aws.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_msi.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_spn.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_roles.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_uri.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_sapconf.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Change fencing selection in qesap regression (#22332)
  data/sles4sap/qe_sap_deployment/qesap_aws.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_msi.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_spn.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_roles.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_uri.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_sapconf.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

bats/buildah: Update BATS_SKIP*
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

kdump: Fix the export for set_kdump_config
  lib/kdump_utils.pm
Owners: none

kdump: Fix the export for set_kdump_config
  lib/kdump_utils.pm
Owners: none

wip: correcting obvious overlook
  tests/kernel/kdump_over_nfs.pm
Owners: none

wip
  tests/kernel/kdump_over_nfs.pm
Owners: none

bats: Introduce BATS_TEST_PACKAGES variable
  lib/containers/bats.pm
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Create 15-SP7 autoyast profiles
  data/autoyast_sle15/mini_s390x.xml
  data/yam/autoyast/mini.xml
  data/yam/autoyast/mini_remote.xml
Owners: none

Fix missing nmap command failure
  tests/virt_autotest/esxi_open_vm_tools.pm
Owners: none

Fix SDAF retaining deployment option
  lib/sles4sap/sap_deployment_automation_framework/deployment_connector.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

ipxe_install: Set bootscript to HDD if requested for Agama installer
  tests/installation/ipxe_install.pm
Owners: none

tests/installation/bootloader_s390.pm: Wait for z/VM and CMS to be ready
  tests/installation/bootloader_s390.pm
Owners: none

bats: Update README
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add workaround for bsc#1244495 when running SAPHanaSR_angi
  tests/sles4sap/hana_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Remove check for Staging:F for default bootloaders
  lib/version_utils.pm
  t/01_version_utils.t
  tests/installation/configure_bls.pm
  tests/installation/disable_grub_timeout.pm
Owners: none

containers: Add docker version information
  lib/containers/common.pm
  tests/containers/bats/buildah.pm
  tests/containers/multi_runtime.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Add docker version information (#22352)
  lib/containers/common.pm
  tests/containers/bats/buildah.pm
  tests/containers/multi_runtime.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Convert qesap conf to apiver:4
  data/sles4sap/qe_sap_deployment/qesap_aws.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_msi.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_spn.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_roles.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_uri.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_sapconf.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add unattended support for DASD
  data/yam/agama/auto/lib/dasd.libsonnet
  data/yam/agama/auto/template.libsonnet
  tests/installation/bootloader_s390.pm
Owners: none

Pull in recommends for jeos
  tests/x11/evolution/evolution_prepare_servers.pm
Owners: none

bats/buildah: Nuke sbom test
  data/containers/bats/skip.yaml
  tests/containers/bats/README.md
  tests/containers/bats/buildah.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

wsl/distro_install: AArch64 images also show the welcome window
  tests/wsl/distro_install.pm
Owners: none

Enable Agama for Baremetal
  data/kernel/agama_auto/sle16.jsonnet
  schedule/kernel/agama_gfx_drivers.yaml
  schedule/kernel/agama_install_ltp_baremetal.yaml
  schedule/kernel/agama_prepare_baremetal.yaml
Owners: none

SLE16 container host ppc64le buildah validate fix
  tests/containers/buildah.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix use of mutes in netweaver_nfs_setup.pm
  tests/sles4sap/netweaver_nfs_setup.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

wsl/distro_install: AArch64 images also show the welcome window
  tests/wsl/distro_install.pm
Owners: none

Revert "Adapt evolution_prepare_servers for jeos"
  tests/x11/evolution/evolution_prepare_servers.pm
Owners: none

Switch credential retrieval method
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Revert "Adapt evolution_prepare_servers for jeos"
  tests/x11/evolution/evolution_prepare_servers.pm
Owners: none

Pull in recommends for jeos
  tests/x11/evolution/evolution_prepare_servers.pm
Owners: none

PC function get_credentials namespace argument
  lib/publiccloud/aws_client.pm
  lib/publiccloud/azure_client.pm
  lib/publiccloud/gcp_client.pm
  lib/publiccloud/utils.pm
  lib/sles4sap/qesap/qesapdeployment.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

Enable virtual network management automation test for sle16
  lib/virt_autotest/virtual_network_utils.pm
  schedule/virt_autotest/sle16_guest_installation.yaml
  tests/virt_autotest/libvirt_host_bridge_virtual_network.pm
  tests/virt_autotest/libvirt_isolated_virtual_network.pm
  tests/virt_autotest/libvirt_nated_virtual_network.pm
  tests/virt_autotest/libvirt_routed_virtual_network.pm
  tests/virt_autotest/libvirt_virtual_network_init.pm
Owners: none

virt_autotest remove record_soft_failure for bsc1182886
  tests/virt_autotest/uefi_guest_verification.pm
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
