Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis @rbmarliere
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati @rbmarliere
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/qesapdeploymnet.pm @mpagot @rbmarliere

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777 @rbmarliere

# Transactional systems
products/microos/ @mloviska @ricardobranco777 @rbmarliere
tests/microos/ @mloviska @ricardobranco777 @rbmarliere
products/sle-micro/ @mloviska @ricardobranco777 @rbmarliere
products/alp/ @mloviska @ricardobranco777 @rbmarliere
tests/jeos/ @mloviska @ricardobranco777 @rbmarliere
tests/transactional/ @mloviska @ricardobranco777 @rbmarliere
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777 @rbmarliere

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

Translate guestfs-tools to libguestfs
  lib/main_common.pm
Owners: none

Remove unnecessary needles from ipxe install for virt tests
  tests/installation/ipxe_install.pm
Owners: none

containers: Remove soft-failure for bsc#1232522
  tests/containers/buildah.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

Change native fencing IAM role
  lib/qesapdeployment.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

feat: add AI stack rbac tests wrapper
  data/aistack/open-webui-rbac-tests.tar.gz
  lib/main_micro_alp.pm
  tests/publiccloud/aistack_rbac_run.pm
Owners: @mloviska, @jlausuch, @ricardobranco777, @rbmarliere, @pdostal, @grisu48, @asmorodskyi, @m-dati

fix: include suggestions
  tests/publiccloud/aistack_rbac_run.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

fix: switch zypper in with transactional-update
  tests/publiccloud/aistack_rbac_run.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

refac: refac tests and remove unnecessary debug commands
  data/aistack/open-webui-rbac-tests.tar.gz
  tests/publiccloud/aistack_rbac_run.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

docs: add test summary and maintainer
  tests/publiccloud/aistack_rbac_run.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

refac: switch hardcoded archive name with external setting
  tests/publiccloud/aistack_rbac_run.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

Drop bluetooth service in aws ay profile
  data/autoyast_sle15/create_hdd/create_hdd_pcm_aws_aarch64.xml
  data/autoyast_sle15/create_hdd/create_hdd_pcm_aws_ppc64le.xml
  data/autoyast_sle15/create_hdd/create_hdd_pcm_aws_s390x.xml
  data/autoyast_sle15/create_hdd/create_hdd_pcm_aws_x86_64.xml
Owners: none

containers: Introduce SECURITY_MAC to allow tests Apparmor & SELinux
  lib/main_containers.pm
  tests/console/enable_mac.pm
  variables.md
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777, @rbmarliere

Make gpg test not fatal
  tests/console/gpg.pm
Owners: none

Quickfix for agama_auto password problem
  data/yam/agama/auto/default_leap.json
  data/yam/agama/auto/default_sle.json
  data/yam/agama/auto/default_tumbleweed.json
  data/yam/agama/auto/gnome_leap.json
  data/yam/agama/auto/gnome_tumbleweed.json
  data/yam/agama/auto/leap16.json
Owners: none

docs: add Jira ticket to header
  tests/publiccloud/aistack_rbac_run.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

feat: SUSE AI sanity test suite
  data/aistack/open-webui-sanity-tests.tar.gz
  tests/publiccloud/aistack_sanity_run.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

feat: SUSE AI sanity test suite
  data/aistack/open-webui-sanity-tests.tar.gz
  lib/main_micro_alp.pm
  tests/publiccloud/aistack_sanity_run.pm
Owners: @mloviska, @jlausuch, @ricardobranco777, @rbmarliere, @pdostal, @grisu48, @asmorodskyi, @m-dati

Bump timeout for refreshing repos in Agama unattended
  lib/Yam/Agama/Pom/AgamaUpAndRunningPage.pm
Owners: none

Add client event tests
  schedule/functional/extra_tests_textmode.yaml
  tests/console/velociraptor_client_event_collect.pm
Owners: none

Refactor QR scheduling
  schedule/security/create_hdd_cc_libyui/x86_64/cc_qr.yaml
  tests/security/cc/cc_audit_test_setup.pm
  tests/security/installation/add_on_selection.pm
  tests/security/installation/enable_repos.pm
  tests/security/installation/module_selection.pm
  tests/security/installation/registration.pm
Owners: none

Avoid mem_encrypt=on due to bsc#1224107
  data/virt_autotest/host_unattended_installation_files/autoyast/dev_host_12.xml.ep
  data/virt_autotest/host_unattended_installation_files/autoyast/dev_host_15.xml.ep
Owners: none

Increase timeout for finding rpmnew files
  lib/Utils/Logging.pm
Owners: @pdostal

Pass registration code to jsonnet files
  data/yam/agama/auto/default_sle_no_scc.json
  lib/autoyast.pm
  lib/bootloader_setup.pm
  tests/installation/bootloader_s390.pm
  tests/installation/bootloader_zkvm.pm
  tests/yam/agama/boot_agama.pm
Owners: none

Substitue SLES_SAP for LTSS repo only on 15-SP2
  tests/qam-updinstall/update_install.pm
Owners: none

install_ltp: Document LTP_INSTALL_REBOOT
  tests/kernel/install_ltp.pm
Owners: none

LTP: Allow to reboot after each test
  lib/LTP/utils.pm
  tests/kernel/run_ltp.pm
Owners: none

bootloader_uefi: Fix sdboot check
  tests/installation/bootloader_uefi.pm
Owners: none

Add migration_test for kubevirt core tests
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

ipsecbase.pm: check firewall status before stop firewall
  lib/ipsecbase.pm
Owners: none

deploy: 98eb92d7ba74d9e1705143521114476ccbc111c9
  autoyast.html
Owners: none

Change USE_SAPCONF usage (#20783)
  lib/sles4sap_publiccloud.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Increase timeout for broken symlinks
  lib/Utils/Logging.pm
Owners: @pdostal

Increase timeout for podman pull
  tests/containers/bci_collect_stats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

Simplify HanaSR at AZURE_FENCE_AGENT_CONFIGURATION (#20807)
  tests/sles4sap/publiccloud/azure_fence_agents_test.pm
  tests/sles4sap/publiccloud/hana_sr_schedule_deployment.pm
  tests/sles4sap/publiccloud/qesap_ansible.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
  tests/sles4sap/qesapdeployment/deploy.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Reduce ssh verbosity
  data/publiccloud/ssh_config_sap
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @rbmarliere

Disable ssh key scan on wait for ssh
  tests/sles4sap/publiccloud/azure_fence_agents_test.pm
  tests/sles4sap/publiccloud/qesap_prevalidate.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add migration_test for kubevirt core tests
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Enable Agama auto install on Bare Metal server
  lib/version_utils.pm
  tests/installation/agama_reboot.pm
  tests/installation/ipxe_install.pm
  variables.md
Owners: none

Add agama lvm test
  schedule/yam/agama_lvm.yaml
Owners: none

Fixed data_url,err handling,ind component install
  data/aistack/aistack_gpu_values.yaml
  data/aistack/aistack_values.yaml
  data/aistack/milvus_values.yaml
  data/aistack/ollama_values.yaml
  data/aistack/open_webui_gpu_values.yaml
  data/aistack/open_webui_values.yaml
  tests/publiccloud/create_aistack_env.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere
