Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis @rbmarliere
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati @rbmarliere
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/qesapdeploymnet.pm @mpagot @rbmarliere

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777 @rbmarliere

# Transactional systems
products/microos/ @mloviska @ricardobranco777 @rbmarliere
tests/microos/ @mloviska @ricardobranco777 @rbmarliere
products/sle-micro/ @mloviska @ricardobranco777 @rbmarliere
products/alp/ @mloviska @ricardobranco777 @rbmarliere
tests/jeos/ @mloviska @ricardobranco777 @rbmarliere
tests/transactional/ @mloviska @ricardobranco777 @rbmarliere
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777 @rbmarliere

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

Create schedule agama_auto_qesec
  schedule/security/agama_auto_create_hdd_textmode_qesec.yaml
Owners: none

Change to correct shutdown command
  lib/power_action_utils.pm
Owners: none

[Virtualization][MU]: Set default xen boot and ssh alive time
  data/virtualization/autoyast/host_15.xml.ep
Owners: none

Added create_hdd_textmode_agama_auto for leap 16.0
  data/agama_auto/leap_default.jsonnet
  schedule/functional/leap16/agama_create_hdd_textmode_leap.yaml
Owners: none

Add reconnect for sles_full_disk_encryption on powerVM
  schedule/yam/agama_full_disk_encryption_ppc64le.yaml
Owners: none

Enable TAP for agama testing results
  tests/yam/agama/agama.pm
Owners: none

amarok: fix syntax for ternary operation
  tests/x11/amarok.pm
Owners: none

Support SLE16 virt test on host installation
  data/virt_autotest/host_unattended_installation_files/agama/sle16.jsonnet
  schedule/virt_autotest/sle16_guest_installation.yaml
  tests/installation/ipxe_install.pm
  tests/virt_autotest/login_console.pm
Owners: none

gnome_control_center: Try to start again if broken
  tests/x11/gnome_control_center.pm
Owners: none

Use jsch from official repo
  lib/openjdktest.pm
Owners: none

Add option for additional kernel parameters
  lib/virt_autotest/utils.pm
  tests/virt_autotest/guest_installation_run.pm
  tests/virt_autotest/host_upgrade_generate_run_file.pm
Owners: none

Fix validate Leap
  test_data/yam/agama_leap.yaml
Owners: none

lib/services/nginx.pm: Install semanage and do not ignore its exit code
  lib/services/nginx.pm
Owners: @pdostal

Excluding LTP test defintion fix
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

Increase rsync coverage
  tests/console/rsync.pm
Owners: none

Satisfy Pavel Dostal's suggestion
  tests/console/rsync.pm
Owners: none

publiccloud/provider: Refactor terraform_apply
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

Setup initial SLE16 install tests
  schedule/functional/sle16/agama-create-hdd-textmode.yaml
  schedule/functional/sle16/agama-create-hdd-textmode_pvm.yaml
  tests/installation/bootloader.pm
Owners: none

New test for nss crypto policies
  data/security/crypto_policies/test_nss_client.sh
  tests/security/crypto_policies/crypto_policies_tests.pm
Owners: none

Fix long name in TAP logs
  tests/yam/agama/agama.pm
Owners: none

Fix duplicated agama profile path issue
  lib/bootloader_setup.pm
  tests/yam/agama/import_agama_profile.pm
Owners: none

console/enable_mac.pm: Fix switching from SELinux to AppArmor
  tests/console/enable_mac.pm
Owners: none

lib/main_security.pm: Enable AppArmor for tests if necessary
  lib/main_security.pm
Owners: none

lib/bootloader_setup.pm: Use GRUB_CMDLINE_LINUX_DEFAULT on JeOS as well
  lib/bootloader_setup.pm
Owners: none

Containers: SLE15-SP5 added for LTSS in autoyast
  data/containers/autoyast_containers.xml.ep
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

publiccloud/provider: Retry tf apply with suggested zones
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

hostname_inst: Remove bsc#1166778 soft fail
  tests/installation/hostname_inst.pm
Owners: none

publiccloud/provider: Refactor terraform_destroy
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

publiccloud/provider: Clean up terraform_apply
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

Make byos check case insensitive
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: 2255af2f7051912bfc8688db22339e1585a7b4f0
  bootloader_setup.html
Owners: none

Add snapper-zypp-plugin test
  lib/main_common.pm
  schedule/functional/extra_tests_textmode.yaml
  tests/console/snapper_zypp.pm
Owners: none

Rename ipaddr2 reg APIs
  lib/sles4sap/ipaddr2.pm
  t/22_ipaddr2.t
  tests/sles4sap/ipaddr2/configure.pm
  tests/sles4sap/ipaddr2/registration.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Rename ipaddr2 reg APIs (#20955)
  lib/sles4sap/ipaddr2.pm
  t/22_ipaddr2.t
  tests/sles4sap/ipaddr2/configure.pm
  tests/sles4sap/ipaddr2/registration.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: 65381f4629e2a04cd69f08a3defdda6b56d3391f
  sles4sap/ipaddr2.html
Owners: none

Remove SLE_IMAGE_OWNER from sles4sap_aws_generic
  data/sles4sap/qe_sap_deployment/sles4sap_aws_generic.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Remove SLE_IMAGE_OWNER from sles4sap_aws_generic (#20990)
  data/sles4sap/qe_sap_deployment/sles4sap_aws_generic.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add the original template link for SDAF data files
  data/sles4sap/sap_deployment_automation_framework/SAP_SYSTEM.tfvars
  data/sles4sap/sap_deployment_automation_framework/WORKLOAD_ZONE.tfvars
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Increase the timeout of test run command
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Package testing on SLE16
  schedule/functional/extra_tests_textmode_sle16.yaml
  tests/console/ovn.pm
  tests/console/pam.pm
Owners: none
