Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Add unattended installation testsuites of raid0
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
  schedule/yam/agama_raid_unattended.yaml
Owners: none

Added URI to agama repo validation
  test_data/yam/agama_sle.yaml
Owners: none

Removing unused jsonnet profiles in ppc64le/s390x
  data/yam/agama/auto/lvm_encrypted_ssh_pub_key.jsonnet
  data/yam/agama/auto/lvm_encrypted_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_addons_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_lvm_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_packages_s390x.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_ssh_pub_key.jsonnet
Owners: none

wip
  tests/hpc/slurm_slave.pm
Owners: @b10n1k, @schlad

Add udevadm settle to wait for partition changes
  tests/sles4sap/ensa/ensa_filesystems.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Enable terraform IBSm peering in AWS (#22200)
  data/sles4sap/qe_sap_deployment/sles4sap_aws_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_gcp_generic.yaml
  lib/sles4sap/qesap/qesap_aws.pm
  t/15_qesap_azure.t
  t/16_qesap_aws.t
  tests/sles4sap/publiccloud/network_peering.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

nvidia: Test CUDA driver first
  tests/kernel/nvidia.pm
Owners: none

nvidia: Add kernel bare metal schedules
  schedule/kernel/nvidia-micro.yaml
  schedule/kernel/nvidia-sle.yaml
Owners: none

Added HA and SAP repo validation data files
  schedule/yam/agama_extensions_and_patterns.yaml
  schedule/yam/agama_extensions_and_patterns_unattended.yaml
  test_data/yam/agama_ha.yaml
  test_data/yam/agama_sap.yaml
Owners: none

SDAF Improve deployment ID detection
  lib/sles4sap/sap_deployment_automation_framework/deployment_connector.pm
  t/26_deployment_connector.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Remove the HanaSR code about peering
  lib/publiccloud/basetest.pm
  lib/sles4sap_publiccloud.pm
  lib/sles4sap_publiccloud_basetest.pm
  schedule/sles4sap/sles4sap_gnome_saptune_maintenance.yaml
  schedule/sles4sap/sles4sap_ibsm_embargo_check.yml
  tests/sles4sap/publiccloud/hana_sr_schedule_deployment.pm
  tests/sles4sap/publiccloud/mr_test_setup_env.pm
  tests/sles4sap/publiccloud/network_peering.pm
  tests/sles4sap/publiccloud/peering_destroy.pm
  tests/sles4sap/publiccloud/qesap_ansible.pm
  tests/sles4sap/publiccloud/qesap_cleanup.pm
  tests/sles4sap/saptune/mr_test.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

Extend the crash test in qesap regression
  tests/sles4sap/qesapdeployment/test_crash.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
  tests/sles4sap/qesapdeployment/test_system.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

bats/runc: checkpoint test now passing in Tumbleweed
  data/containers/bats/skip.yaml
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats/podman: Drop 25918 patch on newer podman 5.5.0
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Revert "bats/podman: Drop 25918 patch on newer podman 5.5.0"
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix 16 ppc64le ha_cluster_crash_test timed out
  tests/console/system_prepare.pm
  tests/ha/ha_cluster_crash_test.pm
  tests/ha/ha_cluster_init.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

bats/podman: Update SKIP for podman 5.5.0
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix 16 ppc64le ha_cluster_crash_test timed out
  tests/console/system_prepare.pm
  tests/ha/ha_cluster_crash_test.pm
  tests/ha/ha_cluster_init.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add creation/deletion check
  tests/publiccloud/azure_cli.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

nvidia: Add kernel bare metal schedules
  schedule/kernel/nvidia-micro.yaml
  schedule/qam/common/kernel/nvidia-micro.yaml
  schedule/qam/common/kernel/nvidia-sle15.yaml
Owners: none

Added test logic structure
  tests/wsl/distro_install.pm
  tests/wsl/firstrun.pm
Owners: none

Add udevadm settle to wait for partition changes
  tests/sles4sap/ensa/ensa_filesystems.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

bats/README: Remove link to latest SLES 15
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

nvidia_utils: Uninstall nvidia packages safely
  lib/nvidia_utils.pm
Owners: none

PC: aws_cli wait until instance is removed
  tests/publiccloud/aws_cli.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Added jeos firstboot logic
  tests/wsl/firstrun.pm
Owners: none

Added jeos unfocused logic
  tests/wsl/firstrun.pm
Owners: none

Handle conflicts in zdup
  tests/installation/zdup.pm
Owners: none

Override `post_run_hook` and `post_fail_hook`
  tests/publiccloud/azure_cli.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Save a last screenshot after ending the loop
  tests/installation/zdup.pm
Owners: none

WSL license jeos logic
  tests/wsl/firstrun.pm
Owners: none

WSL license fixed typo
  tests/wsl/firstrun.pm
Owners: none

Refresh contents of $out if a conflict was solved
  tests/installation/zdup.pm
Owners: none

Add more wsl license logic
  tests/wsl/firstrun.pm
Owners: none

Install liblua5.3-dev in CI job as required by dependency Inline::Lua
  .github/workflows/ci.yml
Owners: none

Add network parameters to Agama installation
  tests/yam/agama/boot_agama.pm
Owners: none

Jeos license agreement
  tests/wsl/firstrun.pm
Owners: none

slem: Avoid re-encrypt-finished on SLEM 6.2+
  tests/jeos/firstrun.pm
Owners: @mloviska, @ricardobranco777

Refactor conflict resolution into its own function
  tests/installation/zdup.pm
Owners: none

containers: Use script_retry to pull image to avoid timeout issues
  tests/containers/seccomp.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
