Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Harmonization with new output of calculate_hana_topology()
  lib/saputils.pm
  tests/sles4sap/redirection_tests/hana_cluster_check.pm
  tests/sles4sap/redirection_tests/hanasr_schedule_tests.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

containers: Use CONTAINER_IMAGE_TO_TEST for Tumbleweed image
  tests/containers/buildah.pm
  tests/containers/container_engine.pm
  tests/containers/podman_quadlet.pm
  tests/containers/privileged_mode.pm
  tests/containers/realtime.pm
  tests/containers/rootless_docker.pm
  tests/containers/rootless_podman.pm
  tests/containers/seccomp.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add test for gnome-console (kgx)
  lib/main_common.pm
  tests/x11/gnome_console.pm
Owners: none

Improve JSONNET template
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
Owners: none

Use proper extension for UT file
  t/32_database_hana.t
Owners: none

Speed up hacluster UT execution
  t/11_hacluster.t
Owners: none

More topology changes and unit test changed to new conditions
  t/32_database_hana.t
Owners: none

Forgotten files
  lib/sles4sap/database_hana.pm
  t/32_database_hana.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add setting about hana cli installer (#21554)
  tests/sles4sap/hana_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Addapt HA modules for NetWeaver cluster with no support server
  tests/ha/barrier_init.pm
  tests/sles4sap/netweaver_cluster.pm
  tests/sles4sap/netweaver_filesystems.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add a schedule to test basic NetWeaver cluster in pvm_hmc
  schedule/sles4sap/pvm_nw_cluster_node.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add necessary changes and schedule network tests for SLES
  schedule/qam/common/mau-extratests-desktop.yaml
  tests/x11/network/NM_wpa2_enterprise.pm
  tests/x11/network/hwsim_wpa2_enterprise_setup.pm
  tests/x11/network/yast2_network_use_nm.pm
Owners: none

Implement automated testing for SLE 16 Hyper-V
  schedule/virt_autotest/sle16_default_svirt.yaml
  tests/installation/bootloader_hyperv.pm
  tests/yam/agama/agama_auto_without_log.pm
Owners: none

Implement automated testing for SLE 16 Hyper-V
  schedule/virt_autotest/sle16_default_svirt.yaml
  tests/installation/bootloader_hyperv.pm
  tests/yam/agama/agama_auto_without_log.pm
Owners: none

Switch to HTTP if mount fails
  lib/virt_autotest/hyperv_utils.pm
  tests/installation/bootloader_hyperv.pm
Owners: none

Move ansible test out of PackageHub for 15-SP7
  lib/main_common.pm
  schedule/functional/extra_tests_textmode_phub.yaml
  tests/console/ansible.pm
Owners: @pdostal

Add desktop module for libjpeg_turbo on 15-SP7
  tests/console/libjpeg_turbo.pm
Owners: none

Switch to HTTP if mount fails
  lib/virt_autotest/hyperv_utils.pm
  tests/installation/bootloader_hyperv.pm
Owners: none

Add system journal for s390x reconnect
  tests/boot/reconnect_mgmt_console.pm
Owners: none

Implement new iscsi client from console
  schedule/ha/bv/basic_cluster_node_sles16.yaml
  schedule/ha/bv/ha_crash_test_node_sles16.yaml
  schedule/ha/bv/ha_priority_fencing_sles16.yaml
  schedule/ha/bv/ha_qdevice_node_sles16.yaml
  schedule/ha/bv/ha_rolling_upgrade_migration_node01_sles16.yaml
  schedule/ha/bv/ha_rolling_upgrade_migration_node02_sles16.yaml
  schedule/ha/bv/haproxy_hawk_node_sles16.yaml
  schedule/ha/bv/migration/migration_rolling_upgrade_sles16.yaml
  schedule/ha/bv/pacemaker_cts_node_sles16.yaml
  schedule/ha/bv/s390x_cluster_sles16.yaml
  schedule/kernel/sles4sap/hana_cluster_node_sles16.yaml
  schedule/sles4sap/ensa/ensa_nodes_sles16.yaml
  schedule/sles4sap/hana/hana_cluster_node_sles16.yaml
  schedule/sles4sap/hana/pvm_hana_cluster_node_sles16.yaml
  schedule/sles4sap/netweaver/netweaver_cluster_node_sles16.yaml
  schedule/sles4sap/netweaver/netweaver_cluster_systemd_sles16.yaml
  tests/ha/iscsi_client_setup.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Using both iscsi clients
  schedule/ha/bv/basic_cluster_node.yaml
  schedule/ha/bv/basic_cluster_node_sles16.yaml
  schedule/ha/bv/ha_crash_test_node.yaml
  schedule/ha/bv/ha_crash_test_node_sles16.yaml
  schedule/ha/bv/ha_priority_fencing.yaml
  schedule/ha/bv/ha_priority_fencing_sles16.yaml
  schedule/ha/bv/ha_qdevice_node.yaml
  schedule/ha/bv/ha_qdevice_node_sles16.yaml
  schedule/ha/bv/ha_rolling_upgrade_migration_node01_sles16.yaml
  schedule/ha/bv/ha_rolling_upgrade_migration_node02_sles16.yaml
  schedule/ha/bv/haproxy_hawk_node.yaml
  schedule/ha/bv/haproxy_hawk_node_sles16.yaml
  schedule/ha/bv/migration/migration_rolling_upgrade_sles16.yaml
  schedule/ha/bv/pacemaker_cts_node.yaml
  schedule/ha/bv/pacemaker_cts_node_sles16.yaml
  schedule/ha/bv/s390x_cluster.yaml
  schedule/ha/bv/s390x_cluster_sles16.yaml
  schedule/kernel/sles4sap/hana_cluster_node.yaml
  schedule/kernel/sles4sap/hana_cluster_node_sles16.yaml
  schedule/sles4sap/ensa/ensa_nodes.yaml
  schedule/sles4sap/ensa/ensa_nodes_sles16.yaml
  schedule/sles4sap/hana/hana_cluster_node.yaml
  schedule/sles4sap/hana/hana_cluster_node_sles16.yaml
  schedule/sles4sap/hana/pvm_hana_cluster_node.yaml
  schedule/sles4sap/hana/pvm_hana_cluster_node_sles16.yaml
  schedule/sles4sap/netweaver/netweaver_cluster_node.yaml
  schedule/sles4sap/netweaver/netweaver_cluster_node_sles16.yaml
  schedule/sles4sap/netweaver/netweaver_cluster_systemd.yaml
  schedule/sles4sap/netweaver/netweaver_cluster_systemd_sles16.yaml
  tests/ha/iscsi_client.pm
  tests/ha/iscsi_client_setup.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix is_sle check
  tests/console/clamav.pm
  tests/security/apparmor_profile/apache2_changehat.pm
  tests/security/tpm2/keylime/keylime.pm
  tests/security/tpm2/tpm2_measured_boot.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Removed commets about other libs
  tests/sles4sap/redirection_tests/hana_cluster_check.pm
  tests/sles4sap/redirection_tests/hanasr_schedule_tests.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

[SDAF] SDAF_PRD_HanaSR_failover failed on "Use of uninitialized value $primary_site" (#21562)
  lib/saputils.pm
  lib/sles4sap/database_hana.pm
  t/32_database_hana.t
  tests/sles4sap/redirection_tests/hanasr_schedule_tests.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Introduce x11_default_test_terminal
  lib/x11utils.pm
Owners: none

Use default test terminal in change_password
  lib/services/users.pm
Owners: none

Ensure gnome-terminal is installed
  tests/x11/gnome_terminal.pm
Owners: none

Use xterm for ibus_installation
  tests/x11/ibus/ibus_installation.pm
Owners: none

Use gnome-console on new codestreams
  lib/main_common.pm
Owners: none

containers: Install dbus-1-daemon on SLE 16.0
  tests/containers/netavark_integration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Install WSL in the OS deployment
  data/wsl/Autounattend_UEFI.xml
  data/wsl/create_unattend_iso.sh
  data/wsl/create_unattend_raw.sh
  lib/windowsbasetest.pm
  tests/wsl/install/ms_win_installation.pm
  tests/wsl/install_wsl.pm
Owners: none

Ensure we're on gnome before returning the console
  lib/x11utils.pm
  tests/x11/gnome_terminal.pm
Owners: none

Add CI check for jsonnet via python
  .github/workflows/ci.yml
  Makefile
  tools/check_jsonnet
Owners: none

Fix hostname for ppc64le
  schedule/yam/agama_ppc64le.yaml
Owners: none

Fix regex for boo#1229935
  data/journal_check/bug_refs.json
Owners: none

Solve storage JSONNET profile definition error
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
Owners: none

Ensure known_hosts exists in img_proof before ssh-keyscan
  tests/publiccloud/img_proof.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Omit packages that dropped in sle16.0
  lib/main_common.pm
  tests/console/gdb.pm
  tests/console/snapper_jeos_cli.pm
Owners: none

Rename x11_default_test_terminal to default_gui_terminal
  lib/services/users.pm
  lib/x11utils.pm
  tests/x11/ibus/ibus_installation.pm
Owners: none

deploy: 7b741e975439abe0faf558c7d8a097e0b082d030
  x11utils.html
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
