Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

containers: Use script_retry to pull image to avoid timeout issues
  tests/containers/podman_netavark.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add IDPF to GCE Terraform
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Update bootloader timeout parameter
  tests/installation/disable_grub_timeout.pm
Owners: none

Use checkbox to disable the timeout
  tests/installation/disable_grub_timeout.pm
Owners: none

Add kdump over NFS test
  lib/kdump_utils.pm
  schedule/storage/nfstest.yaml
  tests/kernel/kdump_over_nfs.pm
  tests/kernel/nfs_barriers.pm
Owners: none

bats/podman: Ignore 200-pod on SLE 16.0
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Reorder skip entry keys
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add parameters to fix s390x kvm network issue
  tests/installation/bootloader_zkvm.pm
Owners: none

Enable Priority Fencing Test Scenario On ppc64le
  schedule/ha/bv/pvm_ha_priority_fencing.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Change the url for Firefox header test
  tests/x11/firefox/firefox_headers.pm
Owners: none

Revert "Exclude journal_remote on 15-SP7 until it's added"
  schedule/qam/common/mau-extratests1.yaml
Owners: none

evolution: Use Server Applications module for dovecot
  tests/x11/evolution/evolution_prepare_servers.pm
Owners: none

Change vmware hypervisor and fix timesynch check and SSH
  lib/virt_autotest/esxi_utils.pm
  tests/virt_autotest/esxi_open_vm_tools.pm
Owners: none

Confine changes to Staging:F
  tests/installation/disable_grub_timeout.pm
Owners: none

Fix sle16 system_prepare er introduced by PR#22201
  tests/console/system_prepare.pm
Owners: none

containers: Extend docker-buildx test to SLE 16.0
  lib/main_containers.pm
  tests/containers/buildx.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

containers: Enable docker-buildx test in SLEM 6.x
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

containers: Extend rootless docker test to SLE 16.0
  lib/main_containers.pm
  tests/containers/rootless_docker.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Allow detection of default bootloader in Staging F
  lib/version_utils.pm
Owners: none

Check specifically for grub2-bls in grub_test
  lib/grub_utils.pm
Owners: none

Assert screen for grub2-bls
  lib/opensusebasetest.pm
Owners: none

Remove the HanaSR code about peering (#22211)
  lib/publiccloud/basetest.pm
  lib/sles4sap_publiccloud.pm
  lib/sles4sap_publiccloud_basetest.pm
  schedule/sles4sap/sles4sap_gnome_saptune_maintenance.yaml
  schedule/sles4sap/sles4sap_ibsm_embargo_check.yml
  tests/sles4sap/publiccloud/hana_sr_schedule_deployment.pm
  tests/sles4sap/publiccloud/mr_test_setup_env.pm
  tests/sles4sap/publiccloud/network_peering.pm
  tests/sles4sap/publiccloud/peering_destroy.pm
  tests/sles4sap/publiccloud/qesap_ansible.pm
  tests/sles4sap/publiccloud/qesap_cleanup.pm
  tests/sles4sap/saptune/mr_test.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

deploy: 06fe37bca64e24e869ce907a8944c0f92b616ccb
  sles4sap_publiccloud.html
Owners: none

containers: Re-enable compose test on all architectures
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

containers: Extend compose test to SLE 16.0 & SLEM 6.x
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Adjust strongswan tests for 6.0+ versions
  data/strongswan/ipsec.conf.temp
  data/strongswan/swanctl.conf.temp
  tests/fips/strongswan/strongswan_client.pm
  tests/fips/strongswan/strongswan_server.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

bats/podman: Add back libcriu2 dependency
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: No need to patch logfile if BATS_TESTS is specified
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Change vmware hypervisor and fix timesynch check and SSH
  lib/virt_autotest/esxi_utils.pm
  tests/virt_autotest/esxi_open_vm_tools.pm
Owners: none

PC: Upload SLE15-SP7 GCE image with IDPF
  lib/publiccloud/gce.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Add unattended installation with RAID0
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
  schedule/yam/agama_raid_unattended.yaml
Owners: none

Compile test executable in non-ephemeral filesystem
  tests/security/ebpf/check_cap_bpf.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Wait more before restarting apache2 service
  tests/console/apache.pm
Owners: none

Add unattended installation testsuites of raid0
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
  schedule/yam/agama_raid_unattended.yaml
Owners: none

Add select timezone needle
  tests/wsl/firstrun.pm
Owners: none

Shutdown machine to allo upload assets
  schedule/security/sle16/agama_fde_tpm_installation.yaml
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Differentiate between grub2-bls and grub2
  tests/installation/bootloader_uefi.pm
Owners: none

Group actions together for different bootloaders
  tests/installation/disable_grub_timeout.pm
Owners: none

containers: Restrict docker-buildx to SLE 16.0
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Reset consoles after reboot in agama and agama_auto
  tests/yam/agama/agama.pm
  tests/yam/agama/agama_auto.pm
Owners: none
