Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Add schedule for testing i915 gfx drivers with agama installation
  schedule/kernel/agama_gfx_drivers.yaml
Owners: none

dracut: Add source repo to get dracut source
  tests/console/dracut_testsuite.pm
Owners: none

containers: Add logs module to collect logs
  lib/containers/bats.pm
  lib/main_containers.pm
  tests/containers/logs.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @jlausuch

Allow for BOOTLOADER to be overriden by user
  lib/version_utils.pm
Owners: none

Add unit tests for default bootloader
  lib/version_utils.pm
  t/01_version_utils.t
Owners: none

Remove leftover condition
  tests/installation/disable_grub_timeout.pm
Owners: none

Change order of test suites addition
  data/publiccloud/ltp_runtest
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Wait longer for az_vm_wait_running in ipaddr2
  lib/sles4sap/azure_cli.pm
  lib/sles4sap/ipaddr2.pm
  t/21_sles4sap_azure_cli.t
  t/22_ipaddr2.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Wait longer for az_vm_wait_running in ipaddr2 (#22264)
  lib/sles4sap/azure_cli.pm
  lib/sles4sap/ipaddr2.pm
  t/21_sles4sap_azure_cli.t
  t/22_ipaddr2.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: d71c76b45cba27bd581b31386c2dab9ef31fd2a4
  sles4sap/azure_cli.html
Owners: none

kdump_utils: Initial support for SLE 16
  lib/kdump_utils.pm
Owners: none

Adapt rmt validate_repos test data
  test_data/yam/agama_rmt.yaml
Owners: none

Add pacemaker_cts_regression on ppc64 for sle16
  schedule/ha/bv/pvm_pacemaker_cts_regression.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Removing unused jsonnet profiles in ppc64le/s390x
  data/yam/agama/auto/lib/base.libsonnet
  data/yam/agama/auto/lvm_encrypted_ssh_pub_key.jsonnet
  data/yam/agama/auto/lvm_encrypted_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_addons_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_lvm_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_packages_s390x.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_ssh_pub_key.jsonnet
  data/yam/agama/auto/template.libsonnet
Owners: none

Rename addon_ha_reg_code to registration_code_ha
  data/yam/agama/auto/template.libsonnet
Owners: none

Rename param sslCertificates to ssl_certificates
  data/yam/agama/auto/template.libsonnet
Owners: none

deploy: 45fbffe80ae3e0e8127a675bc4f9641b98bad1ea
  version_utils.html
Owners: none

Setup rules for sleperf when selinux enforcing
  data/autoyast_hanaperf/agama-config.jsonnet
  tests/kernel_performance/install_qatestset.pm
Owners: none

Bootloader partition can't be encrypted
  lib/utils.pm
Owners: none

Extend SDAF log collection
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  schedule/sles4sap/sap_deployment_automation_framework/ensa2_scenarios.yml
  tests/sles4sap/redirection_tests/hanasr_schedule_tests.pm
  tests/sles4sap/redirection_tests/upload_logs.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Handle grub2-bls in boot_to_snapshot scenario
  lib/bootloader_setup.pm
Owners: none

Handle upgrade scenarios
  lib/version_utils.pm
  t/01_version_utils.t
Owners: none

Add code to run IBSM playbook
  lib/sles4sap_publiccloud.pm
  t/12_sles4sap_publiccloud.t
  tests/sles4sap/publiccloud/hana_sr_schedule_deployment.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Use serial terminal instead of root console in eal4
  schedule/security/cc_eal4.yaml
  tests/security/eal4/accessible_network_interface.pm
  tests/security/eal4/check_processor_vulnerability_mitigations.pm
  tests/security/eal4/check_undocumented_security_programs.pm
  tests/security/eal4/chrony_pid_file.pm
  tests/security/eal4/dbus_fuzzer.pm
  tests/security/eal4/dbus_services_exposure.pm
  tests/security/eal4/drng_test_preparation.pm
  tests/security/eal4/kvm_check.pm
  tests/security/eal4/netlink_message.pm
  tests/security/eal4/permission_settings.pm
  tests/security/eal4/setup_eal4_env.pm
  tests/security/eal4/syscall_thrasher.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Container host images have grub2 by default
  lib/version_utils.pm
  t/01_version_utils.t
Owners: none

Use is_upgrade instead of variable
  lib/version_utils.pm
Owners: none

Add code to run IBSM playbook (#22271)
  lib/sles4sap_publiccloud.pm
  t/12_sles4sap_publiccloud.t
  tests/sles4sap/publiccloud/hana_sr_schedule_deployment.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: 6539185fe7f1db30e3b9f12b18d0791a7032ff7f
  sles4sap_publiccloud.html
Owners: none

bats: Increase timeout
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Use write_sut_file instead of echo
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: mkdir should not fail
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Update ncat version
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Detect service status more robustly
  tests/ha/graceful_shutdown.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Translate existing jsonnet to template
  data/yam/agama/auto/lib/base.libsonnet
  data/yam/agama/auto/template.libsonnet
Owners: none

Remove ip=dhcp then enable AGAMA_NETWORK_PARAMS parameter
  data/autoyast_hanaperf/agama-config.jsonnet
  lib/bootloader_pvm.pm
  tests/installation/bootloader_zkvm.pm
  tests/installation/ipxe_install.pm
  tests/yam/agama/boot_agama.pm
Owners: none

deploy: 8da970d631d5dd5e6dbb47f9e5db6017f2fc9116
  sles4sap/sap_deployment_automation_framework/deployment_connector.html
Owners: none

Remove obsolete virtnwfilter from SLFO
  data/virtualization/autoyast/host_15.xml.ep
  lib/virt_autotest/utils.pm
  tests/virt_autotest/cleanup_libvirtd_log.pm
Owners: none

Enable long URLs in s390x zVM
  tests/installation/bootloader_s390.pm
Owners: none

Refactor oqs-provider test
  tests/security/oqs_provider_openssl.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Fixes for aarch64 image checks
  tests/jeos/firstrun.pm
  tests/microos/image_checks.pm
Owners: @mloviska, @ricardobranco777

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
