Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Simplify code in installation/disk_boot
  tests/installation/disk_boot.pm
Owners: none

Add test for selecting grub2-bls during install
  lib/main_micro_alp.pm
  tests/installation/configure_grub_bls.pm
  variables.md
Owners: @mloviska, @jlausuch, @ricardobranco777

Add workaround for qemu crash on ppc64le
  lib/bootloader_setup.pm
Owners: none

Thunderbird handle new donate tab
  lib/thunderbird_common.pm
Owners: none

Add aggregate repos to ibsm modules
  lib/sles4sap.pm
  t/17_sles4sap.t
  tests/publiccloud/validate_repos.pm
  tests/sles4sap/publiccloud/cluster_add_repos.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot, @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Revert "change_password: Drop unused likely outdated needle"
  lib/services/users.pm
Owners: none

Remove deprecated HA commands and CLI options to crm_mon
  lib/hacluster.pm
  t/11_hacluster.t
  tests/ha/check_after_reboot.pm
  tests/ha/ha_cluster_init.pm
  tests/ha/ha_cluster_join.pm
  tests/ha/remove_node.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add alternative to cs_wait_for_idle when not present
  lib/hacluster.pm
  tests/ha/filesystem.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix iSCSI devices persistence on node reboot
  tests/ha/iscsi_client_setup.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Select root-console without assert and clean
  tests/ha/fencing.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Remove installation of ClusterTools2 in hana_install module
  tests/sles4sap/hana_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Revert ebfe9a5 only on schedule/qam/15-SP2/qam-textmode.yaml
  schedule/qam/15-SP2/qam-textmode.yaml
Owners: none

Move fwupd and tuned tests from kernel squad to core
  lib/main_common.pm
  schedule/functional/extra_tests_textmode.yaml
  schedule/functional/extra_tests_textmode_sle16.yaml
  tests/console/fwupd.pm
  tests/console/tuned.pm
Owners: none

Apply several changes for sle16 hyperv and vmware testing
  schedule/virt_autotest/sle16_default_svirt.yaml
Owners: none

Change redis to valkey-compat-redis
  tests/console/redis.pm
Owners: none

Add wireguard test for sle16
  tests/network/wireguard.pm
Owners: @pdostal

containers: Support individual tests in BATS tests
  tests/containers/buildah_integration.pm
  tests/containers/netavark_integration.pm
  tests/containers/podman_integration.pm
  tests/containers/runc_integration.pm
  tests/containers/skopeo_integration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Ensure register extra module to base product before migration
  lib/registration.pm
Owners: none

Add network-bonding-target job for sle16
  tests/network/network_bonding_setup.pm
Owners: none

microos: Fix toolbox image URI
  tests/microos/toolbox.pm
Owners: @mloviska, @ricardobranco777

Move utils::ensure_ca_certificates_suse_installed from IBS to OBS
  lib/utils.pm
Owners: none

containers: Create bats subdirectory for BATS tests
  lib/main_containers.pm
  tests/containers/bats/buildah.pm
  tests/containers/bats/netavark.pm
  tests/containers/bats/podman.pm
  tests/containers/bats/runc.pm
  tests/containers/bats/skopeo.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

use region instead of zone
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

add zone as var so we can change it
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

housekeeping
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Add nfstest testsuite
  schedule/storage/nfstest.yaml
  tests/kernel/before_nfs_test.pm
  tests/kernel/nfs_barriers.pm
  tests/kernel/nfstest.pm
Owners: none

documents PUBLIC_CLOUD_AVAILABILITY_ZONE var
  variables.md
Owners: none

Support vmware tests on sles16
  lib/Yam/Agama/Pom/RebootPage.pm
  schedule/virt_autotest/sle16_default_svirt.yaml
Owners: none

add zone var to required vars
  lib/publiccloud/gcp_client.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Create README.md
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Ignore README.md
  tools/detect_unused_modules
Owners: none

Record commit hash of kirk repo used in test
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Use CA repo from OBS for ca-certificates-suse
  lib/utils.pm
Owners: none

Add aggregate repos to ibsm modules
  lib/qam.pm
  t/17_sles4sap.t
  t/33_qam.t
  tests/publiccloud/validate_repos.pm
  tests/sles4sap/publiccloud/cluster_add_repos.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add python3 stack tests for sle16
  schedule/functional/stack_tests_python_sle16.yaml
  tests/console/python3_new_version_check.pm
Owners: none

Update agama jsonnet for SLES16 guest
  data/virt_autotest/guest_unattended_installation_files/sles_16_plus_kvm_hvm_guest_non_encrypted_storage_x86_64.jsonnet
Owners: none

Support vmware tests on sles16
  lib/Yam/Agama/Pom/RebootPage.pm
  schedule/virt_autotest/sle16_default_svirt.yaml
Owners: none

Update agama jsonnet for SLES16 guest
  data/virt_autotest/guest_unattended_installation_files/sles_16_plus_kvm_hvm_guest_non_encrypted_storage_x86_64.jsonnet
Owners: none

Update guest SLES 16.0 media
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_x86_64_agama_full_iso.xml
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_x86_64_agama_online_iso.xml
  schedule/virt_autotest/sle16_guest_installation.yaml
Owners: none

rasdaemon: Add missing console selection
  tests/hpc/rasdaemon.pm
Owners: @b10n1k, @schlad
