Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Add unit test for get_replication_info function
  t/12_sles4sap_publiccloud.t
Owners: none

Added welcome_to_wsl check for build images
  tests/wsl/distro_install.pm
Owners: none

Add openqa-agent to Windows
  data/wsl/Autounattend_UEFI.xml
  lib/windowsbasetest.pm
Owners: none

Add s390x schedule file for ha test
  schedule/yam/agama_unattended_patterns_ppc64le.yaml
  schedule/yam/agama_unattended_patterns_s390x.yaml
Owners: none

Wait for services to shut down
  tests/containers/podman_quadlet.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add unit test for get_replication_info function (#21595)
  t/12_sles4sap_publiccloud.t
Owners: none

ulp_openposix: Don't install livepatching product on SLE-16
  tests/kernel/ulp_openposix.pm
Owners: none

run_ltp: Add debug option to collect system-wide oprofile
  tests/kernel/boot_ltp.pm
  tests/kernel/run_ltp.pm
Owners: none

deploy: a94b072c3cf18f66e98e84cb5b65634172e1bcad
  qesapdeployment.html
Owners: none

PC: Fix the variables in tests
  tests/publiccloud/check_registercloudguest.pm
  tests/publiccloud/check_services.pm
  tests/publiccloud/run_ltp.pm
  tests/publiccloud/slem_basic.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

PC: basetest: Comment cleanup() calls
  lib/publiccloud/basetest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

PC: Fix basetest::_upload_logs() and provider::terraform_destroy()
  lib/publiccloud/basetest.pm
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

PC: Alter the test_flags in check_registercloudguest
  tests/publiccloud/check_registercloudguest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Enable terraform peering for Azure
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_maintenance.yaml
  lib/qesapdeployment.pm
  tests/sles4sap/publiccloud/hana_sr_schedule_deployment.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

[Virtualization][MU]: Correct 12SP3 TD test repo
  data/virtualization/autoyast/guest_12.xml.ep
  data/virtualization/autoyast/host_12.xml.ep
Owners: none

Use autoyast for qam jobs
  schedule/qam/12-SP3/qam-regression-installation.yaml
  schedule/qam/12-SP5/qam-regression-installation.yaml
  schedule/qam/15-SP2/qam-regression-installation.yaml
  schedule/qam/15-SP2/qam-textmode.yaml
  schedule/qam/15-SP3/qam-regression-installation.yaml
  schedule/qam/15-SP3/qam-textmode.yaml
  schedule/qam/15-SP4/qam-regression-installation.yaml
  schedule/qam/15-SP4/qam-textmode.yaml
  schedule/qam/15-SP5/qam-regression-installation.yaml
  schedule/qam/15-SP5/qam-textmode.yaml
  schedule/qam/15-SP6/qam-regression-installation.yaml
  schedule/qam/15-SP6/qam-textmode.yaml
Owners: none

Fix the version check in ansible
  tests/console/ansible.pm
Owners: @pdostal

Use vnc instead of dead spice graphics for virtual machine
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_x86_64_default_encrypted_ignition+combustion.xml
Owners: none

Change agama install boot_options
  lib/autoyast.pm
  lib/bootloader_pvm.pm
  lib/bootloader_setup.pm
  lib/version_utils.pm
  schedule/ha/bv/agama_install_sles_ha.yaml
  tests/installation/agama_reboot.pm
  tests/installation/bootloader_s390.pm
  tests/installation/bootloader_uefi.pm
  tests/installation/ipxe_install.pm
  tests/yam/agama/boot_agama.pm
  variables.md
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add ruby test
  schedule/functional/extra_tests_textmode.yaml
  schedule/qam/common/mau-extratests1.yaml
  tests/console/ruby.pm
Owners: none

Extend handle interrupted status to older versions
  tests/console/btrfsmaintenance.pm
Owners: none

Add live.password for Full medium testing on s390x
  tests/installation/bootloader_zkvm.pm
Owners: none

Add addons registration check
  schedule/yam/agama_unattended_patterns.yaml
  tests/yam/validate/validate_registered_addons.pm
Owners: none

start_systemd_testkit_offline: Add header info
  tests/console/start_systemd_testkit_offline.pm
Owners: none

Shorten mediacheck module name
  schedule/yam/agama_check_installation_medium.yaml
  tests/yam/agama/check_installation_medium.pm
Owners: none

Rewrite regex for boo#1229935
  data/journal_check/bug_refs.json
Owners: none

Schedule salt and ansible in all products
  schedule/functional/extra_tests_textmode.yaml
  schedule/functional/extra_tests_textmode_sle16.yaml
Owners: none

Add full matrix for default_gui_terminal
  lib/x11utils.pm
  t/01_x11utils.t
Owners: none

Use default_gui_terminal in ensure_installed
  lib/susedistribution.pm
  lib/x11utils.pm
Owners: none

Close the terminal if warning pops up
  lib/susedistribution.pm
Owners: none

Handle XFCE in default_gui_terminal
  lib/x11utils.pm
Owners: none

Handle KDE in default_gui_terminal
  lib/x11utils.pm
Owners: none

Move import out of subtest for 01_x11utils.t
  t/01_x11utils.t
Owners: none

Format directly home and configure boot partition
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
  schedule/yam/agama_home_boot.yaml
  tests/yam/validate/validate_partition.pm
Owners: none

Add SWTPM and TPM2 FIPS tests
  lib/security/config.pm
  lib/swtpmtest.pm
  schedule/security/create_hdd_textmode_ext4_mok_enroll.yaml
  schedule/security/security_swtpm.yaml
  schedule/security/security_tpm2.yaml
  tests/security/ima/evm_protection_digital_signatures.pm
  tests/security/ima/evm_verify.pm
  tests/security/ima/evmctl_ima_sign.pm
  tests/security/ima/ima_appraisal_digital_signatures.pm
  tests/security/ima/ima_kernel_cmdline_hash.pm
  tests/security/mokutil_sign.pm
  tests/security/swtpm/swtpm_verify.pm
  tests/security/tpm2/tpm2_engine/tpm2_engine_ecdsa_operation.pm
  tests/security/tpm2/tpm2_engine/tpm2_engine_rsa_operation.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Add timeout to oqs_provider execute binary
  tests/security/oqs_provider_openssl.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

AutoYaST compatibility focus on unsupported sections
  data/yam/agama/auto/autoyast_unsupported.xml
  lib/Yam/Agama/Pom/AgamaUpAndRunningPage.pm
  schedule/yam/agama_autoyast_unsupported.yaml
  tests/yam/agama/agama.pm
Owners: none

Use singletons for publiccloud provider and instance
  lib/main_publiccloud.pm
  lib/publiccloud/basetest.pm
  tests/publiccloud/check_registercloudguest.pm
  tests/publiccloud/patch_and_reboot.pm
  tests/publiccloud/prepare_instance.pm
  tests/publiccloud/registration.pm
  tests/publiccloud/transfer_repos.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Workaround missing disk_boot@ppc container update hosts tests
  lib/main_micro_alp.pm
  tests/microos/toolbox.pm
Owners: @mloviska, @jlausuch, @ricardobranco777

Workaround missing disk_boot@ppc container update hosts tests (#21612)
  lib/main_micro_alp.pm
  tests/microos/toolbox.pm
Owners: @mloviska, @jlausuch, @ricardobranco777
