Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Ignore RETBleed warning on SLEM 6.2
  data/journal_check/bug_refs.json
Owners: none

Prevent to bring DASD down in Agama
  tests/installation/bootloader_s390.pm
Owners: none

change_password: Drop unused likely outdated needle
  lib/services/users.pm
Owners: none

Add unattended installation with individual packages selected
  data/yam/agama/auto/sles_packages.jsonnet
  data/yam/agama/auto/sles_packages_ppc64le.jsonnet
  data/yam/agama/auto/sles_packages_s390x.jsonnet
  schedule/yam/agama_packages_unattended.yaml
  schedule/yam/agama_packages_unattended_ppc64le.yaml
  schedule/yam/agama_packages_unattended_s390x.yaml
  tests/yam/validate/validate_packages.pm
Owners: none

On SLED is gnome-terminal default_gui_terminal
  lib/x11utils.pm
Owners: none

containers: Use oci_runtime instead of runtime variable
  tests/containers/container_engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

HPC: MPI timeout in mpich
  data/hpc/sample_cplusplus.cpp
  tests/hpc/mpi_master.pm
Owners: @b10n1k, @schlad

Ignore dbus-broker-launch alerts
  data/journal_check/bug_refs.json
Owners: none

Remove redundant broker message
  data/journal_check/bug_refs.json
Owners: none

Schedule disable_grub_timeout if bootloader is grub
  lib/main_common.pm
Owners: none

Schedule disk_boot if bootloader isn't grub
  lib/main_common.pm
Owners: none

Enable sdboot during TW installation
  lib/main_common.pm
Owners: none

Add disk boot module for sdboot and grub-bls
  tests/installation/disk_boot.pm
Owners: none

Change redis to valkey-compat-redis
  tests/console/redis.pm
Owners: none

SLEM 6.2 knonw issues 2 entries updated for journal checks
  data/journal_check/bug_refs.json
Owners: none

Make all cleanup method reload to return a value
  lib/publiccloud/azure.pm
  lib/publiccloud/ec2.pm
  lib/publiccloud/gce.pm
  lib/publiccloud/noprovider.pm
  lib/publiccloud/openstack.pm
  lib/publiccloud/openstack_client.pm
  tests/publiccloud/aws_cli.pm
  tests/publiccloud/azure_cli.pm
  tests/publiccloud/img_proof.pm
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Add systemd_testkit_offline in functional on SLE16
  tests/console/create_hdd_systemd_testkit.pm
  tests/console/start_systemd_testkit_offline.pm
Owners: none

Use autoyast for qam jobs
  schedule/qam/12-SP3/qam-regression-installation.yaml
  schedule/qam/12-SP5/qam-regression-installation.yaml
  schedule/qam/15-SP2/qam-regression-installation.yaml
  schedule/qam/15-SP2/qam-textmode.yaml
  schedule/qam/15-SP3/qam-regression-installation.yaml
  schedule/qam/15-SP4/qam-regression-installation.yaml
  schedule/qam/15-SP5/qam-regression-installation.yaml
  schedule/qam/15-SP6/qam-regression-installation.yaml
Owners: none

Disable cleanup for upload_img tests
  tests/publiccloud/upload_image.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Make all cleanup method reload to return a value
  lib/publiccloud/azure.pm
  lib/publiccloud/ec2.pm
  lib/publiccloud/gce.pm
  lib/publiccloud/noprovider.pm
  lib/publiccloud/openstack.pm
  lib/publiccloud/openstack_client.pm
  tests/publiccloud/aws_cli.pm
  tests/publiccloud/azure_cli.pm
  tests/publiccloud/img_proof.pm
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Disable cleanup for upload_img tests
  tests/publiccloud/upload_image.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Enable UEFI and secure boot on aaarch64
  data/security/autoyast/textmode.xml.ep
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Add agama schedule for qesec hdd creation jobs
  schedule/security/agama.yaml
  schedule/security/agama_remote_pvm.yaml
  schedule/security/agama_remote_s390x.yaml
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Make sure nfs-client is installed as part of krb5 tests
  tests/security/krb5/krb5_crypt_prepare.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Add schedules for new Minimal-VM images
  schedule/sles4sap/minimalvm/patterns.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Unschedule boot_encrypt, system is already booted
  lib/main_common.pm
Owners: none

Add test to enroll TPM in FDE
  tests/console/sdbootutil_enroll.pm
  tests/installation/disk_boot.pm
Owners: none

Add runtime variable to control disk unlocking
  lib/utils.pm
  tests/console/sdbootutil_enroll.pm
  variables.md
Owners: none

Reboot system after TPM enrollment
  tests/console/sdbootutil_enroll.pm
Owners: none

Schedule sdbootutil_enroll
  lib/main_common.pm
Owners: none

Omit grub_set_bootargs if bootloader isn't grub
  lib/main_common.pm
Owners: none

Fix ay for test network_configuration
  data/autoyast_qam/12-common_base_installation.xml.ep
Owners: none

Add schedule for gnome-sdboot-fde test
  schedule/systemd-boot/sdboot-fde.yaml
Owners: none

Change expect script for script_run_interactive
  tests/console/sdbootutil_enroll.pm
Owners: none

Move java sources from gitlab to OSADO data
  data/security/openjdk/Shell.java
  data/security/openjdk/Tcheck.java
  lib/openjdktest.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Add nfstest testsuite
  schedule/storage/nfs.yaml
  tests/kernel/before_nfs_test.pm
  tests/kernel/nfs_barriers.pm
  tests/kernel/nfstest.pm
Owners: none

Add unattended installation with TPM FDE
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
Owners: none

Refactor tfvars configuration
  data/sles4sap/sap_deployment_automation_framework/SAP_SYSTEM.tfvars
  data/sles4sap/sap_deployment_automation_framework/WORKLOAD_ZONE.tfvars
  lib/sles4sap/sap_deployment_automation_framework/configure_sap_systems_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/configure_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/configure_workload_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  t/20_sdaf_deployment_library.t
  t/27_sdaf_configure_tfvars.t
  t/27_sdaf_configure_workload_tfvars.t
  t/33_sdaf_configure_sap_systems_tfvars.t
  tests/sles4sap/sap_deployment_automation_framework/deploy_sap_systems.pm
  tests/sles4sap/sap_deployment_automation_framework/deploy_workload_zone.pm
  tests/sles4sap/sap_deployment_automation_framework/execute_playbooks.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Be more explicit when checking variables
  lib/main_common.pm
Owners: none

Remove unnecessary get_var
  lib/utils.pm
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
