Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @jlausuch, @mloviska

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @jlausuch @ricardobranco777
tests/microos/ @mloviska @jlausuch @ricardobranco777
products/sle-micro/ @mloviska @jlausuch @ricardobranco777
products/alp/ @mloviska @jlausuch @ricardobranco777
tests/jeos/ @mloviska @jlausuch @ricardobranco777
tests/transactional/ @mloviska @jlausuch @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

Update aws cli from v1 to v2
  data/publiccloud/aws.asc
  data/publiccloud/venv/aws.txt
  tests/publiccloud/prepare_tools.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Add test suite of autoyast_mini for s390x and aarch64
  data/autoyast_sle15/mini_s390x.xml
  schedule/yast/autoyast/autoyast_mini_aarch64.yaml
  schedule/yast/autoyast/autoyast_mini_s390x.yaml
  test_data/yast/autoyast/profiles/mini_aarch64.yaml
  test_data/yast/autoyast/profiles/mini_s390x.yaml
Owners: none

Rearrange test matrix
  lib/virt_autotest/common.pm
Owners: none

Move all the autoyast profiles from Migration job groups to data/yam/
  data/yam/autoyast/autoyast_pcm_lgm_allpatterns_ppc64le.xml.ep
  data/yam/autoyast/autoyast_sle_powervm.xml.ep
  data/yam/support_images/create_hdd_gnome_allpatterns_aarch64.xml
  data/yam/support_images/create_hdd_gnome_disabled_firewall.xml
  data/yam/support_images/create_hdd_gnome_s390x.xml
  data/yam/support_images/create_hdd_gnome_sdk_allpatterns_aarch64.xml
  data/yam/support_images/create_hdd_gnome_sdk_allpatterns_s390x.xml
  data/yam/support_images/create_hdd_ha_aarch64.xml.ep
  data/yam/support_images/create_hdd_ha_ppc64le.xml.ep
  data/yam/support_images/create_hdd_ha_s390x.xml.ep
  data/yam/support_images/create_hdd_ha_sles.xml.ep
  data/yam/support_images/create_hdd_ha_x86_64.xml.ep
  data/yam/support_images/create_hdd_hpc_development_node_aarch64.xml.ep
  data/yam/support_images/create_hdd_hpc_development_node_x86_64.xml.ep
  data/yam/support_images/create_hdd_hpc_management_server_aarch64.xml.ep
  data/yam/support_images/create_hdd_hpc_management_server_x86_64.xml.ep
  data/yam/support_images/create_hdd_hpc_textmode_aarch64.xml.ep
  data/yam/support_images/create_hdd_hpc_textmode_x86_64.xml.ep
  data/yam/support_images/create_hdd_sap.xml.ep
  data/yam/support_images/create_hdd_sles_regression_aarch64.xml.ep
  data/yam/support_images/create_hdd_sles_regression_ppc64le.xml.ep
  data/yam/support_images/create_hdd_sles_regression_s390x.xml.ep
  schedule/migration/autoyast_regression_test_online_pre@pvm.yaml
  schedule/yast/autoyast/autoyast_ha.yaml
  schedule/yast/autoyast/autoyast_sap.yaml
Owners: none

Add func to parse Ansible log (#17427)
  lib/qesapdeployment.pm
  lib/sles4sap_publiccloud_basetest.pm
  lib/trento.pm
  t/08_trento.t
  t/09_qesapdeployment.t
  tests/sles4sap/publiccloud/qesap_ansible.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
  tests/sles4sap/qesapdeployment/deploy.pm
  tests/sles4sap/qesapdeployment/destroy.pm
Owners: none

deploy: 7fc8a1cb8dac0d8590d20a8c75d27cadded46157
  qesapdeployment.html
Owners: none

wicked: add always_rollback flag for basic/t09_hotplug
  tests/wicked/basic/sut/t09_hotplug.pm
Owners: none

wicked: add helper container
  lib/wickedbase.pm
  tests/wicked/before_test.pm
Owners: none

Enhance how we open/close YaST modules in containers to detect potential problems
  lib/y2_module_consoletest.pm
  tests/yam/yast_modules/control_center.pm
Owners: none

Update aws cli from v1 to v2 #1
  tests/publiccloud/prepare_tools.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Mask purge-kernels service then not to race with PackageKit
  tests/update/prepare_system_for_update_tests.pm
Owners: none

installation/live_installation: Fix a comment
  tests/installation/live_installation.pm
Owners: none

Enable softfail for bsc#1212977
  tests/console/steamcmd.pm
Owners: none

lib/main_common: CR-DVD does not need_clear_repos
  lib/main_common.pm
Owners: none

Set static value if pcmk_delay_max is not defined in resource
  lib/hacluster.pm
  t/11_hacluster.t
Owners: none

installation/live_installation: Fix a comment
  tests/installation/live_installation.pm
Owners: none

lib/main_common: CR-DVD does not need_clear_repos
  lib/main_common.pm
Owners: none

general_hw: Add a workaround in flash_sd script
  data/generalhw_scripts/flash_sd.sh
Owners: none

Enable checking hugepages on Leap 15.5
  tests/console/dpdk.pm
Owners: none

Create two modules to replace upgrade_select
  lib/Distribution/Opensuse/Tumbleweed.pm
  lib/Yam/PreviouslyUsedReposPage.pm
  lib/Yam/SelectForUpdatePage.pm
  schedule/migration/migration_offline_media_x86_64.yaml
  tests/installation/upgrade/accept_remove_previous_repos.pm
  tests/installation/upgrade/select_for_update.pm
Owners: none

Remove 'IN_PATCH_SLE' in tests/migration/SUSEConnect_register_system.pm
  schedule/migration/migration_offline_media_x86_64.yaml
  schedule/migration/migration_offline_scc_x86_64.yaml
  tests/migration/suseconnect_register_system.pm
Owners: none

wicked: move scripts in data/wicked/scripts
  data/wicked/scripts/ifreload-1.sh
  data/wicked/scripts/ifreload-2.sh
  data/wicked/scripts/ifreload-3.sh
  data/wicked/scripts/ifreload-4.sh
  data/wicked/scripts/ifrename-1.sh
  data/wicked/scripts/test-ext-firewall.sh
  tests/wicked/startandstop/sut/t13_bridge_ifreload_all_dummies.pm
  tests/wicked/startandstop/sut/t14_bridge_ifreload_all_physical.pm
  tests/wicked/startandstop/sut/t15_bridge_ifreload_all_bond.pm
  tests/wicked/startandstop/sut/t16_bridge_ifreload_physical.pm
  tests/wicked/startandstop/sut/t17_ifrename.pm
  tests/wicked/startandstop/sut/t18_firewall_extension.pm
Owners: none

wicked: add test ifdownup_vlan_on_dummy
  data/wicked/scripts/ifdownup-1.1.sh
  tests/wicked/startandstop/sut/t20_ifdownup_vlan_on_dummy.pm
Owners: none

Run prune after all containers are stopped
  lib/containers/engine.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Remove workaround for bsc1202234 and bsc121197
  data/autoyast_sle15/create_hdd/create_hdd_gnome_sdk_allpatterns_s390x.xml
  lib/registration.pm
Owners: none

Enhance how we open/close YaST modules in containers to detect potential problems
  lib/y2_module_consoletest.pm
  tests/yam/yast_modules/control_center.pm
Owners: none

Improve test module patch_and_reboot_system.pm
  tests/migration/patch_and_reboot_system.pm
Owners: none

Fix docker rm call
  lib/containers/engine.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Force remove pods before containers
  lib/containers/engine.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Trim strings retrieved from variables
  tests/installation/ipxe_install.pm
Owners: none

testing
  tests/ha/barrier_init.pm
Owners: none

wicked: add auto4 DAD detection test
  tests/wicked/basic/ref/t11_DAD_auto4_detect.pm
  tests/wicked/basic/sut/t11_DAD_auto4_detect.pm
Owners: none

wicked: fix WICKED_CHECK_LOG_EXCLUDE_<testname> usage
  lib/wickedbase.pm
Owners: none

wicked: add DAD dhcp4 test
  tests/wicked/basic/ref/t12_DAD_dhcp4_detect.pm
  tests/wicked/basic/sut/t12_DAD_dhcp4_detect.pm
Owners: none

wicked: add method wait_for_background_process
  lib/wickedbase.pm
Owners: none

wicked: add method do_barrier_create()
  lib/wickedbase.pm
  tests/wicked/locks_init.pm
Owners: none

wicked: add arp-tool a scapy based utility
  data/wicked/arp-tool.py
Owners: none

wicked: add staticIP DAD detection test
  tests/wicked/basic/ref/t13_DAD_static_addresses.pm
  tests/wicked/basic/sut/t13_DAD_static_addresses.pm
Owners: none

wicked: add network tweaks for osd
  lib/wickedbase.pm
  tests/wicked/basic/ref/t11_DAD_auto4_detect.pm
  tests/wicked/basic/ref/t12_DAD_dhcp4_detect.pm
  tests/wicked/basic/ref/t13_DAD_static_addresses.pm
Owners: none

Reset color on error in check_pod_whitespace_rule
  tools/check_pod_whitespace_rule
Owners: none
