Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Install libnsl-stub1 for SLE16 bsc1236235 solution
  tests/sles4sap/hana_install.pm
  tests/sles4sap/netweaver_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Un-schedule fwupd test for s390x
  schedule/functional/extra_tests_textmode_sle16.yaml
Owners: none

Schedule disable_grub_timeout if bootloader is grub
  lib/main_common.pm
Owners: none

Schedule sdbootutil_enroll
  lib/main_common.pm
Owners: none

Unschedule boot_encrypt, system is already booted
  lib/main_common.pm
Owners: none

Schedule disk_boot if bootloader isn't grub
  lib/main_common.pm
Owners: none

Add test to enroll TPM in FDE
  tests/console/sdbootutil_enroll.pm
  tests/installation/disk_boot.pm
Owners: none

Enable sdboot during TW installation
  lib/main_common.pm
Owners: none

Add disk boot module for sdboot and grub-bls
  tests/installation/disk_boot.pm
Owners: none

Add unattended installation with TPM FDE
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
  t/01_style.t
Owners: none

Add runtime variable to control disk unlocking
  lib/utils.pm
  tests/console/sdbootutil_enroll.pm
  variables.md
Owners: none

Change expect script for script_run_interactive
  tests/console/sdbootutil_enroll.pm
Owners: none

Reboot system after TPM enrollment
  tests/console/sdbootutil_enroll.pm
Owners: none

Be more explicit when checking variables
  lib/main_common.pm
Owners: none

Omit grub_set_bootargs if bootloader isn't grub
  lib/main_common.pm
Owners: none

Add schedule for gnome-sdboot-fde test
  schedule/systemd-boot/sdboot-fde.yaml
Owners: none

Remove unnecessary get_var
  lib/utils.pm
Owners: none

Rename disk_boot to avoid confusion
  lib/main_common.pm
  tests/installation/simple_boot.pm
Owners: none

Simplify code in installation/disk_boot
  tests/installation/disk_boot.pm
Owners: none

Create unattended scenario with home encrypted and resizing
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key_resize.jsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key_resize_ppc64le.jsonnet
  data/yam/agama/auto/template.libsonnet
  lib/Distribution/Opensuse/AgamaDevel.pm
  lib/Yam/Agama/Pom/EnterPassphraseForHomePage.pm
  schedule/yam/agama_encrypted_unattended.yaml
  schedule/yam/agama_encrypted_unattended_ppc64le.yaml
  schedule/yam/agama_encrypted_unattended_s390x.yaml
  schedule/yam/agama_unattended_publish_qcow.yaml
  schedule/yam/agama_unattended_publish_qcow_ppc64le.yaml
  schedule/yam/agama_unattended_publish_qcow_s390x.yaml
  tests/yam/agama/boot_home_encryption.pm
Owners: none

Add workaround in inkscape for boo1241066
  tests/x11/inkscape.pm
Owners: none

SDAF fix cleanup az query
  lib/sles4sap/sap_deployment_automation_framework/deployment_connector.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

systemtap: Update yaml schedule on 12-SP5
  schedule/qam/common/mau-extratests2.yaml
Owners: none

Use networkmanager to import configure file
  schedule/functional/wireguard_nm.yaml
  tests/network/wireguard_nm.pm
Owners: none

Decouple cleanup module for SDAF scenarios
  lib/sles4sap/sap_deployment_automation_framework/deployment_connector.pm
  schedule/sles4sap/sap_deployment_automation_framework/ensa2_scenarios.yml
  t/26_deployment_connector.t
  tests/sles4sap/redirection_tests/hanasr_schedule_tests.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add sle-module-systems-management
  data/autoyast_qam/15_installtest.xml.ep
  lib/registration.pm
Owners: none

Automate to set the hostname during Agama installation
  lib/autoyast.pm
  schedule/yam/agama_extended.yaml
  schedule/yam/agama_extended_unattended.yaml
  test_data/yam/agama_sle_extended.yaml
  tests/yam/validate/validate_hostname.pm
Owners: none

xfstests: Add fio repo for workaround
  tests/xfstests/install.pm
Owners: none

Rename Public Cloud cleanups
  lib/opensusebasetest.pm
  lib/publiccloud/basetest.pm
  lib/publiccloud/provider.pm
  tests/sles4sap/saptune/mr_test.pm
  variables.md
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

Do not use curl for minimal role
  tests/console/sshd.pm
Owners: @pdostal

Enable also for grub_bls after rebasing on #21697
  lib/main_common.pm
Owners: none

Revert "Temporarily disable podmansh"
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Fix for MicroOS and JeoS
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers/bats: Minor enhancements
  lib/containers/bats.pm
  tests/containers/bats/README.md
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Increase timeout for vm create
  lib/sles4sap/azure_cli.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add files support in AutoYaST supported scenario
  data/yam/agama/auto/autoyast_supported.xml
  schedule/yam/agama_autoyast_supported_ppc64le.yaml
  schedule/yam/agama_autoyast_supported_qemu.yaml
  schedule/yam/agama_autoyast_supported_s390x.yaml
  tests/yam/validate/validate_deployed_files.pm
Owners: none

Add alternative to cs_wait_for_idle when not present
  lib/hacluster.pm
  t/11_hacluster.t
  tests/ha/filesystem.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix iSCSI devices persistence on node reboot
  tests/ha/iscsi_client_setup.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Select root-console without assert and clean
  lib/hacluster.pm
  t/11_hacluster.t
  tests/ha/check_hawk.pm
  tests/ha/dlm.pm
  tests/ha/fencing.pm
  tests/ha/ha_cluster_crash_test.pm
  tests/ha/priority_fencing_delay.pm
  tests/ha/qnetd.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

TO DROP
  lib/hacluster.pm
  schedule/ha/qam/12-SP5/ha_rolling_update_node01.yaml
  schedule/ha/qam/12-SP5/ha_rolling_update_node02.yaml
  schedule/ha/qam/common/ha_rolling_update_node01.yaml
  schedule/ha/qam/common/ha_rolling_update_node02.yaml
  schedule/ha/qam/common/qam_ha_rolling_upgrade_migration_node01.yaml
  schedule/ha/qam/common/qam_ha_rolling_upgrade_migration_node01_sle12.yaml
  schedule/ha/qam/common/qam_ha_rolling_upgrade_migration_node02.yaml
  schedule/ha/qam/common/qam_ha_rolling_upgrade_migration_node02_sle12.yaml
  tests/sles4sap/netweaver_patch.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot
