Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

NFS: Extend NFS multimachine tests
  tests/kernel/nfs_client.pm
  tests/kernel/nfs_server.pm
Owners: none

Automate DUD in Agama
  lib/bootloader_pvm.pm
  schedule/yam/agama_dud.yaml
  tests/yam/validate/validate_dud.pm
Owners: none

Skip check for running services on Azure 12-SP5
  lib/publiccloud/azure.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Specify a group for an user
  tests/jeos/firstrun.pm
Owners: @mloviska, @ricardobranco777

xfstests: Add rdma module and init test
  lib/rdma.pm
  tests/xfstests/partition.pm
Owners: none

Fix small typo in network_peering
  tests/sles4sap/publiccloud/network_peering.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix small typo in network_peering (#21828)
  tests/sles4sap/publiccloud/network_peering.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Continue
  lib/publiccloud/azure.pm
  lib/publiccloud/basetest.pm
  lib/publiccloud/ec2.pm
  lib/publiccloud/gce.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

containers: Rebuild SELinux policies without the dontaudit rules
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Use region instead of zone
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Housekeeping
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Add zone as var so we can change it
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Documents PUBLIC_CLOUD_AVAILABILITY_ZONE var
  variables.md
Owners: none

Add zone var to required vars
  lib/publiccloud/gcp_client.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Docs update feedback
  variables.md
Owners: none

Handle Nvidia-specific zones
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Set correct var name
  data/publiccloud/terraform/gce.tf
  lib/publiccloud/gcp_client.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Add zone to gcloud command
  lib/publiccloud/gce.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Add zone to gcloud command
  lib/publiccloud/gce.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Perltidy & tidyall
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Remove deprecated HA commands and CLI options to crm_mon
  lib/hacluster.pm
  schedule/ha/bv/ha_crash_test_node.yaml
  schedule/ha/bv/haproxy_hawk_node.yaml
  schedule/ha/bv/migration/migration_rolling_upgrade.yaml
  schedule/ha/bv/pacemaker_cts_node.yaml
  schedule/ha/qam/common/qam_cluster_node.yaml
  schedule/ha/qam/common/qam_haproxy_hawk_node.yaml
  schedule/ha/qam/common/qam_migration_rolling_upgrade.yaml
  schedule/sles4sap/netweaver/netweaver_cluster_node.yaml
  schedule/sles4sap/netweaver/netweaver_cluster_systemd.yaml
  t/11_hacluster.t
  tests/ha/check_after_reboot.pm
  tests/ha/ctdb.pm
  tests/ha/ha_cluster_init.pm
  tests/ha/ha_cluster_join.pm
  tests/ha/remove_node.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix iSCSI devices persistence on node reboot
  tests/ha/iscsi_client_setup.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add alternative to cs_wait_for_idle when not present
  lib/hacluster.pm
  t/11_hacluster.t
  tests/ha/filesystem.pm
  tests/ha/haproxy.pm
  tests/sles4sap/ensa/ensa2_web_methods_checks.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Select root-console without assert and clean
  lib/hacluster.pm
  t/11_hacluster.t
  tests/ha/check_hawk.pm
  tests/ha/dlm.pm
  tests/ha/fencing.pm
  tests/ha/ha_cluster_crash_test.pm
  tests/ha/priority_fencing_delay.pm
  tests/ha/qnetd.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Close terminal session and reset consoles in ha/await_upgrade_or_update
  tests/ha/await_upgrade_or_update.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Improve sles4sap::check_instance_state
  lib/sles4sap.pm
  tests/sles4sap/netweaver_patch.pm
  tests/sles4sap/sap_suse_cluster_connector.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Remove installation of ClusterTools2 in hana_install module
  tests/sles4sap/hana_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Aligne all the Azure HanaSR conf.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_uri.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

New schedule for lvm TPM FDE
  schedule/yam/agama_tpm_fde_unattended.yaml
  tests/yam/validate/validate_tpm_fde.pm
Owners: none

Set PAGER=more for serial console
  lib/serial_terminal.pm
Owners: none

Aligne all the Azure HanaSR conf.yaml (#21829)
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_uri.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Move qesapdeployment library
  lib/sles4sap/ipaddr2.pm
  lib/sles4sap/qesap/qesapdeployment.pm
  lib/sles4sap_publiccloud.pm
  lib/sles4sap_publiccloud_basetest.pm
  lib/trento.pm
  t/09_qesapdeployment.t
  t/14_qesap_ansible.t
  t/15_qesap_azure.t
  t/16_qesap_aws.t
  tests/sles4sap/publiccloud/azure_fence_agents_test.pm
  tests/sles4sap/publiccloud/clean_leftover_peerings.pm
  tests/sles4sap/publiccloud/network_peering.pm
  tests/sles4sap/publiccloud/qesap_ansible.pm
  tests/sles4sap/publiccloud/qesap_reuse_infra.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
  tests/sles4sap/qesapdeployment/configure.pm
  tests/sles4sap/qesapdeployment/deploy.pm
  tests/sles4sap/qesapdeployment/destroy.pm
  tests/sles4sap/qesapdeployment/test_cluster.pm
  tests/sles4sap/qesapdeployment/test_crash.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
  tests/sles4sap/qesapdeployment/test_system.pm
  tests/sles4sap/trento/cluster_configure.pm
  tests/sles4sap/trento/cluster_deploy.pm
  tests/sles4sap/trento/destroy.pm
  tests/sles4sap/trento/install_agents.pm
  tests/sles4sap/trento/test_hana_restore_stopped.pm
  tests/sles4sap/trento/test_hana_stop.pm
  tests/sles4sap/trento/test_hana_unregister_node.pm
  tests/sles4sap/trento/test_trento_deploy.pm
  tests/sles4sap/trento/test_trento_web.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: 798b745021bb97b177d6e8a6dc327baf1532cf77
  index.html
  sles4sap/sap_deployment_automation_framework/configure_sap_systems_tfvars.html
  sles4sap/sap_deployment_automation_framework/configure_tfvars.html
  sles4sap/sap_deployment_automation_framework/configure_workload_tfvars.html
  sles4sap/sap_deployment_automation_framework/deployment.html
Owners: none

Move qesapdeployment library (#21833)
  lib/sles4sap/ipaddr2.pm
  lib/sles4sap/qesap/qesapdeployment.pm
  lib/sles4sap_publiccloud.pm
  lib/sles4sap_publiccloud_basetest.pm
  lib/trento.pm
  t/09_qesapdeployment.t
  t/14_qesap_ansible.t
  t/15_qesap_azure.t
  t/16_qesap_aws.t
  tests/sles4sap/publiccloud/azure_fence_agents_test.pm
  tests/sles4sap/publiccloud/clean_leftover_peerings.pm
  tests/sles4sap/publiccloud/network_peering.pm
  tests/sles4sap/publiccloud/qesap_ansible.pm
  tests/sles4sap/publiccloud/qesap_reuse_infra.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
  tests/sles4sap/qesapdeployment/configure.pm
  tests/sles4sap/qesapdeployment/deploy.pm
  tests/sles4sap/qesapdeployment/destroy.pm
  tests/sles4sap/qesapdeployment/test_cluster.pm
  tests/sles4sap/qesapdeployment/test_crash.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
  tests/sles4sap/qesapdeployment/test_system.pm
  tests/sles4sap/trento/cluster_configure.pm
  tests/sles4sap/trento/cluster_deploy.pm
  tests/sles4sap/trento/destroy.pm
  tests/sles4sap/trento/install_agents.pm
  tests/sles4sap/trento/test_hana_restore_stopped.pm
  tests/sles4sap/trento/test_hana_stop.pm
  tests/sles4sap/trento/test_hana_unregister_node.pm
  tests/sles4sap/trento/test_trento_deploy.pm
  tests/sles4sap/trento/test_trento_web.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: 3f153abc6b1a98a2bea359b4f3654eb4c4f5acf7
  index.html
  sles4sap/qesap/qesapdeployment.html
Owners: none

Create unattended scenario with home encrypted and resizing
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key_resize_ppc64le.jsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key_resize_s390x.jsonnet
  data/yam/agama/auto/template.libsonnet
  lib/Distribution/Opensuse/AgamaDevel.pm
  lib/Yam/Agama/Pom/EnterPassphraseForHomePage.pm
  schedule/yam/agama_encrypted_unattended.yaml
  schedule/yam/agama_encrypted_unattended_ppc64le.yaml
  schedule/yam/agama_encrypted_unattended_s390x.yaml
  schedule/yam/agama_unattended_publish_qcow.yaml
  schedule/yam/agama_unattended_publish_qcow_ppc64le.yaml
  schedule/yam/agama_unattended_publish_qcow_s390x.yaml
  tests/yam/agama/boot_home_encryption.pm
Owners: none

Create sles_gnome and sles_gnome_unattended installations
  data/yam/agama/auto/lib/scripts_post.libsonnet
  schedule/yam/agama_gnome.yaml
  schedule/yam/agama_gnome_s390x.yaml
  schedule/yam/agama_gnome_unattended.yaml
  tests/yam/agama/switch_to_product.pm
  tests/yam/validate/validate_desktop.pm
Owners: none

Add Agama automation test in Headless mode
  data/yam/agama/auto/scripts.jsonnet
  lib/Yam/Agama/Pom/AgamaUpAndRunningPage.pm
  schedule/yam/agama_headless_mode.yaml
  schedule/yam/agama_headless_mode_ppc64le.yaml
  schedule/yam/agama_headless_mode_s390x.yaml
  tests/yam/agama/agama.pm
  tests/yam/validate/validate_systemd_target.pm
Owners: none

Ignore bsc#1240421 and bsc#1240428 for journal_check
  data/journal_check/bug_refs.json
Owners: none

Add a default value to IBS GCE variables
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot
