Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Initial podmansh test implementation
  lib/main_containers.pm
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Minor improvements, refactoring
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Podman factory refactor
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Handle Nvidia-specific zones
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

WiP
  tests/kernel/nfs_client.pm
  tests/kernel/nfs_server.pm
Owners: none

set correct var name
  data/publiccloud/terraform/gce.tf
  lib/publiccloud/gcp_client.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

transactional/install_updates: Use zypper patch instead of zypper up
  tests/transactional/install_updates.pm
Owners: @mloviska, @ricardobranco777

Fixes for POO_179825
  lib/eal4_test.pm
  tests/security/eal4/accessible_network_interface.pm
  tests/security/eal4/check_processor_vulnerability_mitigations.pm
  tests/security/eal4/check_undocumented_security_programs.pm
  tests/security/eal4/chrony_pid_file.pm
  tests/security/eal4/dbus_fuzzer.pm
  tests/security/eal4/dbus_services_exposure.pm
  tests/security/eal4/drng_test_preparation.pm
  tests/security/eal4/kvm_check.pm
  tests/security/eal4/netlink_message.pm
  tests/security/eal4/permission_settings.pm
  tests/security/eal4/setup_eal4_env.pm
  tests/security/eal4/syscall_thrasher.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

wip
  tests/kernel/nfs_server.pm
Owners: none

Skip selinux setup and registratiom modules for SLE16
  tests/security/selinux/selinux_setup.pm
  tests/security/selinux/selinux_smoke.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Revert "Re-enable ansible-test for SLE"
  tests/console/ansible.pm
Owners: @pdostal

P.C. Aitl tests timeout management added
  tests/publiccloud/azure_aitl.pm
  variables.md
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Add workaround softfailure, exclude leap micro
  lib/main_containers.pm
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

deploy: f0f6e1e758caed427f9ef5747851718110923520
  sles4sap/sap_deployment_automation_framework/deployment.html
  sles4sap/sap_deployment_automation_framework/deployment_connector.html
Owners: none

wip
  tests/kernel/nfs_server.pm
Owners: none

wip
  tests/kernel/nfs_server.pm
Owners: none

Fix micro target version check
  lib/transactional.pm
  lib/version_utils.pm
Owners: none

wip
  tests/kernel/nfs_server.pm
Owners: none

wip
  tests/kernel/nfs_client.pm
  tests/kernel/nfs_server.pm
Owners: none

Podmansh test implementation (#21297)
  lib/main_containers.pm
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

containers: Allow to disable SELinux on BATS tests
  lib/containers/bats.pm
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Automate support extension in the interactive installation (HA)
  schedule/yam/agama_extensions_and_patterns.yaml
Owners: none

add zone to gcloud command
  lib/publiccloud/gce.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

add zone to gcloud command
  lib/publiccloud/gce.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

deploy: d3951698a03e57973415d2038d82f1a3d8cba6bf
  version_utils.html
Owners: none

Skip fwupd test: 390x does not support the ACPI ESRT table
  schedule/functional/extra_tests_textmode.yaml
Owners: none

Don't remove system default python when doing cleanup
  schedule/functional/stack_tests_python_sle16.yaml
  tests/console/python3_pipx.pm
  tests/console/python3_pynacl.pm
  tests/console/python3_setuptools.pm
  tests/console/python3_websocket_client.pm
  tests/console/python_scientific.pm
  tests/console/python_virtualenv.pm
Owners: none

Add profiles for oemdrv test
  data/yam/agama/auto/autoinst_aarch64.jsonnet
  data/yam/agama/auto/autoinst_x86_64.jsonnet
Owners: none

Fix qam-minimal+base schedule on 12-SP5
  schedule/qam/12-SP5/qam-minimal-base.yaml
Owners: none

containers: Use toolbox image also for ppc64le
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Avoid mem_encrypt=on on amd-zen3-gpu-sut1 due to bsc#1224107
  data/virt_autotest/host_unattended_installation_files/autoyast/dev_host_15.xml.ep
Owners: none

Fix locale parameters
  tests/jeos/glibc_locale.pm
Owners: @mloviska, @ricardobranco777

Tfvars file generator
  data/sles4sap/sap_deployment_automation_framework/SAP_SYSTEM.tfvars
  data/sles4sap/sap_deployment_automation_framework/WORKLOAD_ZONE.tfvars
  lib/sles4sap/sap_deployment_automation_framework/configure_sap_systems_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/configure_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/configure_workload_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  t/20_sdaf_deployment_library.t
  t/27_sdaf_configure_tfvars.t
  t/27_sdaf_configure_workload_tfvars.t
  t/34_sdaf_configure_sap_systems_tfvars.t
  tests/sles4sap/sap_deployment_automation_framework/deploy_sap_systems.pm
  tests/sles4sap/sap_deployment_automation_framework/deploy_workload_zone.pm
  tests/sles4sap/sap_deployment_automation_framework/execute_playbooks.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add IBSm peering test to GCP
  data/sles4sap/qe_sap_deployment/qesap_gcp_peering.yaml
  tests/sles4sap/qesapdeployment/configure.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Remove workaround for 1238709
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add IBSm peering test to GCP (#21756)
  data/sles4sap/qe_sap_deployment/qesap_gcp_peering.yaml
  tests/sles4sap/qesapdeployment/configure.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Remove fixed and verified agetty bug
  data/journal_check/bug_refs.json
Owners: none

Adapt import_agama_profile test to use dynamic JSON
  lib/autoyast.pm
  tests/yam/agama/boot_agama.pm
  tests/yam/agama/import_agama_profile.pm
Owners: none

Temporarily disable podmansh
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

User serial terminal for test mtab
  tests/console/mtab.pm
Owners: none
