Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Values in os-release have changed
  tests/console/check_os_release.pm
Owners: none

Append disable_ddw=1 in sle-micro 6.2
  tests/transactional/host_config.pm
Owners: @mloviska, @ricardobranco777

PC: basetest: Comment cleanup() calls
  lib/publiccloud/basetest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Fix JeOS-Firstboot for SLES16
  tests/microos/selfinstall.pm
Owners: @mloviska, @ricardobranco777

Replace body with content for virt test on sle16
  data/virt_autotest/host_unattended_installation_files/agama/sle16.jsonnet
Owners: none

Replace 'body' with 'content' for sle16 script
  data/agama_auto/sle_default.jsonnet
  data/agama_auto/sle_default_ipmi_no_reg.jsonnet
  data/agama_auto/sle_default_pvm.jsonnet
  data/agama_auto/sle_default_pvm_no_reg.jsonnet
  data/agama_auto/sle_default_s390x_kvm.jsonnet
  data/agama_auto/sle_default_s390x_kvm_no_reg.jsonnet
Owners: none

Fix publiccloud::run_ltp::cleanup()
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

PC: Alter the test_flags in check_registercloudguest
  tests/publiccloud/check_registercloudguest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Use new path on SLEM 6.2
  tests/microos/verify_setup.pm
Owners: @mloviska, @ricardobranco777

containers: Add test for default OCI runtime
  tests/containers/container_engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Add missing packages
  tests/containers/skopeo_integration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add option for additional kernel parameters
  lib/virt_autotest/utils.pm
  tests/security/krb5/krb5_crypt_ssh_client.pm
  tests/security/krb5/krb5_crypt_ssh_server.pm
  tests/virt_autotest/guest_installation_run.pm
  tests/virt_autotest/host_upgrade_generate_run_file.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

AutoYaST compatibility focus on unsupported sections
  data/yam/agama/auto/autoyast_unsupported.xml
  lib/Yam/Agama/Pom/AgamaUpAndRunningPage.pm
  schedule/yam/agama_autoyast_unsupported.yaml
  tests/yam/agama/agama.pm
Owners: none

[Virtualization][MU]: Correct 12SP3 TD test repo
  data/virtualization/autoyast/guest_12.xml.ep
  data/virtualization/autoyast/host_12.xml.ep
Owners: none

Add systemd_testkit_offline in functional on SLE16
  tests/console/create_hdd_systemd_testkit.pm
  tests/console/start_systemd_testkit_offline.pm
Owners: none

Use autoyast for qam jobs
  schedule/qam/12-SP3/qam-regression-installation.yaml
  schedule/qam/12-SP5/qam-regression-installation.yaml
  schedule/qam/15-SP2/qam-regression-installation.yaml
  schedule/qam/15-SP2/qam-textmode.yaml
  schedule/qam/15-SP3/qam-regression-installation.yaml
  schedule/qam/15-SP4/qam-regression-installation.yaml
  schedule/qam/15-SP5/qam-regression-installation.yaml
  schedule/qam/15-SP6/qam-regression-installation.yaml
Owners: none

Add profiles for addons on s390x/ppc64le
  data/yam/agama/auto/sles_addons_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_addons_ssh_pub_key_ppc64le.jsonnet
Owners: none

containers: crun is expected only on SLEM 6.1+
  tests/containers/container_engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Only SLEM 6.1 uses crun
  tests/containers/container_engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Only SLEM 6.0 & 6.1 use crun
  tests/containers/container_engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Check default OCI runtime on buildah
  tests/containers/buildah.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Ensure known_hosts exists in img_proof before ssh-keyscan
  tests/publiccloud/img_proof.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Apply several changes for sle16 hyperv and vmware testing
  schedule/virt_autotest/sle16_default_svirt.yaml
Owners: none

Add necessary modifications for Business One 2502
  data/sles4sap/b1_log.sh
  data/sles4sap/bone.cfg
  tests/sles4sap/patterns.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Do not expect GRUB on VMware
  lib/registration.pm
Owners: none

SLES 16 Container create hdd s390x-kvm jsonnet fixed
  data/containers/agama/sle_default_s390x_kvm.jsonnet
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Make various security test failures non-fatal
  tests/fips/openssl/dirmngr_setup.pm
  tests/fips/openssl/openssl_fips_dhparam.pm
  tests/fips/openssl/openssl_fips_hash.pm
  tests/security/vsftpd/vsftpd.pm
  tests/security/vsftpd/vsftpd_setup.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Fix Elemental container image test
  tests/elemental/container_validation.pm
  tests/elemental/installation.pm
  tests/elemental/shutdown.pm
Owners: none

Use ensure_install instead of duplicated code
  tests/x11/ibus/ibus_installation.pm
Owners: none

Fix copyright
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix saptune failures on 16 due to changed initial conditions
  lib/sles4sap.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Revert Do not expect GRUB on VMware
  lib/registration.pm
Owners: none

Enable kubevirt tests for MU
  data/virtualization/autoyast/host_15.xml.ep
  schedule/virt_autotest/kubevirt-tests-sles.yaml
Owners: none

containers: docker always uses runc
  tests/containers/container_engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Erase the root disk before installation
  data/agama_auto/sle_default_pvm.jsonnet
Owners: none

Add ulp live patch testing for sle16
  tests/kernel/ulp_openposix.pm
Owners: none

Add inst.finish in kernel boot parameters for ovmdrv
  tests/yam/agama/boot_agama.pm
Owners: none

Don't start apache too often
  tests/console/apache.pm
Owners: none

Update gawk version to fit gcc15
  tests/toolchain/gcc_compilation.pm
Owners: none

Revert "Add inst.finish in kernel boot parameters for ovmdrv test"
  tests/yam/agama/boot_agama.pm
Owners: none
