Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

Install SLES for SAP for agama testing
  data/yam/agama/auto/default_sap.json
  data/yam/agama/auto/default_sap_no_scc.json
  test_data/yam/agama_sap.yaml
Owners: none

Fix ibus failure on TW
  lib/x11test.pm
Owners: none

xfstests: Support test pNFS
  tests/xfstests/partition.pm
Owners: none

deploy: 6ed938f24c3100546d85e20a754d9594be1e828c
  version_utils.html
Owners: none

poo168535- add 15SP2 LTSS Teradata
  data/virtualization/autoyast/guest_15.xml.ep
Owners: none

Fix getting server ip variable failure
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Increase timeout in transactional-update install
  tests/microos/cockpit_service.pm
  tests/microos/patterns.pm
Owners: @mloviska, @ricardobranco777, @rbmarliere

Remove unnecessary needles from ipxe install for virt tests
  tests/installation/ipxe_install.pm
Owners: none

poo168535-15SP2-Teradata - host configuration
  data/virtualization/autoyast/host_15.xml.ep
Owners: none

Use posts script to enable sshd
  data/yam/agama/auto/default_sle.jsonnet
  data/yam/agama/auto/default_sle_no_scc.jsonnet
  tests/installation/bootloader_s390.pm
Owners: none

Disable ssh key scan on wait for ssh (#20836)
  tests/sles4sap/publiccloud/azure_fence_agents_test.pm
  tests/sles4sap/publiccloud/qesap_prevalidate.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add legacy module as requirement for package libicu60_2
  tests/sles4sap/patterns.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add journal_check
  lib/main_common.pm
Owners: none

Fix serial console settings for agama install
  tests/installation/ipxe_install.pm
Owners: none

Include GPU check validation
  tests/publiccloud/create_aistack_env.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

Ensure only one agama.auto in bootloader parameters
  lib/bootloader_setup.pm
  tests/installation/bootloader_s390.pm
  tests/installation/bootloader_zkvm.pm
Owners: none

Ensure dialog Password_needed is reached
  tests/yast2_gui/yast2_security.pm
Owners: none

Add guest profiles for SL Micro 6.2
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_aarch64_default_qcow_ignition+combustion.xml
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_aarch64_default_raw_ignition+combustion.xml
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_x86_64_default_encrypted_ignition+combustion.xml
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_x86_64_default_qcow_ignition+combustion.xml
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_x86_64_default_raw_ignition+combustion.xml
Owners: none

Retrieve logs when failing to sync during boot
  tests/yam/agama/boot_agama.pm
Owners: none

[Virtualization][MU]: Support IPXE boot for OSD SUTs
  lib/main_common.pm
Owners: none

Fix s390x cc_net_case test
  tests/security/cc/setup_net_test_env.pm
Owners: none

Increase GRUB timeout and enable auto-resolution for VMware
  schedule/virt_autotest/slem_open_vm_tools.yaml
  tests/console/system_prepare.pm
Owners: none

Add legacy module as requirement for package libicu60_2 (#20837)
  tests/sles4sap/patterns.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Poo#174574 add s390x full-qu schedule
  schedule/yast/sle/flows/default_s390x_kvm_flavor_full.yaml
Owners: none

remove maint repo, DELETE ME
  tests/security/cc/cc_audit_test_setup.pm
Owners: none

Adapt quota test to systemd 256 templated service
  tests/console/quota.pm
Owners: none

Agama powerVM
  lib/bootloader_pvm.pm
Owners: none

Introduce retry mechanism for ima counting of measurements
  tests/security/ima/ima_kernel_cmdline_hash.pm
  tests/security/ima/ima_kernel_cmdline_template.pm
  tests/security/ima/ima_measurement.pm
Owners: none

bootloader_uefi: Fix sdboot check
  tests/installation/bootloader_uefi.pm
Owners: none

Fix Vendor Affirmation for SLED
  lib/security/openssl_misc_utils.pm
  lib/version_utils.pm
  tests/fips/openjdk/openjdk_fips.pm
Owners: none

containers: Enable BCI tests on CentOS 10
  tests/containers/host_configuration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

Poo#174577 add aarch64 full-qu schedule
  schedule/yast/sle/flows/default_aarch64_flavor_full.yaml
Owners: none

Add file for plain password in Agama
  data/yam/agama/auto/default_sap_no_scc_plain_password.json
  data/yam/agama/auto/default_sle_no_scc_plain_password.json
Owners: none

ltp: Add support for SLE 16
  tests/kernel/install_ltp.pm
Owners: none

Include GPU check validation
  tests/publiccloud/create_aistack_env.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

Use posts script to enable sshd
  data/yam/agama/auto/default_sle.jsonnet
  data/yam/agama/auto/default_sle_no_scc.jsonnet
Owners: none

Increase GRUB timeout and enable auto-resolution for VMware
  schedule/virt_autotest/slem_open_vm_tools.yaml
  tests/console/system_prepare.pm
Owners: none

Add guest profiles for SL Micro 6.2
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_aarch64_default_qcow_ignition+combustion.xml
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_aarch64_default_raw_ignition+combustion.xml
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_x86_64_default_encrypted_ignition+combustion.xml
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_x86_64_default_qcow_ignition+combustion.xml
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_x86_64_default_raw_ignition+combustion.xml
  lib/virt_autotest/utils.pm
Owners: none

Do not format dasd when auto installation
  tests/installation/bootloader_s390.pm
Owners: none

Adapt cloud-init tests to work with IBSm
  lib/sles4sap/ipaddr2.pm
  schedule/sles4sap/cloud-components/ipaddr2.yml
  tests/sles4sap/ipaddr2/configure.pm
  tests/sles4sap/ipaddr2/destroy.pm
  tests/sles4sap/ipaddr2/patch_system.pm
  tests/sles4sap/ipaddr2/sanity_cluster.pm
  tests/sles4sap/ipaddr2/sanity_os.pm
  tests/sles4sap/ipaddr2/test_move_resource.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis @rbmarliere
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati @rbmarliere
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/qesapdeploymnet.pm @mpagot @rbmarliere

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777 @rbmarliere

# Transactional systems
products/microos/ @mloviska @ricardobranco777 @rbmarliere
tests/microos/ @mloviska @ricardobranco777 @rbmarliere
products/sle-micro/ @mloviska @ricardobranco777 @rbmarliere
products/alp/ @mloviska @ricardobranco777 @rbmarliere
tests/jeos/ @mloviska @ricardobranco777 @rbmarliere
tests/transactional/ @mloviska @ricardobranco777 @rbmarliere
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777 @rbmarliere

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
