Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Run firewalld checker in vmware and cloud
  lib/main_common.pm
  tests/console/firewall_enabled.pm
Owners: none

apparmor: Replace nscd with samba/smbd
  tests/security/apparmor/aa_autodep.pm
  tests/security/apparmor/aa_genprof.pm
  tests/security/apparmor/aa_logprof.pm
  tests/security/apparmor/aa_notify.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

SLMicro: apply patch twice after adding updates
  tests/transactional/install_updates.pm
  variables.md
Owners: @mloviska, @ricardobranco777

wip
  tests/kernel/blktests.pm
Owners: none

Adds push test
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

wip
  tests/kernel/blktests.pm
Owners: none

Use the correct quotes
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

apparmor: Use nscd on older SLE versions
  tests/security/apparmor/aa_autodep.pm
  tests/security/apparmor/aa_genprof.pm
  tests/security/apparmor/aa_logprof.pm
  tests/security/apparmor/aa_notify.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

wip
  tests/kernel/blktests.pm
Owners: none

update_kernel: Check /boot/image in addition to vmlinux
  tests/kernel/update_kernel.pm
Owners: none

update_kernel: Refactor adding incident/update repositories
  tests/kernel/update_kernel.pm
Owners: none

update_kernel: Allow forcing kernel version for livepatching
  tests/kernel/update_kernel.pm
Owners: none

remove_kernel_packages: Fix transactional workaround
  lib/kernel.pm
Owners: none

update_kernel: Install kernel-devel on SLE-Micro
  tests/kernel/update_kernel.pm
Owners: none

install_klp_product: Add exception for SL-Micro 6.0 livepatch
  lib/klp.pm
Owners: none

Just fixing an annoying typo
  lib/sles4sap/qesap/qesapdeployment.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add ED curves as permitted algorithm
  tests/fips/openssl/openssl_fips_alglist.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Add ML as permitted algorithm
  tests/fips/openssl/openssl_fips_alglist.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

wip
  tests/kernel/blktests.pm
Owners: none

Update the zgrep search log for ibft validation
  tests/installation/validation/ibft.pm
Owners: none

containers/bats: Load null_blk module for podman tests
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Storage: Make blktests config not mandatory
  tests/kernel/blktests.pm
Owners: none

containers/bats: Add missing xfsprogs dependency
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Storage: A temporary suspension of test results collection
  tests/kernel/blktests.pm
Owners: none

Storage: Collect nodev results for dm tests
  tests/kernel/blktests.pm
Owners: none

Ignore falseticker
  data/journal_check/bug_refs.json
Owners: none

Storage: Collect nvme test results
  tests/kernel/blktests.pm
Owners: none

Revert "Drop of not required parameter which causing issues"
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Implement conditional use of scheduling parameter
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

containers: De-schedule podman on SLEM & Leap Micro
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

update_install: Softfail on expected update-test-trivial failure
  tests/qam-updinstall/update_install.pm
Owners: none

containers: De-schedule podmansh test on SLE 16.0
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Storage: enable loop and throtl tests for SLE16
  tests/kernel/blktests.pm
Owners: none

Investigating a product bug
  tests/kernel/blktests.pm
Owners: none

Investigating thortl for sle16
  tests/kernel/blktests.pm
Owners: none

Allow ltss containers to be downloaded
  tests/containers/image.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

wicked: install but disable firewall by default
  tests/wicked/before_test.pm
Owners: none

Add validation to check installed repos
  schedule/yam/agama.yaml
  schedule/yam/agama_auto.yaml
  test_data/yam/agama_sle.yaml
Owners: none

Update regex to match openssl 3.4+ message
  tests/fips/openssl/openssl_pubkey_rsa.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Whitelist bsc#1242209
  data/journal_check/bug_refs.json
Owners: none
