Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Fix record_info in saputils
  lib/saputils.pm
Owners: none

Tweak kernel to output all messages in serial terminal
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

update_install: Don't run snapper rollback on sle11
  tests/qam-updinstall/update_install.pm
Owners: none

Remove grub_test module from SLES+HA 16 installation schedule
  schedule/ha/bv/agama_install_sles_ha.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Grep output of hdbnsutil command in perl
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix record_info in saputils (#21571)
  lib/saputils.pm
Owners: none

Add test module to validate the base product
  schedule/yam/agama.yaml
  schedule/yam/agama_auto.yaml
  schedule/yam/agama_autoyast_supported_ppc64le.yaml
  schedule/yam/agama_autoyast_supported_qemu.yaml
  schedule/yam/agama_autoyast_supported_s390x.yaml
  schedule/yam/agama_from_usb.yaml
  schedule/yam/agama_remote_pvm.yaml
  schedule/yam/agama_remote_s390x.yaml
  schedule/yam/agama_s390x.yaml
  tests/yam/validate/validate_base_product.pm
Owners: none

Add unattended installation with individual packages selected
  data/yam/agama/auto/lib/packages.libsonnet
  data/yam/agama/auto/template.libsonnet
Owners: none

Fix s390x booting of Full medium
  tests/installation/bootloader_s390.pm
  tests/installation/bootloader_zkvm.pm
Owners: none

Fix s390x booting of Full medium
  tests/installation/bootloader_s390.pm
  tests/installation/bootloader_zkvm.pm
Owners: none

Whitelist bsc 1227081 - dbus-broker-launch
  data/journal_check/bug_refs.json
Owners: none

Add TERADATA::12-SP3::update repo on 12-SP3 TERADATA
  data/autoyast_qam/12_installtest.xml.ep
Owners: none

Add 15-SP7 on python3 module
  data/autoyast_qam/15_installtest.xml.ep
Owners: none

Add SAP Business one module on SLE & HA
  data/autoyast_qam/15_installtest.xml.ep
Owners: none

Drop out of support repo 12-SP2-LTSS-ERICSSON
  data/autoyast_qam/12_installtest.xml.ep
Owners: none

install_ltp: don't install exfatprogs for LTP git in TW
  tests/kernel/install_ltp.pm
Owners: none

update_install: Add docker-stable conflict
  tests/qam-updinstall/update_install.pm
Owners: none

install_ltp: don't install exfatprogs for LTP git in TW
  tests/kernel/install_ltp.pm
Owners: none

Quick fix to get PUBLISH_HDD_1 work
  schedule/yam/agama_lvm_encrypted_unattended.yaml
  schedule/yam/agama_lvm_encrypted_unattended_ppc64le.yaml
  schedule/yam/agama_lvm_encrypted_unattended_s390x.yaml
Owners: none

Remove the prepare_wsl testsuite
  schedule/wsl/install/create_windows_image.yaml
  schedule/wsl/wsl_main.yaml
  tests/wsl/distro_install.pm
  tests/wsl/install/win_installation.pm
  tests/wsl/smoke_test.pm
  tests/wsl/wsl_install.pm
Owners: none

lib/serial_terminal.pm: Make check for entered username more reliable
  lib/serial_terminal.pm
Owners: none

Update ansible test module
  tests/console/ansible.pm
Owners: @pdostal

btrfs-progs: Fix issue with test result retrieval
  tests/btrfs-progs/run.pm
Owners: none

Only collect supportconfig in case of error
  lib/qesapdeployment.pm
  lib/sles4sap_publiccloud.pm
  t/09_qesapdeployment.t
  t/12_sles4sap_publiccloud.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Repalce agama.auto with inst.auto for sle16 installation
  lib/bootloader_setup.pm
  lib/guest_installation_and_configuration_base.pm
  tests/installation/ipxe_install.pm
  tests/yam/agama/boot_agama.pm
  variables.md
Owners: none

Use is_agama instead of get_var('AGAMA')
  tests/installation/bootloader_zkvm.pm
Owners: none

Add select pattern for agama interactive installation
  schedule/yam/agama_software_patterns.yaml
  schedule/yam/agama_software_patterns_s390x.yaml
  tests/yam/validate/validate_installed_patterns.pm
Owners: none

deploy: 9f2eabb57aa7462c841b082ff8fd7eddf96aa673
  guest_installation_and_configuration_base.html
  utils.html
Owners: none

Automate support extension in unattended installation (HA)
  data/yam/agama/auto/lib/addons.libsonnet
  data/yam/agama/auto/template.libsonnet
  schedule/yam/agama_unattended_patterns.yaml
  tests/yam/validate/validate_installed_patterns.pm
Owners: none

Test reboot
  schedule/jeos/sle/minimalvm-extratest.yaml
Owners: none

Skip ssh check in slp for sl16.0
  tests/console/slp.pm
Owners: none

Set locale and keyboard in cloud-init
  data/jeos/g_cloudinit.cfg
Owners: none

Add s390x cloud image into test scope
  lib/main_common.pm
  tests/jeos/verify_cloudinit.pm
Owners: @mloviska, @ricardobranco777

Add option for additional kernel parameters
  lib/virt_autotest/utils.pm
  tests/virt_autotest/guest_installation_run.pm
  tests/virt_autotest/host_upgrade_generate_run_file.pm
Owners: none

Refactor SDAF redirection_tests/hana_cluster_check
  schedule/sles4sap/sap_deployment_automation_framework/sdaf_cleanup.yml
  tests/sles4sap/redirection_tests/hana_cluster_check.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Avoid to set SCC_URL in bootloader for Agama Full medium testings
  lib/registration.pm
  tests/installation/bootloader_s390.pm
  tests/installation/bootloader_zkvm.pm
Owners: none

Expect journal as the default log system
  tests/console/journalctl.pm
Owners: none

Use vnc instead of dead spice graphics for virtual machine
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_x86_64_default_encrypted_ignition+combustion.xml
Owners: none

Add scenario for mediacheck of both installation mediums
  lib/Yam/Agama/Pom/GrubMenuAgamaPage.pm
  schedule/yam/agama_check_installation_medium.yaml
  tests/yam/agama/agama_check_installation_medium.pm
Owners: none

Pretty version name has changed in sle16
  tests/containers/run_container_in_k8s.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777
