Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

containers: Specify a subnet for IPv6 network with docker-stable
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Quotes are now normalized
  lib/saputils.pm
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

BCI: Softfail skipped testcase only when there is pytest.xfail type
  tests/containers/bci_logs.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bci: Enable TESTINFRA_LOGGING
  tests/containers/bci_test.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers/isolation: Fix for transactional systems
  lib/main_containers.pm
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

containers: Skip isolation test on certain conditions
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

containers: Run isolation test earlier
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

containers/isolation: Unconditionally create subnet for Docker
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix sudo logic for sle16
  tests/console/sudo.pm
Owners: none

Re-connect serial console if hang
  tests/console/krb5.pm
Owners: none

Use root-console for php_postgresql case on aarch64
  tests/console/php_postgresql.pm
Owners: none

Format directly home and configure boot partition
  data/yam/agama/auto/sle_whole_disk_and_boot_partition.jsonnet
  schedule/yam/agama_auto.yaml
Owners: none

Add unattended installation via Full Medium and register system
  data/yam/agama/auto/sles_default.jsonnet
  data/yam/agama/auto/sles_default_no_registration.jsonnet
  data/yam/agama/auto/sles_default_no_registration_ppc64le.jsonnet
  data/yam/agama/auto/sles_default_ppc64le.jsonnet
  data/yam/agama/auto/sles_lvm.jsonnet
  data/yam/agama/auto/sles_lvm_no_reg.jsonnet
  data/yam/agama/auto/sles_lvm_ppc64le.jsonnet
  data/yam/agama/auto/sles_multipath.jsonnet
  data/yam/agama/auto/sles_multipath_no_reg.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_home_filesystem_xfs.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_no_reg.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_no_reg.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_ppc64le.jsonnet
  schedule/yam/agama_post_registration.yaml
  schedule/yam/agama_post_registration_ppc64le.yaml
  schedule/yam/agama_post_registration_s390x.yaml
  tests/yam/validate/post_registration.pm
Owners: none

Upload sshd_config file to check the content
  tests/console/sshd.pm
Owners: @pdostal

containers: Limit isolation test
  lib/main_containers.pm
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Inital hanaperf test workflow on sles16
  data/autoyast_hanaperf/agama-config.jsonnet
  schedule/hanaperf/agama_install.yaml
  tests/installation/ipxe_install.pm
  tests/kernel_performance/hanaperf_postinstall.pm
Owners: none

Fix syscalls test
  lib/audit_test.pm
  tests/security/cc/syscalls.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

containers: Fix docker rootless cleanup
  tests/containers/isolation.pm
  tests/containers/rootless_docker.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add unattended installation with localization changed
  data/yam/agama/auto/sles_change_localization.jsonnet
  schedule/yam/agama_change_localization_unattended.yaml
Owners: none

mdadm: Fix failing mdadm.sh
  data/qam/mdadm.sh
  tests/console/mdadm.pm
Owners: none

containers: use -M option with jq
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Use our busybox image for isolation test
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Collect logs from sssd on failure
  tests/security/389ds/tls_389ds_sssd_client.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Module openjdk_fips is elsewhere, but add nss_smoke and gpg
  schedule/sles4sap/qam/common/qam_sles4sap_fips_mau-extratests.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Ignore hibernation: the secret key is invalid in sle16.0
  data/journal_check/bug_refs.json
Owners: none

Remove bsc\#1228079 from known bugs
  data/journal_check/bug_refs.json
Owners: none

Fix SSH systemctl is-system-running probe issue
  data/publiccloud/ssh_config
  data/publiccloud/ssh_config_sap
  lib/publiccloud/instance.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

containers: Re-enable isolation test on SLES 15-SP4+
  lib/main_containers.pm
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Use public cloud image location when available
  tests/sles4sap/cloud_netconfig/deploy.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Update lib/sles4sap_publiccloud.pm
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Update lib/sles4sap_publiccloud.pm
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Update lib/sles4sap_publiccloud.pm
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Update lib/sles4sap_publiccloud.pm
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Revert "Add softfail for systemd-testkit version"
  tests/console/start_systemd_testkit_offline.pm
Owners: none

start_systemd_testkit_offline: Don't fail on expected failures
  tests/console/start_systemd_testkit_offline.pm
Owners: none

New logic for krb5
  .github/workflows/ci.yml
  Makefile
  tools/test_jsonnet_valid
Owners: none

Add back agama-create-hdd-textmode.yaml
  schedule/functional/sle16/agama-create-hdd-textmode.yaml
Owners: none

Implement IBSm add repo with ansible playbook
  data/sles4sap/qe_sap_deployment/qesap_azure_add_repo.yaml
  tests/sles4sap/qesapdeployment/configure.pm
  tests/sles4sap/qesapdeployment/deploy.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add workaround for PVM first boot issue
  lib/bootloader_pvm.pm
Owners: none

New logic for krb5
  .github/workflows/ci.yml
  Makefile
  tools/test_jsonnet_valid
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
