Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

filesystem: Add xfstests to yaml scheduler
  schedule/filesystem/xfstests_create_hdd_micro_ppc.yaml
  schedule/filesystem/xfstests_micro_ppc.yaml
Owners: none

Use posts script to enable sshd
  data/yam/agama/auto/default_sle.jsonnet
  data/yam/agama/auto/default_sle_no_scc.jsonnet
Owners: none

agama: Add support for multipath confirmation during installation
  lib/Yam/Agama/Pom/AgamaUpAndRunningPage.pm
  schedule/kernel/agama_create_hdd_multipath_textmode.yaml
  tests/installation/agama_multipath.pm
Owners: none

Ensure SELINUX is enabled if expected
  tests/security/selinux/selinux_setup.pm
Owners: none

Fix Vendor Affirmation for SLED
  lib/security/openssl_misc_utils.pm
  lib/version_utils.pm
  tests/fips/openjdk/openjdk_fips.pm
Owners: none

Journal: Spectre LFENCE message in bug-ref.json slem added
  data/journal_check/bug_refs.json
Owners: none

Fix getting server ip variable failure
  schedule/virt_autotest/kubevirt-tests.yaml
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Fix getting server ip variable failure
  schedule/virt_autotest/kubevirt-tests.yaml
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Add reconnect_mgmt_console for agama lvm on s390x
  schedule/yam/agama_lvm_s390x.yaml
Owners: none

yast2_i: Add retry to hide dependencies menu
  tests/console/yast2_i.pm
Owners: none

Rename kubevirt yaml file for slem
  schedule/virt_autotest/kubevirt-tests-slem-pxe.yaml
  schedule/virt_autotest/kubevirt-tests-slem-usb.yaml
Owners: none

Remove workaround for bsc#1224249
  tests/migration/online_migration/zypper_patch.pm
Owners: none

Fix Vendor Affirmation for SLED
  lib/security/openssl_misc_utils.pm
  lib/version_utils.pm
  tests/fips/openjdk/openjdk_fips.pm
Owners: none

deploy: 0a635ffd130e588198a616dd7107aaca01274cdd
  version_utils.html
Owners: none

Rename kubevirt yaml file for slem
  schedule/virt_autotest/kubevirt-tests-slem-pxe.yaml
  schedule/virt_autotest/kubevirt-tests-slem-usb.yaml
Owners: none

Add Agama installation support for powerVM
  lib/bootloader_pvm.pm
  lib/bootloader_setup.pm
  tests/installation/agama_reboot.pm
Owners: none

Revert "yast2_i: Add retry to hide dependencies menu"
  tests/console/yast2_i.pm
Owners: none

[Virtualization][MU]: Wipe all disks before host installation
  data/virtualization/autoyast/host_12.xml.ep
  data/virtualization/autoyast/host_15.xml.ep
Owners: none

[Virtualization][MU]: Fix PEER_IPADDR for migration test
  lib/parallel_guest_migration_base.pm
Owners: none

Fix reboot popup on powerVM
  tests/autoyast/installation.pm
Owners: none

Improve error description on install test
  tests/qam-updinstall/update_install.pm
Owners: none

Cleanup configration of bootloader for autoyast profiles
  data/yam/autoyast/autoupgrade_with_maintenance_unreleased_updates.xml.ep
  data/yam/autoyast/bug-877438_ix64ph1029.xml
  data/yam/autoyast/bug-879147_autoinst.xml
  data/yam/autoyast/multipath.xml
  data/yam/autoyast/support_images/autoyast_scc_up_maintenance.xml.ep
  data/yam/autoyast/support_images/autoyast_sles12sp5_media_def_patterns_minimal_x86_64.xml
Owners: none

Ignore Spectre-V2-LFENCE error
  data/journal_check/bug_refs.json
Owners: none

Add agama installation for s390x kvm
  tests/installation/agama_reboot.pm
  tests/installation/bootloader_zkvm.pm
Owners: none

Fix intermittent stall failure on slem
  lib/virt_autotest/kubevirt_utils.pm
  tests/virt_autotest/kubevirt_tests_agent.pm
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Fix intermittent stall failure on slem
  lib/virt_autotest/kubevirt_utils.pm
  tests/virt_autotest/kubevirt_tests_agent.pm
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Workaround remote_vnc_controller boot from uefi
  lib/opensusebasetest.pm
Owners: none

Revert "Fix intermittent stall failure on slem"
  lib/virt_autotest/kubevirt_utils.pm
  tests/virt_autotest/kubevirt_tests_agent.pm
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Fix the function of set_grub_timeout
  tests/virt_autotest/kubevirt_tests_agent.pm
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Disable ssh key scan on sles4sap
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add agama interactive installation selecting pattern KDE
  schedule/yam/agama_desktop.yaml
Owners: none

Ensure match reboot for autoyast test on X86_64
  data/yam/autoyast/resize_luks2.xml
  tests/autoyast/installation.pm
Owners: none

Ignore known error of Spectre-V2-LFENCE for slem 5.1
  data/journal_check/bug_refs.json
Owners: none

Add guest profiles for SL Micro 6.2
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_aarch64_default_qcow_ignition+combustion.xml
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_aarch64_default_raw_ignition+combustion.xml
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_x86_64_default_encrypted_ignition+combustion.xml
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_x86_64_default_qcow_ignition+combustion.xml
  data/virt_autotest/guest_params_xml_files/slm_6_2_64_kvm_hvm_x86_64_default_raw_ignition+combustion.xml
Owners: none

containers: Catch decode_json() exception in engine->info()
  lib/containers/engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

Fix s390x cc_net_case test
  tests/security/cc/setup_net_test_env.pm
Owners: none

remove maint repo, DELETE ME
  tests/security/cc/cc_audit_test_setup.pm
Owners: none

Use per SP IPs
  schedule/security/cc_netfilter_netfilebt.yaml
  tests/security/cc/setup_net_test_env.pm
Owners: none

containers: Remove info method
  lib/containers/docker.pm
  lib/containers/engine.pm
  lib/containers/podman.pm
  tests/containers/rootless_podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

lib: version_utils: handle SELinux default for SLES 16+
  lib/version_utils.pm
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis @rbmarliere
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati @rbmarliere
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/qesapdeploymnet.pm @mpagot @rbmarliere

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777 @rbmarliere

# Transactional systems
products/microos/ @mloviska @ricardobranco777 @rbmarliere
tests/microos/ @mloviska @ricardobranco777 @rbmarliere
products/sle-micro/ @mloviska @ricardobranco777 @rbmarliere
products/alp/ @mloviska @ricardobranco777 @rbmarliere
tests/jeos/ @mloviska @ricardobranco777 @rbmarliere
tests/transactional/ @mloviska @ricardobranco777 @rbmarliere
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777 @rbmarliere

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
