Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Changed firstrun logic
  schedule/wsl/wsl_main.yaml
Owners: none

Add console definition for ppc64le
  tests/yam/agama/boot_agama.pm
Owners: none

bind: Fix TFAIL variable
  tests/console/bind.pm
Owners: none

Create unattended installation for migration to 16.0
  data/yam/autoyast/textmode.xml
  data/yam/autoyast/textmode_ppc64le.xml
  data/yam/autoyast/textmode_s390x.xml
  schedule/yam/agama_migration_15sp7_textmode.yaml
Owners: none

Add kdump over NFS test
  schedule/storage/nfs.yaml
  tests/kernel/kdump_over_nfs.pm
  tests/kernel/nfs_barriers.pm
Owners: none

kdump: Add escaped value in the set_kdump_config
  lib/kdump_utils.pm
Owners: none

kdump: Extend activate_kdump_cli for optional KDUMP_SAVEDIR
  lib/kdump_utils.pm
Owners: none

Extend SDAF log collection
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  schedule/sles4sap/sap_deployment_automation_framework/sdaf_cleanup.yml
  t/20_sdaf_deployment_library.t
  tests/sles4sap/sap_deployment_automation_framework/upload_logs.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix missing nmap command failure
  tests/virt_autotest/esxi_open_vm_tools.pm
Owners: none

kdump: Workaround DHCP reassignment for SLE15 + wicked
  tests/kernel/kdump_over_nfs.pm
  tests/kernel/nfs_barriers.pm
Owners: none

deploy: 3d4024eea6d0f6f60de42ce9f3fbbda7de9c854d
  sles4sap/sap_deployment_automation_framework/deployment.html
Owners: none

Fix missing nmap command failure
  tests/virt_autotest/esxi_open_vm_tools.pm
Owners: none

Update SLES16 VM os variant
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_sev_es_x86_64_agama_online_iso.xml
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_x86_64_agama_full_iso.xml
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_x86_64_agama_online_iso.xml
  data/virt_autotest/guest_params_xml_files/sles_16_64_kvm_hvm_x86_64_qcow_ignition+combustion.xml
Owners: none

dnsmasq: Add retry when query failed
  tests/console/dnsmasq.pm
Owners: none

Add Agama logs for verify_dud
  data/yam/agama/hello-world-0.1-1.1.noarch.rpm
  tests/yam/validate/validate_dud.pm
Owners: none

Shorten the url for agama dev s390x zvm cases
  tests/installation/bootloader_s390.pm
Owners: none

Unify sdaf uploaded logs file name
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  t/20_sdaf_deployment_library.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Automate unattended for iSCSI and use it for /home
  data/yam/agama/auto/lib/iscsi.libsonnet
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
  schedule/yam/agama_iscsi_activate_unattended.yaml
Owners: none

Add qa head repo for hostapd
  data/wpa_supplicant/wpa_supplicant_wo_dhcp_test.sh
  tests/console/wpa_supplicant.pm
Owners: none

containers: Add module to check outdated KUBERNETES_VERSIONS
  lib/main_containers.pm
  tests/containers/kubectl_versions.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

containers/kubectl: Add soft-failure for bsc#1245087
  tests/containers/kubectl.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Switch SDAF deployment to S4HANA
  data/sles4sap/sap_deployment_automation_framework/custom_sizes_ENSA2.json
  data/sles4sap/sap_deployment_automation_framework/custom_sizes_default.json
  lib/sles4sap/sap_deployment_automation_framework/configure_sap_systems_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  lib/sles4sap/sap_deployment_automation_framework/naming_conventions.pm
  t/24_sdaf_naming_convention.t
  tests/sles4sap/redirection_tests/ensa2_kill_sapinstance.pm
  tests/sles4sap/sap_deployment_automation_framework/deploy_sap_systems.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Install K3s for slem >6.0
  lib/main_micro_alp.pm
  tests/transactional/install_k3s.pm
Owners: @mloviska, @jlausuch, @ricardobranco777

Connect interface which status is disconnected for sle16 mutli interface scenario
  lib/utils.pm
Owners: none

Adapt installation console to tty2 instead of tty7
  lib/susedistribution.pm
  tests/yam/agama/validate_headless.pm
Owners: none

Also push inst.registr_url for Stagings
  tests/yam/agama/boot_agama.pm
Owners: none

Save/restore Agama settings
  tests/yam/migration/restore_upgrade_env.pm
  tests/yam/migration/setup_upgrade_env.pm
Owners: none

Fix Unsupported OS: SLES16-0
  lib/publiccloud/gce.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

wireshark_cli: Fix test
  tests/console/wireshark_cli.pm
Owners: none

Enable test failure when AVC records are found
  lib/Utils/Logging.pm
  lib/consoletest.pm
  lib/containers/basetest.pm
  lib/opensusebasetest.pm
  tests/shutdown/shutdown.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix Unsupported OS: SLES16-0 (#22423)
  lib/publiccloud/gce.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Fix Unsupported OS: SLES-16.0
  lib/publiccloud/gce.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Add qa head repo for hostapd
  data/wpa_supplicant/wpa_supplicant_wo_dhcp_test.sh
  tests/console/wpa_supplicant.pm
Owners: none

Fix schedules for infiniband tests on sle16
  schedule/kernel/ibtest-master.yaml
  schedule/kernel/ibtest-slave.yaml
Owners: none

Normalize SLES16.0 in PC GCE
  lib/publiccloud/gce.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Make NW installation compatible with SELinux
  tests/sles4sap/ensa/netweaver_swpm_installation.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Drop of storage performance testing
  lib/main_publiccloud.pm
  tests/publiccloud/storage_perf.pm
  variables.md
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Remove prepare_systemd_and_testsuite test on sle16
  schedule/functional/sle16/extra_tests_textmode.yaml
Owners: none

bind: Fix single test retry
  tests/console/bind.pm
Owners: none

Save/restore Agama settings
  tests/yam/migration/restore_upgrade_env.pm
  tests/yam/migration/setup_upgrade_env.pm
Owners: none
