Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Fix JeOS-Firstboot for SLES16
  tests/microos/selfinstall.pm
Owners: @mloviska, @ricardobranco777

shutdown_ltp: Collect CPU steal time from /proc/stat
  tests/kernel/shutdown_ltp.pm
Owners: none

Fix condition for proxy registration in Agama
  lib/registration.pm
  tests/installation/bootloader_s390.pm
  tests/installation/bootloader_zkvm.pm
Owners: none

Check welcome_to_wsl if distri is sle
  tests/wsl/distro_install.pm
Owners: none

lib/bootloader_setup: Add check for SLE16 in add_custom_grub_entries
  lib/bootloader_setup.pm
Owners: none

Values in os-release have changed
  tests/console/check_os_release.pm
Owners: none

hpc: Adapt warewulf4 test for version 4.6.x update
  tests/hpc/ww4.pm
Owners: @b10n1k, @schlad

Leftover fix for os-release
  tests/console/check_os_release.pm
Owners: none

containers: Skip IPv6 isolation test on HyperV & VMWare
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Simplify configuration addition
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Minor improvements, refactoring
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Audit log record
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Update header summary, unfix image tag, improve checks and cleanup
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Attempt to fix console login with selinux enabled
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Podman factory refactor
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Initial podmansh test implementation
  lib/main_containers.pm
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Use new path on SLEM 6.2
  tests/microos/verify_setup.pm
Owners: @mloviska, @ricardobranco777

containers: Add soft-failure for bsc#1239088 on SLEM 6.0+
  tests/containers/container_engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Remove soft-failure on bsc#1239088
  tests/containers/container_engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Only validate HTTP 200 OK for http media
  lib/guest_installation_and_configuration_base.pm
Owners: none

Add option for additional kernel parameters
  lib/virt_autotest/utils.pm
  tests/virt_autotest/guest_installation_run.pm
  tests/virt_autotest/host_upgrade_generate_run_file.pm
Owners: none

deploy: c7c6b8cf813582c86a8f96523f0b4648d9e5cfa2
  virt_autotest/utils.html
Owners: none

Revert change on ima_kernel_cmdline_hash.pm
  tests/security/ima/ima_kernel_cmdline_hash.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

containers: Skip IPv6 isolation test on HyperV & VMWare
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

lib/bootloader_setup: Add check for SLE16 in add_custom_grub_entries
  lib/bootloader_setup.pm
Owners: none

Fix publiccloud::basetest::_upload_logs()
  lib/publiccloud/basetest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

PC: Fix basetest::_upload_logs() and provider::terraform_destroy()
  lib/publiccloud/basetest.pm
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Leftover fix for os-release
  tests/console/check_os_release.pm
Owners: none

containers: Remove soft-failure on bsc#1239088
  tests/containers/container_engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Enhance PATH for BATS tests
  tests/containers/buildah_integration.pm
  tests/containers/netavark_integration.pm
  tests/containers/podman_integration.pm
  tests/containers/runc_integration.pm
  tests/containers/skopeo_integration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Only validate HTTP 200 OK for http media
  lib/guest_installation_and_configuration_base.pm
Owners: none

containers: Add soft-failure for bsc#1239088 on SLEM 6.0+
  tests/containers/container_engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Replace body with content in scripts
  data/yam/agama/auto/lib/scripts_post.libsonnet
  data/yam/agama/auto/lib/scripts_pre.libsonnet
  data/yam/agama/auto/lvm_encrypted_ppc64le.jsonnet
  data/yam/agama/auto/lvm_encrypted_ssh_pub_key.jsonnet
  data/yam/agama/auto/lvm_encrypted_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/scripts.jsonnet
  data/yam/agama/auto/scripts_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_change_localization.jsonnet
  data/yam/agama/auto/sles_default.jsonnet
  data/yam/agama/auto/sles_default_no_registration.jsonnet
  data/yam/agama/auto/sles_default_no_registration_ppc64le.jsonnet
  data/yam/agama/auto/sles_default_no_registration_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_default_no_registration_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_default_ppc64le.jsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_lvm.jsonnet
  data/yam/agama/auto/sles_lvm_no_reg.jsonnet
  data/yam/agama/auto/sles_lvm_ppc64le.jsonnet
  data/yam/agama/auto/sles_lvm_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_lvm_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_multipath.jsonnet
  data/yam/agama/auto/sles_multipath_no_reg.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_no_reg.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_no_reg.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_sap_default_ppc64le.jsonnet
  data/yam/agama/auto/sles_sap_default_ssh_pub_key.jsonnet
  data/yam/agama/auto/tumbleweed_default.jsonnet
  data/yam/agama/auto/tumbleweed_gnome.jsonnet
Owners: none

Fix condition for proxy registration in Agama
  lib/registration.pm
  tests/installation/bootloader_s390.pm
  tests/installation/bootloader_zkvm.pm
Owners: none

PC: Fix the variables in tests
  tests/publiccloud/check_registercloudguest.pm
  tests/publiccloud/check_services.pm
  tests/publiccloud/run_ltp.pm
  tests/publiccloud/slem_basic.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

shutdown_ltp: Collect CPU steal time from /proc/stat
  tests/kernel/shutdown_ltp.pm
Owners: none

hpc: Adapt warewulf4 test for version 4.6.x update
  tests/hpc/ww4.pm
Owners: @b10n1k, @schlad

Replace 'body' with 'content' for sle16 agama.json
  data/autoyast_hanaperf/agama-config.jsonnet
Owners: none

Replace validate_product with validate_base_product
  schedule/yam/agama_ppc64le.yaml
Owners: none

Replace body section with content in SLES for SAP & HA jsonnet files
  data/sles4sap/agama/sles_ha_default.jsonnet
  data/sles4sap/agama/sles_sap_default.jsonnet
  data/sles4sap/agama/sles_sap_default_ppc64le.jsonnet
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot
