Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

wicked: Use OBS for CA repo
  tests/wicked/before_test.pm
Owners: none

containers/buildah: Use cowsay instead of python3
  tests/containers/buildah.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Automate support for relative URLs
  data/yam/agama/auto/lib/base.libsonnet
  data/yam/agama/auto/lib/scripts_post_partitioning.libsonnet
  data/yam/agama/auto/template.libsonnet
  lib/autoyast.pm
  lib/bootloader_setup.pm
  schedule/yam/agama_extended_unattended.yaml
  schedule/yam/agama_extended_unattended_ppc64le.yaml
  schedule/yam/agama_extended_unattended_s390x.yaml
  test_data/yam/agama_autoyast_supported.yaml
  tests/yam/agama/boot_agama.pm
  tests/yam/validate/validate_deployed_files.pm
Owners: none

Refactor method to know what the bootloader is
  lib/version_utils.pm
Owners: none

Add UEFI bootmenu
  lib/bootloader_setup.pm
Owners: none

Add Inline::Python as osado already has tests in Python
  cpanfile
  os-autoinst-distri-opensuse-deps.spec
Owners: none

SLE16 ppc64le containers host fix
  lib/opensusebasetest.pm
Owners: none

Introduce test for emptyepsilon
  schedule/functional/extra_tests_gnome.yaml
  tests/x11/emptyepsilon.lua
Owners: none

Fix lua test file recognition in yaml schedules
  lib/main_common.pm
  tools/detect_nonexistent_modules_in_yaml_schedule
Owners: none

deploy: 99b5fe725705581aca11f2ce962c5a5226d557f0
  autoyast.html
Owners: none

Automate unattended for iSCSI and use it for /home
  data/yam/agama/auto/lib/iscsi.libsonnet
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
  schedule/yam/agama_iscsi_activate_unattended.yaml
Owners: none

Rename x11_client/server to x11_podman_client/server
  lib/main_common.pm
  tests/microos/workloads/x11-container/x11_podman_client.pm
  tests/microos/workloads/x11-container/x11_podman_server.pm
Owners: @mloviska, @ricardobranco777

PC: Don't cat /etc/ssh/sshd_config
  lib/publiccloud/utils.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Add Inline::Lua for osado already Lua tests
  cpanfile
  os-autoinst-distri-opensuse-deps.spec
Owners: none

buildah/bats: Update BATS_SKIP for runc 1.2
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: No need to disable SUSE secrets anymore
  tests/containers/rootless_docker.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Switch SDAF deployment to S4HANA
  data/sles4sap/sap_deployment_automation_framework/custom_sizes_ENSA2.json
  data/sles4sap/sap_deployment_automation_framework/custom_sizes_default.json
  lib/sles4sap/sap_deployment_automation_framework/configure_sap_systems_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  lib/sles4sap/sap_deployment_automation_framework/naming_conventions.pm
  t/20_sdaf_deployment_library.t
  t/24_sdaf_naming_convention.t
  tests/sles4sap/redirection_tests/ensa2_kill_sapinstance.pm
  tests/sles4sap/sap_deployment_automation_framework/deploy_sap_systems.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

tpm2_env_setup: add workaround also for 15-SP7
  tests/security/tpm2/tpm2_env_setup.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Remove SYSTEM_ROLE: textmode from ReaR
  schedule/ha/rear/rear_backup_16.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Remove SYSTEM_ROLE: textmode from ReaR (#22515)
  schedule/ha/rear/rear_backup_16.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Install dhcpcd near to rear29a
  tests/ha/rear_backup.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Install dhcpcd near to rear29a (#22517)
  tests/ha/rear_backup.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

bats: Update README for buildah with runc 1.2.x
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix DNS race condition with wicked
  lib/network_utils.pm
  tests/containers/host_configuration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix sshd configuration on SLE16 PC
  lib/publiccloud/utils.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

nfs: Use nfs_stress_ng in all NFS mm tests
  schedule/storage/nfs.yaml
Owners: none

nfs: Install stress-ng from correct source
  tests/kernel/nfs_stress_ng.pm
Owners: none

klp: Add SLE 16 support
  lib/klp.pm
Owners: none

PC: Fix sshd configuration on SLE16
  lib/publiccloud/utils.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Fix undefined value as array
  lib/network_utils.pm
Owners: none

Don't need to check after install snapshot on sle16
  tests/console/installation_snapshots.pm
Owners: none

Automate scenario to allow to use some RAIDs as if they were disks
  data/yam/agama/auto/lib/storage.libsonnet
  schedule/yam/agama_raid_unattended_change_disk.yaml
  schedule/yam/agama_raid_unattended_publish_image.yaml
  schedule/yam/agama_sles_modify_raid_disk.yaml
  tests/yam/validate/modify_raid_swap.pm
  tests/yam/validate/validate_raid_swap.pm
Owners: none

PC: cloud-init status may return 0 or 2
  lib/publiccloud/instance.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Handle overlays directory
  lib/opensusebasetest.pm
Owners: none

klp: Add SLE 16 support
  lib/klp.pm
Owners: none

Prevent NetworkManager from managing DNS
  lib/guest_installation_and_configuration_base.pm
Owners: none

Move HOSTNAME for rear away from the schedule
  schedule/ha/rear/rear_backup_16.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

bats/runc: Unignore cgroups test as root
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add workaround for bsc#1245220
  lib/publiccloud/utils.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

init_ltp_tests: Add workaround for DIO performance issue
  lib/LTP/utils.pm
Owners: none
