Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Switch SDAF deployment to S4HANA
  data/sles4sap/sap_deployment_automation_framework/custom_sizes_ENSA2.json
  data/sles4sap/sap_deployment_automation_framework/custom_sizes_default.json
  lib/sles4sap/sap_deployment_automation_framework/configure_sap_systems_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  lib/sles4sap/sap_deployment_automation_framework/naming_conventions.pm
  t/24_sdaf_naming_convention.t
  tests/sles4sap/redirection_tests/ensa2_kill_sapinstance.pm
  tests/sles4sap/sap_deployment_automation_framework/deploy_sap_systems.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Changed firstrun logic
  schedule/wsl/wsl_main.yaml
Owners: none

Changed wsl schedule
  schedule/wsl/wsl_main.yaml
Owners: none

Changed to null
  schedule/wsl/wsl_main.yaml
Owners: none

Add assert screen to exit serial
  tests/wsl/distro_install.pm
Owners: none

Try without screen assert
  tests/wsl/distro_install.pm
Owners: none

Added firsboot launch logic
  tests/wsl/distro_install.pm
Owners: none

Try without wsl.exe manual launch
  tests/wsl/distro_install.pm
Owners: none

added windows max and windows min logic to jeos/firstboot
  tests/jeos/firstrun.pm
Owners: @mloviska, @ricardobranco777

Connect disconnected interfaces for SLE16 multi-interface setups
  lib/utils.pm
Owners: none

Enable remote vnc access for sle12sp5+s390x
  tests/qam-minimal/install_patterns.pm
Owners: none

update_kernel: Lock out kernel-rt_debug
  tests/kernel/update_kernel.pm
Owners: none

Expect right error message on newer products
  tests/fips/openssh/openssh_fips.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Handle new shortcut to enable disk encryption
  lib/Installation/Partitioner/LibstorageNG/PartitioningSchemePage.pm
Owners: none

fix the 01_style test
  .github/workflows/ci.yml
  t/01_style.t
Owners: none

Assert that crypto-policies is FIPS before running openssl dhparam test
  tests/fips/openssl/openssl_fips_dhparam.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Fix upload logs failure on /var/log/zypper.log
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Automate rescue system
  lib/Yam/Agama/Pom/GrubMenuAgamaPage.pm
  schedule/yam/agama_check_rescue_system.yaml
  test_data/yam/agama_rescue_system.yaml
  tests/yam/agama/boot_agama.pm
  tests/yam/validate/validate_rescue_system.pm
Owners: none

Upload dud rpm to data folder for verify_dud
  data/yam/agama/hello-world-0.1-1.1.noarch.rpm
  lib/bootloader_pvm.pm
  tests/installation/bootloader_s390.pm
  tests/installation/bootloader_zkvm.pm
  tests/yam/agama/boot_agama.pm
  tests/yam/validate/validate_dud.pm
Owners: none

Simplify check to ease readability
  lib/Installation/Partitioner/LibstorageNG/PartitioningSchemePage.pm
Owners: none

Added WSL_FIRSTBOOT var check in jeos firstrun test
  tests/jeos/firstrun.pm
Owners: @mloviska, @ricardobranco777

Move s390x zVM setting inside bootloader code
  lib/bootloader_setup.pm
  tests/installation/bootloader_s390.pm
Owners: none

Switch to /srv/www/svn so selinux policy applies
  tests/security/libserf/libserf.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Allow /srv/svn to work under selinux
  tests/security/libserf/libserf.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Apply selinux equivalence to /srv/www/svn/
  tests/security/libserf/libserf.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Read AGAMA_VERSION to detect which version of Agama is running
  tests/yam/agama/boot_agama.pm
  tests/yam/agama/import_agama_profile.pm
Owners: none

Remove equivalence as bsc#1239177 has been fixed
  tests/security/libserf/libserf.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Remove equivalence as bsc#1239177 has been fixed
  tests/security/libserf/libserf.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Allow /srv/svn to work under selinux
  tests/security/libserf/libserf.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Apply selinux equivalence to /srv/www/svn/
  tests/security/libserf/libserf.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Switch to /srv/www/svn so selinux policy applies
  tests/security/libserf/libserf.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Create a new dedicated Rear schedule for 16
  schedule/ha/rear/rear_backup_16.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Enable virtual network management automation test for sle16
  lib/virt_autotest/virtual_network_utils.pm
  schedule/virt_autotest/sle16_guest_installation.yaml
  tests/virt_autotest/libvirt_host_bridge_virtual_network.pm
  tests/virt_autotest/libvirt_isolated_virtual_network.pm
  tests/virt_autotest/libvirt_nated_virtual_network.pm
  tests/virt_autotest/libvirt_routed_virtual_network.pm
  tests/virt_autotest/libvirt_virtual_network_init.pm
Owners: none

Add VMWare Minimal-VM test for SAP
  schedule/sles4sap/minimalvm/vmware_patterns_sles4sap.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Replace egrep with grep in 01_style.t
  t/01_style.t
Owners: none

Create a new dedicated Rear schedule for 16 (#22450)
  schedule/ha/rear/rear_backup_16.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Added comment
  tests/jeos/firstrun.pm
Owners: @mloviska, @ricardobranco777

Add sles or sled choice
  tests/jeos/firstrun.pm
Owners: @mloviska, @ricardobranco777

Use Server Applications module for dovecot
  tests/network/config_services.pm
  tests/x11/evolution/evolution_prepare_servers.pm
Owners: none

Label NetWeaver installation files
  tests/sles4sap/ensa/netweaver_swpm_installation.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot
