Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Skip wheel check if not user is created
  tests/jeos/firstrun.pm
Owners: @mloviska, @ricardobranco777

containers/bats: Show badge for openQA jobs on o3
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Enable UEFI and secure boot test work for sle16
  schedule/virt_autotest/sle16_guest_installation.yaml
Owners: none

usr_sbin_nscd: Don't schedule on TW
  schedule/security/apparmor_profile.yaml
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Improve BATS README
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Remove unused code
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add config for aws terraform peering
  data/sles4sap/qe_sap_deployment/sles4sap_aws_peering.yaml
  lib/sles4sap_publiccloud.pm
  tests/sles4sap/publiccloud/network_peering.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Enable virtual network management automation test for sle16
  schedule/virt_autotest/sle16_guest_installation.yaml
  tests/virt_autotest/libvirt_virtual_network_init.pm
Owners: none

Change logging method in ibm cloud
  data/containers/ibm_hpvs/workload.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Tune curl options to workaround github rate limits
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add file for setup sleperf environment
  schedule/sle-perf/setup_host.yaml
  tests/kernel_performance/install_sleperf.pm
Owners: none

main_ltp: Use update_kernel for all transactional maintenance updates
  lib/main_ltp.pm
Owners: none

update_kernel: Use full patch on transactional system
  tests/kernel/update_kernel.pm
Owners: none

PC: basetest::finalize dump objects
  lib/publiccloud/basetest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Make output more explicit
  tests/console/orphaned_packages_check.pm
Owners: none

bats: Document how to add patches to BATS_PATCHES
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Use .patch instead of .diff
  lib/containers/bats.pm
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Remove incomplete & unstable dind/pinp test
  tests/containers/privileged_mode.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

armnn: skip TensorFlow Lite backend on Tumbleweed
  tests/ai_ml/armnn.pm
Owners: none

Debug wipefs issue
  data/yam/agama/auto/lib/scripts_pre.libsonnet
  data/yam/agama/auto/scripts.jsonnet
  data/yam/agama/auto/scripts_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_addons_ssh_pub_key_ppc64le.jsonnet
Owners: none

ltp: Add combined system and LTP installation on PowerVM
  schedule/kernel/agama_install_ltp_pvm.yaml
Owners: none

Add ip_cidr_range to GCP pering test
  data/sles4sap/qe_sap_deployment/qesap_gcp_peering.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Move s390x zVM setting inside bootloader code
  tests/installation/bootloader_s390.pm
Owners: none

Add more instance types which requires n_host_maintenance=TERMINATE
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Hotfix helm.pm overwriting finalize subroutine
  tests/containers/helm.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Enhance buildah cleanup
  tests/containers/buildah.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix openvpn_server on newer SLE
  tests/network/openvpn_server.pm
Owners: @pdostal

Improve terraform apply when instance type is not in AZ
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Add AWS peering cleanup
  tests/sles4sap/qesapdeployment/destroy.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add AWS peering cleanup (#21959)
  tests/sles4sap/qesapdeployment/destroy.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Dont check realtime sysfs entry
  tests/rt/rt_is_realtime.pm
Owners: none

Modify agama swtpm schedule
  schedule/security/agama_create_swtpm_hdd.yaml
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Install gnome via its pattern in unnatended install
  data/agama_auto/leap_gnome.jsonnet
Owners: none

Remove access_beta_distribution from YaST schedules
  schedule/yast/sle/flows/default_aarch64.yaml
  schedule/yast/sle/flows/default_aarch64_flavor_full.yaml
  schedule/yast/sle/flows/default_ipmi.yaml
  schedule/yast/sle/flows/default_ppc64le.yaml
  schedule/yast/sle/flows/default_s390x_kvm.yaml
  schedule/yast/sle/flows/default_s390x_kvm_flavor_full.yaml
  schedule/yast/sle/flows/default_s390x_kvm_textmode.yaml
  schedule/yast/sle/flows/default_s390x_svirt.yaml
  schedule/yast/sle/flows/default_s390x_zvm.yaml
  schedule/yast/sle/flows/default_s390x_zvm_textmode.yaml
  schedule/yast/sle/flows/default_svirt-hyperv.yaml
  schedule/yast/sle/flows/default_svirt-xen-hvm.yaml
Owners: none

Add basic schedule for hdd creation jobs on leap
  schedule/functional/leap16/agama_create_hdd_gnome_leap.yaml
Owners: none

Add test for chocolate-doom
  lib/main_common.pm
  schedule/functional/extra_tests_gnome.yaml
  schedule/functional/extra_tests_gnome_development.yaml
  tests/x11/doom.py
Owners: none

Remove RT check in sysfs
  tests/containers/realtime.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Allow empty tests run
  tests/containers/bci_test.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix the ram size for qemu test on s390x
  tests/qemu/kvm.pm
  tests/qemu/qemu.pm
Owners: none

Enable UEFI and secure boot test work for sle16
  schedule/virt_autotest/sle16_guest_installation.yaml
Owners: none
