Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Fix the capitalization issue
  lib/main_common.pm
Owners: none

Add grub_test to agama_create_hdd_textmode_ext4_mok_enroll
  schedule/security/sle16/agama_create_hdd_textmode_ext4_mok_enroll.yaml
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

bats: Add 25942.patch for 252-quadlet
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Handle 15-SP7 sle-we license agreement
  lib/registration.pm
Owners: none

SLMicro: Use zypper up to install updates
  tests/transactional/install_updates.pm
  variables.md
Owners: @mloviska, @ricardobranco777

update_kernel: Enable correct update repo for livepatch staging
  tests/kernel/update_kernel.pm
Owners: none

Address welcome_to_ms_edge needle
  tests/wsl/distro_install.pm
Owners: none

pc: Fix metal detector on GCE
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Kselftests: Introduce kselftests runner
  schedule/kernel/run_kselftests.yaml
  tests/kernel/run_kselftests.pm
Owners: none

Remove cdn.opensuse.org too when cleaning repos
  tests/update/zypper_clear_repos.pm
Owners: none

Enable git over ssh on the SUT:
  tests/console/git.pm
Owners: none

Reduce complexity
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Adds PrivateRegistry helm
  lib/main_containers.pm
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Manual install Ingress Controller
  lib/containers/k8s.pm
  lib/main_containers.pm
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @jlausuch

Extend regex to cover more error types
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Tidy up!
  lib/main_containers.pm
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Wait longer to make sure openQA job is running
  tests/openqa/osautoinst/test_running.pm
Owners: none

Update x11 related containers URLs
  tests/microos/workloads/x11-container/x11_client.pm
  tests/microos/workloads/x11-container/x11_server.pm
Owners: @mloviska, @ricardobranco777

Replace repositories after installation
  schedule/functional/leap16/agama_create_hdd_textmode_leap.yaml
  tests/console/zypper_ar.pm
Owners: none

Specify kubevirt package version for install
  tests/virt_autotest/kubevirt_tests_server.pm
Owners: none

Move SELinux set to permissive from hana_test to library
  lib/sles4sap.pm
  tests/sles4sap/hana_test.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

bats: No need to skip some tests anymore
  data/containers/bats/skip.yaml
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

kernel/run_kselftests: use TARGETS for installing specific suite
  tests/kernel/run_kselftests.pm
Owners: none

Revert "Force ipv6 in wget_ipv6 test"
  tests/console/wget_ipv6.pm
Owners: none

Create repository files on target
  tests/sles4sap/publiccloud/cluster_add_repos.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Wip
  tests/kernel/kdump.pm
Owners: none

Collect selinux alerts also on X11 post_fail_hook
  lib/x11test.pm
Owners: none

Move avc_selinux_alerts to Utils::Logging
  lib/Utils/Logging.pm
  lib/consoletest.pm
Owners: @pdostal

wip
  tests/kernel/kdump.pm
Owners: none

wip
  tests/kernel/kdump.pm
Owners: none

main_common: Add {ar,}ping to textmode{,-server} on o3 for s390x (z/VM)
  lib/main_common.pm
Owners: none

Always do a zypper ref before installing anything
  tests/security/postgresql_ssl/postgresql_ssl_client.pm
  tests/security/postgresql_ssl/postgresql_ssl_server.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Add workaround to install B1 on unsupported sles
  lib/sles4sap.pm
  tests/sles4sap/bone_install.pm
  tests/sles4sap/wizard_hana_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add perl(Date::Parse) dependency
  cpanfile
  os-autoinst-distri-opensuse-deps.spec
Owners: none

Offline installation also on Full flavor
  schedule/security/create_hdd_cc_libyui/aarch64/cc_dev.yaml
  schedule/security/create_hdd_cc_libyui/s390x/cc_dev.yaml
  schedule/security/create_hdd_cc_libyui/x86_64/cc_dev.yaml
  tests/security/installation/add_on_selection.pm
  tests/security/installation/module_selection.pm
  tests/security/installation/registration.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Install libnsl-stub1 for ASE and NetWeaver installation
  tests/sles4sap/ase_install.pm
  tests/sles4sap/netweaver_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add qesap regression terraform peering for AWS
  data/sles4sap/qe_sap_deployment/qesap_aws_peering.yaml
  tests/sles4sap/qesapdeployment/configure.pm
  tests/sles4sap/qesapdeployment/destroy.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix upload_ltp_logs in run_ltp.pm
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Improve ssh_interactive_tunnel to avoid tunnal fails
  lib/publiccloud/ssh_interactive.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Enhance slm reboot for baremetal
  lib/transactional.pm
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
