Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Switch to HTTP if mount fails
  lib/virt_autotest/hyperv_utils.pm
  tests/installation/bootloader_hyperv.pm
Owners: none

Change to SLE <= 16 not Y2038 compatible
  tests/console/year_2038_detection.pm
Owners: none

Add unattended installation using iscsi ibft disk
  schedule/yam/agama_iscsi_ibft_unattended.yaml
  tests/installation/validation/ibft.pm
Owners: none

Add systems management for functional jobs
  data/autoyast_sle15/create_hdd/create_hdd_aarch64.xml.ep
  data/autoyast_sle15/create_hdd/create_hdd_gnome_aarch64.xml
  data/autoyast_sle15/create_hdd/create_hdd_gnome_s390x.xml
  data/autoyast_sle15/create_hdd/create_hdd_gnome_we_x86_64.xml
  data/autoyast_sle15/create_hdd/create_hdd_gnome_x86_64.xml
  data/autoyast_sle15/create_hdd/create_hdd_gnome_x86_64_uefi.xml
  data/autoyast_sle15/create_hdd/create_hdd_minimal_base_sdk_aarch64.xml
  data/autoyast_sle15/create_hdd/create_hdd_minimal_base_sdk_x86_64.xml
  data/autoyast_sle15/create_hdd/create_hdd_pcm_aws_aarch64.xml
  data/autoyast_sle15/create_hdd/create_hdd_pcm_aws_ppc64le.xml
  data/autoyast_sle15/create_hdd/create_hdd_pcm_aws_s390x.xml
  data/autoyast_sle15/create_hdd/create_hdd_pcm_aws_x86_64.xml
  data/autoyast_sle15/create_hdd/create_hdd_ppc64le.xml.ep
  data/autoyast_sle15/create_hdd/create_hdd_s390x.xml.ep
  data/autoyast_sle15/create_hdd/create_hdd_textmode_aarch64.xml
  data/autoyast_sle15/create_hdd/create_hdd_textmode_aarch64_15_sp7.xml
  data/autoyast_sle15/create_hdd/create_hdd_textmode_ppc64le_15_sp7.xml
  data/autoyast_sle15/create_hdd/create_hdd_textmode_s390x.xml
  data/autoyast_sle15/create_hdd/create_hdd_textmode_s390x_15_sp7.xml
  data/autoyast_sle15/create_hdd/create_hdd_textmode_x86_64.xml
  data/autoyast_sle15/create_hdd/create_hdd_textmode_x86_64_15_sp7.xml
  data/autoyast_sle15/create_hdd/create_hdd_textmode_x86_64_uefi.xml
  data/autoyast_sle15/create_hdd/create_hdd_x86_64.xml.ep
  schedule/functional/autoyast_create_hdd/autoyast_create_hdd_gnome.yaml
  schedule/functional/autoyast_create_hdd/autoyast_create_hdd_gnome_we.yaml
  schedule/functional/autoyast_create_hdd/autoyast_create_hdd_minimal_base_sdk.yaml
  schedule/functional/autoyast_create_hdd/autoyast_create_hdd_pcm_aws.yaml
Owners: none

Debug ssh not activated on sles-encrypted
  lib/utils.pm
Owners: none

Use http protocol instead of ftp
  tests/installation/bootloader_zkvm.pm
Owners: none

Add ssh public key in autoyast profile
  data/yam/agama/auto/autoyast_supported.xml
Owners: none

Add openssl to stunnel
  tests/fips/stunnel.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

containers: Validate script output on isolation test
  lib/main_containers.pm
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

containers: Use toolbox image on s390x
  tests/containers/podman_netavark.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Minor netavark fixes
  tests/containers/podman_netavark.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Remove commented code
  tests/installation/release_notes_from_url.pm
Owners: none

LTP: Run ver_linux via script_output()
  lib/LTP/utils.pm
  tests/kernel/shutdown_ltp.pm
Owners: none

containers: Remove assert when disabling docker secret
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Remove assert when disabling docker secret (#21519)
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Openssh-server, firewalld are back, openssl missing in SLE 16
  tests/console/consoletest_setup.pm
  tests/fips/fips_setup.pm
  tests/security/krb5/krb5_crypt_prepare.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Implement DMS Test
  lib/registration.pm
  lib/upload_system_log.pm
  lib/version_utils.pm
  products/sle/main.pm
  tests/dms/dms_qemu_test.pm
Owners: none

Add softfailure for bsc#1239303
  tests/containers/container_engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add test cases for setting hostname in Agama
  schedule/yam/agama_auto.yaml
  schedule/yam/agama_extended.yaml
  test_data/yam/agama_sle_extended.yaml
  tests/yam/validate/validate_hostname.pm
Owners: none

Collect supportconfig in img_proof test failure
  tests/publiccloud/img_proof.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Add softfailure for bsc#1239303
  tests/containers/container_engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fetch supportconfig logs after sles4sap failure
  lib/qesapdeployment.pm
  t/09_qesapdeployment.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix typo in ssh log
  lib/sles4sap_publiccloud.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fetch supportconfig logs after sles4sap failure (#21517)
  lib/qesapdeployment.pm
  t/09_qesapdeployment.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: d4361194aa283513430d8ce75f7415af5f052360
  qesapdeployment.html
Owners: none

Remove haveged package test refer bsc#1239023
  tests/console/gpg.pm
Owners: none

Add necessary changes and schedule network tests for SLES
  schedule/qam/common/mau-extratests-desktop.yaml
  tests/x11/network/NM_wpa2_enterprise.pm
  tests/x11/network/hwsim_wpa2_enterprise_setup.pm
  tests/x11/network/yast2_network_use_nm.pm
Owners: none

containers: Skip isolation test on JeOS
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Adapt import_agama_profile step to dynamic JSON profiles
  lib/autoyast.pm
  tests/yam/agama/boot_agama.pm
  tests/yam/agama/import_agama_profile.pm
Owners: none

Comment the WSL installation in the autounattend
  data/wsl/Autounattend_BIOS.xml
  data/wsl/Autounattend_UEFI.xml
  schedule/wsl/install/create_windows_image.yaml
Owners: none

Revert "containers: Skip isolation test on JeOS"
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Fix permissions on certificate for sssd
  lib/services/389ds_sssd_client.pm
Owners: none

Comments and regex changes
  lib/saputils.pm
  lib/sles4sap_publiccloud.pm
  t/12_sles4sap_publiccloud.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Reduce the time for checking boot from cd
  tests/wsl/install/ms_win_installation.pm
Owners: none

containers: Use -t with podman|docker run
  tests/containers/isolation.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix SDAF fencing mechanism
  lib/sles4sap/sap_deployment_automation_framework/configure_tfvars.pm
  t/27_sdaf_configure_tfvars.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Press 'spacebar' continuously until installation appears
  tests/wsl/install/ms_win_installation.pm
Owners: none

Press 'spacebar' continuously until installation appears
  tests/wsl/install/ms_win_installation.pm
Owners: none

Press 'spacebar' continuously until installation appears
  tests/wsl/install/ms_win_installation.pm
Owners: none

Fix link protocol for infiniband tests
  schedule/kernel/ibtest-master.yaml
  schedule/kernel/ibtest-slave.yaml
Owners: none
