Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Check network issue on powerVM
  lib/bootloader_pvm.pm
Owners: none

deploy: ceeab955f662e07f71d5421783cbd7aca6ac1ade
  sles4sap/sap_host_agent.html
Owners: none

Adapt test data for new module of systems management
  test_data/yast/skip_registration/default_repos.yaml
Owners: none

we sleepin
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

further investigation
  schedule/storage/blktests.yaml
Owners: none

Remove known_hosts from run_ltp
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Add missing data file for s390x lynis test
  data/lynis/baseline-lynis-audit-system-nocolors-15-SP6-s390x-gnome
Owners: none

Skip also for 15-SP7 maintenance
  tests/security/apparmor_profile/apache2_changehat.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

wip
  tests/kernel/build_git_kernel.pm
Owners: none

Avoid calling PC post_run_hook for SLES4SAP tests
  lib/publiccloud/basetest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

wip
  schedule/storage/blktests.yaml
Owners: none

Add comments for disabling firewalld
  tests/wicked/before_test.pm
Owners: none

wip
  tests/kernel/blktests.pm
Owners: none

Wait for start of filesystem resource
  tests/ha/filesystem.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

wipp
  tests/kernel/blktests.pm
Owners: none

wip
  schedule/storage/blktests.yaml
Owners: none

registrierung
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

wip
  schedule/storage/blktests.yaml
Owners: none

we sleepin
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

wip
  tests/kernel/build_git_kernel.pm
Owners: none

Only collect logs on failure in agama_auto on leap
  tests/yam/agama/agama_auto.pm
Owners: none

Just fixing an annoying typo (#21926)
  lib/sles4sap/qesap/qesapdeployment.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: 5378a188aabe81aa2fb094075ff4e4f8c5a52e55
  sles4sap/qesap/qesapdeployment.html
Owners: none

need that Ingress Controller
  lib/containers/k8s.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

letsgooo
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Automatically handle beta status on CC installation
  schedule/security/create_hdd_cc_libyui/aarch64/cc_dev.yaml
  schedule/security/create_hdd_cc_libyui/aarch64/cc_maint_15sp6.yaml
  schedule/security/create_hdd_cc_libyui/s390x/cc_dev.yaml
  schedule/security/create_hdd_cc_libyui/s390x/cc_maint_fde.yaml
  schedule/security/create_hdd_cc_libyui/x86_64/cc_dev.yaml
  schedule/security/create_hdd_cc_libyui/x86_64/cc_maint.yaml
  tests/security/installation/handle_beta_status.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

cmoon Traefik
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Invert logic to keep list of instance types which NOT need TERMINATE
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

LTP/utils: Set pids.max to 3000 if below that
  lib/LTP/utils.pm
Owners: none

Workaround missing xterm in Leap 16
  tests/x11/x11_setup.pm
Owners: none

Add config for aws terraform peering
  data/sles4sap/qe_sap_deployment/sles4sap_aws_peering.yaml
  lib/sles4sap_publiccloud.pm
  tests/sles4sap/publiccloud/network_peering.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

wip
  tests/kernel/build_git_kernel.pm
Owners: none

Handle LTP_COMMAND_FILE array correctly
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Disable swtpm_verify on 15-SP6
  tests/security/swtpm/swtpm_verify.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

wip
  tests/kernel/build_git_kernel.pm
Owners: none

workaround boogaloo
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

wip
  tests/kernel/build_git_kernel.pm
Owners: none

workaround boogaloo
  tests/containers/charts/privateregistry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Replace hardcoded 'eth0' with network_utils::iface() function
  lib/hacluster.pm
  tests/ha/ctdb.pm
  tests/ha/haproxy.pm
  tests/ha/remove_node.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix sporadic error in ensa_filesystems after moving test to serial
  tests/sles4sap/ensa/ensa_filesystems.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
