Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Revert "Merge pull request #22209 from volodymyrkatkalov/add_idpf_to_gce"
  data/publiccloud/terraform/gce.tf
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

containers: Remove redundant docker-buildx test
  lib/main_containers.pm
  tests/containers/buildx.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Move peering cleanup before terraform
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

evolution: Fix typo in a3b41001121ac524f49ae9587d636cd8fdf26026
  tests/x11/evolution/evolution_prepare_servers.pm
Owners: none

install_ltp: Fix LTP build deps on SLE-16
  tests/kernel/install_ltp.pm
Owners: none

Use is_bootloader functions to match either
  tests/installation/disable_grub_timeout.pm
Owners: none

Untick the checkbox in textmode
  tests/installation/disable_grub_timeout.pm
Owners: none

elemental3: add system extensions and RKE2 test
  data/elemental3/config.sh
  tests/elemental3/generate_image.pm
  tests/elemental3/test_image.pm
Owners: none

Simplify if/else condition
  lib/grub_utils.pm
Owners: none

Remove unnecessary save_screenshot
  lib/opensusebasetest.pm
Owners: none

Fix spelling mistake
  lib/version_utils.pm
Owners: none

kea: Change log path
  data/network_bonding/kea-dhcp4.conf
  tests/network/kea_server.pm
Owners: none

Handle the different bootloaders in wait_grub
  lib/opensusebasetest.pm
Owners: none

Workaround loss of focus in the UI
  tests/installation/configure_bls.pm
Owners: none

Use checkbox to disable timeout
  tests/installation/configure_bls.pm
Owners: none

Rework is_textmode variable
  tests/installation/configure_bls.pm
Owners: none

Add missing imports
  tests/installation/configure_bls.pm
Owners: none

containers/registry: Test registry image instead of deprecated package
  tests/containers/registry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers/registry: Extend podman artifact test to SLE 16.0
  tests/containers/registry.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add PUBLIC_CLOUD_GCE_NIC_TYPE parameter for GCE PC
  data/publiccloud/terraform/gce.tf
  lib/publiccloud/gce.pm
  lib/publiccloud/provider.pm
  variables.md
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

containers: Test registry package only on supported products
  lib/main_containers.pm
  tests/containers/registry.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Add more tests which are running on sle15sp7 but not on sle16 yet
  lib/serial_terminal.pm
  schedule/functional/sle16/extra_tests_textmode.yaml
  schedule/functional/sle16/extra_tests_textmode2.yaml
  tests/console/btrfs_balance.pm
  tests/console/libgit2.pm
  tests/console/wpa_supplicant.pm
  tests/console/zypper_lifecycle.pm
  tests/network/cifs.pm
  tests/systemd_testsuite/prepare_systemd_and_testsuite.pm
Owners: none

Remove first_boot from ppc64le gnome test
  schedule/yam/agama_gnome_ppc64le.yaml
Owners: none

Skip nmap check for slem vmware test
  tests/virt_autotest/esxi_open_vm_tools.pm
Owners: none

Remove obsolete virtnwfilter from SLFO
  data/virtualization/autoyast/host_15.xml.ep
  lib/virt_autotest/utils.pm
  tests/virt_autotest/cleanup_libvirtd_log.pm
Owners: none

containers: Drop docker-runc test
  lib/main_containers.pm
  tests/containers/docker_runc.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

containers: Drop zypper-docker test
  lib/main_containers.pm
  tests/containers/zypper_docker.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Test ifup
  tests/installation/first_boot.pm
Owners: none

Fix conditions for is_bootloader_grub2
  lib/version_utils.pm
Owners: none

Fix kubevirt false positive stall
  lib/transactional.pm
Owners: none

Drop is_staging
  lib/version_utils.pm
Owners: none

Fix logic in condition for grub2
  lib/version_utils.pm
Owners: none

Make sure NIC is up after installation
  schedule/functional/sle16/agama-create-hdd-gnome.yaml
  schedule/functional/sle16/agama-create-hdd-textmode.yaml
  tests/installation/network_check.pm
Owners: none

Rework test to new UI changes
  tests/installation/configure_bls.pm
Owners: none

Full drive reencrypt by combustion
  data/microos/butane/script
Owners: none

Remove usage of is_tumbleweed
  lib/version_utils.pm
Owners: none

Remove leftover of is_staging
  tests/installation/disable_grub_timeout.pm
Owners: none

Fix wrong unicast opt for sle16
  tests/ha/ha_cluster_init.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add a schedule agama_prepare_baremetal
  schedule/kernel/agama_prepare_baremetal.yaml
Owners: none

Update infiniband test schedules for agama
  schedule/kernel/ibtest-master.yaml
  schedule/kernel/ibtest-slave.yaml
Owners: none
