Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

Install openssl pkg needed for nss cryptopolicy test
  data/security/crypto_policies/test_nss_client.sh
  tests/security/crypto_policies/crypto_policies_tests.pm
Owners: none

lib/services/nginx.pm: Install semanage and do not ignore its exit code
  lib/services/nginx.pm
Owners: @pdostal

Extract `prepare_wsl` to the Windows instalation testsuite
  schedule/wsl/install/create_windows_image.yaml
  schedule/wsl/wsl_main.yaml
  tests/wsl/install/prepare_wsl.pm
  tests/wsl/install/update_windows.pm
  tests/wsl/install/win_firstboot.pm
  tests/wsl/install/win_installation.pm
  tests/wsl/install_wsl.pm
Owners: none

Add snapper-zypp-plugin test
  lib/main_common.pm
  schedule/functional/extra_tests_textmode.yaml
  tests/console/snapper_zypp.pm
Owners: none

Add unattended installation with ext4 and xfs
  data/yam/agama/auto/sle_root_filesystem_ext4.jsonnet
  data/yam/agama/auto/sle_root_filesystem_xfs.jsonnet
  schedule/yam/agama_non_default_root_filesystem.yaml
  schedule/yam/agama_non_default_root_filesystem_ppc64le.yaml
  schedule/yam/agama_non_default_root_filesystem_s390x.yaml
  test_data/yam/agama_ext4.yaml
  test_data/yam/agama_ext4_s390x.yaml
  test_data/yam/agama_ext4_spvm.yaml
  test_data/yam/agama_xfs.yaml
  test_data/yam/agama_xfs_s390x.yaml
  test_data/yam/agama_xfs_spvm.yaml
Owners: none

Remove expansion of agama profile from boot
  tests/yam/agama/boot_agama.pm
Owners: none

PC PAYG Do not register addons other then LTSS
  lib/publiccloud/utils.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

console/snapper_zypp.pm: Perform diff between pre/post snapshots
  tests/console/snapper_zypp.pm
Owners: none

schedule/boot_to_snapshot.yaml: Use new snapshots with zypper
  schedule/boot_to_snapshot.yaml
Owners: none

scenario-definitions.yaml: Drop OFFLINE_SUT=1
  scenario-definitions.yaml
Owners: none

Add variable for the AWS IBSm project
  lib/qesapdeployment.pm
  t/16_qesap_aws.t
  tests/sles4sap/publiccloud/network_peering.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Agama scc
  tests/console/system_prepare.pm
Owners: none

Agama installation for sles4sap
  schedule/sles4sap/agama_saptune_on_pvm.yaml
  schedule/sles4sap/installation/agama_install_sles4sap.yaml
  tests/sles4sap/patterns.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

hpc: Change remote execution from mrsh to ssh on 15-SP7+
  tests/hpc/pdsh_slave.pm
  tests/hpc/slurm_master.pm
Owners: @b10n1k, @schlad

Debug virt nat network issue
  tests/virt_autotest/libvirt_isolated_virtual_network.pm
  tests/virt_autotest/libvirt_nated_virtual_network.pm
  tests/virt_autotest/libvirt_routed_virtual_network.pm
Owners: none

Remove arguments from install_$ENGINE_when_needed
  lib/containers/common.pm
  lib/containers/docker.pm
  lib/containers/podman.pm
  lib/wickedbase.pm
  tests/console/libssh.pm
  tests/containers/buildah.pm
  tests/containers/buildx.pm
  tests/containers/ecs_anywhere.pm
  tests/containers/host_configuration.pm
  tests/containers/rootless_docker.pm
  tests/ha/hawk_gui.pm
  tests/rancher/docker_rancher.pm
  tests/rancher/podman_rancher.pm
  tests/rancher/rancher_rke1_master.pm
  tests/rancher/rancher_rke1_worker.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere, @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add variable for the AWS IBSm project (#21000)
  lib/qesapdeployment.pm
  t/16_qesap_aws.t
  tests/sles4sap/publiccloud/network_peering.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: 5c4ee573653d162b5d95882f38ced6b4d1540a61
  qesapdeployment.html
Owners: none

console/snapper_zypp.pm: Perform diff between pre/post snapshots
  tests/console/snapper_zypp.pm
Owners: none

schedule/boot_to_snapshot.yaml: Use new snapshots with zypper
  schedule/boot_to_snapshot.yaml
Owners: none

scenario-definitions.yaml: Drop OFFLINE_SUT=1
  scenario-definitions.yaml
Owners: none

Debug virt nat network issue
  tests/virt_autotest/libvirt_isolated_virtual_network.pm
  tests/virt_autotest/libvirt_nated_virtual_network.pm
  tests/virt_autotest/libvirt_routed_virtual_network.pm
Owners: none

Swap qesap_az_get_vnet with az_network_vnet_get
  lib/qesapdeployment.pm
  lib/trento.pm
  t/08_trento.t
  t/15_qesap_azure.t
  tests/sles4sap/publiccloud/clean_leftover_peerings.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Run SELinux testsuite in enforcing mode if distro has it as default
  lib/selinuxtest.pm
  tests/security/selinux/audit2allow.pm
  tests/security/selinux/enforcing_mode_setup.pm
  tests/security/selinux/selinux_setup.pm
  tests/security/selinux/selinux_smoke.pm
  tests/security/selinux/semanage_boolean.pm
  tests/security/selinux/semodule.pm
  tests/security/selinux/sestatus.pm
Owners: none

security/selinux/semanage_boolean.pm: Avoid catastrophic backtracking
  tests/security/selinux/semanage_boolean.pm
Owners: none

security/selinux/selinux_smoke.pm: Drop obsolete softfailure
  tests/security/selinux/selinux_smoke.pm
Owners: none

Remove registration from Agama profile for B1
  data/yam/agama/auto/sle_default.jsonnet
  data/yam/agama/auto/sle_lvm.jsonnet
  data/yam/agama/auto/sle_multipath.jsonnet
  data/yam/agama/auto/sle_root_filesystem_ext4.jsonnet
  data/yam/agama/auto/sle_root_filesystem_xfs.jsonnet
  data/yam/agama/auto/sles_sap_default.jsonnet
Owners: none

Log checker:Ignore following known issues
  data/journal_check/bug_refs.json
Owners: none

security/selinux/semanage_boolean.pm: Avoid catastrophic backtracking
  tests/security/selinux/semanage_boolean.pm
Owners: none

security/selinux/selinux_smoke.pm: Drop obsolete softfailure
  tests/security/selinux/selinux_smoke.pm
Owners: none

Run SELinux testsuite in enforcing mode if distro has it as default
  lib/selinuxtest.pm
  tests/security/selinux/audit2allow.pm
  tests/security/selinux/enforcing_mode_setup.pm
  tests/security/selinux/selinux_setup.pm
  tests/security/selinux/selinux_smoke.pm
  tests/security/selinux/semanage_boolean.pm
  tests/security/selinux/semodule.pm
  tests/security/selinux/sestatus.pm
Owners: none

Add Hyper-V and VMware on SLES15Sp2TD LTSS MU test
  lib/virt_autotest/common.pm
Owners: none

Add vmware and hyper MU test SLES15SP2 LTSS TD
  lib/virt_autotest/common.pm
Owners: none

Fix some modules conditions for SLES16
  lib/containers/common.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

Set selinuxtest as base for selinux_setup
  tests/security/selinux/selinux_setup.pm
Owners: none

Fix some modules conditions for SLES16 (#21012)
  lib/containers/common.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

firefox_audio: Remove bsc#1048271 soft fail
  tests/x11/firefox_audio.pm
Owners: none

publiccloud/provider: Use script_run in terraform_apply
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

publiccloud/provider: Check if EC2 zone supports selected instance type
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

Add vmware and hyper MU test SLES15SP2 LTSS TD
  lib/virt_autotest/common.pm
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis @rbmarliere
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati @rbmarliere
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/qesapdeploymnet.pm @mpagot @rbmarliere

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777 @rbmarliere

# Transactional systems
products/microos/ @mloviska @ricardobranco777 @rbmarliere
tests/microos/ @mloviska @ricardobranco777 @rbmarliere
products/sle-micro/ @mloviska @ricardobranco777 @rbmarliere
products/alp/ @mloviska @ricardobranco777 @rbmarliere
tests/jeos/ @mloviska @ricardobranco777 @rbmarliere
tests/transactional/ @mloviska @ricardobranco777 @rbmarliere
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777 @rbmarliere

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
