Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Remove installation of ClusterTools2 in hana_install module
  tests/sles4sap/hana_install.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Close terminal session and reset consoles in ha/await_upgrade_or_update
  tests/ha/await_upgrade_or_update.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Improve sles4sap::check_instance_state
  lib/sles4sap.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Put podmansh before rootless_podman
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Format directly home and configure boot partition
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
  lib/filesystem_utils.pm
  schedule/yam/agama_separate_boot.yaml
  test_data/yam/agama_separate_boot.yaml
  tests/console/validate_partition_table_via_blkid.pm
Owners: none

Do not use curl for minimal role
  tests/console/sshd.pm
Owners: @pdostal

Drop jsonnet file of sles_packagesi
  data/yam/agama/auto/sles_packages.jsonnet
Owners: none

containers: Make each BATS test run on a separate job
  lib/main_containers.pm
  tests/containers/bats/README.md
  tests/containers/bats/buildah.pm
  tests/containers/bats/netavark.pm
  tests/containers/bats/podman.pm
  tests/containers/bats/runc.pm
  tests/containers/bats/skopeo.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

containers: Simplify BATS setup
  lib/containers/bats.pm
  tests/containers/bats/buildah.pm
  tests/containers/bats/netavark.pm
  tests/containers/bats/podman.pm
  tests/containers/bats/runc.pm
  tests/containers/bats/skopeo.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Avoid mem_encrypt=on on amd-zen3-gpu-sut1 due to bsc#1224107
  data/virt_autotest/host_unattended_installation_files/autoyast/dev_host_15.xml.ep
Owners: none

pynfs: Add python313-standard-xdrlib to dependencies
  tests/nfs/install.pm
Owners: none

containers: Tidy up BATS README
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Fix PC Waagent on 12-SP5
  tests/publiccloud/check_services.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Skip add SCC product on TD
  lib/registration.pm
Owners: none

Make version of AITL configurable
  tests/publiccloud/azure_aitl.pm
  variables.md
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Remove workaround for 1238709
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Create unattended scenario with home encrypted and resizing
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key_resize.jsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key_resize_ppc64le.jsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key_resize_s390x.jsonnet
  data/yam/agama/auto/template.libsonnet
  lib/Distribution/Opensuse/AgamaDevel.pm
  lib/Yam/Agama/Pom/EnterPassphraseForHomePage.pm
  schedule/yam/agama_encrypted_unattended.yaml
  schedule/yam/agama_encrypted_unattended_ppc64le.yaml
  schedule/yam/agama_encrypted_unattended_s390x.yaml
  schedule/yam/agama_unattended_publish_qcow.yaml
  schedule/yam/agama_unattended_publish_qcow_ppc64le.yaml
  schedule/yam/agama_unattended_publish_qcow_s390x.yaml
  tests/yam/agama/boot_home_encryption.pm
Owners: none

Add dummy.xml file
  data/yam/autoyast/dummy.xml
Owners: none

PC img_proof disable test_sles_azure_running_services
  lib/publiccloud/azure.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Disable cleanup for AITL tests
  tests/publiccloud/azure_aitl.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Drop hexchat and chromium from zdup to 16.0
  lib/main_common.pm
Owners: none

Fix schedule for SAP minimal-VM images
  schedule/sles4sap/minimalvm/patterns.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Don't schedule user_defined_snapshot on sle12
  schedule/qam/common/mau-extratests-desktop.yaml
Owners: none

containers: Fix SELinux issue with docker-compose.yml
  data/containers/docker-compose.yml
  tests/containers/compose.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Add logs to compose
  tests/containers/compose.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add variable to control the Terraform parallelism
  tests/sles4sap/qesapdeployment/deploy.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Rename Public Cloud cleanups
  lib/opensusebasetest.pm
  lib/publiccloud/basetest.pm
  lib/publiccloud/provider.pm
  tests/sles4sap/saptune/mr_test.pm
  variables.md
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

Add files support in AutoYaST supported scenario
  data/yam/agama/auto/autoyast_supported.xml
  schedule/yam/agama_autoyast_supported_ppc64le.yaml
  schedule/yam/agama_autoyast_supported_qemu.yaml
  schedule/yam/agama_autoyast_supported_s390x.yaml
  tests/yam/validate/validate_deployed_files.pm
Owners: none

containers: Simplify BATS README
  tests/containers/bats/README.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Revert "containers: Remove aardvark-dns upstream tests"
  tests/containers/aardvark_integration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Bring back aardvark-dns upstream tests
  lib/main_containers.pm
  tests/containers/bats/README.md
  tests/containers/bats/aardvark.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Use networkmanager to import configure file
  schedule/functional/wireguard_nm.yaml
  tests/network/wireguard_nm.pm
Owners: none

Ignore sle15sp2 sriov test
  lib/main_common.pm
Owners: none

Ignore sle15sp2 sriov test
  lib/main_common.pm
Owners: none

Decouple cleanup module for SDAF scenarios
  lib/sles4sap/sap_deployment_automation_framework/deployment_connector.pm
  schedule/sles4sap/sap_deployment_automation_framework/ensa2_scenarios.yml
  t/26_deployment_connector.t
  tests/sles4sap/redirection_tests/hanasr_schedule_tests.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Remove non existent option
  data/security/autoyast/textmode.xml.ep
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Update tools/detect_unused_modules to ignore containers/bats
  tools/detect_unused_modules
Owners: none

Install nfs-client when not installed by default (e.g. SLES16)
  tests/ha/ha_cluster_init.pm
  tests/ha/setup_hosts_and_luns.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: ffc78699f495233d4f7916c2c1755e29b160b5d6
  sles4sap/sap_deployment_automation_framework/deployment_connector.html
Owners: none

Add variable to control the Terraform parallelism (#21792)
  tests/sles4sap/qesapdeployment/deploy.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
