Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

virt_autotest remove record_soft_failure for bsc1182886
  tests/virt_autotest/uefi_guest_verification.pm
Owners: none

Bootloader svirt updated with hdd copy in datastore
  tests/installation/bootloader_svirt.pm
Owners: none

Bootloader svirt: hdd test use provide_image_vmware_in_ds
  tests/installation/bootloader_svirt.pm
Owners: none

bats: Reboot is always needed
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Workaround for bsc#1244437
  tests/ha/priority_fencing_delay.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Extend SDAF log collection
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  schedule/sles4sap/sap_deployment_automation_framework/ensa2_scenarios.yml
  tests/sles4sap/redirection_tests/hanasr_schedule_tests.pm
  tests/sles4sap/redirection_tests/upload_logs.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

[Virtualization]: Enable sle16 aarch64 guest installation
  data/virt_autotest/guest_params_xml_files/sles_16_kvm_hvm_aarch64_agama_online_iso.xml
  data/virt_autotest/guest_unattended_installation_files/sles_16_plus_kvm_hvm_guest_non_encrypted_storage_aarch64.jsonnet
  lib/guest_installation_and_configuration_base.pm
  schedule/virt_autotest/sle16_guest_installation.yaml
  tests/virt_autotest/uefi_guest_verification.pm
Owners: none

Add unattended support for DASD
  data/yam/agama/auto/lib/dasd.libsonnet
  data/yam/agama/auto/template.libsonnet
Owners: none

Add unattended support for DASD
  data/yam/agama/auto/lib/dasd.libsonnet
  data/yam/agama/auto/template.libsonnet
Owners: none

Create 15-SP7 autoyast profiles
  data/yam/autoyast/textmode.xml
  data/yam/autoyast/textmode_ppc64le.xml
  data/yam/autoyast/textmode_s390x.xml
Owners: none

Convert qesap conf to apiver:4 (#22353)
  data/sles4sap/qe_sap_deployment/qesap_aws.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_aws_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_msi.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_fencing_spn.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_roles.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_sapconf.yaml
  data/sles4sap/qe_sap_deployment/qesap_azure_uri.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_fencing.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_peering.yaml
  data/sles4sap/qe_sap_deployment/qesap_gcp_sapconf.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

agama: Improve IPMI installation profile
  data/agama_auto/sle_default_ipmi.jsonnet
  data/agama_auto/sle_default_ipmi_no_reg.jsonnet
Owners: none

cc_eal4: use boot_disk instead of boot_to_desktop
  schedule/security/cc_eal4.yaml
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

wickedbase: formatting - remove trailing spaces
  lib/wickedbase.pm
Owners: none

Remove registry suse login
  tests/containers/image.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Disable dovecot's fts configuration
  data/dovecot.tar
Owners: none

Do not pull recommends
  tests/x11/evolution/evolution_prepare_servers.pm
Owners: none

Collect apache logs in post fail hook
  tests/security/libserf/libserf.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Check exit code of dracut list modules instead
  tests/console/dracut.pm
Owners: none

mau-extratests2: Don't schedule ipv6 tests on 12-SP3
  schedule/qam/common/mau-extratests2.yaml
Owners: none

mau-extratests: Drop EOS versions
  schedule/qam/common/mau-extratests1.yaml
  schedule/qam/common/mau-extratests2.yaml
Owners: none

wickedbase: record new AVC messages
  lib/wickedbase.pm
Owners: none

Check for systemd module
  tests/console/dracut.pm
Owners: none

kdump: Add Agama bare metal installation with test schedule
  schedule/kernel/agama_install_kdump.yaml
Owners: none

Remove record_soft_failure for bsc1182886
  tests/virt_autotest/uefi_guest_verification.pm
Owners: none

Enable virtual network management automation test for sle16
  lib/virt_autotest/virtual_network_utils.pm
  schedule/virt_autotest/sle16_guest_installation.yaml
  tests/virt_autotest/libvirt_host_bridge_virtual_network.pm
  tests/virt_autotest/libvirt_isolated_virtual_network.pm
  tests/virt_autotest/libvirt_nated_virtual_network.pm
  tests/virt_autotest/libvirt_routed_virtual_network.pm
  tests/virt_autotest/libvirt_virtual_network_init.pm
Owners: none

Provision dovecot-openssl.cnf for dovecot 2.4
  data/dovecot.tar
  tests/x11/evolution/evolution_prepare_servers.pm
Owners: none

PC function get_credentials namespace argument
  lib/publiccloud/aws_client.pm
  lib/publiccloud/azure_client.pm
  lib/publiccloud/gcp_client.pm
  lib/publiccloud/utils.pm
  lib/sles4sap/qesap/qesapdeployment.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

aa_prepare: Replace nscd with samba
  tests/security/apparmor/aa_prepare.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

ltp: Add schedule to support agama on baremetal
  schedule/kernel/agama_gfx_drivers.yaml
  schedule/kernel/agama_install_ltp.yaml
  schedule/kernel/agama_install_ltp_pvm.yaml
  schedule/kernel/agama_prepare_baremetal.yaml
Owners: none

ltp: Add schedule to support agama on baremetal (#22325)
  schedule/kernel/agama_gfx_drivers.yaml
  schedule/kernel/agama_install_ltp.yaml
  schedule/kernel/agama_install_ltp_pvm.yaml
  schedule/kernel/agama_prepare_baremetal.yaml
Owners: none

Switch credential retrieval method
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  t/20_sdaf_deployment_library.t
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

kernel_kexec: Increase first timeout
  tests/kernel/kernel_kexec.pm
Owners: none

containers: Introduce KUBERNETES_VERSIONS to test multiple k8s versions
  lib/containers/k8s.pm
  lib/main_containers.pm
  tests/containers/kubectl.pm
  variables.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @jlausuch

PC function get_credentials namespace argument (#22362)
  lib/publiccloud/aws_client.pm
  lib/publiccloud/azure_client.pm
  lib/publiccloud/gcp_client.pm
  lib/publiccloud/utils.pm
  lib/sles4sap/qesap/qesapdeployment.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

deploy: ccba45249ddf84f1c883d863ff9a70b8ce69ccca
  publiccloud/utils.html
Owners: none

kernel: Enhance kselftest runner to support specific git tags
  tests/kernel/run_kselftests.pm
Owners: none

Accept both 'Master' and 'Promoted' in QNetd test
  data/ha/qdevice_check_master.sh
  tests/ha/qnetd.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

xfstests: add DUMP_CORRUPT_FS=1 to local.config
  tests/xfstests/partition.pm
Owners: none

ssh_keyscan_fips: new test for ssh-keyscan under FIPS
  schedule/security/fips/fips_env_mode_textmode_extra.yaml
  tests/fips/openssh/ssh_keyscan_fips.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
