Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @jlausuch, @mloviska

deploy: 3acb206afb52bde4e1f93f65f86328cd2951a4c8
  wickedbase.html
Owners: none

Fix failure in image definition
  lib/publiccloud/azure.pm
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati

Workaround for test stuck at 'Writing NIS configuration' in nis_client
  tests/x11/nis_client.pm
Owners: none

Revert "Move all the autoyast profiles from Migration job groups to data/yam/"
  data/autoyast_sle12/create_hdd/create_hdd_ha_sles.xml.ep
  data/autoyast_sle12/create_hdd/create_hdd_sles_regression_aarch64.xml.ep
  data/autoyast_sle12/create_hdd/create_hdd_sles_regression_ppc64le.xml.ep
  data/autoyast_sle12/create_hdd/create_hdd_sles_regression_s390x.xml.ep
  data/autoyast_sle15/autoyast_pcm_lgm_allpatterns_ppc64le.xml.ep
  data/autoyast_sle15/create_hdd/create_hdd_gnome_allpatterns_aarch64.xml
  data/autoyast_sle15/create_hdd/create_hdd_gnome_disabled_firewall.xml
  data/autoyast_sle15/create_hdd/create_hdd_gnome_s390x.xml
  data/autoyast_sle15/create_hdd/create_hdd_gnome_sdk_allpatterns_aarch64.xml
  data/autoyast_sle15/create_hdd/create_hdd_gnome_sdk_allpatterns_s390x.xml
  data/autoyast_sle15/create_hdd/create_hdd_ha_aarch64.xml.ep
  data/autoyast_sle15/create_hdd/create_hdd_ha_ppc64le.xml.ep
  data/autoyast_sle15/create_hdd/create_hdd_ha_s390x.xml.ep
  data/autoyast_sle15/create_hdd/create_hdd_ha_x86_64.xml.ep
  data/autoyast_sle15/create_hdd/create_hdd_hpc_development_node_aarch64.xml.ep
  data/autoyast_sle15/create_hdd/create_hdd_hpc_development_node_x86_64.xml.ep
  data/autoyast_sle15/create_hdd/create_hdd_hpc_management_server_aarch64.xml.ep
  data/autoyast_sle15/create_hdd/create_hdd_hpc_management_server_x86_64.xml.ep
  data/autoyast_sle15/create_hdd/create_hdd_hpc_textmode_aarch64.xml.ep
  data/autoyast_sle15/create_hdd/create_hdd_hpc_textmode_x86_64.xml.ep
  data/autoyast_sle15/create_hdd/create_hdd_sap.xml.ep
  data/yam/autoyast/autoyast_sle_powervm.xml.ep
  schedule/migration/autoyast_regression_test_online_pre@pvm.yaml
  schedule/yast/autoyast/autoyast_ha.yaml
  schedule/yast/autoyast/autoyast_sap.yaml
Owners: none

Replace GUI host installation with autoyast for sle12sp5
  data/virt_autotest/host_unattended_installation_files/autoyast/dev_host_12.xml.ep
  tests/virt_autotest/reboot_and_wait_up.pm
Owners: none

deploy: b32b19fa3e9c519fe836b87ac1f77b8864530331
  publiccloud/azure.html
Owners: none

Add fetch playbook
  data/sles4sap/fetch_file.yaml
  data/sles4sap/script_output.yaml
  lib/qesapdeployment.pm
Owners: none

Make workaround for spack compilation which missing LD_LIBRARY_PATH
  lib/hpcbase.pm
  tests/hpc/spack_master.pm
Owners: none

Add code to fetch files in cluster_logs
  data/sles4sap/fetch_file.yaml
  data/sles4sap/script_output.yaml
  lib/qesapdeployment.pm
  t/09_qesapdeployment.t
Owners: none

bsc#1213529 Public Cloud: Fixe img-proof
  tests/publiccloud/prepare_tools.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

deploy: 2bd3a258565061b14a95cd070ec99d535d71b02a
  susedistribution.html
Owners: none

Including scc_deregistration in the zvm media migration.
  schedule/migration/s390x-zVM-Media-Upgrade.yaml
Owners: none

Replace GUI host installation with autoyast for sle12sp5
  data/virt_autotest/host_unattended_installation_files/autoyast/dev_host_12.xml.ep
  tests/virt_autotest/reboot_and_wait_up.pm
Owners: none

xfstests: Change test folder and add repo for alp
  tests/xfstests/install.pm
  tests/xfstests/partition.pm
  tests/xfstests/run.pm
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @jlausuch @ricardobranco777
tests/microos/ @mloviska @jlausuch @ricardobranco777
products/sle-micro/ @mloviska @jlausuch @ricardobranco777
products/alp/ @mloviska @jlausuch @ricardobranco777
tests/jeos/ @mloviska @jlausuch @ricardobranco777
tests/transactional/ @mloviska @jlausuch @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal
