Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky

containers: Workaround for podman & docker
  tests/containers/image.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

Move agama workaround to pre/post scripts
  data/agama_auto/sle_default.jsonnet
  data/agama_auto/sle_default_ipmi.jsonnet
  data/agama_auto/sle_default_powervm.jsonnet
  data/agama_auto/sle_default_s390x-kvm.jsonnet
  lib/bootloader_pvm.pm
  tests/installation/agama_reboot.pm
Owners: none

xfstests: Handling microos boot on ppc64le
  tests/xfstests/partition.pm
Owners: none

Regenrate EFI secret key before power management
  lib/virt_autotest/utils.pm
  tests/virt_autotest/uefi_guest_verification.pm
Owners: none

Add ltss_td to addons, code and ay profiles
  data/autoyast_qam/15-common_base_installation.xml.ep
  data/autoyast_qam/15_installation.xml.ep
  data/filesystem/autoyast_filesystem_withouthome_kernel.xml.ep
  data/qam/dracut/15_custom_lvm.xml.ep
  data/qam/dracut/15_custom_usr.xml.ep
  lib/registration.pm
  tests/console/zypper_lifecycle.pm
Owners: none

ImageMagick: Replace deprecated in IMv7 'convert' with 'magick'
  data/imagemagick/bg_script.sh
Owners: none

ImageMagick: Cleanup bg_script.sh
  data/imagemagick/bg_script.sh
  tests/x11/ImageMagick.pm
Owners: none

containers: Remove assert on iptables rule add
  tests/containers/image.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

ltp: Remove cockpit login message during installation
  tests/kernel/install_ltp.pm
Owners: none

containers: docker does support update command
  lib/containers/utils.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

containers: Remove checks for ancient podman versions
  lib/containers/engine.pm
  lib/containers/utils.pm
  tests/containers/podman_netavark.pm
  tests/containers/podman_network_cni.pm
  tests/containers/podman_pods.pm
  tests/containers/podman_remote.pm
  tests/containers/rootless_podman.pm
  tests/containers/run_container_in_k3s.pm
  tests/containers/secret.pm
  tests/containers/volumes.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

containers: Remove checks for 15-SP2
  lib/containers/common.pm
  lib/main_containers.pm
  tests/containers/buildah.pm
  tests/containers/helm_rmt.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere, @jlausuch

containers: Remove checks for ancient docker versions
  lib/containers/docker.pm
  tests/containers/validate_btrfs.pm
  tests/containers/volumes.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

Update templates product ID for SLES
  data/yam/agama/auto/sap_default.json
  data/yam/agama/auto/sap_default_no_scc.json
  data/yam/agama/auto/sap_default_no_scc_plain_password.json
  data/yam/agama/auto/sle_default.jsonnet
  data/yam/agama/auto/sle_default_no_scc.jsonnet
  data/yam/agama/auto/sle_default_no_scc_plain_password.json
  data/yam/agama/auto/sle_multipath.jsonnet
Owners: none

Introduce variable allowing to keep image after test end
  lib/publiccloud/azure.pm
  lib/publiccloud/basetest.pm
  tests/publiccloud/migration.pm
  variables.md
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

Add profile for unattended installation with lvm
  data/yam/agama/auto/sle_lvm.jsonnet
  schedule/yam/agama_lvm_unattended.yaml
  schedule/yam/agama_lvm_unattended_ppc64le.yaml
  schedule/yam/agama_lvm_unattended_s390x.yaml
Owners: none

Expand profile and auto variables
  tests/yam/agama/boot_agama.pm
  tests/yam/agama/import_agama_profile.pm
Owners: none

Added variable to expand
  lib/autoyast.pm
Owners: none

Revert "ImageMagick: Fix and cleanup code"
  data/imagemagick/bg_script.sh
  tests/x11/ImageMagick.pm
Owners: none

Regenrate EFI secret key before power management
  lib/virt_autotest/utils.pm
  tests/virt_autotest/uefi_guest_verification.pm
Owners: none

deploy: 60e5fc4b39d4a7f18237d6a9b7b0b1987f7838f6
  virt_autotest/utils.html
Owners: none

Adapt cloud-init tests to work with IBSm
  lib/sles4sap/ipaddr2.pm
  schedule/sles4sap/cloud-components/ipaddr2.yml
  t/22_ipaddr2.t
  tests/sles4sap/ipaddr2/cluster_create.pm
  tests/sles4sap/ipaddr2/configure.pm
  tests/sles4sap/ipaddr2/destroy.pm
  tests/sles4sap/ipaddr2/network_peering.pm
  tests/sles4sap/ipaddr2/patch_system.pm
  tests/sles4sap/ipaddr2/registration.pm
  tests/sles4sap/ipaddr2/sanity_cluster.pm
  tests/sles4sap/ipaddr2/test_move_resource.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Avoid running setroubleshootd on SLE yet
  tests/security/selinux/setroubleshootd.pm
Owners: none

Improve GRUB timeout handling for VMware guests
  tests/installation/bootloader_uefi.pm
Owners: none

Unify Agama profiles and use variable to save number of files
  data/yam/agama/auto/default_no_scc.jsonnet
  data/yam/agama/auto/default_no_scc_plain_password.jsonnet
  data/yam/agama/auto/leap16.json
  data/yam/agama/auto/leap_default.json
  data/yam/agama/auto/leap_default.jsonnet
  data/yam/agama/auto/leap_gnome.json
  data/yam/agama/auto/leap_gnome.jsonnet
  data/yam/agama/auto/post_script.jsonnet
  data/yam/agama/auto/sap_default.json
  data/yam/agama/auto/sap_default.jsonnet
  data/yam/agama/auto/sap_default_no_scc.json
  data/yam/agama/auto/sap_default_no_scc_plain_password.json
  data/yam/agama/auto/sle_default_no_scc.jsonnet
  data/yam/agama/auto/sle_default_no_scc_plain_password.json
  data/yam/agama/auto/sle_multipath.jsonnet
  data/yam/agama/auto/tumbleweed_default.json
  data/yam/agama/auto/tumbleweed_default.jsonnet
  data/yam/agama/auto/tumbleweed_gnome.json
  data/yam/agama/auto/tumbleweed_gnome.jsonnet
  lib/autoyast.pm
  lib/bootloader_setup.pm
  tests/installation/bootloader_s390.pm
  tests/installation/bootloader_zkvm.pm
  tests/yam/agama/boot_agama.pm
  tests/yam/agama/import_agama_profile.pm
Owners: none

deploy: 80b91b115b5f01a68becd6613da33163d2da7809
  autoyast.html
Owners: none

QU - single yaml for Full and Online s390x and aarch64
  schedule/security/create_hdd_cc_libyui/aarch64/cc_qr.yaml
  schedule/security/create_hdd_cc_libyui/aarch64/cc_qr_15sp6.yaml
  schedule/security/create_hdd_cc_libyui/s390x/cc_qr.yaml
Owners: none

Add missing variables to allow execution
  lib/main_publiccloud.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @rbmarliere

Add FIPS schedules for ppc64le
  schedule/security/fips/ppc64le/fips_env_mode_powervm.yaml
  schedule/security/fips/ppc64le/fips_ker_mode_powervm.yaml
Owners: none

Move tests from we-module to extratests
  schedule/functional/extra_tests_we_gnome.yaml
  schedule/functional/extra_tests_we_other.yaml
Owners: none

Remove expand_profile_url code section
  tests/yam/agama/boot_agama.pm
Owners: none

Add wait_still_screen after clicking the inst btn
  tests/installation/agama.pm
Owners: none

PC new logs added in regristration cleanup
  tests/publiccloud/registration.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati, @rbmarliere

Add workaround for bsc#1217583
  lib/publiccloud/utils.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @rbmarliere

containers: nerdctl must skip update test
  lib/containers/utils.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777, @rbmarliere

Expand variables in Agama profile on remote worker
  lib/bootloader_setup.pm
Owners: none

Improve GRUB timeout handling for VMware guests
  tests/installation/bootloader_uefi.pm
Owners: none

deploy: 245b3aef6ed59dd593556848fab376fcee7badcb
  sles4sap/ipaddr2.html
Owners: none

Add multipath profile for prod group
  data/yam/agama/auto/sle_multipath_scc_plain_password.jsonnet
Owners: none

Add pre/post scripts and remove workaround for agama auto install
  data/agama_auto/sle_default.jsonnet
  data/agama_auto/sle_default_ipmi.jsonnet
  data/agama_auto/sle_default_pvm.jsonnet
  data/agama_auto/sle_default_s390x_kvm.jsonnet
  tests/installation/agama_reboot.pm
  tests/installation/ipxe_install.pm
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis @rbmarliere
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati @rbmarliere
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777 @rbmarliere
lib/qesapdeploymnet.pm @mpagot @rbmarliere

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777 @rbmarliere
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777 @rbmarliere

# Transactional systems
products/microos/ @mloviska @ricardobranco777 @rbmarliere
tests/microos/ @mloviska @ricardobranco777 @rbmarliere
products/sle-micro/ @mloviska @ricardobranco777 @rbmarliere
products/alp/ @mloviska @ricardobranco777 @rbmarliere
tests/jeos/ @mloviska @ricardobranco777 @rbmarliere
tests/transactional/ @mloviska @ricardobranco777 @rbmarliere
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777 @rbmarliere

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
