Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

pc: Make sure systemd-detect-virt fails on bare-metal
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

Wipe existed disks on powerVM for Autoyast scenarios in Agama
  data/yam/agama/auto/autoyast_supported.xml
Owners: none

Set IPXE if IPXE var is missing
  lib/main_common.pm
Owners: none

Remove regression kubevirt
  lib/virt_autotest/utils.pm
Owners: none

bats/podman: Remove libcriu2 dependency
  tests/containers/bats/podman.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Install specific ncat version from upstream
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Move AWS related qesap functions
  lib/sles4sap/qesap/qesap_aws.pm
  lib/sles4sap/qesap/qesapdeployment.pm
  t/09_qesapdeployment.t
  t/16_qesap_aws.t
  tests/sles4sap/publiccloud/network_peering.pm
  tests/sles4sap/qesapdeployment/configure.pm
  tests/sles4sap/qesapdeployment/destroy.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add ntp_client test for sle15SPX and sle16
  schedule/functional/extra_tests_textmode.yaml
  schedule/functional/extra_tests_textmode_sle16.yaml
  schedule/qam/15-SP2/qam-textmode.yaml
  schedule/qam/15-SP3/qam-textmode.yaml
  schedule/qam/15-SP4/qam-textmode.yaml
  schedule/qam/15-SP5/qam-textmode.yaml
  schedule/qam/15-SP6/qam-textmode.yaml
  schedule/qam/15-SP7/qam-textmode.yaml
Owners: none

Using jsonnet profiles in ppc64le/s390x
  data/yam/agama/auto/lib/base.libsonnet
  lib/bootloader_setup.pm
Owners: none

Fix name in Elemental schedule
  schedule/elemental/validate_generate_image.yaml
Owners: none

Move AWS related qesap functions
  lib/sles4sap/qesap/qesap_aws.pm
  lib/sles4sap/qesap/qesapdeployment.pm
  t/09_qesapdeployment.t
  t/16_qesap_aws.t
  tests/sles4sap/publiccloud/network_peering.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
  tests/sles4sap/qesapdeployment/configure.pm
  tests/sles4sap/qesapdeployment/destroy.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Move AWS related qesap functions (#21993)
  lib/sles4sap/qesap/qesap_aws.pm
  lib/sles4sap/qesap/qesapdeployment.pm
  t/09_qesapdeployment.t
  t/16_qesap_aws.t
  tests/sles4sap/publiccloud/network_peering.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
  tests/sles4sap/qesapdeployment/configure.pm
  tests/sles4sap/qesapdeployment/destroy.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: 26711261884b6b9b6ea3f2bed4b0659575c94d51
  index.html
  sles4sap/qesap/qesap_aws.html
  sles4sap/qesap/qesapdeployment.html
Owners: none

Added GRUB stop and minor modifications
  data/yam/agama/auto/scripts_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_lvm_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_sap_default_ppc64le.jsonnet
  schedule/yam/agama.yaml
  schedule/yam/agama_auto.yaml
Owners: none

Add schedule file for HA clusters test on ppc64le pvm on SLE16
  schedule/ha/bv/pvm_cluster.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

containers: De-schedule podmansh test
  lib/main_containers.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Don't set NOAUTOLOGIN if we're upgrading
  products/opensuse/main.pm
Owners: none

Kernel: Update command to use dracut
  tests/kernel/build_git_kernel.pm
Owners: none

Improve iSCSI setup in ha/iscsi_client_setup
  tests/ha/iscsi_client_setup.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Storage: Add 'build_git_kernel' module as optional
  schedule/storage/blktests.yaml
Owners: none

Dracut (#22047)
  schedule/storage/blktests.yaml
  tests/kernel/build_git_kernel.pm
Owners: none

bats: Gather all skip data in one place
  data/containers/bats/skip.yaml
  lib/containers/bats.pm
  tests/containers/bats/buildah.pm
  tests/containers/bats/podman.pm
  tests/containers/bats/runc.pm
  tests/containers/bats/skopeo.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

bats: Move bats_skip_notok.py to bats subdirectory
  data/containers/bats/skip_notok.py
  lib/containers/bats.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Drop syststat service description check in sles4sap/sapconf
  tests/sles4sap/sapconf.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Provide rabbitmq-server 3.11+ and erlang 25+
  tests/console/rabbitmq.pm
Owners: none

Remove workaround for bsc#1242721
  data/agama_auto/sle_default_gnome.jsonnet
Owners: none

Force ipv6 in wget_ipv6 test
  tests/console/wget_ipv6.pm
Owners: none

Add some debug info for agama install failure
  tests/installation/agama_reboot.pm
Owners: none

Adapt mariadb test to new selinux policy
  tests/console/mariadb_srv.pm
Owners: none

Provide semanage if SUT is jeos
  tests/console/mariadb_srv.pm
Owners: none

Adapt mariadb test to new selinux policy
  tests/console/mariadb_srv.pm
Owners: none

Provide semanage if SUT is jeos
  tests/console/mariadb_srv.pm
Owners: none

Add dnsmasq test for sle15sp7 and sle16
  schedule/functional/extra_tests_textmode.yaml
  schedule/functional/extra_tests_textmode_sle16.yaml
Owners: none

Add basic tests for Unified Core/Elemental3
  schedule/elemental3/generate_image.yaml
  schedule/elemental3/test_image.yaml
  tests/elemental3/generate_image.pm
  tests/elemental3/test_image.pm
Owners: none

Set up sle15sp7 MU Virtualization test - poo180254
  lib/virt_autotest/common.pm
Owners: none

Fix race condition in xfs fs creation in ensa2 test
  tests/sles4sap/ensa/ensa_filesystems.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

kernel: Schedule kdump from load_kernel_tests
  lib/main_common.pm
  lib/main_ltp.pm
Owners: none

Update schedule to reuse HDD
  schedule/sles4sap/minimalvm/create_hdd.yaml
  schedule/sles4sap/minimalvm/patterns.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Support selection of all software in Agama
  tests/installation/agama.pm
  variables.md
Owners: none

Debug wipefs issue
  data/yam/agama/auto/lib/scripts_pre.libsonnet
  data/yam/agama/auto/lvm_encrypted_ppc64le.jsonnet
  data/yam/agama/auto/scripts.jsonnet
  data/yam/agama/auto/scripts_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_addons_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_gnome_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_lvm_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_packages_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_sap_default_ssh_pub_key.jsonnet
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
