Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

pynfs: Make xdrlib installation Python version-independent
  tests/nfs/install.pm
Owners: none

Add 15sp7 Maintenance pipeline
  data/autoyast_qam/15-SP7_installation.xml.ep
  data/autoyast_qam/15-SP7_installtest.xml.ep
  schedule/qam/15-SP7/lvm_thin_provisioning.yaml
  schedule/qam/15-SP7/mau-extratests-phub.yaml
  schedule/qam/15-SP7/mau-filesystem.yaml
  schedule/qam/15-SP7/mau-filesystem@zkvm.yaml
  schedule/qam/15-SP7/mau-userspace.yaml
  schedule/qam/15-SP7/powerpc-utils.yaml
  schedule/qam/15-SP7/qam-allpatterns.yaml
  schedule/qam/15-SP7/qam-create_hdd_ha_textmode.yaml
  schedule/qam/15-SP7/qam-create_hdd_sle_sap_gnome.yml
  schedule/qam/15-SP7/qam-create_hdd_sles4sap_gnome.yml
  schedule/qam/15-SP7/qam-gnome.yaml
  schedule/qam/15-SP7/qam-minimal-RAID1.yaml
  schedule/qam/15-SP7/qam-minimal-base-installation-ay.yaml
  schedule/qam/15-SP7/qam-minimal-base.yaml
  schedule/qam/15-SP7/qam-regression-firefox.yaml
  schedule/qam/15-SP7/qam-regression-firefox_fips.yaml
  schedule/qam/15-SP7/qam-regression-installation.yaml
  schedule/qam/15-SP7/qam-regression-other_fips.yaml
  schedule/qam/15-SP7/qam-sle_sles4sap_scc_gnome_netweaver_cli.yml
  schedule/qam/15-SP7/qam-sle_sles4sap_scc_gnome_sapconf.yml
  schedule/qam/15-SP7/qam-sle_sles4sap_scc_gnome_saptune.yml
  schedule/qam/15-SP7/qam-sles4sap_wmp_hana_node1.yaml
  schedule/qam/15-SP7/qam-sles4sap_wmp_hana_node2.yaml
  schedule/qam/15-SP7/qam-textmode.yaml
  schedule/qam/common/mau-extratests-desktop.yaml
  schedule/qam/common/mau-extratests1.yaml
  schedule/qam/common/mau-extratests2.yaml
Owners: none

Remove workaround for 1238709 (#21766)
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

deploy: 2da9006330a282b12fd31f0d7cd5c18d484b53ce
  publiccloud/provider.html
Owners: none

Add kea test
  data/network_bonding/kea-dhcp4.conf
  schedule/functional/kea.yaml
  tests/network/kea_client.pm
  tests/network/kea_server.pm
Owners: none

Simplify qesap_execute_conditional_retry
  lib/qesapdeployment.pm
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Autoyast firstboot: Use GNOME_X11 pattern
  data/autoyast_opensuse/autoyast_firstboot.xml
Owners: none

Change retry to be terraform specific
  lib/qesapdeployment.pm
  t/09_qesapdeployment.t
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

containers: Add links to BATS openQA jobs
  tests/containers/bats/README.md
  tests/containers/bats/logo.svg
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Avoid mem_encrypt=on on amd-zen3-gpu-sut1 due to bsc#1224107
  data/virt_autotest/host_unattended_installation_files/autoyast/dev_host_15.xml.ep
Owners: none

Add yaml schedule for ha registration
  schedule/yam/agama_extensions_and_patterns.yaml
  schedule/yam/agama_extensions_and_patterns_s390x.yaml
Owners: none

Disable IPv6 for x86_64 systems and control bnxt_en loading
  data/autoyast_hanaperf/agama-config.jsonnet
  tests/kernel_performance/hanaperf_postinstall.pm
Owners: none

xfstests: Maintain the value of XFSTESTS_PACKAGES
  tests/xfstests/install.pm
  variables.md
Owners: none

Revert "Skip add SCC product on TD"
  lib/registration.pm
  schedule/qam/common/mau-extratests-desktop.yaml
Owners: none

Skip add SCC product on TD for sle15sp4
  lib/registration.pm
Owners: none

Improve nfstest module description
  schedule/storage/nfstest.yaml
  tests/kernel/nfstest.pm
Owners: none

Small clean-up for baremetal nfs tests
  schedule/storage/nfs_baremetal.yaml
Owners: none

Remove no more used qesap_test_postfail
  lib/qesapdeployment.pm
  t/09_qesapdeployment.t
  tests/sles4sap/qesapdeployment/configure.pm
  tests/sles4sap/qesapdeployment/test_cluster.pm
  tests/sles4sap/qesapdeployment/test_crash.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
  tests/sles4sap/qesapdeployment/test_system.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

wip
  schedule/storage/nfs_baremetal.yaml
Owners: none

Add kdump issue on slem 5.5 for bug_ref
  data/journal_check/bug_refs.json
Owners: none

Add yaml schedule for ha registration test
  schedule/yam/agama_extensions_and_patterns_ppc64le.yaml
Owners: none

deploy: ff194464b72ce4112ab70d7c940663c948501f1a
  qesapdeployment.html
Owners: none

Add network peering terraform variables to GCP
  data/sles4sap/qe_sap_deployment/sles4sap_gcp_generic.yaml
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Drop softfail for bsc#1204528 and bsc#1204978
  tests/ha/iscsi_client.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Remove no more used qesap_test_postfail (#21813)
  lib/qesapdeployment.pm
  t/09_qesapdeployment.t
  tests/sles4sap/qesapdeployment/configure.pm
  tests/sles4sap/qesapdeployment/test_cluster.pm
  tests/sles4sap/qesapdeployment/test_crash.pm
  tests/sles4sap/qesapdeployment/test_mirror.pm
  tests/sles4sap/qesapdeployment/test_system.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

deploy: 3894f1cca82f3661e068367820b44c689ba05f85
  qesapdeployment.html
Owners: none

Enable terraform peering for Azure
  data/sles4sap/qe_sap_deployment/mr_test_azure.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_maintenance.yaml
  lib/sles4sap_publiccloud.pm
  tests/sles4sap/publiccloud/network_peering.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Enable terraform peering for Azure (#21601)
  data/sles4sap/qe_sap_deployment/mr_test_azure.yaml
  data/sles4sap/qe_sap_deployment/sles4sap_azure_generic_maintenance.yaml
  lib/sles4sap_publiccloud.pm
  tests/sles4sap/publiccloud/network_peering.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Kselftests: Marking current kselftest runner as obsolete
  tests/kernel/kselftests.pm
Owners: none

Kselftests: Introduce kselftests runner
  tests/kernel/run_kselftests.pm
Owners: none

Avoid peering in GCE to fail
  tests/sles4sap/publiccloud/network_peering.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

publiccloud/run_ltp: Copy ltp_runtest file to instance
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

data/publiccloud: Add ltp_runtest file
  data/publiccloud/ltp_runtest
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777

Allow HanaSR test to support both peering methods
  tests/sles4sap/publiccloud/qesap_terraform.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Fix De-registration is disabled for on-demand instances
  lib/registration.pm
Owners: none

Format directly home and configure boot partition
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
  schedule/yam/whole_disk_and_boot_unattended.yaml
  test_data/yam/whole_disk_and_boot_unattended.yaml
  tests/console/validate_blockdevices.pm
Owners: none

Support vgpu passthrough test on sle15sp7
  data/virt_autotest/guest_params_xml_files/sles_15_sp7_64_kvm_hvm_uefi_non_secure_boot_x86_64.xml
  schedule/virt_autotest/vgpu_tests.yaml
  tests/virt_autotest/vgpu.pm
Owners: none

Add missing 15SP7 maintenance test
  schedule/qam/common/stack_tests_php.yaml
Owners: none

Fix podmansh on multiple occasions
  lib/main_containers.pm
  tests/containers/podmansh.pm
Owners: @pdostal, @grisu48, @jlausuch, @mloviska, @ricardobranco777

Tfvars file generator
  data/sles4sap/sap_deployment_automation_framework/SAP_SYSTEM.tfvars
  data/sles4sap/sap_deployment_automation_framework/WORKLOAD_ZONE.tfvars
  lib/sles4sap/sap_deployment_automation_framework/configure_sap_systems_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/configure_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/configure_workload_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  t/20_sdaf_deployment_library.t
  t/27_sdaf_configure_tfvars.t
  t/27_sdaf_configure_workload_tfvars.t
  t/32_database_hana.t
  t/34_sdaf_configure_sap_systems_tfvars.t
  tests/sles4sap/sap_deployment_automation_framework/deploy_sap_systems.pm
  tests/sles4sap/sap_deployment_automation_framework/deploy_workload_zone.pm
  tests/sles4sap/sap_deployment_automation_framework/execute_playbooks.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot
