Repository os-autoinst/os-autoinst-distri-opensuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis, @mloviska, @jlausuch, @b10n1k, @schlad, @a-kpappas, @Amrysliu, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

.github/CODEOWNERS:

# GitHub CODEOWNERS https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Public Cloud
lib/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @mpagot @m-dati @alvarocarvajald @BillAnastasiadis
tests/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777 @m-dati
data/publiccloud/ @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/main_publiccloud.pm @pdostal @grisu48 @asmorodskyi @ricardobranco777
lib/qesapdeploymnet.pm @mpagot

# Containers
lib/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
tests/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
data/containers/ @pdostal @grisu48 @mloviska @ricardobranco777
lib/main_containers.pm @pdostal @grisu48 @jlausuch @mloviska @ricardobranco777

# Transactional systems
products/microos/ @mloviska @ricardobranco777
tests/microos/ @mloviska @ricardobranco777
products/sle-micro/ @mloviska @ricardobranco777
products/alp/ @mloviska @ricardobranco777
tests/jeos/ @mloviska @ricardobranco777
tests/transactional/ @mloviska @ricardobranco777
lib/main_micro_alp.pm @mloviska @jlausuch @ricardobranco777

# pdostal
tests/console/sshd.pm @pdostal
tests/console/ansible.pm @pdostal
tests/console/nginx.pm @pdostal
lib/services/nginx.pm @pdostal
tests/console/irqbalance.pm @pdostal
tests/console/rpm.pm @pdostal
tests/network/wireguard.pm @pdostal
tests/network/openvpn_client.pm @pdostal
tests/network/openvpn_server.pm @pdostal
tests/network/setup_multimachine.pm @pdostal
lib/Utils/Logging.pm @pdostal

# HPC
lib/hpc/ @b10n1k @schlad
tests/hpc/ @b10n1k @schlad
data/hpc/ @b10n1k @schlad
schedule/hpc/ @b10n1k @schlad
tests/publiccloud/nvidia.pm @b10n1k

# QE-SAP
data/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
data/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/hacluster.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/qesapdeployment.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
lib/sles4sap_publiccloud_basetest.pm @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
schedule/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/ha/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot
tests/sles4sap/ @a-kpappas @alvarocarvajald @Amrysliu @BillAnastasiadis @emiura @jankohoutek @lilyeyes @lpalovsky @mpagot

# Security
data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/main_security.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/eal4_test.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
lib/selinuxtest.pm @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
schedule/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
test_data/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/security/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki
tests/fips/ @feri @ilmanzo @paolostivanin @realcharmer @tjyrinki

Refactor tfvars configuration
  data/sles4sap/sap_deployment_automation_framework/SAP_SYSTEM.tfvars
  data/sles4sap/sap_deployment_automation_framework/WORKLOAD_ZONE.tfvars
  lib/sles4sap/sap_deployment_automation_framework/configure_sap_systems_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/configure_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/configure_workload_tfvars.pm
  lib/sles4sap/sap_deployment_automation_framework/deployment.pm
  t/20_sdaf_deployment_library.t
  t/27_sdaf_configure_tfvars.t
  t/27_sdaf_configure_workload_tfvars.t
  t/33_sdaf_configure_sap_systems_tfvars.t
  tests/sles4sap/sap_deployment_automation_framework/deploy_sap_systems.pm
  tests/sles4sap/sap_deployment_automation_framework/deploy_workload_zone.pm
  tests/sles4sap/sap_deployment_automation_framework/execute_playbooks.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add agama jsonnet file for SLES+HA on qemu
  data/sles4sap/agama/sles_ha_default.jsonnet
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Format directly home and configure boot partition
  data/yam/agama/auto/lib/storage.libsonnet
  data/yam/agama/auto/template.libsonnet
  schedule/yam/agama_home_boot.yaml
  tests/yam/validate/validate_partition.pm
Owners: none

Replace body with content in scripts
  data/yam/agama/auto/lib/scripts_post.libsonnet
  data/yam/agama/auto/lib/scripts_pre.libsonnet
  data/yam/agama/auto/lvm_encrypted_ppc64le.jsonnet
  data/yam/agama/auto/lvm_encrypted_ssh_pub_key.jsonnet
  data/yam/agama/auto/lvm_encrypted_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/scripts.jsonnet
  data/yam/agama/auto/scripts_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_change_localization.jsonnet
  data/yam/agama/auto/sles_default.jsonnet
  data/yam/agama/auto/sles_default_no_registration.jsonnet
  data/yam/agama/auto/sles_default_no_registration_ppc64le.jsonnet
  data/yam/agama/auto/sles_default_no_registration_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_default_no_registration_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_default_ppc64le.jsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_default_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_lvm.jsonnet
  data/yam/agama/auto/sles_lvm_no_reg.jsonnet
  data/yam/agama/auto/sles_lvm_ppc64le.jsonnet
  data/yam/agama/auto/sles_lvm_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_lvm_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_multipath.jsonnet
  data/yam/agama/auto/sles_multipath_no_reg.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_no_reg.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_root_filesystem_ext4_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_no_reg.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_ppc64le.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_ssh_pub_key.jsonnet
  data/yam/agama/auto/sles_root_filesystem_xfs_ssh_pub_key_ppc64le.jsonnet
  data/yam/agama/auto/sles_sap_default_ppc64le.jsonnet
  data/yam/agama/auto/sles_sap_default_ssh_pub_key.jsonnet
  data/yam/agama/auto/tumbleweed_default.jsonnet
  data/yam/agama/auto/tumbleweed_gnome.jsonnet
Owners: none

Add addons registration check
  schedule/yam/agama_extensions_and_patterns_unattended.yaml
  schedule/yam/agama_unattended_patterns.yaml
  tests/yam/validate/validate_registered_addons.pm
Owners: none

PC: Fix basetest::_upload_logs() and provider::terraform_destroy()
  lib/publiccloud/basetest.pm
  lib/publiccloud/provider.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

PC: Alter the test_flags in check_registercloudguest
  tests/publiccloud/check_registercloudguest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

PC: basetest: Comment cleanup() calls
  lib/publiccloud/basetest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

PC: Fix the variables in tests
  tests/publiccloud/check_registercloudguest.pm
  tests/publiccloud/check_services.pm
  tests/publiccloud/run_ltp.pm
  tests/publiccloud/slem_basic.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

LTP: Run ver_linux via script_output()
  lib/LTP/utils.pm
  tests/kernel/shutdown_ltp.pm
Owners: none

Wait for services to shut down
  tests/containers/podman_quadlet.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Update Perl::Tidy to 20250311
  .github/workflows/ci.yml
Owners: none

Only validate HTTP 200 OK for http media
  lib/guest_installation_and_configuration_base.pm
Owners: none

klp: Don't install livepatch package on SL Micro for livepatch updates
  lib/klp.pm
Owners: none

Install unzip for sles16
  tests/sles4sap/sys_param_check.pm
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Append disable_ddw=1 as kernel parameter
  data/containers/autoyast_containers.xml.ep
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Add agama jsonnet file for SLES+HA on qemu
  data/sles4sap/agama/sles_ha_default.jsonnet
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Add addons registration check for remote worker
  schedule/yam/agama_extensions_and_patterns_unattended_ppc64le.yaml
  schedule/yam/agama_extensions_and_patterns_unattended_s390x.yaml
  schedule/yam/agama_unattended_patterns_ppc64le.yaml
  schedule/yam/agama_unattended_patterns_s390x.yaml
Owners: none

Process boot parameters for Agama in QEMU
  lib/Yam/Agama/Pom/GrubMenuAgamaPage.pm
  schedule/yam/agama_check_installation_medium.yaml
  tests/yam/agama/boot_agama.pm
  tests/yam/agama/check_installation_medium.pm
  tests/yam/validate/validate_medium_integrity.pm
Owners: none

install_klp_product: Force livepatch version to match kernel
  lib/klp.pm
  tests/kernel/update_kernel.pm
Owners: none

Fix efivars call in vmware
  tests/console/verify_efi_mok.pm
Owners: none

Failure downloading ASSET_1 in Win11
  tests/wsl/distro_install.pm
Owners: none

Fix publiccloud::basetest::_upload_logs()
  lib/publiccloud/basetest.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @mpagot, @m-dati, @alvarocarvajald, @BillAnastasiadis

Fix publiccloud::run_ltp::cleanup()
  tests/publiccloud/run_ltp.pm
Owners: @pdostal, @grisu48, @asmorodskyi, @ricardobranco777, @m-dati

containers: Support BUILDAH_STORAGE_DRIVER
  tests/containers/buildah_integration.pm
  variables.md
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Add missing packages
  tests/containers/skopeo_integration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

containers: Enhance PATH for BATS tests
  tests/containers/buildah_integration.pm
  tests/containers/netavark_integration.pm
  tests/containers/podman_integration.pm
  tests/containers/runc_integration.pm
  tests/containers/skopeo_integration.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

Remove kdump test from QE-Core for sle16
  schedule/functional/toolchain_sle16.yaml
Owners: none

Replace 'body' with 'content' for sle16 script
  data/agama_auto/sle_default.jsonnet
  data/agama_auto/sle_default_ipmi_no_reg.jsonnet
  data/agama_auto/sle_default_pvm.jsonnet
  data/agama_auto/sle_default_pvm_no_reg.jsonnet
  data/agama_auto/sle_default_s390x_kvm.jsonnet
  data/agama_auto/sle_default_s390x_kvm_no_reg.jsonnet
Owners: none

Add libaom test
  data/libaom/input.mp4
  schedule/functional/extra_tests_textmode_mod_desktop.yaml
  schedule/qam/common/mau-extratests-desktop.yaml
  tests/console/libaom.pm
Owners: none

Revert change on ima_kernel_cmdline_hash.pm
  tests/security/ima/ima_kernel_cmdline_hash.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Improve test
  tests/security/krb5/krb5_crypt_ssh_client.pm
  tests/security/krb5/krb5_crypt_ssh_server.pm
Owners: @feri, @ilmanzo, @paolostivanin, @realcharmer, @tjyrinki

Replace body with content for virt test on sle16
  data/virt_autotest/host_unattended_installation_files/agama/sle16.jsonnet
Owners: none

Replace body section with content in SLES for SAP & HA jsonnet files
  data/sles4sap/agama/sles_ha_default.jsonnet
  data/sles4sap/agama/sles_sap_default.jsonnet
  data/sles4sap/agama/sles_sap_default_ppc64le.jsonnet
Owners: @a-kpappas, @alvarocarvajald, @Amrysliu, @BillAnastasiadis, @emiura, @jankohoutek, @lilyeyes, @lpalovsky, @mpagot

Replace 'body' with 'content' for sle16 agama.json
  data/autoyast_hanaperf/agama-config.jsonnet
Owners: none

containers: Add test for default OCI runtime
  tests/containers/container_engine.pm
Owners: @pdostal, @grisu48, @mloviska, @ricardobranco777

xfstests: Add rdma_utils module
  lib/rdma.pm
Owners: none

xfstests: Init RDMA setting in xfstests
  tests/xfstests/partition.pm
Owners: none

Append disable_ddw=1 in sle-micro 6.2
  tests/transactional/host_config.pm
Owners: @mloviska, @ricardobranco777

Replace validate_product with validate_base_product
  schedule/yam/agama_ppc64le.yaml
Owners: none
