Repository os-autoinst/os-autoinst-distri-opensuse, pull requests merged in 2022-08, with the labels that each got.

#15291 Add addon_dud with restapi in installer
  lib/Installation/ProductSelection/AdditionalProductPage.pm
  lib/Installation/ProductSelection/ProductSelectionController.pm
  schedule/yast/dud_development_tools.yaml
  tests/installation/addon_dud.pm
Labels: qe-yast

#15312 Add new zfcp devices on channel fc00
  tests/installation/disk_activation/configure_zfcp_device.pm
Labels: qe-yast

#15326 Add new test for validation of ZFCP multipath configuration
  schedule/yast/zfcp.yaml
  tests/console/validate_zfcp_multipath.pm
Labels: qe-yast

#15360 Migrate sles+sdk+proxy_SCC_via_YaST to PowerVM
  schedule/yast/sles+sdk+proxy_SCC_via_YaST_Online_pvm.yaml
Labels: qe-yast

#15370 Check default selection for yast2_keyboard.pm
  tests/yast2_gui/yast2_keyboard.pm
Labels: qe-yast

#15377 Fix yast2_keyboard failed case
  tests/yast2_gui/yast2_keyboard.pm
Labels: qe-yast

#15341 Modify autoyast profle for create_hdd in yast MU
  data/autoyast_sle15/create_hdd/create_hdd_maintenance.xml.ep
Labels: qe-yast

#15320 Helper script to compose default based YAML schedules
  lib/scheduler.pm
  script/helper_default_based_schedule.pl
Labels: qe-yast

#15364 Add add_additional_products with restapi in installer
  lib/Installation/AddOnProduct/AddOnProductController.pm
  lib/Installation/AddOnProduct/AdditionalProductPage.pm
  lib/Installation/ProductSelection/AdditionalProductPage.pm
  lib/Installation/ProductSelection/ProductSelectionController.pm
  schedule/yast/dud_development_tools.yaml
  tests/installation/add_on_product_installation/add_additional_products.pm
Labels: qe-yast

#15319 Document new feature in YAML schedule with default and flows
  declarative-schedule-doc.md
Labels: qe-yast

#15143 Migrate first steps in qam-yast_self_update+15 to libyui REST
  lib/Distribution/Sle/15_current.pm
  lib/Installation/ModuleRegistration/ModuleRegCodeController.pm
  lib/Installation/ModuleRegistration/ModuleRegCodePage.pm
  lib/Installation/ModuleRegistration/ModuleRegistrationController.pm
  lib/Installation/ModuleRegistration/ModuleRegistrationPage.pm
  lib/Installation/Popups/ImportUntrustedGnuPGKey.pm
  schedule/qam/common/qam-yast-self-update.yaml
  schedule/yast/qam-yast_self_update.yaml
  tests/installation/module_registration/register_extensions_and_modules.pm
  tests/installation/module_registration/register_nonconflicting_modules.pm
Labels: qe-yast

#15395 Change /usr/etc to /usr/lib for TW
  tests/security/pam/pam_login.pm
  tests/security/pam/pam_su.pm
Labels: WIP

#15399 LXQt: use sddm as default configured display manager
  tests/x11/lxqt_reconfigure_openqa.pm
Labels: Ready

#15343 Apply workaround for yast content not being loaded for MU sp4
  schedule/yast/maintenance/mau_extratests_yast2ui_restapi.yaml
  tests/update/zypper_ref_auto_import_keys.pm
  tests/yast2_gui/yast2_bootloader.pm
  tests/yast2_gui/yast2_instserver.pm
Labels: qe-yast

#15387 Click install kdump when yast2 kdump module starts
  tests/yast2_gui/yast2_control_center.pm
Labels: qe-yast

#15421 Wait for still screen after pressing ok
  tests/yast2_gui/yast2_security.pm
Labels: qe-yast

#15390 Add unit tests for YAML schedule with reusable flows
  t/02_yaml_schedule.t
  t/data/flows/default.yaml
  t/data/flows/flow_a.yaml
  t/data/flows/flow_b.yaml
  t/data/test_schedule_based_on_default.yaml
Labels: qe-yast

#15434 ui-framework-documentation.md: explain pros and cons of older vs newer approach
  ui-framework-documentation.md
Labels: qe-yast
