Repository os-autoinst/os-autoinst-distri-opensuse, pull requests merged in 2022-09, with the labels that each got.

#15299 Add test to add maintenance test repos
  schedule/yast/qam-yast_self_update_libyui.yaml
  tests/installation/add_on_product/add_maintenance_repos.pm
Labels: qe-yast

#15414 Record soft failure if language isn't tranlated
  tests/installation/licensing/verify_license_translations.pm
Labels: qe-yast

#15463 Fix number of arguments in record_info
  lib/services/hpcpackage_remain.pm
Labels: qe-yast

#15479 Fix a regression introduced by PR #15473
  tests/ha/check_after_reboot.pm
Labels: WIP

#15333 Migrate to libyui REST API yast2 scc
  lib/Distribution/Sle/15_current.pm
  lib/Installation/ModuleRegistration/ModuleRegistrationInstallationReportController.pm
  lib/Installation/ModuleRegistration/ModuleRegistrationInstallationReportPage.pm
  lib/Installation/Registration/RegistrationPage.pm
  lib/YaST/Module.pm
  schedule/yast/select_modules_and_patterns+registration/select_modules_and_patterns+registration.yaml
  test_data/yast/select_modules_and_patterns/select_modules_and_patterns.yaml
  tests/console/firewalld_add_port.pm
  tests/x11/addon_products_via_SCC_yast2.pm
Labels: qe-yast

#15392 Generation of the xml for the DUD in maintenance
  lib/autoyast.pm
  schedule/yast/lvm_thin_provisioning_dev.yaml
  tests/console/generate_dud.pm
Labels: qe-yast

#15495 Fix autoyast grub_test issue
  lib/grub_utils.pm
Labels: qe-yast

#15510 Changed to use 'skip_install_addons' test module
  schedule/yast/lvm_thin_provisioning_dev.yaml
Labels: qe-yast

#15515 Fix development tools repository uri
  tests/console/yast2_clone_system.pm
Labels: qe-yast

#15469 Add a test suite for migration over maintenance updates
  lib/migration.pm
  schedule/yast/maintenance/autoupgrade_sle15sp3+1_scc_we_sdk_basesys_wsm_srv_desk_lgm_contm_pcm_def_full.yaml
  tests/migration/remove_dropped_modules_packages.pm
Labels: qe-yast

#15488 Install kdumptool where needed and fix synchronization failure in yast kdump module
  lib/kdump_utils.pm
  tests/console/yast2_kdump.pm
Labels: qe-yast

#15531 Remove deprecated probing in iscsi_client.
  tests/iscsi/iscsi_client.pm
Labels: qe-yast

#15520 Add autoyast migration test from sles15sp3 to 15sp4 with unreleased repo
  data/autoyast_sle15/autoyast_scc_up_maintenance.xml.ep
Labels: qe-yast

#15494 Unschedule regression test modules unrelated with migration
  schedule/migration/aarch64_regression_test_offline.yaml
  schedule/migration/aarch64_regression_test_online.yaml
  schedule/migration/ppc64le_regression_test_offline.yaml
  schedule/migration/ppc64le_regression_test_online.yaml
  schedule/migration/s390x_regression_test_offline.yaml
  schedule/migration/s390x_regression_test_online.yaml
  schedule/migration/x86_regression_test_offline.yaml
  schedule/migration/x86_regression_test_online.yaml
Labels: qe-yast

#15518 Add AutoYast testsuites for YaST MU chained deps
  data/autoyast_sle15/create_hdd/create_hdd_maintenance.xml.ep
Labels: qe-yast

#15104 xfstests: modify the upload log wait loop
  tests/xfstests/run.pm
Labels: stale

#15587 Ensure deregistered and clean MUs before migration
  schedule/yast/maintenance/autoupgrade_sle15sp4-1_scc_we_sdk_basesys_wsm_srv_desk_lgm_contm_pcm_def_full.yaml
  schedule/yast/sle_15_sp3/autoyast_create_hdd_maintenance_deregister.yaml
Labels: qe-yast

#15604 firstrun: Check 'jeos-please-configure-wifi' only on aarch64
  tests/jeos/firstrun.pm
Labels: WIP

#15585 Remove workaround of bsc#1191112 on sles15sp5
  lib/YaST/NetworkSettings/NetworkCardSetup/BondSlavesTab.pm
  lib/YaST/NetworkSettings/NetworkCardSetup/BridgedDevicesTab.pm
  lib/YaST/NetworkSettings/NetworkCardSetup/DeviceTypeDialog.pm
  lib/YaST/NetworkSettings/OverviewTab.pm
  lib/registration.pm
  lib/repo_tools.pm
  lib/y2snapper_common.pm
  tests/iscsi/iscsi_client.pm
  tests/iscsi/iscsi_server.pm
  tests/x11/nis_server.pm
  tests/yast2_gui/yast2_bootloader.pm
  tests/yast2_gui/yast2_control_center.pm
  tests/yast2_gui/yast2_hostnames.pm
  tests/yast2_gui/yast2_instserver.pm
  tests/yast2_gui/yast2_security.pm
Labels: qe-yast
