Repository os-autoinst/os-autoinst-distri-opensuse, pull requests merged in 2023-09, with the labels that each got.

#17674 Enable logs upload for agama playwright tests
  lib/Yam/agama/agama_base.pm
  tests/yam/agama/agama.pm
Labels: qe-yam

#17652 Update autoyast profile of eula.xml to resolve module dependent issues
  data/yam/autoyast/eula.xml
Labels: qe-yam

#17691 Use variable to define extra cutomer repos
  lib/qam.pm
Labels: Ready

#17708 Patch only Teradata patch on Teradata flavor
  tests/qam-updinstall/update_install.pm
Labels: qe-core

#17707 Add agama tumbleweed encryption test_data
  test_data/yam/agama_tumbleweed_full_disk_encryption.yaml
Labels: qe-yam

#17716 Add schedules for Quarterly Updates
  schedule/qam/QR/15-SP5/btrfs/btrfs_sle_libstorage-ng.yaml
  schedule/qam/QR/15-SP5/btrfs/btrfs_sle_libstorage-ng_s390x_zvm.yaml
  schedule/qam/QR/15-SP5/crypt_no_lvm.yaml
  schedule/qam/QR/15-SP5/encryption/cryptlvm_sle_15.yaml
  schedule/qam/QR/15-SP5/encryption/lvm_encrypt_separate_boot.yaml
  schedule/qam/QR/15-SP5/ext4/ext4.yaml
  schedule/qam/QR/15-SP5/ext4/ext4@yast-s390x-disk-activation.yaml
  schedule/qam/QR/15-SP5/ext4/ext4@yast-s390x.yaml
  schedule/qam/QR/15-SP5/ext4/ext4@yast-xen-pv.yaml
  schedule/qam/QR/15-SP5/ext4/ext4_yast-xen-hvm.yaml
  schedule/qam/QR/15-SP5/gnome_install_from_source.yaml
  schedule/qam/QR/15-SP5/gpt.yaml
  schedule/qam/QR/15-SP5/lvm/lvm+resize_lv.yaml
  schedule/qam/QR/15-SP5/lvm/lvm_thin_provisioning.yaml
  schedule/qam/QR/15-SP5/lvm_raid1/lvm+raid1_sle15.yaml
  schedule/qam/QR/15-SP5/lvm_raid1/lvm+raid1_sle15_svirt-hyperv.yaml
  schedule/qam/QR/15-SP5/lvm_raid1/lvm+raid1_sle15_svirt-xen-hvm.yaml
  schedule/qam/QR/15-SP5/lvm_raid1/lvm+raid1_sle15_svirt-xen-pv.yaml
  schedule/qam/QR/15-SP5/multipath.yaml
  schedule/qam/QR/15-SP5/nvme.yaml
  schedule/qam/QR/15-SP5/raid/raid0_sle_gpt.yaml
  schedule/qam/QR/15-SP5/raid/raid0_sle_gpt_prep_boot.yaml
  schedule/qam/QR/15-SP5/raid/raid0_sle_gpt_uefi.yaml
  schedule/qam/QR/15-SP5/raid/raid10_sle_gpt.yaml
  schedule/qam/QR/15-SP5/raid/raid10_sle_gpt_prep_boot.yaml
  schedule/qam/QR/15-SP5/raid/raid10_sle_gpt_uefi.yaml
  schedule/qam/QR/15-SP5/raid/raid1_sle_gpt.yaml
  schedule/qam/QR/15-SP5/raid/raid1_sle_gpt_prep_boot.yaml
  schedule/qam/QR/15-SP5/raid/raid1_sle_gpt_uefi.yaml
  schedule/qam/QR/15-SP5/raid/raid5_sle_gpt.yaml
  schedule/qam/QR/15-SP5/raid/raid5_sle_gpt_prep_boot.yaml
  schedule/qam/QR/15-SP5/raid/raid5_sle_gpt_uefi.yaml
  schedule/qam/QR/15-SP5/raid/raid6_sle_gpt.yaml
  schedule/qam/QR/15-SP5/raid/raid6_sle_gpt_prep_boot.yaml
  schedule/qam/QR/15-SP5/raid/raid6_sle_gpt_uefi.yaml
  schedule/qam/QR/15-SP5/textmode/textmode.yaml
  schedule/qam/QR/15-SP5/xfs/xfs.yaml
  schedule/qam/QR/15-SP5/xfs/xfs@svirt-xen-hvm.yaml
  schedule/qam/QR/15-SP5/xfs/xfs@svirt-xen-pv.yaml
  schedule/qam/QR/15-SP5/zfcp.yaml
Labels: qe-core

#17702 Add journal log for agama service
  lib/Yam/agama/agama_base.pm
Labels: qe-yam

#17704 Update code for Teradata flavor without SCC reg
  data/autoyast_qam/15-common_base_installation.xml.ep
  data/autoyast_qam/15_installation.xml.ep
  lib/main_common.pm
  lib/registration.pm
  lib/version_utils.pm
  products/sle/main.pm
  tests/boot/grub2_test.pm
  tests/installation/add_update_test_repo.pm
  tests/qa_automation/patch_and_reboot.pm
  tests/qam-minimal/install_update.pm
  tests/qam-updinstall/update_install.pm
Labels: Ready, qe-core

#17594 Create support image via autoyast with default patterns on SLE 12 SP5
  data/yam/autoyast/support_images/sles12sp5_install_default_patterns_aarch64.xml
  data/yam/autoyast/support_images/sles12sp5_install_default_patterns_ppc64le.xml
  data/yam/autoyast/support_images/sles12sp5_install_default_patterns_s390x.xml
  data/yam/autoyast/support_images/sles12sp5_install_default_patterns_x86_64.xml
Labels: qe-yam

#17727 Quick fix openqa.suse.de ip address change
  lib/migration.pm
Labels: qe-yam

#17717 Create support image via autoyast with all patterns on SLE12SP5
  data/yam/autoyast/support_images/sles12sp5_install_all_patterns_aarch64.xml
  data/yam/autoyast/support_images/sles12sp5_install_all_patterns_ppc64le.xml
  data/yam/autoyast/support_images/sles12sp5_install_all_patterns_s390x.xml
  data/yam/autoyast/support_images/sles12sp5_install_all_patterns_x86_64.xml
Labels: qe-yam

#17737 Remove warning/error messages from podman-info output
  lib/containers/engine.pm
Labels: Ready

#17747 containers: Restrict helm_rmt test to SLE 15-SP3+
  tests/containers/bci_prepare.pm
  tests/containers/helm_rmt.pm
Labels: WIP

#17667 Assert tag 'grub2-agama' to avoid can't match in short time
  tests/yam/agama/agama.pm
Labels: qe-yam

#17771 Fix os_release_name in Agama auto installation
  test_data/yam/agama_auto_micro.yaml
Labels: qe-yam

#17660 Add a new test to select installation device
  schedule/yam/agama/agama_install_on_second_disk.yaml
Labels: qe-yam

#17742 Adapt yast2_control_center for start_directory_server
  tests/yast2_gui/yast2_control_center.pm
Labels: qe-yam

#17759 Create support images with modules for sles12sp5 default pattern
  schedule/yam/create_support_image_module_combinations_updated.yaml
Labels: qe-yam

#17775 Add autoyast profile for SLED15SP5 installation
  data/yam/autoyast/support_images/sled15sp5_install_all_patterns_x86_64.xml
  data/yam/autoyast/support_images/sled15sp5_install_default_patterns_x86_64.xml
Labels: qe-yam

#17792 Add whitelist for bsc#1215377 on SLE Micro
  data/journal_check/bug_refs.json
Labels: qe-yam

#17795 Add extra check for undefined values
  lib/maintenance_smelt.pm
Labels: qe-core

#17810 Add system_prepare for textmode uefi and x86_64
  schedule/yast/textmode/textmode_x86_64.yaml
Labels: qe-yam

#17767 Remove workaround for bsc1202234
  data/autoyast_qam/12-common_base_installation.xml.ep
  data/autoyast_qam/15-common_base_installation.xml.ep
  data/yam/autoyast/support_images/create_hdd_ha_sles.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_development_node_aarch64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_development_node_x86_64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_management_server_aarch64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_management_server_x86_64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_textmode_aarch64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_textmode_x86_64.xml.ep
  data/yam/autoyast/support_images/create_hdd_maintenance.xml.ep
  data/yam/autoyast/support_images/create_hdd_sap.xml.ep
  data/yam/autoyast/support_images/create_hdd_sles_regression_aarch64.xml.ep
  data/yam/autoyast/support_images/create_hdd_sles_regression_ppc64le.xml.ep
  data/yam/autoyast/support_images/create_hdd_sles_regression_s390x.xml.ep
Labels: qe-yam

#17821 Use gpt as disklabel rather than old msdos for root disk
  data/yam/autoyast/support_images/sles12sp5_install_all_patterns_x86_64.xml
Labels: qe-yam

#17823 Add ay profiles for sles15sp5 with minimal system role
  data/yam/autoyast/support_images/sles15sp5_install_minimal_default_patterns_s390x.xml
  data/yam/autoyast/support_images/sles15sp5_install_minimal_default_patterns_x86_64.xml
Labels: qe-yam

#17834 Fix disk partitions error for sle12sp5 all patterns
  data/yam/autoyast/support_images/sles12sp5_install_all_patterns_x86_64.xml
Labels: qe-yam

#17846 Workaround for bsc#1215591
  data/yam/autoyast/bug-879147_autoinst.xml
Labels: qe-yam

#17847 Use mouse click to double confirm system shutdown
  lib/power_action_utils.pm
Labels: qe-yam

#17822 Create support image with default and all patterns on sles15sp3
  data/yam/autoyast/support_images/sles15sp3_install_gnome_all_patterns_aarch64.xml
  data/yam/autoyast/support_images/sles15sp3_install_gnome_all_patterns_s390x.xml
  data/yam/autoyast/support_images/sles15sp3_install_gnome_all_patterns_x86_64.xml
  data/yam/autoyast/support_images/sles15sp3_install_textmode_all_patterns_aarch64.xml
  data/yam/autoyast/support_images/sles15sp3_install_textmode_all_patterns_s390x.xml
  data/yam/autoyast/support_images/sles15sp3_install_textmode_all_patterns_x86_64.xml
Labels: qe-yam

#17861 Remove LUKS version and the key location check at encrypt module
  test_data/yam/agama_full_disk_encryption.yaml
Labels: qe-yam

#17872 Don't add or remove modules on Maintenance tests
  lib/containers/common.pm
Labels: Ready, qe-core

#17849 Add check for nfs server status after restart
  tests/network/autofs_server.pm
Labels: qe-core

#17877 Fix issue with new widget IDs in YaST
  lib/YaST/Bootloader/BootloaderOptionsPage.pm
Labels: qe-yam

#17862 Move sle12sp5 minimal profile to yam folder
  data/yam/autoyast/support_images/autoyast_sles12sp5_media_def_patterns_minimal_x86_64.xml
Labels: qe-yam

#17863 Create support image on SLE 15 SP3 with minimal role
  data/yam/autoyast/support_images/sles15sp3_install_minimal_default_patterns_s390x.xml
  data/yam/autoyast/support_images/sles15sp3_install_minimal_default_patterns_x86_64.xml
Labels: qe-yam

#17878 Better fix for changed widget IDs
  lib/YaST/Bootloader/BootloaderOptionsPage.pm
Labels: qe-yam

#17880 Test fails in bootcode_options due to changed widget IDs
  lib/YaST/Bootloader/BootCodeOptionsPage.pm
  lib/YaST/Bootloader/KernelParametersPage.pm
Labels: qe-yam

#17876 Don't install mariadb after rmt-server
  lib/repo_tools.pm
  tests/console/rmt/rmt_feature.pm
Labels: Ready, qe-core
