Repository os-autoinst/os-autoinst-distri-opensuse, pull requests merged in 2023-07, with the labels that each got.

#17237 Update test suites that haven't applied default schedule for x86_64 and s390x
  schedule/yast/addon_extensions_http_ftp/addon_extensions_http_ftp.yaml
  schedule/yast/addon_extensions_http_ftp/addon_extensions_http_ftp@s390x.yaml
  schedule/yast/autologin@yast.yaml
  schedule/yast/btrfs/btrfs+warnings@s390x.yaml
  schedule/yast/encryption/activate_encrypted_volume+force_recompute.yaml
  schedule/yast/encryption/activate_encrypted_volume+import_users.yaml
  schedule/yast/encryption/lvm_encrypt_separate_boot@s390x.yaml
  schedule/yast/encryption/lvm_full_encrypt.yaml
  schedule/yast/encryption/lvm_full_encrypt@s390x.yaml
  schedule/yast/installer_extended/installer_extended@s390x.yaml
  schedule/yast/lvm/lvm_sle.yaml
  schedule/yast/lvm/lvm_thin_provisioning@s390x.yaml
  schedule/yast/minimal+base/minimal+base@yast-s390x.yaml
  schedule/yast/minimal+role_minimal/minimal+role_minimal@s390x.yaml
  schedule/yast/modify_existing_partition/modify_existing_partition@s390x.yaml
  schedule/yast/msdos/msdos@s390x.yaml
  schedule/yast/multipath.yaml
  schedule/yast/raid/raid0_sle_gpt.yaml
  schedule/yast/raid/raid10_sle_gpt.yaml
  schedule/yast/raid/raid1_sle_gpt.yaml
  schedule/yast/raid/raid5_sle_gpt.yaml
  schedule/yast/raid/raid6_sle_gpt.yaml
  schedule/yast/select_modules_and_patterns/select_modules_and_patterns@s390x.yaml
  schedule/yast/sle/flows/default_s390x_zfcp.yaml
  schedule/yast/textmode/ha_textmode.yaml
  schedule/yast/textmode/ha_textmode_minimal_base.yaml
  schedule/yast/textmode/ha_textmode_minimal_base_s390x.yaml
  schedule/yast/textmode/ha_textmode_s390x.yaml
  schedule/yast/textmode/ha_textmode_skip_registration.yaml
  schedule/yast/textmode/ha_textmode_skip_registration_minimal_base.yaml
  schedule/yast/textmode/ha_textmode_skip_registration_minimal_base_s390x.yaml
  schedule/yast/textmode/ha_textmode_skip_registration_s390x.yaml
  schedule/yast/textmode/textmode@s390x_svirt.yaml
  schedule/yast/transactional_server/create_hdd_transactional_server@s390x.yaml
  schedule/yast/zfcp.yaml
  test_data/yast/encryption/activate_encrypted_volume+import_use_x86_64.yaml
  test_data/yast/installer_extended/installer_extended_s390x.yaml
  test_data/yast/minimal+base_yast@s390x.yaml
  test_data/yast/zfcp@s390x.yaml
Labels: qe-yam

#17331 Close pop-up windows after updates installed in 'updates_packagekit_gpk' test
  tests/update/updates_packagekit_gpk.pm
Labels: qe-core

#17346 Zypper lifecycle containers workaround on 15-SP3
  tests/console/zypper_lifecycle.pm
Labels: Ready, qe-core

#17353 Update the yaml schedule file for zfcp case on s390x
  schedule/yast/sle/flows/default_s390x_zfcp.yaml
  schedule/yast/zfcp.yaml
Labels: qe-yam

#17356 smt: Retry on customer center test
  tests/smt/smt_server_install.pm
Labels: Ready, qe-core

#17359 Boottime parameters defaults added in instance-measure code
  lib/publiccloud/instance.pm
  variables.md
Labels: WIP

#17343 Update postfix main.cf for 15-SP5 server
  data/supportserver/mail_server/main.cf
  lib/thunderbird_common.pm
  products/sle/main.pm
Labels: WIP, qe-core

#17367 Close pop-up windows after updates installed in 'updates_packagekit_gpk' test
  tests/update/updates_packagekit_gpk.pm
Labels: qe-core

#17319 Add autoyast profiles for media installation of textmode with all patterns
  data/yam/autoyast_sles15sp4_sp5_media_install_textmode_default_patterns_aarch64.xml
  data/yam/autoyast_sles15sp4_sp5_media_install_textmode_default_patterns_ppc64le.xml.ep
  data/yam/autoyast_sles15sp4_sp5_media_install_textmode_default_patterns_s390x.xml.ep
  data/yam/autoyast_sles15sp4_sp5_media_install_textmode_default_patterns_x86_64.xml
  lib/utils.pm
  schedule/yast/autoyast/autoyast_create_hdd.yaml
Labels: qe-yam

#17382 thunderbird: Update test behavior
  data/supportserver/mail_server/main.cf
  lib/thunderbird_common.pm
Labels: Ready, qe-core

#17253 Move the files under lib/yam to lib/Yam
  lib/Yam/agama/agama_base.pm
  lib/Yam/agama/patch_agama_base.pm
  tests/yam/agama/auto.pm
  tests/yam/agama/patch_agama.pm
Labels: qe-yam

#17350 Update agama_installation to use e2e-agama-playwright
  tests/yam/agama/agama_installation.pm
Labels: qe-yam

#17366 Reduce needle to match grub2 on aarch64 for agama
  tests/installation/bootloader_uefi.pm
Labels: qe-yam

#17384 Add base class for peering_destroy
  lib/sles4sap_publiccloud.pm
  tests/sles4sap/publiccloud/peering_destroy.pm
Labels: WIP

#16776 zypper_lifecycle: Use select_(user_)?serial_terminal
  lib/susedistribution.pm
  tests/console/zypper_lifecycle.pm
Labels: Ready, qe-core

#17387 Fix agama micro install timeout issue
  tests/yam/agama/auto.pm
Labels: qe-yam

#17351 Move autoyast profile autoyast_scc_up to 'data/yam/'
  data/yam/autoyast_scc_up.xml
Labels: qe-yam

#17389 Move the newly added profiles to support images folder
  data/yam/support_images/autoyast_sles15sp4_sp5_media_install_textmode_default_patterns_aarch64.xml
  data/yam/support_images/autoyast_sles15sp4_sp5_media_install_textmode_default_patterns_ppc64le.xml.ep
  data/yam/support_images/autoyast_sles15sp4_sp5_media_install_textmode_default_patterns_s390x.xml.ep
  data/yam/support_images/autoyast_sles15sp4_sp5_media_install_textmode_default_patterns_x86_64.xml
Labels: qe-yam

#17390 Add new needle to match grub2 after installation for agama
  tests/yam/agama/auto.pm
Labels: qe-yam

#17392 Fix unexpected description issue for agama jsonnet
  data/yam/agama/auto/default_alp_micro.jsonnet
Labels: qe-yam

#17315 Create autoyast installation without registration for minimal update qcow on SLES12SP5
  data/autoyast_sle12/autoyast_sles12sp5_media_all_patterns_minimal_x86_64.xml
  data/autoyast_sle12/autoyast_sles12sp5_media_def_patterns_minimal_x86_64.xml
Labels: qe-yam

#17395 Fix dud bootloader connection timeout issue
  lib/bootloader_setup.pm
Labels: qe-yam

#17358 Run playwright installation with encryption
  schedule/yam/agama/agama_full_disk_encryption.yaml
  test_data/yam/agama_full_disk_encryption.yaml
  tests/installation/boot_encrypt.pm
  tests/yam/agama/agama_full_disk_encryption.pm
Labels: qe-yam

#17394 Move support_images folder inside autoyast folder
  data/yam/autoyast/support_images/autoyast_sles15sp4_sp5_media_install_textmode_default_patterns_aarch64.xml
  data/yam/autoyast/support_images/autoyast_sles15sp4_sp5_media_install_textmode_default_patterns_ppc64le.xml.ep
  data/yam/autoyast/support_images/autoyast_sles15sp4_sp5_media_install_textmode_default_patterns_s390x.xml.ep
  data/yam/autoyast/support_images/autoyast_sles15sp4_sp5_media_install_textmode_default_patterns_x86_64.xml
Labels: qe-yam

#17328 Set milestone test flag to agama_base.pm
  lib/Yam/agama/agama_base.pm
Labels: qe-yam

#17401 Add lvm installation test
  schedule/yam/agama/agama_lvm.yaml
  tests/yam/agama/agama_lvm.pm
Labels: qe-yam

#17408 Add new needle instead of generic grub2
  tests/yam/agama/agama_installation.pm
  tests/yam/agama/agama_lvm.pm
Labels: qe-yam

#17418 Use y2snapper_close_snapper_module to close yast2 snapper
  tests/x11/user_defined_snapshot.pm
Labels: Ready, qe-core

#17426 Use agama_base as base package to avoid password issue
  tests/yam/agama/agama_installation.pm
  tests/yam/agama/agama_lvm.pm
Labels: qe-yam

#17150 Add licence popup check for confirm_installation
  lib/Distribution/Opensuse/Tumbleweed.pm
  lib/Installation/Popups/AcceptPopup.pm
  lib/Installation/Popups/AcceptPopupController.pm
  lib/Installation/Popups/LicensePopup.pm
  lib/Installation/Popups/OKPopupController.pm
  schedule/yast/sle/flows/default_sle15sp3_aarch64.yaml
  schedule/yast/sle/flows/default_sle15sp3_s390x_kvm.yaml
  schedule/yast/sle/flows/default_sle15sp3_x86.yaml
  schedule/yast/sle/flows/default_sle15sp4_aarch64.yaml
  schedule/yast/sle/flows/default_sle15sp4_s390x_kvm.yaml
  schedule/yast/sle/flows/default_sle15sp4_x86.yaml
  tests/installation/confirm_installation_maintenance.pm
Labels: qe-yam

#17432 Qesap pip install log to include stderr
  lib/qesapdeployment.pm
Labels: WIP

#17435 Add test suite of autoyast_mini for s390x and aarch64
  data/autoyast_sle15/mini_s390x.xml
  schedule/yast/autoyast/autoyast_mini_aarch64.yaml
  schedule/yast/autoyast/autoyast_mini_s390x.yaml
  test_data/yast/autoyast/profiles/mini_aarch64.yaml
  test_data/yast/autoyast/profiles/mini_s390x.yaml
Labels: qe-yam

#17420 Get openQA hostname
  tests/publiccloud/aws_cli.pm
  tests/publiccloud/azure_cli.pm
  tests/publiccloud/azure_more_cli.pm
  tests/publiccloud/google_cli.pm
Labels: WIP

#17443 Mask purge-kernels service then not to race with PackageKit
  tests/update/prepare_system_for_update_tests.pm
Labels: qe-core

#17393 Remove multipath and replace system_probing in default yaml
  schedule/yast/lvm_multipath_encrypted_x86_64.yaml
  schedule/yast/lvm_multipath_x86_64.yaml
  schedule/yast/multipath.yaml
  schedule/yast/sle/flows/default_x86_64.yaml
Labels: qe-yam

#17280 Create two modules to replace upgrade_select
  lib/Distribution/Opensuse/Tumbleweed.pm
  lib/Yam/PreviouslyUsedReposPage.pm
  lib/Yam/SelectForUpdatePage.pm
  schedule/migration/migration_offline_media_x86_64.yaml
  tests/installation/upgrade/accept_remove_previous_repos.pm
  tests/installation/upgrade/select_for_update.pm
Labels: qe-yam

#17448 Remove 'IN_PATCH_SLE' in tests/migration/SUSEConnect_register_system.pm
  schedule/migration/migration_offline_media_x86_64.yaml
  schedule/migration/migration_offline_scc_x86_64.yaml
  tests/migration/suseconnect_register_system.pm
Labels: qe-yam

#17339 Move all the autoyast profiles from Migration job groups to data/yam/
  data/yam/autoyast/autoyast_pcm_lgm_allpatterns_ppc64le.xml.ep
  data/yam/autoyast/autoyast_sle_powervm.xml.ep
  data/yam/support_images/create_hdd_gnome_allpatterns_aarch64.xml
  data/yam/support_images/create_hdd_gnome_disabled_firewall.xml
  data/yam/support_images/create_hdd_gnome_s390x.xml
  data/yam/support_images/create_hdd_gnome_sdk_allpatterns_aarch64.xml
  data/yam/support_images/create_hdd_gnome_sdk_allpatterns_s390x.xml
  data/yam/support_images/create_hdd_ha_aarch64.xml.ep
  data/yam/support_images/create_hdd_ha_ppc64le.xml.ep
  data/yam/support_images/create_hdd_ha_s390x.xml.ep
  data/yam/support_images/create_hdd_ha_sles.xml.ep
  data/yam/support_images/create_hdd_ha_x86_64.xml.ep
  data/yam/support_images/create_hdd_hpc_development_node_aarch64.xml.ep
  data/yam/support_images/create_hdd_hpc_development_node_x86_64.xml.ep
  data/yam/support_images/create_hdd_hpc_management_server_aarch64.xml.ep
  data/yam/support_images/create_hdd_hpc_management_server_x86_64.xml.ep
  data/yam/support_images/create_hdd_hpc_textmode_aarch64.xml.ep
  data/yam/support_images/create_hdd_hpc_textmode_x86_64.xml.ep
  data/yam/support_images/create_hdd_sap.xml.ep
  data/yam/support_images/create_hdd_sles_regression_aarch64.xml.ep
  data/yam/support_images/create_hdd_sles_regression_ppc64le.xml.ep
  data/yam/support_images/create_hdd_sles_regression_s390x.xml.ep
  schedule/migration/autoyast_regression_test_online_pre@pvm.yaml
  schedule/yast/autoyast/autoyast_ha.yaml
  schedule/yast/autoyast/autoyast_sap.yaml
Labels: qe-yam

#17440 Improve test module patch_and_reboot_system.pm
  tests/migration/patch_and_reboot_system.pm
Labels: qe-yam

#17461 Workaround for refreshment issue for nis-client-configuration
  tests/x11/nis_client.pm
Labels: qe-yam

#17431 Create autoyast installation for textmode in yast job group
  data/yam/autoyast/create_hdd_textmode_aarch64.xml
  data/yam/autoyast/create_hdd_textmode_powervm.xml
  data/yam/autoyast/create_hdd_textmode_s390x.xml
  data/yam/autoyast/create_hdd_textmode_x86_64.xml
  schedule/yast/autoyast/autoyast_create_hdd_textmode.yaml
Labels: qe-yam

#17479 Add chunk size for RAID1 opensuse15.4 test_data
  schedule/yast/opensuse/raid/raid1_gpt_opensuse15.4.yaml
  test_data/yast/raid/raid0_prep_boot_opensuse15.4.yaml
Labels: qe-yam

#17453 Create autoyast installation without registration for minimal update qcow on SLES15SP3
  data/yam/autoyast/support_images/sles15sp3_media_install_textmode_minimal_aarch64.xml
  data/yam/autoyast/support_images/sles15sp3_media_install_textmode_minimal_x86_64.xml
Labels: qe-yam

#17506 Improve ansible commands management in qesap.
  lib/qesapdeployment.pm
  lib/trento.pm
  t/09_qesapdeployment.t
  tests/sles4sap/trento/test_hana_unregister_node.pm
Labels: WIP

#17488 Add yaml schedule files for SLE Micro testsuite
  schedule/sle-micro/yam/slem_installation_autoyast.yaml
  schedule/sle-micro/yam/slem_installation_default_aarch64.yaml
  schedule/sle-micro/yam/slem_installation_default_s390x.yaml
  schedule/sle-micro/yam/slem_installation_default_x86_64.yaml
Labels: qe-yam

#17452 Including scc_deregistration in the zvm media migration.
  schedule/migration/s390x-zVM-Media-Upgrade.yaml
Labels: qe-yam

#17463 Move all the autoyast profiles from Migration job groups to data/yam/
  data/yam/autoyast/autoyast_pcm_lgm_allpatterns_ppc64le.xml.ep
  data/yam/autoyast/autoyast_scc_up.xml
  data/yam/autoyast/autoyast_sle_powervm.xml.ep
  data/yam/autoyast/support_images/create_hdd_ha_aarch64.xml.ep
  data/yam/autoyast/support_images/create_hdd_ha_ppc64le.xml.ep
  data/yam/autoyast/support_images/create_hdd_ha_s390x.xml.ep
  data/yam/autoyast/support_images/create_hdd_ha_sles.xml.ep
  data/yam/autoyast/support_images/create_hdd_ha_x86_64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_development_node_aarch64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_development_node_x86_64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_management_server_aarch64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_management_server_x86_64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_textmode_aarch64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_textmode_x86_64.xml.ep
  data/yam/autoyast/support_images/create_hdd_sap.xml.ep
  data/yam/autoyast/support_images/create_hdd_sles_regression_aarch64.xml.ep
  data/yam/autoyast/support_images/create_hdd_sles_regression_ppc64le.xml.ep
  data/yam/autoyast/support_images/create_hdd_sles_regression_s390x.xml.ep
  schedule/migration/autoyast_regression_test_online_pre@pvm.yaml
  schedule/yast/autoyast/autoyast_ha.yaml
  schedule/yast/autoyast/autoyast_sap.yaml
Labels: qe-yam
