Repository os-autoinst/os-autoinst-distri-opensuse, pull requests merged in 2023-08, with the labels that each got.

#17514 smt_server_install: Increase smt-mirror timeout
  tests/smt/smt_server_install.pm
Labels: Ready, qe-core

#17519 Add schedule file for slem s390x zvm case
  schedule/sle-micro/yam/slem_installation_default_s390x_zvm.yaml
Labels: qe-yam, urgent

#17354 Move autoyast profiles from YaST MUs related with support images
  data/yam/support_images/create_hdd_maintenance.xml.ep
Labels: qe-yam

#17450 Enhance how we open/close YaST modules in containers to detect potential problems
  lib/y2_module_consoletest.pm
  tests/yam/yast_modules/control_center.pm
Labels: qe-yam

#17516 Create a new module to recover version to original
  schedule/migration/migration_offline_media_all_patterns_x86_64.yaml
  schedule/migration/migration_offline_media_x86_64.yaml
  schedule/migration/migration_offline_scc_all_patterns_x86_64.yaml
  schedule/migration/migration_offline_scc_x86_64.yaml
  tests/migration/version_reset_origin_system.pm
Labels: qe-yam

#17528 Quick Fix for MU autoyast profiles
  data/yam/autoyast/support_images/autoyast_scc_up_maintenance.xml.ep
Labels: qe-yam

#17421 Enable existing libyui-rest-api modules in migration
  lib/Installation/InstallationSettings/InstallationSettingsPage.pm
  schedule/migration/migration_offline_media_x86_64.yaml
  tests/installation/upgrade/accept_keyboard_layout.pm
Labels: qe-yam

#17531 Move create_hdd_maintenance.xml.ep to yam/autoyast/support_images/
  data/yam/autoyast/support_images/create_hdd_maintenance.xml.ep
Labels: qe-yam

#17537 Fix timeout issue on iscsi_client and nfs client_common_tests
  lib/nfs_common.pm
  tests/iscsi/iscsi_client.pm
Labels: qe-yam

#17534 containers: Enhance RMT Helm test
  tests/containers/containerd_rmt.pm
Labels: WIP

#17544 Add acces_beta_distribution module for SLE 15 SP6
  schedule/yast/encryption/cryptlvm+cancel_existing.yaml
  schedule/yast/encryption/cryptlvm+cancel_existing_pvm.yaml
  schedule/yast/select_modules_and_patterns/select_modules_and_patterns.yaml
  schedule/yast/sle/flows/default.yaml
  schedule/yast/sle/flows/default_ppc64le.yaml
  schedule/yast/sle/flows/default_s390x_kvm.yaml
  schedule/yast/sle/flows/default_s390x_zvm.yaml
  schedule/yast/sle/flows/default_svirt-xen-hvm.yaml
  schedule/yast/sle/flows/default_svirt-xen-pv.yaml
  schedule/yast/sle/flows/default_x86_64.yaml
Labels: qe-yam

#17524 Change hard coded product names in playwright test specs
  tests/yam/agama/agama_full_disk_encryption.pm
  tests/yam/agama/agama_lvm.pm
Labels: qe-yam, urgent

#17517 Check the cluster health using crm tool
  lib/hacluster.pm
  t/11_hacluster.t
  tests/sles4sap/qesapdeployment/test_cluster.pm
Labels: WIP

#17428 Rename function names with _controller ending
  lib/Distribution/Opensuse/Leap/15.pm
  lib/Distribution/Opensuse/Tumbleweed.pm
  lib/Distribution/Sle/15_current.pm
  tests/installation/access_beta_distribution.pm
  tests/installation/activate_multipath.pm
  tests/installation/confirm_installation.pm
  tests/installation/confirm_installation_maintenance.pm
  tests/installation/online_repos/disable_online_repos.pm
  tests/installation/system_role/accept_selected_role_SLES_with_GNOME.pm
  tests/installation/system_role/accept_selected_role_text_mode.pm
  tests/installation/system_role/accept_selected_role_transactional_server.pm
  tests/installation/system_role/select_role_desktop_with_GNOME.pm
  tests/installation/system_role/select_role_desktop_with_KDE_plasma.pm
  tests/installation/system_role/select_role_generic_desktop.pm
  tests/installation/system_role/select_role_minimal.pm
  tests/installation/system_role/select_role_server.pm
  tests/installation/system_role/select_role_text_mode.pm
  tests/installation/system_role/select_role_transactional_server.pm
  tests/installation/system_role/validate_no_system_role_selected.pm
  tests/installation/validate_beta_message.pm
Labels: qe-yam

#17567 close pop-up windows for updates_packagekit_gpk
  tests/update/updates_packagekit_gpk.pm
Labels: qe-core

#17570 register_extensions_and_modules: Increase timeout
  tests/installation/module_registration/register_extensions_and_modules.pm
Labels: qe-yam

#17495 Fix and enable user-serial-terminal on zVM and JeOS
  lib/susedistribution.pm
  lib/x11utils.pm
  tests/console/consoletest_finish.pm
  tests/console/zypper_lifecycle.pm
  tests/jeos/firstrun.pm
  tests/qam-minimal/install_patterns.pm
Labels: Ready, qe-core

#17577 Import GPG key for aarch64
  schedule/sle-micro/yam/slem_extensions_and_modules_aarch64.yaml
Labels: qe-yam

#17578 Fix a few yaml schedule files for yast cases
  schedule/yast/autoyast/autoyast_rules_and_classes.yaml
  schedule/yast/installer_extended/installer_extended_aarch64.yaml
Labels: qe-yam

#17582 Press down on textmode installation
  tests/installation/disable_grub_timeout.pm
Labels: Ready, qe-core

#17586 Change dolomite assert_screen
  tests/console/validate_lvm.pm
  tests/yam/agama/agama_full_disk_encryption.pm
  tests/yam/agama/agama_lvm.pm
  tests/yam/agama/patch_agama.pm
Labels: qe-yam

#17584 containers: Add tests for volumes
  lib/containers/engine.pm
  lib/main_containers.pm
  tests/containers/volumes.pm
Labels: WIP

#17575 Create new libyui-rest-api based test modules for ntp_config_settings
  lib/Distribution/Sle/15_current.pm
  lib/Installation/NTPConfiguration/NTPConfigurationPage.pm
  schedule/yast/sle/flows/default_slem.yaml
  tests/yam/ntp_configuration.pm
Labels: qe-yam

#17590 Open the update flag for hpc installation autoyast profiles
  data/yam/autoyast/support_images/create_hdd_hpc_development_node_aarch64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_development_node_x86_64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_management_server_aarch64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_management_server_x86_64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_textmode_aarch64.xml.ep
  data/yam/autoyast/support_images/create_hdd_hpc_textmode_x86_64.xml.ep
Labels: qe-yam

#17604 Add extra customer repo only on maintenance tests
  lib/qam.pm
Labels: Ready, qe-core

#17611 Fix typo for system_validation
  schedule/yast/clone_system/clone_system_pvm.yaml
Labels: qe-yam

#17600 Add agama_encrypted_lvm test
  schedule/yam/agama/agama_encrypted_lvm.yaml
  tests/yam/agama/agama_encrypted_lvm.pm
Labels: qe-yam

#17613 Chain the functions to the libyui-rest-api based test modules for ntp_config_settings
  lib/Installation/NTPConfiguration/NTPConfigurationPage.pm
Labels: qe-yam

#17612 Fix autoyast setting for failed tests
  schedule/yast/autoyast/autoyast_ha_spvm.yaml
  schedule/yast/autoyast/autoyast_sap.yaml
Labels: qe-yam

#17630 Disable grub timeout for gnome staging test
  schedule/staging/gnome@64bit-staging.yaml
Labels: Ready, qe-core

#17628 Fix Agama Dolomite auto installation fails due to product changes
  data/yam/agama/auto/alp_dolomite.jsonnet
  tests/yam/agama/agama_lvm.pm
Labels: qe-yam

#17646 Unschedule gpg for all arch and all SLE versions for QE-Core
  schedule/qam/common/mau-extratests2.yaml
Labels: qe-core

#17648 mariadb_odbc: replace multiline strings
  tests/console/mariadb_odbc.pm
Labels: Ready

#17642 Add more create hdd tests via autoyast
  data/autoyast_sle15/create_hdd/create_hdd_gnome_we_x86_64.xml
  data/autoyast_sle15/create_hdd/create_hdd_minimal_base_sdk_aarch64.xml
  data/autoyast_sle15/create_hdd/create_hdd_minimal_base_sdk_ppc64le.xml
  data/autoyast_sle15/create_hdd/create_hdd_minimal_base_sdk_s390x.xml
  data/autoyast_sle15/create_hdd/create_hdd_minimal_base_sdk_x86_64.xml
  data/autoyast_sle15/create_hdd/create_hdd_pcm_aws_aarch64.xml
  data/autoyast_sle15/create_hdd/create_hdd_pcm_aws_ppc64le.xml
  data/autoyast_sle15/create_hdd/create_hdd_pcm_aws_s390x.xml
  data/autoyast_sle15/create_hdd/create_hdd_pcm_aws_x86_64.xml
  schedule/functional/autoyast_create_hdd/autoyast_create_hdd_gnome_we.yaml
  schedule/functional/autoyast_create_hdd/autoyast_create_hdd_minimal_base_sdk.yaml
  schedule/functional/autoyast_create_hdd/autoyast_create_hdd_pcm_aws.yaml
  tests/autoyast/installation.pm
Labels: qe-core

#17650 Edit agama_installation module
  schedule/yam/agama/agama_installation.yaml
  tests/yam/agama/agama_installation.pm
Labels: qe-yam

#17629 Unify interactive installations in tests/yam/agama and its respective schedules
  lib/Yam/agama/agama_base.pm
  schedule/yam/agama/agama_encrypted_lvm.yaml
  schedule/yam/agama/agama_full_disk_encryption.yaml
  schedule/yam/agama/agama_installation.yaml
  schedule/yam/agama/agama_lvm.yaml
  tests/yam/agama/agama.pm
  tests/yam/agama/agama_encrypted_lvm.pm
  tests/yam/agama/agama_full_disk_encryption.pm
  tests/yam/agama/agama_installation.pm
  tests/yam/agama/agama_lvm.pm
  tests/yam/agama/patch_agama.pm
Labels: qe-yam

#17605 Create test and POM for adding a home file system
  schedule/yam/agama/add_home_file_system.yaml
Labels: qe-yam

#17663 Adapt the removal of libvirtd for upgraded Tumbleweed
  lib/services/libvirtd.pm
Labels: qe-yam

#17669 dracut_enhanced: Use serial terminal
  tests/console/dracut_enhanced.pm
Labels: Ready, qe-core

#17664 consoletest_finish: Do reboot also on 15-SP1 s390x
  tests/console/consoletest_finish.pm
Labels: Ready, qe-core

#17678 Get container storage
  lib/containers/docker.pm
  lib/containers/engine.pm
  lib/containers/podman.pm
  lib/containers/utils.pm
  tests/containers/rootless_podman.pm
  tests/containers/validate_btrfs.pm
Labels: Ready
