Repository os-autoinst/os-autoinst-distri-opensuse, pull requests merged in 2024-08, with the labels that each got.

#19818 Reduce yaml file for select_modules_and_patterns
  schedule/yam/test_cases/select_modules_and_patterns.yaml
  schedule/yast/select_modules_and_patterns/select_modules_and_patterns.yaml
  schedule/yast/select_modules_and_patterns/select_modules_and_patterns_aarch64.yaml
  schedule/yast/select_modules_and_patterns/select_modules_and_patterns_pvm.yaml
  schedule/yast/select_modules_and_patterns/select_modules_and_patterns_x86_64.yaml
  test_data/yast/select_modules_and_patterns/select_modules_and_patterns.yaml
Labels: qe-yam

#19855 update_install: Add gnu-compilers-hpc-macros-devel conflict
  tests/qam-updinstall/update_install.pm
Labels: Ready, qe-core

#19808 Reduce yaml files for textmode
  schedule/yam/test_cases/textmode.yaml
  schedule/yast/sle/flows/default_s390x_svirt.yaml
  schedule/yast/textmode/textmode@pvm.yaml
  schedule/yast/textmode/textmode@s390x_svirt.yaml
  schedule/yast/textmode/textmode@s390x_zvm.yaml
  schedule/yast/textmode/textmode@svirt-xen-pv.yaml
  schedule/yast/textmode/textmode@svirt-xen.yaml
  schedule/yast/textmode/textmode_aarch64.yaml
  schedule/yast/textmode/textmode_x86_64.yaml
Labels: qe-yam

#19762 Reduce yaml files for select_disk
  schedule/yam/test_cases/select_disk.yaml
  schedule/yast/select_disk/select_disk.yaml
  schedule/yast/select_disk/select_disk_aarch64.yaml
  test_data/yam/select_disk.yaml
Labels: qe-yam

#19873 Show xen host and instance information when starting job
  tests/installation/bootloader_svirt.pm
Labels: qe-core

#19871 Enable test scenario to verify consistency of self-update repository in SLE 15 SP2
  data/yam/autoyast/sles15sp2_create_hdd_gnome_unregistered_no_self_update.xml.ep
Labels: qe-yam

#19875 Reduce yaml files for yast_hostname*
  schedule/yam/test_cases/yast_hostname.yaml
  schedule/yast/yast_hostname/yast_hostname+dhcp_hostname.yaml
  schedule/yast/yast_hostname/yast_hostname+dhcp_hostname_aarch64.yaml
  schedule/yast/yast_hostname/yast_hostname+dhcp_hostname_x86_64.yaml
  schedule/yast/yast_hostname/yast_hostname+linuxrc_hostname.yaml
  schedule/yast/yast_hostname/yast_hostname+linuxrc_hostname_aarch64.yaml
  schedule/yast/yast_hostname/yast_hostname+linuxrc_hostname_x86_64.yaml
  schedule/yast/yast_hostname/yast_hostname.yaml
  schedule/yast/yast_hostname/yast_hostname_x86_64.yaml
Labels: qe-yam

#19882 Print Lpar and SUT information for PVM setup
  lib/bootloader_pvm.pm
Labels: qe-core

#19886 Extend timeout delta usage in run_ssh_command
  lib/publiccloud/instance.pm
Labels: WIP

#19896 zypper_lifecycle: Add livepatch product
  tests/console/zypper_lifecycle.pm
Labels: Ready, qe-core

#19903 Remove needles for console web browser tests
  lib/web_browser.pm
  tests/console/links_https.pm
  tests/console/lynx_https.pm
  tests/console/w3m_https.pm
Labels: qe-security

#19925 containers: Do not install ncat if already installed
  lib/containers/bats.pm
Labels: urgent

#19834 Reduce yaml files for select_modules_and_patterns+registration
  schedule/yam/test_cases/select_modules_and_patterns+registration.yaml
Labels: qe-yam

#19931 containers: Add Package Hub to BATS tests
  lib/containers/bats.pm
  tests/containers/podman_integration.pm
Labels: urgent

#19880 Get mac address with vm cli command
  lib/virt_autotest/esxi_utils.pm
  tests/microos/networkmanager.pm
Labels: Ready, qe-core

#19934 Fix fips-certified for sles15sp4 support image
  data/yam/autoyast/support_images/sles15sp4_install_gnome_all_patterns_aarch64.xml
  data/yam/autoyast/support_images/sles15sp4_install_gnome_all_patterns_s390x.xml
  data/yam/autoyast/support_images/sles15sp4_install_gnome_all_patterns_x86_64.xml
  lib/utils.pm
Labels: qe-yam

#19932 Fix supp_sles15sp4_all patterns-base-x11_raspberrypi issue on aarch64
  data/yam/autoyast/support_images/sles15sp4_install_textmode_all_patterns_aarch64.xml
Labels: qe-yam

#19938 containers: Create a temp directory for root & user buildah test
  tests/containers/buildah_integration.pm
Labels: WIP

#19910 Handle the server with multiple NVMe disks
  lib/partition_setup.pm
  tests/installation/start_install.pm
Labels: Ready, qe-core

#19902 Added support for SAPHanaSR-angi package
  data/sles4sap/angi_hana_cluster.conf
  data/sles4sap/angi_susHanaHADR_AIO.template
  data/sles4sap/hana_cluster.conf
  lib/sles4sap.pm
  tests/sles4sap/hana_cluster.pm
  tests/sles4sap/hana_install.pm
  tests/sles4sap/sap_suse_cluster_connector.pm
  tests/sles4sap/trento/test_hana_restore_stopped.pm
Labels: qe-sap-ha

#19942 Change IRC server from Freenode to Rizon
  tests/x11/hexchat_ssl.pm
Labels: qe-security

#19937 Refresh udev rules for 15-SP3
  tests/security/swtpm/tpm_selftest.pm
Labels: qe-security

#19939 Skip patterns-base-x11_raspberrypi for aarch64 all pattern in patch_sle
  lib/utils.pm
Labels: qe-yam

#19907 Reduce yaml files for lvm-full-encrypt
  schedule/yam/test_cases/lvm_full_encrypt.yaml
  schedule/yast/encryption/lvm_full_encrypt@s390x.yaml
  schedule/yast/encryption/lvm_full_encrypt_aarch64.yaml
  schedule/yast/encryption/lvm_full_encrypt_pvm.yaml
  schedule/yast/encryption/lvm_full_encrypt_x86_64.yaml
Labels: qe-yam

#19844 Add SLEM migration target product's MU patch before migration
  lib/qam.pm
  tests/migration/online_migration/zypper_migration.pm
Labels: qe-yam

#19912 Reduce yaml files for test suite lvm_thin_provisioning
  schedule/yam/test_cases/lvm_thin_provisioning.yaml
  schedule/yast/lvm/lvm_thin_provisioning@s390x.yaml
  schedule/yast/lvm/lvm_thin_provisioning_x86_64.yaml
Labels: qe-yam

#19952 CC: handle also the not encrypted scenario
  lib/Installation/CommonCriteriaConfiguration/CommonCriteriaConfigurationController.pm
  lib/Installation/CommonCriteriaConfiguration/CommonCriteriaConfigurationPage.pm
  schedule/security/create_hdd_cc_libyui/aarch64_x86_64/cc_beta.yaml
  schedule/security/create_hdd_cc_libyui/aarch64_x86_64/cc_qr.yaml
  schedule/security/create_hdd_cc_libyui/aarch64_x86_64/cc_qr_no_fde_15sp4.yaml
  schedule/security/create_hdd_cc_libyui/cc.yaml
  schedule/security/create_hdd_cc_libyui/s390x/cc_beta.yaml
  schedule/security/create_hdd_cc_libyui/s390x/cc_qr.yaml
  schedule/security/create_hdd_cc_libyui/s390x/cc_qr_no_fde_15sp4.yaml
  tests/installation/common_criteria_configuration/common_criteria_configuration.pm
Labels: qe-security

#19918 Add raid_encrypted_home for sle 12sp5
  data/yam/autoyast/raid_encrypted_home_sle12sp5_x86_64.xml.ep
  tests/console/validate_raid_encrypt_home.pm
Labels: qe-yam

#19891 Reduce yaml files for yast_{no_,}self_update
  schedule/yam/test_cases/yast_no_self_update.yaml
  schedule/yam/test_cases/yast_self_update.yaml
  schedule/yast/yast_no_self_update/yast_no_self_update.yaml
  schedule/yast/yast_no_self_update/yast_no_self_update_aarch64.yaml
  schedule/yast/yast_no_self_update/yast_no_self_update_pvm.yaml
  schedule/yast/yast_no_self_update/yast_no_self_update_x86_64.yaml
  schedule/yast/yast_self_update/yast_self_update.yaml
  schedule/yast/yast_self_update/yast_self_update@s390x_kvm.yaml
  schedule/yast/yast_self_update/yast_self_update_aarch64.yaml
  schedule/yast/yast_self_update/yast_self_update_x86_64.yaml
Labels: qe-yam

#19950 Reduce yaml files for lvm+cancel_existing_cryptlvm
  schedule/yam/test_cases/lvm+cancel_existing_cryptlvm.yaml
  schedule/yast/lvm/lvm+cancel_existing_cryptlvm.yaml
  schedule/yast/lvm/lvm+cancel_existing_cryptlvm_pvm.yaml
  schedule/yast/lvm/lvm+cancel_existing_cryptlvm_x86_64.yaml
  test_data/yam/full_lvm_enc_cancel_pvm.yaml
Labels: qe-yam

#19948 Reduce yaml files for lvm+RAID1
  schedule/yam/test_cases/lvm+raid1_sle15.yaml
  schedule/yast/lvm_raid1/lvm+raid1_sle15.yaml
  schedule/yast/lvm_raid1/lvm+raid1_sle15_aarch64.yaml
  schedule/yast/lvm_raid1/lvm+raid1_sle15_svirt-hyperv.yaml
  schedule/yast/lvm_raid1/lvm+raid1_sle15_svirt-xen-pv.yaml
  schedule/yast/lvm_raid1/lvm+raid1_sle15_x86_64.yaml
Labels: qe-yam

#19958 apparmor: Specify workaround for one affected test
  lib/services/apparmor.pm
Labels: Ready, qe-core

#19837 Handle patch installation with all new packages
  tests/console/install_packages.pm
  tests/console/qam_zypper_patch.pm
Labels: qe-core

#19961 Increase swap and bios-boot size for raid_gpt tests
  test_data/yast/raid/raid0_gpt_uefi_test_data.yaml
  test_data/yast/raid/raid10_gpt_uefi_test_data.yaml
  test_data/yast/raid/raid1_gpt_uefi_aarch64.yaml
  test_data/yast/raid/raid1_gpt_uefi_test_data.yaml
  test_data/yast/raid/raid5_gpt_uefi_test_data.yaml
  test_data/yast/raid/raid6_gpt_uefi_aarch64.yaml
  test_data/yast/raid/raid_disks_boot_zipl.yaml
  test_data/yast/raid/raid_disks_prep_boot.yaml
  test_data/yast/raid/raid_gpt_disks_with_bios-boot.yaml
  test_data/yast/raid/raid_prep_boot_test_data_pvm.yaml
Labels: qe-yam, qe-core

#19973 update_install: Add azure-agent conflict on SLE12
  tests/qam-updinstall/update_install.pm
Labels: Ready, qe-core

#19971 Add back test module access_beta_distribution in YaST for 15SP7
  schedule/yast/sle/flows/default_aarch64.yaml
  schedule/yast/sle/flows/default_ipmi.yaml
  schedule/yast/sle/flows/default_ppc64le.yaml
  schedule/yast/sle/flows/default_s390x_kvm.yaml
  schedule/yast/sle/flows/default_s390x_kvm_textmode.yaml
  schedule/yast/sle/flows/default_s390x_svirt.yaml
  schedule/yast/sle/flows/default_s390x_zvm.yaml
  schedule/yast/sle/flows/default_svirt-hyperv.yaml
  schedule/yast/sle/flows/default_svirt-xen-hvm.yaml
  schedule/yast/sle/flows/default_svirt-xen-pv.yaml
  schedule/yast/sle/flows/default_x86_64.yaml
Labels: qe-yam

#19979 Add access_beta_distribution for SLE 15 SP7
  schedule/yast/sle/flows/default_x86_64_flavor_full.yaml
Labels: qe-yam

#19970 Update for agama auto installation
  data/yam/agama/auto/default_tumbleweed.json
  lib/Yam/agama/agama_base.pm
  tests/yam/agama/auto.pm
Labels: qe-yam

#19991 Add back test module access_beta_distribution in YaST group
  schedule/yast/encryption/cryptlvm+cancel_existing.yaml
  schedule/yast/encryption/cryptlvm+cancel_existing_pvm.yaml
Labels: qe-yam

#19992 Update test data of modules for installer_extended
  schedule/yast/installer_extended/installer_extended_x86_64.yaml
Labels: qe-yam

#19947 Reduce yaml files for test suite lvm
  schedule/yam/test_cases/lvm.yaml
  schedule/yast/lvm/lvm_sle_aarch64.yaml
  schedule/yast/lvm/lvm_sle_spvm.yaml
  schedule/yast/lvm/lvm_sle_x86_64.yaml
Labels: qe-yam

#20000 Add agama interactive dummy test
  schedule/yam/agama.yaml
  tests/yam/agama/agama_is_visible.pm
Labels: qe-yam

#19915 Add autoyast profiles for sles12sp5 to create unregistered images
  data/yam/autoyast/sles12sp5_create_hdd_gnome_unregistered_no_self_update_aarch64.xml.ep
  data/yam/autoyast/sles12sp5_create_hdd_gnome_unregistered_no_self_update_s390x.xml.ep
  data/yam/autoyast/sles12sp5_create_hdd_gnome_unregistered_no_self_update_x86_64.xml.ep
Labels: qe-yam

#19981 Fix timeout issue on wicked test
  lib/wickedbase.pm
Labels: qe-core

#19977 Use serial console
  lib/apparmortest.pm
  schedule/security/apparmor_profile.yaml
  tests/security/apparmor_profile/apache2_changehat.pm
  tests/security/apparmor_profile/mailserver_setup.pm
  tests/security/apparmor_profile/usr_lib_dovecot.pm
  tests/security/apparmor_profile/usr_lib_dovecot_pop3.pm
  tests/security/apparmor_profile/usr_sbin_dovecot.pm
  tests/security/apparmor_profile/usr_sbin_smbd.pm
Labels: Ready

#20006 update_install: Remove Server Applications Module from SLED
  data/autoyast_qam/15_installtest.xml.ep
Labels: Ready, qe-core

#20001 firefox_passwd: Update code to handle new behavior
  tests/x11/firefox/firefox_passwd.pm
Labels: Ready, qe-core

#19997 Enable patch agama tests in interactive installation
  schedule/yam/agama.yaml
  tests/yam/agama/patch_agama_tests.pm
Labels: qe-yam

#20024 update_install: Keep Server Applications module on SLES
  data/autoyast_qam/15_installtest.xml.ep
Labels: Ready, qe-core

#20027 update_install: Add nfsidmap-devel conflict
  tests/qam-updinstall/update_install.pm
Labels: Ready, qe-core

#19972 Agama boot on s390x
  lib/susedistribution.pm
  tests/installation/bootloader_s390.pm
Labels: qe-yam

#20033 Update patch_agama_tests
  schedule/yam/agama.yaml
  tests/yam/agama/agama_is_visible.pm
  tests/yam/agama/patch_agama_tests.pm
Labels: qe-yam

#20035 apparmor: Revert nscd workaround, update is fixing the bug
  lib/services/apparmor.pm
Labels: Ready, qe-core

#20034 apparmor: Serial console
  lib/apparmortest.pm
  lib/services/apparmor.pm
  schedule/security/apparmor_profile.yaml
  tests/security/apparmor/aa_autodep.pm
  tests/security/apparmor/aa_complain.pm
  tests/security/apparmor/aa_disable.pm
  tests/security/apparmor/aa_easyprof.pm
  tests/security/apparmor/aa_enforce.pm
  tests/security/apparmor/aa_genprof.pm
  tests/security/apparmor/aa_logprof.pm
  tests/security/apparmor/aa_notify.pm
  tests/security/apparmor/aa_prepare.pm
  tests/security/apparmor/aa_status.pm
  tests/security/apparmor_profile/apache2_changehat.pm
  tests/security/apparmor_profile/mailserver_setup.pm
  tests/security/apparmor_profile/usr_lib_dovecot.pm
  tests/security/apparmor_profile/usr_lib_dovecot_pop3.pm
  tests/security/apparmor_profile/usr_sbin_dovecot.pm
  tests/security/apparmor_profile/usr_sbin_smbd.pm
Labels: Ready, qe-core

#20025 Add QA:HEAD repo for sshd testing on Micro
  lib/services/sshd.pm
Labels: qe-security

#20052 Re-enable openldap testing for 15SP5+
  data/sssd/openldap/slapd.conf
  data/sssd/openldap/sudo.schema
  schedule/functional/openldap_sssd.yaml
  tests/console/openldap/openldap_client.pm
  tests/console/openldap/openldap_server.pm
Labels: qe-core

#20038 Extension proposition
  tests/microos/network_bonding.pm
Labels: qe-core

#19699 Reduce YAML files for guided_ext4
  schedule/yam/test_cases/guided_ext4.yaml
  schedule/yast/sle/guided_ext4/guided_ext4_aarch64.yaml
  schedule/yast/sle/guided_ext4/guided_ext4_s390x_kvm.yaml
  schedule/yast/sle/guided_ext4/guided_ext4_s390x_zvm.yaml
  schedule/yast/sle/guided_ext4/guided_ext4_svirt_pv.yaml
  schedule/yast/sle/guided_ext4/guided_ext4_svirt_xen.yaml
  schedule/yast/sle/guided_ext4/guided_ext4_x86_64.yaml
Labels: qe-yam

#20053 Remove softfail for bsc#1142979
  tests/yast2_cmd/yast_nfs_server.pm
Labels: qe-yam

#20078 Ensure agama automation test get logs when issue happened
  lib/Yam/Agama/agama_base.pm
  lib/Yam/Agama/patch_agama_base.pm
  tests/yam/agama/agama.pm
  tests/yam/agama/auto.pm
  tests/yam/agama/patch_agama_tests.pm
Labels: qe-yam

#20088 Remove PUBLISH_HDD_1 setting from sap yaml schedule file
  schedule/yast/maintenance/sap_autoyast_create_hdd_gnome_netweaver_sle12.yaml
  schedule/yast/maintenance/sap_autoyast_create_hdd_textmode_netweaver_sle12.yaml
Labels: qe-yam

#20075 Integrate the web automation script for agama in openQA
  lib/Yam/Agama/agama_base.pm
  schedule/yam/agama.yaml
  tests/yam/agama/agama.pm
  tests/yam/agama/patch_agama_tests.pm
Labels: qe-yam

#20094 Update for logs to ignore kernel message
  tests/yam/agama/agama.pm
Labels: qe-yam
