Repository os-autoinst/os-autoinst-distri-opensuse, pull requests merged in 2025-01, with the labels that each got.

#20885 Fix Agama root login issue on remote worker
  data/yam/agama/auto/default_sle_no_scc.jsonnet
Labels: qe-yam

#20868 Cleanup configration of bootloader for autoyast profiles
  data/yam/autoyast/autoupgrade_with_maintenance_unreleased_updates.xml.ep
  data/yam/autoyast/bug-877438_ix64ph1029.xml
  data/yam/autoyast/bug-879147_autoinst.xml
  data/yam/autoyast/multipath.xml
  data/yam/autoyast/support_images/autoyast_scc_up_maintenance.xml.ep
  data/yam/autoyast/support_images/autoyast_sles12sp5_media_def_patterns_minimal_x86_64.xml
Labels: qe-yam

#20861 Remove workaround for bsc#1224249
  tests/migration/online_migration/zypper_patch.pm
Labels: qe-yam

#20869 Add agama installation for s390x kvm
  tests/installation/agama_reboot.pm
  tests/installation/bootloader_zkvm.pm
Labels: qe-core

#20886 Rename agama profiles
  data/yam/agama/auto/leap_default.json
  data/yam/agama/auto/leap_gnome.json
  data/yam/agama/auto/sap_default.json
  data/yam/agama/auto/sap_default_no_scc.json
  data/yam/agama/auto/sap_default_no_scc_plain_password.json
  data/yam/agama/auto/sle_default.jsonnet
  data/yam/agama/auto/sle_default_no_scc.jsonnet
  data/yam/agama/auto/sle_default_no_scc_plain_password.json
  data/yam/agama/auto/tumbleweed_default.json
  data/yam/agama/auto/tumbleweed_gnome.json
Labels: qe-yam

#20808 Fix quotaon
  tests/console/quota.pm
Labels: qe-core

#20867 Add unattended multipath test
  data/yam/agama/auto/sle_default_multipath.jsonnet
  lib/Yam/Agama/agama_base.pm
  schedule/yam/agama_multipath_unattended.yaml
Labels: qe-yam

#20876 Add agama interactive installation selecting pattern KDE
  schedule/yam/agama_desktop.yaml
Labels: qe-yam

#20900 Remove default for sle_multipath.jsonnet
  data/yam/agama/auto/sle_multipath.jsonnet
Labels: qe-yam

#20901 Format disk before installation on pvm for Agama test
  lib/bootloader_pvm.pm
Labels: qe-yam

#20902 New test for setroubleshootd
  schedule/security/selinux.yaml
  tests/security/selinux/setroubleshootd.pm
Labels: qe-security

#20909 Add ltss_td to addons, code and ay profiles
  data/autoyast_qam/15-common_base_installation.xml.ep
  data/autoyast_qam/15_installation.xml.ep
  data/filesystem/autoyast_filesystem_withouthome_kernel.xml.ep
  data/qam/dracut/15_custom_lvm.xml.ep
  data/qam/dracut/15_custom_usr.xml.ep
  lib/registration.pm
  tests/console/zypper_lifecycle.pm
Labels: Ready

#20906 ImageMagick: Fix and cleanup code
  data/imagemagick/bg_script.sh
  tests/x11/ImageMagick.pm
Labels: Ready, qe-core

#20915 Expand profile and auto variables
  lib/autoyast.pm
  tests/yam/agama/boot_agama.pm
  tests/yam/agama/import_agama_profile.pm
Labels: qe-yam

#20919 Avoid running setroubleshootd on SLE yet
  tests/security/selinux/setroubleshootd.pm
Labels: qe-security

#20925 Move tests from we-module to extratests
  schedule/functional/extra_tests_we_gnome.yaml
  schedule/functional/extra_tests_we_other.yaml
Labels: Ready, qe-core

#20926 Remove expand_profile_url code section
  tests/yam/agama/boot_agama.pm
Labels: qe-yam

#20932 Expand variables in Agama profile on remote worker
  lib/bootloader_setup.pm
Labels: qe-yam

#20917 Add multipath profile for prod group
  data/yam/agama/auto/sle_multipath_scc_plain_password.jsonnet
Labels: qe-yam

#20907 Add pre/post scripts and remove workaround for agama auto install
  data/agama_auto/sle_default.jsonnet
  data/agama_auto/sle_default_ipmi.jsonnet
  data/agama_auto/sle_default_pvm.jsonnet
  data/agama_auto/sle_default_s390x_kvm.jsonnet
  tests/installation/agama_reboot.pm
  tests/installation/ipxe_install.pm
Labels: qe-core

#20912 Enable TAP for agama testing results
  tests/yam/agama/agama.pm
Labels: qe-yam

#20941 Revert "Enable TAP for agama testing results"
  tests/yam/agama/agama.pm
Labels: qe-yam

#20940 Get java test source from data_url instead of github
  data/security/openjdk/JCEProviderInfo.java
  lib/openjdktest.pm
Labels: qe-security

#20948 Add reconnect_mgmt_console for sles_full_disk_encryption
  schedule/yam/agama_full_disk_encryption_s390x.yaml
Labels: qe-yam

#20958 Add profiles with plain password for leap 16.0 when encryption not ready
  data/yam/agama/auto/leap_default.jsonnet
  data/yam/agama/auto/leap_default_plain_password.jsonnet
  data/yam/agama/auto/leap_gnome_plain_password.jsonnet
  data/yam/agama/auto/sles_sap_default.jsonnet
Labels: qe-yam

#20970 Add reconnect for sles_full_disk_encryption on powerVM
  schedule/yam/agama_full_disk_encryption_ppc64le.yaml
Labels: qe-yam

#20972 gnome_control_center: Try to start again if broken
  tests/x11/gnome_control_center.pm
Labels: Ready, qe-core

#20977 Fix validate Leap
  test_data/yam/agama_leap.yaml
Labels: qe-yam

#20975 Enable agama install for qe-core
  schedule/functional/sle16/agama-create-hdd-textmode.yaml
  schedule/functional/sle16/agama-create-hdd-textmode_pvm.yaml
  tests/installation/bootloader.pm
Labels: Ready, qe-core

#20984 Fix duplicated agama profile path issue
  lib/bootloader_setup.pm
  tests/yam/agama/import_agama_profile.pm
Labels: qe-yam

#20982 New test for nss crypto policies
  data/security/crypto_policies/test_nss_client.sh
  tests/security/crypto_policies/crypto_policies_tests.pm
Labels: qe-security

#20983 Fix long name in TAP logs
  tests/yam/agama/agama.pm
Labels: qe-yam

#20920 Package testing on SLE16
  schedule/functional/extra_tests_textmode_sle16.yaml
  tests/console/ovn.pm
  tests/console/pam.pm
Labels: qe-core

#20988 hostname_inst: Remove bsc#1166778 soft fail
  tests/installation/hostname_inst.pm
Labels: Ready, qe-core

#20994 Install openssl pkg needed for nss cryptopolicy test
  data/security/crypto_policies/test_nss_client.sh
  tests/security/crypto_policies/crypto_policies_tests.pm
Labels: qe-security

#20618 Add snapper-zypp-plugin test
  lib/main_common.pm
  schedule/functional/extra_tests_textmode.yaml
  tests/console/snapper_zypp.pm
Labels: Ready, qe-core

#20973 Add unattended installation with ext4 and xfs
  data/yam/agama/auto/sle_root_filesystem_ext4.jsonnet
  data/yam/agama/auto/sle_root_filesystem_xfs.jsonnet
  schedule/yam/agama_non_default_root_filesystem.yaml
  schedule/yam/agama_non_default_root_filesystem_ppc64le.yaml
  schedule/yam/agama_non_default_root_filesystem_s390x.yaml
  test_data/yam/agama_ext4.yaml
  test_data/yam/agama_ext4_s390x.yaml
  test_data/yam/agama_ext4_spvm.yaml
  test_data/yam/agama_xfs.yaml
  test_data/yam/agama_xfs_s390x.yaml
  test_data/yam/agama_xfs_spvm.yaml
Labels: qe-yam

#21013 firefox_audio: Remove bsc#1048271 soft fail
  tests/x11/firefox_audio.pm
Labels: Ready, qe-core

#20968 Added create_hdd_textmode_agama_auto for leap 16.0
  data/agama_auto/leap_default.jsonnet
  schedule/functional/leap16/agama_create_hdd_textmode_leap.yaml
Labels: qe-core

#21021 ImageMagick: Fix and cleanup bg_script.sh
  data/imagemagick/bg_script.sh
  tests/x11/ImageMagick.pm
Labels: Ready, qe-core

#20954 Redis7 conflict resolution
  tests/console/redis.pm
Labels: qe-core

#21026 Install btrfsprogs-bash-completion for sle16/leap16.0
  tests/console/btrfs_autocompletion.pm
Labels: qe-core

#21042 Add pre script to wipe disk while not do it by code
  data/yam/agama/auto/post_script.jsonnet
  data/yam/agama/auto/scripts.jsonnet
Labels: qe-yam

#21045 Quick fix for PR 21026
  tests/console/btrfs_autocompletion.pm
Labels: qe-core

#21044 Don't patch openssl_nodejs test in 15SP4
  tests/console/openssl_nodejs.pm
Labels: qe-core

#21008 dstat: Remove bsc#1085238 soft fail
  tests/console/dstat.pm
Labels: Ready, qe-core

#21037 libreoffice_mainmenu_favorites: Remove bsc#1195836 softfail
  tests/x11/libreoffice/libreoffice_mainmenu_favorites.pm
Labels: Ready, qe-core

#21060 Force reload udev rules also on 15-SP7
  tests/security/swtpm/tpm_selftest.pm
Labels: qe-security

#21059 Expand MariaDB test coverage
  tests/security/mariadb/mariadb_ssl_client.pm
Labels: qe-security

#21035 Add Agama interactive installation for encrypted LVM
  schedule/yam/agama_lvm_encrypted.yaml
  schedule/yam/agama_lvm_encrypted_s390x.yaml
Labels: qe-yam

#21033 Add Agama unattended installation for encrypted LVM
  data/yam/agama/auto/lvm_encrypted.jsonnet
  schedule/yam/agama_lvm_encrypted_unattended.yaml
  schedule/yam/agama_lvm_encrypted_unattended_ppc64le.yaml
  schedule/yam/agama_lvm_encrypted_unattended_s390x.yaml
Labels: WIP, qe-yam

#21090 Fix bootloader timeout
  data/yam/agama/auto/sle_default.jsonnet
Labels: qe-yam

#21096 Enable offline (install media) repos on full-QR installation
  schedule/security/create_hdd_cc_libyui/aarch64/cc_qr_15sp6.yaml
Labels: qe-security
