Repository os-autoinst/os-autoinst-distri-opensuse, pull requests merged in 2025-09, with the labels that each got.

#22904 Automate configurable timeout for bootloader
  data/yam/agama/auto/lib/base.libsonnet
  data/yam/agama/auto/template.libsonnet
  lib/grub_utils.pm
Labels: qe-yam

#23175 Fix problems with generate_dud
  tests/yam/agama/generate_dud.pm
Labels: qe-yam

#23201 bats/buildah: Backport PR#5495 to avoid nixery registry
  data/containers/bats/skip.yaml
  data/containers/patches/buildah/5495.patch
Labels: urgent

#23210 SLFO_update_install: Add conflict
  tests/qam-updinstall/SLFO_update_install.pm
Labels: Ready, qe-core

#23070 Reduce test unstabilities when rollback
  data/journal_check/bug_refs.json
  tests/console/snapper_create.pm
  tests/console/snapper_jeos_cli.pm
Labels: Ready

#23057 Add kernel parameters to bootloader section
  data/yam/agama/auto/lib/base.libsonnet
  data/yam/agama/auto/template.libsonnet
  schedule/yam/agama_extended_unattended.yaml
  schedule/yam/agama_extended_unattended_ppc64le.yaml
  schedule/yam/agama_extended_unattended_s390x.yaml
  tests/yam/validate/validate_extra_kernel_params.pm
Labels: qe-yam

#23231 Use sub-policy for samba in FIPS mode
  data/supportserver/samba/krb5.conf
  tests/network/samba/samba_adcli.pm
Labels: qe-security

#22640 Create unattended installation with onlyRequired packages
  data/yam/agama/auto/lib/scripts_post.libsonnet
  data/yam/agama/auto/template.libsonnet
  lib/serial_terminal.pm
  schedule/yam/agama_minimal_unattended.yaml
  schedule/yam/agama_minimal_unattended_s390x.yaml
  tests/yam/validate/validate_minimal_system.pm
Labels: qe-yam

#23322 Determine FIPS packages versions and install
  tests/security/verify_fips_packages.pm
Labels: qe-security

#23316 Move validate_migration_logs to first
  schedule/yam/agama_migration_15sp7.yaml
Labels: qe-yam

#23337 Disable original repos before migration
  tests/yam/migration/migration_unattended.pm
Labels: qe-yam

#23339 Create separate YAML schedule for SLE 15-SP4
  schedule/security/fips/fips_env_mode_textmode_core-15-SP4-maint.yaml
Labels: qe-security

#23331 Add test to validate secure boot signing key length
  data/security/secureboot/parsesign.go
  schedule/security/aarch64_secureboot.yaml
  schedule/security/sle16/agama-create-hdd-textmode.yaml
  schedule/security/sle16/agama-create-hdd-textmode_s390x_kvm.yaml
  schedule/security/sle16/agama.yaml
  tests/security/secureboot/validate_keylength.pm
Labels: qe-security

#23352 Bump timeout for migration_unattended grub needle
  tests/yam/migration/migration_unattended.pm
Labels: qe-yam

#23370 Mark bug to the autoyast profile of sap 15SP7 installation
  data/yam/autoyast/sles_sap_migration_15sp7_bug1235701.xml
Labels: qe-yam

#23371 Upload logs after migration
  tests/yam/migration/migration_unattended.pm
  tests/yam/validate/validate_migration_logs.pm
  tests/yam/validate/validate_product.pm
Labels: qe-yam

#23385 Products 15sp3/sp4 and sle-micro 6.1 iptables use legacy backend
  tests/console/firewalld.pm
Labels: qe-core

#23389 Fix Elemental2 sporadic timeout
  tests/elemental/container_validation.pm
Labels: Ready

#23405 Add cio_ignore=false to ha_s390x.xml
  data/yam/autoyast/ha_s390x.xml
Labels: qe-yam

#23391 Disable timeout for migration grub menu
  tests/yam/migration/migration_unattended.pm
Labels: qe-yam
